<div class="row">
    <div class="col-md-6">
        {{ include('@Admin/Dashboard/blocks/recentCompanies.html.twig', {recentCompanies : recentCompanies}) }}

        {{ include('@Admin/Dashboard/blocks/recentCustomers.html.twig', { recentCustomers: recentCustomers }) }}

        {{ include('@Admin/Dashboard/blocks/recentActiveCustomers.html.twig', { activeCustomers: activeCustomers }) }}

        {{ include('@Admin/Dashboard/blocks/ordersByGroup.html.twig', { productGroupLines: productGroupLines }) }}
    </div>
    <div class="col-md-6">
        <div class="panel panel-flat dashboard-statistics">
            <div class="panel-heading">
                <h6 class="panel-title">
                    5 meest recente orders op {{ "now"|localizeddate('long', 'none') }}
                </h6>
                <div class="heading-elements">
                    <select id="orderSiteSelection" data-url="{{ path('admin_sales_orderorder_getrecentorders') }}">
                        <option value="">Alle platformen</option>
                        {% for site in sites %}
                            <option value="{{ site.getId }}">{{ site.translate.getDescription }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="container-fluid panel-body" id="recentOrderPanel">
                {{ include('@Admin/Dashboard/blocks/recentOrders.html.twig', {ordersToday : ordersToday}) }}
            </div>
        </div>
        <div class="panel panel-flat dashboard-statistics">
            <div class="panel-heading">
                <h6 class="panel-title">
                    Omzet laatste 7 dagen
                </h6>
                <div class="heading-elements">
                    <select id="revenueSiteSelection" data-url="{{ path('admin_sales_orderorder_getrevenuetoday') }}">
                        <option value="">Alle platformen</option>
                        {% for site in sites %}
                            <option value="{{ site.getId }}">{{ site.translate().getDescription }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="container-fluid panel-body" id="revenuePanel">
                {{ include('@Admin/Dashboard/blocks/revenueToday.html.twig') }}
            </div>
        </div>
        <div class="panel panel-flat dashboard-statistics">
            <div class="panel-heading">
                <h6 class="panel-title">
                    Omzet laatste 7 dagen per productgroep (Excl. BTW)
                </h6>
                <div class="heading-elements">
                    <select id="revenueCategorySelection" data-url="{{ path('admin_sales_orderorder_getrevenuebycategory') }}">
                        <option value="">Alle product groepen</option>
                        {% for productgroup in productgroups %}
                            <option value="{{ productgroup.getId }}">{{ productgroup.getTitle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="container-fluid panel-body" id="revenueByCategoryPanel">
                {{ include('@Admin/Dashboard/blocks/revenueByCategory.html.twig') }}
            </div>
        </div>
    </div>
</div>
