<div class="row bakery-tables">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><strong>Toptaarten.nl niet verwerkte bestellingen</strong></div>
            </div>
            <div class="panel-body">
                {{ unprocessedOrders | raw }}
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><strong>Toptaarten.nl niet bezorgde bestellingen</strong></div>
            </div>
            <div class="panel-body">
                {{ processedOrders | raw }}
            </div>
        </div>
    </div>
</div>