{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'Zoeken' %}
{% import '@App/macros/product_macro.html.twig' as product_macro %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/assortment.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/assortment.css') }}" />
{% endblock %}

{% block body %}
<div class="container-fluid page-wrapper" id="content-producten" style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pagina-title">{{ 'search.results_for' | trans }} "{{ query }}"</h1>
            </div>

            <div class="col-xs-12" id="producten">
                <div class="row">
                    {% for product in products %}
                        {% set classes = 'col-xs-12 col-sm-6 col-lg-3 item_' ~ loop.index ~ ' producthover' %}
                        {% set cheapestVariation = product_manager.decorateProduct(product.getCheapestVariation) %}
                        <div class="{{ classes }}" data-product-price="{{ get_price(cheapestVariation) }}">
                            {{ product_macro.tile(product) }}
                        </div>
                    {% else %}
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            {{ 'search.no_results' | trans }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
