{% block slogan %}
    <table border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th class="slogan brand-color-bg" bgcolor="{{ primaryColor }}"
                style="font-size: 13px; width: 233px; height: 25px; font-family: Arial, sans-serif;line-height: 100%;font-weight: bold;background-color: {{ primaryColor }}!important;color: #FFFFFF;padding: 5px 10px;">
                Leverancier Shop
            </th>
        </tr>
    </table>
{% endblock slogan %}