{% block slogan %}
    <table border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th class="slogan brand-color-bg" bgcolor="{{ primaryColor }}"
                style="font-size: 13px; width: 130px; height: 25px; font-family: Arial, sans-serif;line-height: 100%;font-weight: bold;background-color: {{ primaryColor }}!important;color: #FFFFFF;padding: 5px 10px;">
                Lekker gezond
            </th>
        </tr>
    </table>
{% endblock slogan %}

{% block logo %}
    {% set site_logo =  brandUrl ~ asset('build/images/topfruit-kleur.8f73e2a0.png') %}
    <a href="{{ brandUrl }}#?utm_source=servicemails&amp;utm_campaign=orderbevestiging&amp;utm_medium=Email"
       target="_blank" style="color: {{ primaryColor }};text-decoration: none;"><img
                src="{{ site_logo }}"
                width="150"
                class="img-max-w-100" style="border: 0; width: 150px; max-width: 100%;" /></a>
{% endblock logo %}
