{% extends 'AppBundle::base.html.twig' %}

{% if page %}
    {% if page.translate().getMetaTitle() %}
        {% set page_title = page.translate().getMetaTitle() %}
    {% else %}
        {% set page_title = page.translate().getTitle() %}
    {% endif %}

    {% block meta_description %}
        {% if page is not empty %}
            {{ head_elements.meta_description(page.translate().getMetaDescription()) }}
        {% endif %}
    {% endblock %}

    {% block meta_robots %}
        {% if page is not empty %}
            {{ head_elements.meta_robots(page.translate().getMetaRobotsIndex(), page.translate().getMetaRobotsFollow()) }}
        {% endif %}
    {% endblock %}
{% endif %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/home.js') }}"></script>
    {% if homepageAssortment is not null %}
    <script type="text/javascript" src="{{ asset('build/assortment.js') }}"></script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/home.css') }}" />
    {% if homepageAssortment is not null %}
    <link rel="stylesheet" href="{{ asset('build/assortment.css') }}" />
    {% endif %}
{% endblock %}

{% block body %}
    {% if page and page.getBanner() %}
        {% include 'AppBundle:blocks:header-image.html.twig' with {'banner': page.getBanner()} %}
    {% endif %}

    {% include('AppBundle:blocks:timer.html.twig') %}
    {% include('AppBundle:blocks:usp-header.html.twig') %}

    {% set thumbConfigConfig = {"thumbnail": {"size": [153, 167] }} %}

    {% if homepageAssortment is not null %}
        <div class="container-fluid page-wrapper" id="content-producten">
            <div class="container">
                <div class="col-sm-12" id="producten">
                    <div class="row">
                        {% set index = 0 %}
                        {% for product in homepageAssortment.getProducts() %}
                            {% if product is not null %}
                                {% set product = product_manager.decorateProduct(product) %}
                                {% if content is defined and contentPosition == loop.index0 %}
                                    {{ _self.showContent(content, contentWidth, contentHeight) }}
                                {% endif %}

                                {% if index == 4 %}
                                    {% set index = 0 %}
                                {% endif %}

                                {% set index = index+1 %}

                                {{ assortment_elements.assortiment_product(homepageAssortment, product, index) }}

                                {% if loop.last and content is defined and contentPosition >= loop.index %}
                                    {{ _self.showContent(content, contentWidth, contentHeight) }}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            Helaas! Er zijn op dit moment geen producten om te tonen&hellip;
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    {% else %}
        {% if homepageAssortmentsBlocks.isEmpty() %}
            {% include ('AppBundle:blocks:category_items.html.twig') %}
        {% else %}
            {% include 'AppBundle:blocks:homepage-assortment-blocks.html.twig' with { homepageAssortmentsBlocks: homepageAssortmentsBlocks } %}
        {% endif %}
    {% endif %}

    {% if site_service.determineSite().getHomepageAssortment() and companyAssortments.isEmpty is same as(true) %}
        {% include("AppBundle:blocks:product-slider.html.twig") %}
    {% endif %}

    {% if site_service.hasKiyohCompany() and site_service.hasKiyohCompany().getTotalScore() %}
        {% include("AppBundle:blocks:reviews.html.twig") %}
    {% endif %}

    {% include("AppBundle:blocks:about.html.twig") %}
    {% include("AppBundle:blocks:usp.html.twig") %}
    {% include("AppBundle:blocks:campagne.html.twig") %}
{% endblock body %}