{% if app.request.get('variation') is not empty %}
    {% set variation_select_id = app.request.get('variation') %}
{% endif %}

<div id="no-product-to-design" class="alert alert-info" style="display: none;">
    <span>{{ 'label.select_product_to_design'|trans }}</span>
</div>
{% for combination in product.getCombinations %}
    <div class="line-double" data-product-id="{{ combination.getProduct.getId }}" data-price="{{ combination.getProduct.getDisplayPrice }}">
        <div class="double-holder">
            <div class="soort">
                <p class="bold">{{ 'label.product_type'|trans }}</p>

                <span class="form-static-select-wrapper">
                {{ combination.product.getDisplayName() }}
            </span>
            </div>

            <div class="aantal">
                <p class="bold">Aantal</p>
                <span class="form-select-wrapper">
                <select class="form-control combination-quantity">
                    {% for i in combination.getMinQuantity.combination.getMaxQuantity %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
            </span>
            </div>
        </div>
    </div>
{% endfor %}

    {% include 'AppBundle:blocks/Product/partials:quantity.html.twig' with {form: form} %}
<div class="price">
    <p class="label piece-price" style="display: none">{{ 'label.piece_price'|trans }}</p>
    <p class="label from-price ">{{ 'label.from_price'|trans }}</p>
    <p class="amount"><strong><span id="product_price">{{ product.getDisplayPrice() }}</span></strong>
    </p>
</div>
