<div class="product-options">
    {% if upsells is not empty and product.productgroup.availableForUpsell is same as(true) %}
        {% include('AppBundle:blocks/Product/options:upsell.html.twig') %}
    {% endif %}

    {% if product.isProductPersonalizationAvailable() %}
        {% include('AppBundle:blocks/Product/options:personalization.html.twig') %}
    {% endif %}

    {% if product.isCombination() and product.isConfigurable() %}
        {% include('AppBundle:blocks/Product/options:use_combination.html.twig') %}
    {% endif %}

    {% if product.getCards %}
        {% include('AppBundle:blocks/Product/options:card.html.twig') with {
            cards: cards
        } %}
    {% endif %}

    {% if letter.title is defined and letter.active %}
        {% include('AppBundle:blocks/Product/options:letter.html.twig') %}
    {% endif %}

</div>
