{% spaceless %}
<div class="price-wrapper {% if inline %}price-wrapper-inline{% endif %}">
    {% if showLabelPriceFrom %}<div class="price-text-placeholder">{{'label.price_from' | trans}}{% if inline %}&nbsp;{% endif %}</div>{% endif %}
    <div class="price-block " {{ center is defined ? 'style="text-align: center;"' : '' }}>
        {% if beforePrice is not same as(currentPrice) and displayMode is same as('both')  %}
        <span class="original-price">{{ beforePrice | number_format }}</span>
        {% endif %}
        <span class="product-price">{{ currentPrice | number_format }}</span>
    </div>
</div>
{% endspaceless %}