{% if product.getMinPrice() and product.getMaxPrice() %}
    <div class="manual-price-information">
        <div class="title">{{ 'product.manual_price.title'|trans }}</div>
        <p>
            {{ 'product.manual_price.description'|trans({
                '%min%': product.getDisplayMinPrice(),
                '%max%': product.getDisplayMaxPrice()
            }) }}
        </p>
    </div>
{% endif %}

<div class="line-double">
    <div class="double-holder">
        <div class="soort">
            <p class="bold">{{ 'label.product_type'|trans }}</p>

            <span class="form-static-select-wrapper">
                {{ selectedProduct.getDisplayName() }}
            </span>
        </div>

        {% include('AppBundle:blocks/Product/partials:quantity.html.twig') %}
    </div>
    <div class="price">
        <p class="label piece-price">{{ 'label.piece_price'|trans }}</p>

        {% if selectedProduct.getMinPrice() and selectedProduct.getMaxPrice() %}
            <span class="manual-price">
            {{ form_widget(form.price) }}
            </span>
        {% else %}
            <p class="amount"><strong>{{ get_price_html(selectedProduct) }}</strong></p>
        {% endif %}
    </div>
</div>

{% if form.variation is defined %}
    {{ form_widget(form.variation) }}
{% endif %}
