{% extends 'AppBundle::base.html.twig' %}

{% if page is not empty %}
    {% if page.translate().getMetaTitle() %}
        {% set page_title = page.translate().getMetaTitle() %}
    {% else %}
        {% set page_title = page.translate().getTitle() %}
    {% endif %}

    {% block meta_description %}
        {% if page is not empty %}
            {{ head_elements.meta_description(page.translate().getMetaDescription()) }}
        {% endif %}
    {% endblock %}

    {% block meta_robots %}
        {% if page is not empty %}
            {{ head_elements.meta_robots(page.translate().getMetaRobotsIndex(), page.translate().getMetaRobotsFollow()) }}
        {% endif %}
    {% endblock %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/reviews.css') }}" />
{% endblock %}

{% block body %}
    {% if page is not empty and page.getBanner() %}
        {% include 'AppBundle:blocks:header-image.html.twig' with {'banner': page.getBanner()} %}
    {% endif %}

    {% include('AppBundle:blocks:usp-header.html.twig') %}

    {% set kiyoh_company = kiyoh_company() %}

    <div class="container-fluid" id="content-reviews">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <div class="review-company">
                        <div class="col-sm-12 col-md-4">
                            <div class="review-block item score">
                                <div class="left">
                                    <span class="nummer">{{ kiyoh_company.getTotalScore() }}</span>
                                    <span class="text">{{ 'kiyoh.score.excellent'|trans }}</span>
                                </div>
                                <div class="right">
                                    <div class="logo"><img src="{{ asset('build/images/thuiswinkel.jpg') }}">
                                    </div>
                                    <div class="rank">
                                        {% set stars = kiyoh_company.getStarRating()|split('.') %}

                                        {% for i in 1..stars[0] %}
                                            <div class="heel"></div>
                                        {% endfor %}

                                        {% if stars[1] is defined and stars[1] is not empty %}
                                            <div class="half"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-8">
                            <div class="kiyoh">
                                <div class="logo">
                                    <a href="{{ kiyoh_company.getUrl() }}" target="_blank" rel="nofollow">
                                        <img src="{{ asset('build/images/kiyoh.png') }}">
                                    </a>
                                </div>
                                <div class="recommendation">
                                    {{ 'kiyoh.score.average_text'|transchoice(kiyoh_company.getTotalReviews()) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="reviews">
                        {% set recent_reviews = kiyoh_reviews({'limit': 10}) %}

                        {% for review in recent_reviews %}
                            <div class="review">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="person">
                                        {{ review.getName() }}
                                    </div>

                                    <div class="city">
                                        {{ review.getCity() }}
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <div class="pros">
                                        <span class="review-title">{{ 'kiyoh.pros.title'|trans }}</span>

                                        {% if review.getPositiveFeedback() %}
                                            {{ review.getPositiveFeedback() }}
                                        {% else %}
                                            {{ 'kiyoh.no_comment'|trans }}
                                        {% endif %}
                                    </div>

                                    <div class="cons">
                                        <span class="review-title">{{ 'kiyoh.cons.title'|trans }}</span>

                                        {% if review.getNegativeFeedback() %}
                                            {{ review.getNegativeFeedback() }}
                                        {% else %}
                                            {{ 'kiyoh.no_comment'|trans }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="score">
                                    {{ review.getScore() }}
                                </div>

                                <div class="date">
                                    {{ review.getDatetime()|ago }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12" id="text-blocks">
                    {% if page and page.translate().getContent() %}

                        <div class="text-block">
                            <div class="text-block-inner">
                                {{ page.translate().getContent()|raw }}
                            </div>

                            <div class="text-block-read-more hidden-md-down"
                                 data-text-open="{{ 'read.more.text'|trans }}"
                                 data-text-close="{{ 'close.button'|trans }}">
                                {{ 'read.more.text'|trans }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
