<div class="container-detached view">
    <div class="content-detached">
        <div class="panel panel-flat" style="margin-top: 20px;">
            <div class="panel-body orders" style="z-index: 50; padding-right: 0;">
                {% if orders is not empty %}
                <table class="table table-xs table-striped table-borderless" id="orderlist" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Ordernummer</th>
                        <th>Ontvanger</th>
                        <th>Besteller</th>
                        <th>Leverancier</th>
                        <th>Bestelling</th>
                        <th class="hidden visible-md visible-lg">Interne opmerking</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        {% include '@Admin/Sales/Order/order-line.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="content-detached-empty-result" style="margin: 10px; text-align: center; font-style: italic;">
                        <p>Er zijn geen bestellingen beschikbaar</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>