<div class="row">
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Bestellingen</h6>
            </div>
            <div class="panel-body">
                <div class="orderSummary row">
                    <div class="col-md-6">
                        <ul class="list-inline text-center">
                            <li>
                                <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                                    <i class="icon-coins"></i>
                                </span>
                            </li>
                            <li class="text-left">
                                <div class="text-semibold">
                                    Totaal alle bestellingen
                                </div>
                                <h2 class="mt-5 mb-5">
                                    &euro; {{ customer.getTotalOrdersRevenue | number_format }}
                                </h2>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-inline text-center">
                            <li>
                                <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                                    <i class="icon-store"></i>
                                </span>
                            </li>
                            <li class="text-left">
                                <div class="text-semibold">
                                    Totaal aantal bestellingen
                                </div>
                                <h2 class="mt-5 mb-5">
                                    {{ customer.getTotalOrders }}
                                </h2>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-xxs">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Bezorgdatum</th>
                            <th>Website</th>
                            <th>Besteller</th>
                            <th>Bedrag</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for recentOrder in customer.getRecentOrders %}
                            <tr>
                                <td>
                                    {{ recentOrder.getOrderNumber }}
                                </td>
                                <td>
                                    {{ recentOrder.getDeliveryDate ? recentOrder.getDeliveryDate.format('d-m-Y') : ''}}
                                </td>
                                <td>
                                    {{ recentOrder.getOrder.getSite.getPrimaryDomain }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_customer_customer_view', {
                                        id: recentOrder.GetOrder.getCustomer.getId
                                    }) }}" target="_blank" data-popup="tooltip" data-placement="left"
                                       data-original-title="Openen">{{ recentOrder.GetOrder.getCustomer.getFullname }}</a>
                                </td>
                                <td>
                                    &euro; {{ recentOrder.getOrder.getTotalPriceIncl | number_format }}
                                </td>
                                <td>
                                    <ul class="icons-list">
                                        <li>
                                            <a href="#" class="btn-icon"
                                               data-href="{{ path('admin_sales_order_order', {orderCollection: recentOrder.getOrderCollection.getId}) }}#{{ recentOrder.getNumber }}"
                                               data-action="view-order" data-popup="tooltip" data-placement="left"
                                               data-original-title="Openen">
                                                <i class="icon-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="button-wrapper pull-right">
                    <a href="#customer_tabs_getCustomerOrders" data-action="open-tab" data-tab="orders"
                       class="btn btn-xs btn-default">
                        Bekijk alle bestellingen
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Activiteit</h6>
            </div>
            <div class="panel-body">
                <b>{{ customer.getFullname }}</b>

                {% if customer.getLastLogin is not null %}
                    is op <b>{{ customer.getLastLogin.format('d-m-Y H:i:s') }}</b> voor het laatst actief geweest.
                {% else %}
                    is nog niet actief geweest
                {% endif %}
            </div>
        </div>
    </div>
</div>