{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'Top' %}

{% block body %}
    {% include('AppBundle:blocks:header-image.html.twig') %}
    {% include('AppBundle:blocks:timer.html.twig') %}
    {% include('AppBundle:blocks:usp-header.html.twig') %}

    {% set thumbConfigConfig = {"thumbnail": {"size": [153, 167] }} %}

    <div class="container" id="content-home">
        <div class="row">
            <div class="col-lg-9 col-sm-12" id="categories">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-1">
                            <img src="{{ asset('bundles/app/img/categories/wijn.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Wijnen</h2>
                                <p>Heerlijke wijnen</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-2">
                            <img src="{{ asset('bundles/app/img/categories/champagne.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Champagne</h2>
                                <p>de aller beste</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-3">
                            <img src="{{ asset('bundles/app/img/categories/bierpakketten.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Bierpakket</h2>
                                <p>Bijzondere bieren</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-4">
                            <img src="{{ asset('bundles/app/img/categories/topbloemen.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Bloemen</h2>
                                <p>prachtige boeketten</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-5">
                            <img src="{{ asset('bundles/app/img/categories/cadeaubonnen.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Cadeaubonnen</h2>
                                <p>het ideale cadeau</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-6">
                            <img src="{{ asset('bundles/app/img/categories/fruit.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Fruitmanden</h2>
                                <p>ook biologisch!</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-7">
                            <img src="{{ asset('bundles/app/img/categories/rituals.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>RITUALS</h2>
                                <p>voor hem of haar</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-8">
                            <img src="{{ asset('bundles/app/img/categories/taarten.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Taarten</h2>
                                <p>ook met logo</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-9">
                            <img src="{{ asset('bundles/app/img/categories/chocolade.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Chocolade</h2>
                                <p>ook met logo</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="products.php" class="category-item" id="item-10">
                            <img src="{{ asset('bundles/app/img/categories/wenskaarten.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Wenskaarten</h2>
                                <p>voor alle gelegenheden</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
                        <a href="products.php" class="category-item" id="item-11">
                            <img src="{{ asset('bundles/app/img/categories/ballonnen.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Ballonnen</h2>
                                <p>vrolijke verrassing</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
                        <a href="products.php" class="category-item" id="item-12">
                            <img src="{{ asset('bundles/app/img/categories/kraamcadeau.png') | imagine_filter('thumb', thumbConfigConfig) }}">
                            <div class="border"></div>
                            <div class="desc">
                                <h2>Kraamkado's</h2>
                                <p>ook met naam</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 hidden-md-down" id="text-holder">
                <div class="row">
                    <div class="col-lg-12 col-sm-6">
                        <div class="text-area">
                            <h1>Bloemen bezorgen en bloemen bestellen!</h1>
                            <p>
                                Bloemen laten bezorgen en bloemen bestellen doet u snel en eenvoudig bij Topbloemen.
                                U zoekt een mooi boeket of bloemstuk waarna u de adresgegevens van de ontvanger
                                invult. Zo kunt u diezelfde dag de bloemen nog bezorgen!
                                In drie eenvoudige stappen maakt u een attent gebaar naar de ontvanger:
                            </p>
                            <ul>
                                <li>Kies het mooiste boeket</li>
                                <li>Vul uw persoonlijke tekst in en het bezorgadres</li>
                                <li>Betaal direct online of achteraf na bezorging</li>
                            </ul>
                            <p>
                                <b>Bloemen bezorgen in heel Nederland</b> <br />
                                Wij bezorgen bloemen op elk adres in Nederland, maar ook bloemen bezorgen in het
                                buitenland is mogelijk! Boeket bestellen en diezelfde dag bezorgen,
                                is een van de vele mogelijkheden die Topbloemen biedt.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <div class="text-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include("AppBundle:blocks:product-slider.html.twig") %}

    {% if site_service.hasKiyohCompany() %}
        {% include("AppBundle:blocks:reviews.html.twig") %}
    {% endif %}


    {% include("AppBundle:blocks:about.html.twig") %}
    {% include("AppBundle:blocks:usp.html.twig") %}
    {% include("AppBundle:blocks:company-info.html.twig") %}

{% endblock body %}
