<div class="address-suggestions">
    {% if suggestions is same as (null) %}
        <p>
            {{ 'checkout.delivery.modal_no_address_suggestions.text.html'|trans|raw }}
        </p>
    {% else %}
        <p>
            {{ 'checkout.delivery.modal_address_suggestions.text.html'|trans|raw }}
        </p>

        <table class="table table-sm table-condensed table-striped">
            <tbody>
            {% for address in suggestions %}
                <tr data-address="{{ address|json_encode }}">
                    <td class="address">{{ address.street }} {{ address.housenumber }}</td>
                    <td class="postcode">{{ address.postcode }}</td>
                    <td class="city">{{ address.city }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="#">{{ 'checkout.delivery.modal_address_suggestions.close'|trans }}</a>
</div>
