{% set product = product_manager.decorateProduct(line.product) %}

{% set lineUpdateUrl = path('app_checkout_orderlineupdate', {
    'cartOrder': line.cartOrder.uuid,
    'cartOrderLine': line.uuid
}) %}

{% set lineRemoveUrl = path('app_cart_removeorderline', {
    'cartOrder': line.cartOrder.uuid,
    'cartOrderLine': line.uuid
}) %}

{% set productType = '' %}
{% set forceProductType = type|default(false) %}
{% set image = null %}
{% set download = null %}

{% if attribute(line.metadata, 'is_card') is defined and forceProductType is same as(false) %}
    {% set productType = 'card' %}

    {% if product.getPath() %}
        {% set image = product.getPath() | imagine_filter('product_card') %}
    {% endif %}

{% elseif attribute(line.metadata, 'designer') is defined and forceProductType is same as(false) %}
    {% set productType = 'designer' %}

    {% if line.personalizationPreviewImage %}
        {% set image = line.personalizationPreviewImage %}
    {% else %}
        {% set image = path('app_designer_generateimages', {cartOrderLine: line.uuid, uuid: line.metadata.designer}) %}
    {% endif %}
{% elseif attribute(line.metadata, 'letter') is defined and forceProductType is same as(false) %}
    {% set productType = 'letter' %}

    {% if line.hasProductLetter() %}
        {% set download = line.getProductLetterDownload() %}
    {% endif %}
{% else %}
    {% if attribute(line.metadata, 'additional_product_parent') is defined or attribute(line.metadata, 'upsell') is defined %}
        {% set productType = 'additional-product' %}
    {% else %}
        {% set productType = 'product' %}
    {% endif %}

    {% if product.categoryImage(true) %}
        {% set image = product.categoryImage(true) %}
    {% endif %}
{% endif %}

<div class="product-line product-line-{{ productType }}" data-id="{{ line.uuid }}">
    <div class="product-line-body">
        <div class="image">
            {% if image and productType == 'designer' %}
                <img class="lazy" src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}" data-src="{{ image }}">
            {% elseif image and productType == 'card' %}
                <img src="{{ image }}">
            {% elseif download and productType == 'letter' %}
                <a href="{{ download }}" title="{{ "letter.watch_uploaded_file"|trans }}">
                    <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
                </a>
            {% elseif image %}
                <img src="{{ image.getPath() | imagine_filter('product_assortment') }}">
            {% elseif not image and productType != 'card' %}
                <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
            {% endif %}

            {% if productType == 'card' %}
                <a href="#"
                   data-url="{{ path('app_cart_editcard', {cartOrder: line.cartOrder.uuid, cartOrderLine: line.uuid}) }}"
                   class="edit" data-action="card-edit">
                    <img src="{{ asset(theme_img_base_path ~ 'card-preview.png') }}" alt="{{ 'product.card.edit'|trans }}"/>
                </a>
            {% elseif productType == 'designer' %}
                <a href="#"
                   data-url="{{ path('app_designer_preview', {cartOrderLine: line.uuid, uuid: line.metadata.designer}) }}"
                   class="edit" data-action="designer-edit">
                    <span class="fa fa-pencil-square"></span>
                </a>
            {% elseif productType == 'letter' %}
                <a href="#"
                   data-url="{{ path('app_letter_edit', {cartOrderLine: line.uuid, uuid: line.metadata.letter.uuid}) }}"
                   class="edit" data-action="letter-edit">
                    <span class="fa fa-pencil-square"></span>
                </a>
            {% endif %}
        </div>
        <div class="details">
            <div class="title">{{ product.displayName }}</div>
            {{ get_price(line) | number_format }}
        </div>

        <div class="qty">
            {% if not line.parent or line.isUpsell %}
                {% include '@App/Checkout/components/delivery/qty-selector.html.twig' with { line: line } %}
            {% endif %}
        </div>
    </div>

    {% if productType != 'product' %}
    <div class="product-line-footer">
        {% if line.hasRequiredPersonalization() is same as (false) %}
            <a href="#" data-url="{{ lineRemoveUrl }}" class="remove" data-action="remove">
                <span>{{ "order_line.remove"|trans|lower }}</span>
                <i class="fa fa-remove"></i>
            </a>
        {% endif %}
    </div>
    {% endif %}
</div>
