{% set orderableQuantities = line.product.getOrderableQuantities %}

{% set quantityMode = line.product.productgroup.upsellQuantityMode %}
{% set disabled = line.isUpsell and (quantityMode is empty or quantityMode is same as('strictly_following')) %}

<div class="qty-selector" {{ disabled ? 'disabled' : '' }}>
    {% if line.product.quantitySteps > 1 %}
    <span class="form-select-wrapper">
        <select name="line[quantity]" class="form-control"
                data-url="{{ path('app_checkout_orderlineupdate', {
                    'cartOrder': line.cartOrder.uuid,
                    'cartOrderLine': line.uuid
                }) }}">
            {% for qty in orderableQuantities %}
                <option value="{{ qty }}"{% if qty == line.quantity %} selected{% endif %}>{{ qty }}</option>
            {% endfor %}
        </select>
    </span>
    {% else %}
        <a href="#" class="minus" data-action="decrease">
            <span class="fa fa-minus"></span>
        </a>
        <input type="number" name="line[quantity]"
               value="{{ line.quantity }}" title="{{ 'label.quantity'|trans }}"
               data-url="{{ path('app_checkout_orderlineupdate', {
                   'cartOrder': line.cartOrder.uuid,
                   'cartOrderLine': line.uuid
               }) }}"
                {% if orderableQuantities %}
                    min="{{ min(orderableQuantities) }}"
                    max="{{ max(orderableQuantities) }}"
                    data-ranges="{{ orderableQuantities|keys|json_encode|raw }}"
                {% endif %}
                {% if line.isUpsell %}
                    data-upsell="1"
                    data-quantity-mode="{{ quantityMode }}"
                {% endif %}
        />
        <a href="#" class="plus" data-action="increase">
            <span class="fa fa-plus"></span>
        </a>
    {% endif %}
</div>