{% extends 'base_pdf_v2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css" media="all">
        html {
            width: 210mm;
            zoom: 1.028;
            margin: 0;
        }

        @page {
            width: 210mm;
            height: 297mm;
            margin: 0;
        }

        body {
            width: 190mm;
            margin: 0;
        }

        .page, .logo {
            width: 190mm;
            height: 251.5mm;
            padding: 10mm;
        }

        .logo {
            position: absolute;
            top: 0;
            left: -15mm;
        }

        .logo img {
            width: 110%;
        }

        p.text,
        table th,
        table td,
        table td div,
        table td div * {
            font-size: 8pt;
        }

        table th {
            font-size: 7pt;
        }

        .border-top {
            border-top: 1px solid #0a0a0a;
        }

        .border-bottom {
            border-bottom: 1px solid #0a0a0a;
        }

        .border-bottom-double {
            border-bottom: 3px double #0a0a0a;
        }

        .page {
            height: 276.8mm;
            background-image: url('{{ logo }}');
            -webkit-print-color-adjust: exact;
            background-size: 210mm 296.9mm;
        }
    </style>
{% endblock stylesheets %}

{% macro page_number(page, totalPages) %}
    <div style="font-size: 8pt; width: 190mm; margin-top: 247mm; position: absolute; text-align: center; font-style: italic;">
        pagina {{ page }} van {{ totalPages }}</div>
{% endmacro %}

{% import _self as macro %}

{% block body %}
    <div class="page">
    <div>
        {{ macro.page_number(1, pages|length) }}
    </div>

    <div style="height: 25mm;"></div>

    <table>
        <tr>
            <td style="width: 115mm; font-size: 10pt;">
                <p>
                    {{ commissionInvoice.company.name }}<br />
                    {% if commissionInvoice.company.invoiceAddress is not null %}
                        {% if commissionInvoice.company.invoiceAddress.attn %}{{ commissionInvoice.company.invoiceAddress.attn }}{% else %}{{ commissionInvoice.company.customers[0].fullname }}{% endif %}
                        <br />
                        {{ commissionInvoice.company.invoiceAddress.street }} {{ commissionInvoice.company.invoiceAddress.number }}
                        <br />
                        {{ commissionInvoice.company.invoiceAddress.postcode }} {{ commissionInvoice.company.invoiceAddress.city }}
                        <br />
                        {% if commissionInvoice.company.invoiceAddress.country.code != "NL" %}{{ commissionInvoice.company.invoiceAddress.country.translate.name }}{% endif %}
                    {% endif %}
                </p>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="font-size: 10pt; width: 35mm;">Klantnummer:</td>
                        <td style="font-size: 10pt;">{{ commissionInvoice.company.twinfieldRelationNumber }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 10pt;">Datum:</td>
                        <td style="font-size: 10pt;">{{ commissionInvoice.date|localizeddate('long', 'none', 'nl_NL') }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 10pt;">Specificatienummer:</td>
                        <td style="font-size: 10pt;">{{ commissionInvoice.number }}</td>
                    <tr>
                </table>
            </td>
        </tr>
    </table>

    <div style="height: 21mm;"></div>

    <table>
        <tr>
            <td style="width: 50mm;">Ontvangen orders t/m bezorgdatum {{ commissionInvoice.date|localizeddate('long', 'none', 'nl_NL') }}</td>
        </tr>
    </table>

    <div style="height: 5mm;"></div>
    {%- for key, page in pages -%}
        {%- if key > 0 %}
            </div>
            <div class="page">
            <div style="page-break-before: always; height: 40mm;">
                {{- macro.page_number(key +1, pages|length) }}
            </div>
        {% endif %}

        <table style="width: 190mm;"
               class="{% if pages|last == page %}border-bottom-double{% else %}border-bottom{% endif %}">
            <thead>
            <tr class="border-top border-bottom">
                <th style="width: 29mm;">Ordernummer</th>
                <th style="width: 24mm;">Bezorgdatum</th>
                <th style="width: 34mm;">Ontvanger</th>
                <th style="width: 40mm;"></th>
                <th colspan="2" style="width: 19mm; text-align: right;">Orderbedrag</th>
                <td style="width: 3mm"></td>
                <th colspan="2" style="width: 19mm; text-align: right;">Korting</th>
                <td style="width: 3mm"></td>
                <th colspan="2" style="width: 19mm; text-align: right;">Te ontvangen</th>
            </tr>
            </thead>
            <tbody>

            {% for commissionOrder in page %}
                {% set order = commissionOrder.supplierOrder.order %}
                <tr>
                    <td>{{ order.orderNumber }}</td>
                    <td>{% if order.deliveryDate %}{{ order.deliveryDate|localizeddate('medium', 'none') }}{% endif %}</td>

                    {% if order.deliveryAddressCompanyName %}
                        {% set recipientName = order.deliveryAddressCompanyName ~ ', ' ~ order.deliveryAddressAttn %}
                    {% else %}
                        {% set recipientName = order.deliveryAddressAttn %}
                    {% endif %}

                    <td colspan="2">
                        <div style="width: 74mm; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{% if commissionOrder.recommissioned %}
                                <i>Correctie</i>: {% endif %}{{ recipientName }}</div>
                    </td>
                    <td style="width: 5mm; text-align: right;">€</td>
                    <td style="width: 14mm; text-align: right;">{{ commissionOrder.subtotalIncl|number_format }}</td>
                    <td style="width: 3mm;"></td>
                    <td style="width: 5mm; text-align: right;">€</td>
                    <td style="width: 14mm; text-align: right;">{{ commissionOrder.discountIncl|number_format }}</td>
                    <td style="width: 3mm;"></td>
                    <td style="width: 5mm; text-align: right;">€</td>
                    <td style="width: 14mm; text-align: right;">{{ commissionOrder.totalIncl|number_format }}</td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    {% endfor -%}

    <table style="width: 190mm; page-break-inside: avoid;">
        <thead>
        <tr>
            <th style="width: 29mm;"></th>
            <th style="width: 24mm;"></th>
            <th style="width: 34mm;"></th>
            <th style="width: 40mm;"></th>
            <td style="width: 5mm;"></td>
            <td style="width: 14mm;"></td>
            <td style="width: 3mm;"></td>
            <td style="width: 5mm;"></td>
            <td style="width: 14mm;"></td>
            <td style="width: 3mm;"></td>
            <td style="width: 5mm;"></td>
            <td style="width: 14mm;"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th style="width: 29mm;"></th>
            <th style="width: 24mm;"></th>
            <td style="width: calc(34mm + 40mm + 5mm + 14mm + 3mm + 5mm + 14mm + 3mm);" colspan="8">Totaal omzet incl. BTW</td>
            <td style="width: 5mm; text-align: right;">€</td>
            <td style="width: 14mm; text-align: right;">{{ commissionInvoice.getOrderTotalIncl|number_format }}</td>
        </tr>

        {% for specification in commissionInvoice.vatSpecifications %}
            <tr>
                <th style="width: 29mm;"></th>
                <th style="width: 24mm;"></th>
                <td style="width: calc(34mm + 40mm);" colspan="2">
                    Waarvan {{ specification.vatRate.factor * 100 }}% BTW (€ {{ specification.vatPrice|number_format }}) over:
                </td>
                <td style="width: 5mm; text-align: right;">€</td>
                <td style="width: 14mm; text-align: right;">{{ specification.price|number_format }}</td>
                <td style="width: 3mm;"></td>
                <td style="width: 5mm;"></td>
                <td style="width: 14mm;"></td>
                <td style="width: 3mm;"></td>
                <td style="width: 5mm;"></td>
                <td style="width: 14mm"></td>
            </tr>
        {% endfor %}

        {% for line in commissionInvoice.lines %}
            <tr>
                <th style="width: 29mm;"></th>
                <th style="width: 24mm;"></th>
                <td style="width: calc(34mm + 40mm);" colspan="2">{{ line.description }}</td>
                <td style="width: 5mm; text-align: right;">€</td>
                <td style="width: 14mm; text-align: right;">{{ (0 - line.price)|number_format }}</td>
                <td style="width: 3mm;"></td>
                <td style="width: 5mm;"></td>
                <td style="width: 14mm;"></td>
                <td style="width: 3mm;"></td>
                <td style="width: 5mm;"></td>
                <td style="width: 14mm"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <br />
    <p class="text">
        De totalen van de orderspecificatie worden via een factuur verrekend met uw aankopen in de webshop. <br />
        De factuur ontvangt u apart per email.
    </p>
    </div>
{% endblock body %}
