{% extends 'AdminBundle::base.html.twig' %}

{% block assets_body %}
    {{ parent() }}

    {% javascripts
        'bundles/admin/js/financial/invoice.js'
    %}
        <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}

    {% stylesheets  %}
        <link rel="stylesheet" href="{{ asset(asset_url) }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}

