{% extends 'AppBundle::base.amp-html.twig' %}

{% set page_title = product.translate().getTitle() %}
{% set canonical = product.getAbsoluteUrl() %}
{% set cheapestVariation = product_manager.decorateProduct(product.getCheapestVariation) %}

{% block jsonld %}
    {{ jsonld_product(product) }}
{% endblock %}

{% block body %}
    {% set product_type_class = 'simple' %}

    {% if product.hasVariations() %}
        {% set product_type_class = 'variable' %}
    {% endif %}

    {% set product_type_class = 'product-type-' ~ product_type_class %}

    <h1 class="product-title">{{ product.translate().getTitle() }}</h1>
    <p class="product-description">{{ product.translate().getDescription()|raw }}</p>

    {% if product.getVariations() %}
        <amp-carousel width=400 height=400 controls layout="responsive" type="slides">
            {% for variation in product.getVariations if variation.getMainImage() %}
                    <amp-img src="{{ variation.getMainImage().getPath | imagine_filter('product') }}"
                             alt="{{ variation.getDisplayName() }}" height="400" width="400"
                             layout="responsive"></amp-img>
            {% else %}
                {% if product.getMainImage() %}
                <amp-img src="{{ product.getMainImage().getPath() | imagine_filter('product') }}" alt="{{ product.getDisplayName() }}"
                         height="400" width="400" layout="responsive"></amp-img>
                {% endif %}
            {% endfor %}
        </amp-carousel>
    {% else %}
        {% if product.getMainImage() %}
        <amp-img src="{{ product.getMainImage().getPath() | imagine_filter('product') }}" alt="{{ product.getDisplayName() }}"
                 height="400" width="400" layout="responsive"></amp-img>
        {% endif %}
    {% endif %}

    <p class="product-price">Vanaf € {{ get_price(cheapestVariation) }}</p>
    <a class="btn" id="cta_button" href="{{ product.getAbsoluteUrl() }}">Bestellen op onze webshop</a>

{% endblock body %}
