<div class="row" id="companycustomer-panel" data-company-report-id="{{ companyReport.getId }}">
    <div class="col-md-12">
        <div class="panel panel-default" data-override-propagation="true">
            <div class="panel-heading">
                <div class="panel-title">
                    Gebruikers
                </div>
            </div>
            <div class="panel-body companyReportDatatablePanel">
                {{ datatable | raw }}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/admin/js/company/company-report.js') }}"></script>