<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{% spaceless %}{% block subject %}{% endblock %}{% endspaceless %}</title>

    {#<script src="https://vicinity.picsrv.net/PxResources/scripts/16.31/core.compatibility.7875838bbb68ca715aa63ecd494267be.js"#}
    {#type="text/javascript"></script>#}

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"#}
    {#type="text/javascript"></script>#}

    {#<link rel="stylesheet"#}
    {#href="https://vicinity.picsrv.net/PxResources/UI/16.30/styles/styles.35f11dff9927b73d1eefc4292c6a351f.css"#}
    {#type="text/css"/>#}

    {#<script src="https://vicinity.picsrv.net/PxResources/UI/16.30/scripts/scripts.nl_NL.36d6a4c830be9a68f871163b86eaa244.js"#}
    {#type="text/javascript"></script>#}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />


    {% block head_style %}
        <style type="text/css">

            .brand-color-bg {
                background-color: {{ primaryColor }} !important;
                color: #FFFFFF;
            }

            .brand-color-bg h2, .brand-color-bg h3, .brand-color-bg h4, .brand-color-bg p, .brand-color-bg a {
                color: #FFFFFF;
            }

            .brand-color-txt, .brand-color-txt a {
                color: {{ primaryColor }} !important;
            }

            .primary-color-bg {
                background-color: {{ primaryColor }} !important;
                color: #FFFFFF;
            }

            .primary-color-bg h2, .primary-color-bg h3, .primary-color-bg h4, .primary-color-bg p, .primary-color-bg a {
                color: #FFFFFF;
            }

            .primary-color-txt, .primary-color-txt a {
                color: {{ primaryColor }} !important;
            }

            .secondary-color-bg {
                background-color: #40463C !important;
                color: #FFFFFF;
            }

            .secondary-color-bg h2, .secondary-color-bg h3, .secondary-color-bg h4, .secondary-color-bg p, .secondary-color-bg a {
                color: #FFFFFF;
            }

            .secondary-color-txt, .secondary-color-txt a {
                color: #40463C !important;
            }

            .txt-color-bg {
                background-color: #494949 !important;
                color: #FFFFFF;
            }

            .txt-color-bg h2, .txt-color-bg h3, .txt-color-bg h4, .txt-color-bg p, .txt-color-bg a {
                color: #FFFFFF;
            }

            .txt-color-txt, .txt-color-txt a {
                color: #494949 !important;
            }

            .txt-color-light-bg {
                background-color: #636363 !important;
                color: #FFFFFF;
            }

            .txt-color-light-bg h2, .txt-color-light-bg h3, .txt-color-light-bg h4, .txt-color-light-bg p, .txt-color-light-bg a {
                color: #FFFFFF;
            }

            .txt-color-light-txt, .txt-color-light-txt a {
                color: #636363 !important;
            }

            body, td, p {
                color: #494949;
            }

            a {
                color: {{ primaryColor }};
            }

            h1, h2, h3 {
                color: {{ primaryColor }};
            }

            body,
            #body_style {
                margin: 0;
                padding: 0;
                background: #FFFFFF;
            }

            body {
                -webkit-text-size-adjust: none;
            }

            body,
            td,
            th,
            p {
                font-size: 14px;
                font-family: Arial, sans-serif;
                line-height: 135%;
            }

            th {
                font-weight: normal;
            }

            table {
                table-layout: fixed;
            }

            table.layout-auto {
                table-layout: auto !important;
            }

            .pre-header {
                display: none !important;
                color: #ffffff !important;
            }

            .note {
                font-size: .85em;
                font-style: italic;
            }

            #outlook a {
                padding: 0;
            }

            .hidden-desktop {
                display: none;
                font-size: 0;
                max-height: 0;
                line-height: 0;
                mso-hide: all;
                display: none;
                max-height: 0px;
                font-size: 0px;
                overflow: hidden;
                mso-hide: all
            }

            img.hidden-desktop {
                max-height: 0;
                width: 0;
            }

            .block {
                display: block;
            }

            .inline {
                display: inline;
            }

            a {
                text-decoration: none;
            }

            a img {
                border: 0;
            }

            h1,
            h2,
            h3,
            h4 {
                margin-top: 0;
                font-weight: bold;
                line-height: 100% !important;
            }

            h1 {
                font-size: 24px;
                margin-bottom: 15px;
            }

            h2 {
                font-size: 18px;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 16px;
                margin-bottom: 15px;
            }

            h4 {
                font-size: 14px;
            }

            p {
                margin-top: 0;
            }

            small,
            small p {
                font-size: 12px;
                line-height: 14px;
            }

            .no-margin {
                margin: 0;
            }

            .p-no-margin-bottom p {
                margin-bottom: 0;
            }

            .float-left-a > a {
                float: left;
            }

            .divider-10 {
                height: 10px;
                line-height: 10px;
                width: 100%;
                font-size: 5px;
                overflow: hidden;
                -webkit-text-size-adjust: none;
            }

            .divider-20 {
                height: 20px;
                line-height: 20px;
                font-size: 5px;
                overflow: hidden;
                -webkit-text-size-adjust: none;
            }

            .divider-30 {
                height: 30px;
                line-height: 30px;
                width: 100%;
                font-size: 5px;
                overflow: hidden;
                -webkit-text-size-adjust: none;
            }

            .divider-40 {
                height: 40px;
                line-height: 40px;
                width: 100%;
                font-size: 5px;
                overflow: hidden;
                -webkit-text-size-adjust: none;
            }

            .divider-50 {
                height: 50px;
                line-height: 50px;
                width: 100%;
                font-size: 5px;
                overflow: hidden;
                -webkit-text-size-adjust: none;
            }

            img.img-max-w-100,
            .img-max-w-100 img {
                max-width: 100%;
            }

            img.img-w-100,
            .img-w-100 img {
                width: 100%;
            }

            img.img-block,
            .img-block img,
            img.spacer {
                display: block;
            }

            td.img-block {
                line-height: 0;
            }

            .a-block,
            .a-block a {
                display: block;
            }

            th.spacer {
                font-size: 1px !important;
                line-height: 1px !important;
                height: 1px !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }

            .border-top {
                border-top: 1px solid #e8e8e8;
            }

            .border-bottom {
                border-bottom: 1px solid #e8e8e8;
            }

            .border-left {
                border-left: 1px solid #e8e8e8;
            }

            .border-right {
                border-right: 1px solid #e8e8e8;
            }

            .bordered {
                border: 1px solid #e8e8e8;
            }

            .desktop-border-top {
                border-top: 1px solid #e8e8e8;
            }

            .desktop-border-bottom {
                border-bottom: 1px solid #e8e8e8;
            }

            .desktop-border-left {
                border-left: 1px solid #e8e8e8;
            }

            .desktop-border-right {
                border-right: 1px solid #e8e8e8;
            }

            .desktop-bordered {
                border: 1px solid #e8e8e8;
            }

            .bg-grey {
                background-color: #e8e8e8;
            }

            .bg-grey-light {
                background-color: #f3f3f3;
            }

            .nowrap {
                white-space: nowrap;
            }

            #hidden-checkbox {
                display: none;
            }

            th.padding-15 {
                padding: 15px;
            }

            th.padding-10-15 {
                padding: 10px 15px;
            }

            th.padding-10 {
                padding: 10px;
            }

            th.padding-right-5 {
                padding-right: 5px;
            }

            table.order-table th {
                padding-top: 3px;
                padding-bottom: 3px;
            }

            .txt-center {
                text-align: center;
            }

            .txt-right {
                text-align: right;
            }

            .txt-left {
                text-align: left;
            }

            .btn {
                white-space: nowrap;
            }

            .btn-left {
                float: left !important;
            }

            .btn-right {
                float: right !important;
            }

            .btn-invert {
                border: 1px solid white;
            }

            .btn .btn-content {
                font-size: 14px !important;
                line-height: 14px !important;
                overflow: hidden;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center !important;
            }

            .btn.btn-small .btn-content {
                text-transform: none;
                font-weight: normal;
            }

            .btn .btn-content a {
                line-height: 14px !important;
                overflow: hidden;
                display: block;
            }

            .clear {
                clear: both;
            }

            .mobile-spacer {
                display: none;
            }

            .uppercase {
                text-transform: uppercase;
            }

            .webversion {
                color: #acacac;
                font-size: 12px;
                padding: 15px 0;
            }

            .unsubscribe {
                color: #acacac;
                font-size: 12px;
            }

            .unsubscribe a {
                color: #acacac;
            }

            .slogan {
                padding: 5px 10px;
                font-weight: bold;
                font-size: 19px;
            }

            .topnav {
                font-size: 12px;
                text-align: right;
            }

            .logo-holder {
                padding-top: 7px;
                padding-bottom: 7px;
            }

            #menu th {
                font-size: 10px;
                line-height: 100%;
                padding-top: 13px;
                padding-bottom: 13px;
            }

            #menu th.hidden-mobile {
                text-align: center;
            }

            .header-txt {
                padding: 15px 20px;
                color: white;
            }

            .usps th {
                font-size: 12px;
            }

            .usps .column-padding-bottom th {
                line-height: 15px;
            }

            @media only screen and (max-width: 620px) {

                body,
                table,
                td,
                p,
                a,
                li,
                blockquote {
                    -webkit-text-size-adjust: none !important;
                }

                body[yahoofix] img {
                    max-width: 100% !important;
                    height: auto !important;
                }

                body[yahoofix] .hidden-desktop,
                body[yahoofix] img.hidden-desktop {
                    display: block !important;
                    font-size: 12px !important;
                    max-height: none !important;
                    line-height: 135% !important;
                }

                body[yahoofix] img.hidden-desktop {
                    max-height: none !important;
                    width: auto !important;
                }

                body[yahoofix] table.hidden-desktop {
                    display: table !important;
                }

                body[yahoofix] table {
                    table-layout: auto !important;
                }

                body[yahoofix] td.hidden-desktop,
                body[yahoofix] th.hidden-desktop {
                    display: table-cell !important;
                }

                body[yahoofix] .column table,
                body[yahoofix] .column-padding-bottom table,
                body[yahoofix] .column-padding-bottom-10 table,
                body[yahoofix] .mobile-height-auto {
                    height: auto !important;
                }

                body[yahoofix] table {
                    width: 100% !important;
                }

                body[yahoofix] .column {
                    float: left !important;
                    width: 100% !important;
                }

                body[yahoofix] .column-46 {
                    float: left !important;
                    width: 46% !important;
                }

                body[yahoofix] .column-padding-bottom {
                    float: left !important;
                    width: 100% !important;
                    padding-bottom: 20px !important;
                }

                body[yahoofix] .column-padding-bottom-10 {
                    float: left !important;
                    width: 100% !important;
                    padding-bottom: 10px !important;
                }

                body[yahoofix] .img-block img,
                body[yahoofix] img.img-block {
                    height: auto !important;
                }

                body[yahoofix] .mobile-center {
                    text-align: center !important;
                }

                body[yahoofix] .mobile-center table.mobile-w-auto {
                    margin: 0 auto;
                }

                body[yahoofix] .hidden-mobile {
                    display: none !important;
                }

                body[yahoofix] table.mobile-w-auto,
                body[yahoofix] td.mobile-w-auto,
                body[yahoofix] th.mobile-w-auto {
                    width: auto !important;
                }

                body[yahoofix] td.mobile-w-100,
                body[yahoofix] th.mobile-w-100 {
                    width: 100% !important;
                }

                body[yahoofix] td.mobile-w-50,
                body[yahoofix] th.mobile-w-50 {
                    width: 50% !important;
                }

                body[yahoofix] img.mobile-w-100 {
                    width: 100% !important;
                    height: auto !important;
                    max-width: 100% !important;
                }

                body[yahoofix] td.mobile-spacer,
                body[yahoofix] th.mobile-spacer {
                    width: 10px !important;
                    display: table-cell !important;
                }

                body[yahoofix] .mobile-padding-top-0 {
                    padding-top: 0 !important;
                }

                body[yahoofix] .desktop-border-top {
                    border-top: none !important;
                }

                body[yahoofix] .desktop-border-bottom {
                    border-bottom: none !important;
                }

                body[yahoofix] .desktop-border-left {
                    border-left: none !important;
                }

                body[yahoofix] .desktop-border-right {
                    border-right: none !important;
                }

                body[yahoofix] .desktop-bordered {
                    border: none !important;
                }

                body[yahoofix] .divider-30 {
                    height: 20px !important;
                }

                body[yahoofix] .divider-40 {
                    height: 30px !important;
                }

                body[yahoofix] .divider-50 {
                    height: 40px !important;
                }

                .webversion {
                    padding: 10px 0 5px 0 !important;
                }

                body[yahoofix] .topnav {
                    padding: 0 0 10px 0 !important;
                    text-align: center !important;
                }

                body[yahoofix] div #menu {
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
                    -moz-transition: max-height .3s ease-in;
                    -ms-transition: max-height .3s ease-in;
                    -o-transition: max-height .3s ease-in;
                    -webkit-transition: max-height .3s ease-in;
                    transition: max-height .3s ease-in;
                }

                body[yahoofix] div #menu table {
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                }

                body[yahoofix] div #menu th {
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                    font-size: 14px !important;
                    text-align: center !important;
                }

                body[yahoofix] #hidden-checkbox:checked + div #menu {
                    max-height: 400px;
                }

                body[yahoofix] #mobile-label {
                    cursor: pointer;
                    display: block !important;
                    padding: 15px 15px 15px 0px;
                    -webkit-tap-highlight-color: transparent;
                    width: 28px;
                }

                body[yahoofix] #mobile-label > b {
                    display: block;
                    height: 4px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }

                body[yahoofix] #mobile-label > b + b {
                    margin-top: 4px;
                }

                body[yahoofix] .customer-service-holder {
                    width: 56px !important;
                }

                body[yahoofix] .customer-service-holder img {
                    width: 56px !important;
                }

                .fake {
                }

            }

            @media only screen and (max-width: 400px) and (min-width: 321px) {

                .fake {
                }

                body[yahoofix].s-mobile table .s-mobile-height-auto {
                    height: auto !important;
                }

                body[yahoofix].s-mobile table .s-hidden-mobile {
                    display: none !important;
                }

                body[yahoofix].s-mobile table .s-column {
                    float: left !important;
                    width: 100% !important;
                }

                body[yahoofix].s-mobile td.mobile-w-50,
                body[yahoofix].s-mobile th.mobile-w-50 {
                    width: 100% !important;
                }

                body[yahoofix].s-mobile td.s-mobile-w-50,
                body[yahoofix].s-mobile th.s-mobile-w-50 {
                    width: 50% !important;
                }

                body[yahoofix].s-mobile .s-mobile-center {
                    text-align: center !important;
                }

                body[yahoofix].s-mobile .customer-service-holder {
                    width: 35px !important;
                }

                body[yahoofix].s-mobile .customer-service-holder img {
                    width: 35px !important;
                }

                body[yahoofix].s-mobile .btn {
                    white-space: normal !important;
                }

                .fake {
                }
            }

            @media only screen and (max-width: 320px) {
                .fake {
                }

                body[yahoofix].s-mobile.xs-mobile table h1 {
                    font-size: 20px !important;
                }

                body[yahoofix].s-mobile.xs-mobile table .xs-mobile-height-auto {
                    height: auto !important;
                }

                body[yahoofix].s-mobile.xs-mobile table .s-hidden-mobile,
                body[yahoofix].s-mobile.xs-mobile table .xs-hidden-mobile {
                    display: none !important;
                }

                body[yahoofix].s-mobile.xs-mobile table .xs-column {
                    float: left !important;
                    width: 100% !important;
                }

                body[yahoofix].s-mobile.xs-mobile td.s-mobile-w-50,
                body[yahoofix].s-mobile.xs-mobile th.s-mobile-w-50 {
                    width: 100% !important;
                }

                body[yahoofix].s-mobile.xs-mobile td.xs-mobile-w-50,
                body[yahoofix].s-mobile.xs-mobile th.xs-mobile-w-50 {
                    width: 50% !important;
                }

                body[yahoofix].s-mobile.xs-mobile .xs-mobile-center {
                    text-align: center !important;
                }

                body[yahoofix].s-mobile.xs-mobile .customer-service-holder {
                    width: 30px !important;
                }

                body[yahoofix].s-mobile.xs-mobile .customer-service-holder img {
                    width: 30px !important;
                }

                body[yahoofix].s-mobile.xs-mobile .btn {
                    white-space: normal !important;
                }

                .fake {
                }
            }
        </style>


        <style type="text/css">
            @media only screen and (max-width: 320px) {

                body table h1 {
                    font-size: 20px !important;
                }

                body table .xs-mobile-height-auto {
                    height: auto !important;
                }

                body table .s-hidden-mobile {
                    display: none !important;
                }

                body table .xs-hidden-mobile {
                    display: none !important;
                }

                body table .xs-column {
                    float: left !important;
                    width: 100% !important;
                }

                body td.s-mobile-w-50 {
                    width: 100% !important;
                }

                body th.s-mobile-w-50 {
                    width: 100% !important;
                }

                body td.xs-mobile-w-50 {
                    width: 50% !important;
                }

                body th.xs-mobile-w-50 {
                    width: 50% !important;
                }

                body .xs-mobile-center {
                    text-align: center !important;
                }

                body .customer-service-holder {
                    width: 30px !important;
                }

                body .customer-service-holder img {
                    width: 30px !important;
                }

                body .btn {
                    white-space: normal !important;
                }
            }

            @media only screen and (max-width: 400px) and (min-width: 321px) {

                body table .s-mobile-height-auto {
                    height: auto !important;
                }

                body table .s-hidden-mobile {
                    display: none !important;
                }

                body table .s-column {
                    float: left !important;
                    width: 100% !important;
                }

                body td.mobile-w-50 {
                    width: 100% !important;
                }

                body th.mobile-w-50 {
                    width: 100% !important;
                }

                body td.s-mobile-w-50 {
                    width: 50% !important;
                }

                body th.s-mobile-w-50 {
                    width: 50% !important;
                }

                body .s-mobile-center {
                    text-align: center !important;
                }

                body .customer-service-holder {
                    width: 35px !important;
                }

                body .customer-service-holder img {
                    width: 35px !important;
                }

                body .btn {
                    white-space: normal !important;
                }
            }

            @media only screen and (max-width: 620px) {
                body {
                    -webkit-text-size-adjust: none !important;
                }

                table {
                    -webkit-text-size-adjust: none !important;
                }

                td {
                    -webkit-text-size-adjust: none !important;
                }

                p {
                    -webkit-text-size-adjust: none !important;
                }

                a {
                    -webkit-text-size-adjust: none !important;
                }

                li {
                    -webkit-text-size-adjust: none !important;
                }

                blockquote {
                    -webkit-text-size-adjust: none !important;
                }

                body img {
                    max-width: 100% !important;
                    height: auto !important;
                }

                body .hidden-desktop {
                    display: block !important;
                    font-size: 12px !important;
                    max-height: none !important;
                    line-height: 135% !important;
                }

                body img.hidden-desktop {
                    display: block !important;
                    font-size: 12px !important;
                    max-height: none !important;
                    line-height: 135% !important;
                    width: auto !important;
                }

                body table.hidden-desktop {
                    display: table !important;
                }

                body table {
                    table-layout: auto !important;
                    width: 100% !important;
                }

                body td.hidden-desktop {
                    display: table-cell !important;
                }

                body th.hidden-desktop {
                    display: table-cell !important;
                }

                body .column table {
                    height: auto !important;
                }

                body .column-padding-bottom table {
                    height: auto !important;
                }

                body .column-padding-bottom-10 table {
                    height: auto !important;
                }

                body .mobile-height-auto {
                    height: auto !important;
                }

                body .column {
                    float: left !important;
                    width: 100% !important;
                }

                body .column-46 {
                    float: left !important;
                    width: 46% !important;
                }

                body .column-padding-bottom {
                    float: left !important;
                    width: 100% !important;
                    padding-bottom: 20px !important;
                }

                body .column-padding-bottom-10 {
                    float: left !important;
                    width: 100% !important;
                    padding-bottom: 10px !important;
                }

                body .img-block img {
                    height: auto !important;
                }

                body img.img-block {
                    height: auto !important;
                }

                body .mobile-left {
                    text-align: left !important;
                }

                body .mobile-center {
                    text-align: center !important;
                }

                body .mobile-center table.mobile-w-auto {
                    margin: 0 auto;
                }

                body .hidden-mobile {
                    display: none !important;
                }

                body table.mobile-w-auto {
                    width: auto !important;
                }

                body td.mobile-w-auto {
                    width: auto !important;
                }

                body th.mobile-w-auto {
                    width: auto !important;
                }

                body td.mobile-w-100 {
                    width: 100% !important;
                }

                body th.mobile-w-100 {
                    width: 100% !important;
                }

                body td.mobile-w-50 {
                    width: 50% !important;
                }

                body th.mobile-w-50 {
                    width: 50% !important;
                }

                body img.mobile-w-100 {
                    width: 100% !important;
                    height: auto !important;
                    max-width: 100% !important;
                }

                body td.mobile-spacer {
                    width: 10px !important;
                    display: table-cell !important;
                }

                body th.mobile-spacer {
                    width: 10px !important;
                    display: table-cell !important;
                }

                body .mobile-padding-top-0 {
                    padding-top: 0 !important;
                }

                body .desktop-border-top {
                    border-top: none !important;
                }

                body .desktop-border-bottom {
                    border-bottom: none !important;
                }

                body .desktop-border-left {
                    border-left: none !important;
                }

                body .desktop-border-right {
                    border-right: none !important;
                }

                body .desktop-bordered {
                    border: none !important;
                }

                body .divider-30 {
                    height: 20px !important;
                }

                body .divider-40 {
                    height: 30px !important;
                }

                body .divider-50 {
                    height: 40px !important;
                }

                .webversion {
                    padding: 10px 0 5px 0 !important;
                }

                body .topnav {
                    padding: 0 0 10px 0 !important;
                    text-align: center !important;
                }

                body div #menu {
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
                    -moz-transition: max-height .3s ease-in;
                    -ms-transition: max-height .3s ease-in;
                    -o-transition: max-height .3s ease-in;
                    -webkit-transition: max-height .3s ease-in;
                    transition: max-height .3s ease-in;
                }

                body div #menu table {
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                }

                body div #menu th {
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                    font-size: 14px !important;
                    text-align: center !important;
                }

                body #hidden-checkbox:checked div #menu {
                    max-height: 400px;
                }

                body #mobile-label {
                    cursor: pointer;
                    display: block !important;
                    padding: 15px 15px 15px 0px;
                    -webkit-tap-highlight-color: transparent;
                    width: 28px;
                }

                body #mobile-label b {
                    display: block;
                    height: 4px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }

                body #mobile-label b b {
                    margin-top: 4px;
                }

                body .customer-service-holder {
                    width: 56px !important;
                }

                body .customer-service-holder img {
                    width: 56px !important;
                }

            }
        </style>
    {% endblock head_style %}


</head>
<body yahoofix class="s-mobile xs-mobile"
      style="color: #494949;margin: 0;padding: 0;background: #FFFFFF;-webkit-text-size-adjust: none;font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;">

<div class="pre-header">{% spaceless %}{% block preheader %}{% endblock %}{% endspaceless %}</div>

{% block head %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hidden-mobile" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="mobile-w-auto"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                    <tr>
                        <th width="65%" valign="middle" align="left"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                            {% block slogan %}
                                <table border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                                    <tr>
                                        <th class="slogan brand-color-bg" bgcolor="{{ primaryColor }}"
                                            style="font-size: 13px; width: 233px; height: 25px; font-family: Arial, sans-serif;line-height: 100%;font-weight: bold;background-color: {{ primaryColor }}!important;color: #FFFFFF;padding: 5px 10px;">
                                            Vier topmerken op één site!
                                        </th>
                                    </tr>
                                </table>
                            {% endblock slogan %}
                        </th>
                        <th width="35%" class="topnav" align="right" valign="middle"
                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: right;">
                            <a href="{{ brandUrl }}/account/?utm_source=servicemails&amp;utm_campaign=orderbevestiging&amp;utm_medium=Email"
                               target="_blank"
                               class="txt-color-txt" style="color: #494949 !important;text-decoration: none;">Mijn
                                account</a>
                            &nbsp;|&nbsp;
                            <a href="{{ brandUrl }}/contact?utm_source=servicemails&amp;utm_campaign=orderbevestiging&amp;utm_medium=Email"
                               target="_blank"
                               class="txt-color-txt"
                               style="color: #494949 !important;text-decoration: none;">Contact</a>
                        </th>
                    </tr>
                </table>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="desktop-border-top"
           style="table-layout: fixed;border-top: 1px solid #e8e8e8;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="mobile-w-auto"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                <table border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed; height: 70px;">
                    <tr>
                        <!--[if !mso]><!-- -->
                        <th width="30" valign="middle" class="hidden-desktop"
                            style="font-size: 0px;font-family: Arial, sans-serif;line-height: 0;font-weight: normal;display: none;max-height: 0px;mso-hide: all;overflow: hidden;">
                            <label for="hidden-checkbox" class="hidden-desktop" id="mobile-label"
                                   style="display: none;font-size: 0px;max-height: 0px;line-height: 0;mso-hide: all;overflow: hidden;"><b
                                        class="txt-color-bg"
                                        style="background-color: #494949 !important;color: #FFFFFF;"></b><b
                                        class="txt-color-bg"
                                        style="background-color: #494949 !important;color: #FFFFFF;"></b><b
                                        class="txt-color-bg"
                                        style="background-color: #494949 !important;color: #FFFFFF;"></b></label>
                        </th>
                        <!--<![endif]-->
                        <th width="325" class="mobile-w-auto logo-holder mobile-center" align="left" valign="middle"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 7px;padding-bottom: 7px;">
                            {% block logo %}
                                {% set site_logo =  brandUrl ~ asset('build/images/topgeschenken-kleur.png') %}
                                <a href="{{ brandUrl }}#?utm_source=servicemails&amp;utm_campaign=orderbevestiging&amp;utm_medium=Email"
                                   target="_blank" style="color: {{ primaryColor }};text-decoration: none;"><img
                                            src="{{ site_logo }}"
                                            width="253"
                                            class="img-max-w-100"
                                            style="border: 0; width: 253px; max-width: 100%;" /></a>
                            {% endblock logo %}
                        </th>
                        <!--[if !mso]><!-- -->
                        <th width="15" class="hidden-desktop"
                            style="font-size: 0px;font-family: Arial, sans-serif;line-height: 0;font-weight: normal;display: none;max-height: 0px;mso-hide: all;overflow: hidden;">
                            &nbsp;
                        </th>
                        <!--<![endif]-->
                        <th width="275" class="customer-service-holder" align="right"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                            <table border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                                <tr>
                                    <th width="56" class="mobile-w-auto" valign="middle"
                                        style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                                        <img src="https://vicinity.picsrv.net/5207/0/175732/klantenservice.png"
                                             width="56"
                                             class="img-max-w-100" style="max-width: 100%;" />
                                    </th>
                                    <th class="hidden-mobile"
                                        style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                                        &nbsp; &nbsp;
                                    </th>
                                    <th class="hidden-mobile" align="right"
                                        style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                                        <h2 class="no-margin"
                                            style="color: {{ primaryColor }}; font-weight: normal; line-height: 100% !important; font-size: 18px; margin: 0;">
                                        <span class="txt-color-txt"
                                              style="color: #494949 !important;">{{ "customer_service"|trans|capitalize }}</span><br />

                                            {% if site.getFormattedPhoneNumber() is defined %}
                                                <a href="tel:{{ site.getFormattedPhoneNumber(0) }}"
                                                   style="color: {{ primaryColor }};text-decoration: none;"><span
                                                            class="brand-color-txt"
                                                            style="font-weight: bold; color: {{ primaryColor }} !important;">{{ site.getFormattedPhoneNumber(2) }}</span>
                                                </a>
                                            {% endif %}
                                        </h2>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </table>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
    <!--[if !mso]><!-- -->
    <div class="hidden-desktop"
         style="display: none;font-size: 0px;max-height: 0px;line-height: 0;mso-hide: all;overflow: hidden;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hidden-desktop"
               style="table-layout: fixed;display: none;font-size: 0px;max-height: 0px;line-height: 0;mso-hide: all;overflow: hidden;">
            <tr>
                <th width="*"
                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
                <th width="0" class="mobile-spacer"
                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                    &nbsp;&nbsp;&nbsp;
                </th>
                <th width="600" class="mobile-w-auto topnav" align="center"
                    style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: right;">
                    <a href="#?utm_source=servicemails&amp;utm_campaign=orderbevestiging&amp;utm_medium=Email"
                       class="txt-color-txt" style="color: #494949 !important;text-decoration: none;">Inloggen</a>
                    &nbsp;|&nbsp;
                    <a href="#?utm_source=servicemails&amp;utm_campaign=orderbevestiging&amp;utm_medium=Email"
                       class="txt-color-txt" style="color: #494949 !important;text-decoration: none;">Contact</a>
                    &nbsp;|&nbsp;
                    <strong>{{ "customer_service"|trans|capitalize }}:&nbsp;
                        {% if site.getFormattedPhoneNumber() is defined %}
                            <a href="tel:{{ site.getFormattedPhoneNumber(0) }}"
                               class="txt-color-txt"
                               style="color: {{ primaryColor }} !important; text-decoration: none;">
                                {{ site.getFormattedPhoneNumber(constant('libphonenumber\\PhoneNumberFormat::NATIONAL')) }}
                            </a>
                        {% endif %}
                    </strong>

                </th>
                <th width="0" class="mobile-spacer"
                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                    &nbsp;&nbsp;&nbsp;
                </th>
                <th width="*"
                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            </tr>
        </table>
    </div>
    <!--<![endif]-->

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg-grey"
           style="table-layout: fixed;background-color: #e8e8e8;">
        <tr>
            <th width="*" class="hidden-mobile"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="600" class="mobile-w-auto"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">

                <!--[if !mso]><!-- -->
                <input id="hidden-checkbox" type="checkbox" style="display: none;">
                <!--<![endif]-->
                <div>
                    <div id="menu">
                        {% set main_menu = topbloemen_menu('email_main', site) %}

                        {% block menu %}
                            <table border="0" cellspacing="0" cellpadding="0" class="main-nav"
                                   style="table-layout: fixed; height: 45px;">
                                {% if main_menu is defined %}
                                    <tr>
                                        {% for item in main_menu %}
                                            {% if item.isAvailable() %}
                                                <th class="column txt-left mobile-center" align="left"
                                                    style="text-transform: uppercase; font-size: 12px;font-family: Arial, sans-serif;line-height: 100%;font-weight: normal;text-align: left;padding-top: 13px;padding-bottom: 13px;">
                                                    <a href="{{ _self.menu_link(item, utm) }}"
                                                       target="_blank" class="txt-color-txt"
                                                       style="color: #494949 !important;text-decoration: none;">{{ item.getDisplayTitle() }}</a>
                                                </th>

                                                {% if loop.last is same as (false) %}
                                                    <th width="15" class="hidden-mobile"
                                                        style="color: #adafab; font-size: 12px;font-family: Arial, sans-serif;line-height: 100%;font-weight: normal; padding: 13px 4px; text-align: center;">
                                                        |
                                                    </th>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            </table>
                        {% endblock menu %}
                    </div>
                </div>

            </th>
            <th width="*" class="hidden-mobile"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
    <div class="divider-30"
         style="height: 30px;line-height: 30px;width: 100%;font-size: 5px;overflow: hidden;-webkit-text-size-adjust: none;">
        &nbsp;
    </div>
{% endblock head %}

{% block body %}{% endblock body %}

{% block foot %}
    <div class="divider-30"
         style="height: 30px;line-height: 30px;width: 100%;font-size: 5px;overflow: hidden;-webkit-text-size-adjust: none;">&nbsp;</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bg-grey-light"
           style="table-layout: fixed;background-color: #f3f3f3;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">

                <div class="divider-40"
                     style="height: 40px;line-height: 40px;width: 100%;font-size: 5px;overflow: hidden;-webkit-text-size-adjust: none;">
                    &nbsp;
                </div>

                {% block footer_menu %}
                    {% set footer_menu = topbloemen_menu('email_footer', site)|slice(0, 3) %}

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                        <tr>
                            {% for parent_item in footer_menu %}
                                {% set parentLink = _self.menu_link(parent_item, utm) %}

                                {% if parent_item|length > 0 %}
                                    {% set parentLink = _self.menu_link(parent_item|first, utm) %}
                                {% endif %}

                                <th class="column-padding-bottom-10 mobile-center txt-left" valign="top" align="left"
                                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                                    <h4 style="margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 14px;">
                                        <a
                                                href="{{ parentLink }}"
                                                target="_blank" class="txt-color-txt uppercase"
                                                class="txt-color-txt uppercase"
                                                style="color: #494949 !important;text-decoration: none;text-transform: uppercase;">{{ parent_item.getDisplayTitle() }}</a>
                                    </h4>
                                    {% if parent_item|length > 0 %}
                                        <div class="hidden-mobile">
                                            {% for item in parent_item %}
                                                {% if item.isAvailable() %}
                                                    <a href="{{ _self.menu_link(item, utm) }}"
                                                       target="_blank" class="txt-color-light-txt"
                                                       style="color: #636363 !important;text-decoration: none;">{{ item.getDisplayTitle() }}</a>

                                                    {% if loop.last is same as(false) %}
                                                        <div class="divider-10"
                                                             style="height: 10px;line-height: 10px;width: 100%;font-size: 5px;overflow: hidden;-webkit-text-size-adjust: none;">
                                                            &nbsp;
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                    </table>
                {% endblock footer_menu %}

                <div class="divider-50"
                     style="height: 50px;line-height: 50px;width: 100%;font-size: 5px;overflow: hidden;-webkit-text-size-adjust: none;">&nbsp;</div>

                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                    <tr>
                        <th class="column-padding-bottom mobile-center" valign="middle" align="left"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                        <span style="color: {{ primaryColor }};text-decoration: none;"><img
                                    src="https://vicinity.picsrv.net/5207/0/175657/thuiswinkel-waarborg.png"
                                    style="border: 0;" /></span>
                        </th>
                        <th class="column-padding-bottom mobile-center" align="left" valign="middle"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                            <table border="0" cellspacing="0" cellpadding="0" class="mobile-w-auto"
                                   style="table-layout: fixed;">
                                <tr>
                                    <th width="55"
                                        style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                                        <img src="https://vicinity.picsrv.net/5207/0/175650/icon-phone.png"
                                             class="img-block" style="display: block;" /></th>
                                    <th class="txt-left"
                                        style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                                        <h2 class="no-margin txt-color-txt"
                                            style="color: #494949 !important;margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 18px;margin-bottom: 15px;margin: 0;">
                                            {% if site.getFormattedPhoneNumber() is defined %}
                                                <a href="tel:{{ site.getFormattedPhoneNumber(0) }}"
                                                   class="txt-color-txt"
                                                   style="color: #494949 !important;text-decoration: none;">{{ site.getFormattedPhoneNumber(constant('libphonenumber\\PhoneNumberFormat::NATIONAL')) }}</a>
                                            {% endif %}
                                        </h2>

                                        {% for day in app_site_opening_hours(site) %}
                                            {{ day.dayName }} <small class="txt-color-light-txt"
                                                                     style="font-size: 12px;line-height: 14px;color: #636363 !important;">{{ day.fromHours }}u - {{ day.tillHours }}u</small><br />
                                        {% endfor %}
                                    </th>
                                </tr>
                            </table>
                        </th>
                        <th class="column-padding-bottom mobile-center" align="left" valign="middle"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                        </th>
                    </tr>
                </table>

                <div class="divider-50"
                     style="height: 50px;line-height: 50px;width: 100%;font-size: 5px;overflow: hidden;-webkit-text-size-adjust: none;">&nbsp;</div>

                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                    <tr>
                        <th class="column-padding-bottom-10 mobile-center txt-left img-max-w-100" width="250"
                            align="left"
                            valign="middle"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 30px;font-weight: normal;text-align: left;">
                            <img src="https://vicinity.picsrv.net/5207/0/175654/payment-1.png"
                                 style="max-width: 100%;" />
                        </th>
                        <th class="column-padding-bottom mobile-center txt-left img-max-w-100" align="left"
                            valign="middle"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 30px;font-weight: normal;text-align: left;">
                            <img src="https://vicinity.picsrv.net/5207/0/175655/payment-2.png"
                                 style="max-width: 100%;" />
                        </th>
                    </tr>
                </table>


                <div class="divider-40"
                     style="height: 40px;line-height: 40px;width: 100%;font-size: 5px;overflow: hidden;-webkit-text-size-adjust: none;">&nbsp;</div>

                <div class="mobile-center"></div>


                <br /><br />

            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
{% endblock foot %}

</body>
</html>

{% macro menu_link(item, utm) %}
    {% spaceless %}
        {% set utm_attr = {
            'utm_source': 'servicemails',
            'utm_medium': 'Email'
        } %}

        {% if utm is defined %}
            {% set utm_attr = utm_attr|merge(utm) %}
        {% endif %}

        {% if item.getAbsoluteUrl() is not null %}
            {{ item.getAbsoluteUrl()|url_build_query(utm_attr) }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}
