{% extends 'AppBundle::Emails/base.html.twig' %}

{% block subject %}
    Welkom bij {{ site.translate().getDescription() }}
{% endblock %}

{% block preheader %}
    Vanaf nu profiteert u van de voordelen van uw account!
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">
                    Registratie</h1>
                <p>
                    {{ customer_manager.getPersonalSalutation(customer) }},
                </p>
                <p>
                    Bedankt voor uw aanmelding bij <a
                            href="{{ url('app_customer_account_index', []) }}">{{ site.translate().getDescription() }}</a>.
                    Vanaf nu kunt u profiteren van de voordelen van
                    een <a
                            href="{{ url('app_customer_account_index', []) }}">{{ site.translate().getDescription() }}</a>
                    account, zoals
                    eenvoudig bestellen, uw bestel- en bezorgstatus inzien, of uw gegevens wijzigen.
                </p>
                <p>
                    Bezoek onze shop en log in met uw
                    e-mailadres (<a
                            href="{{ url('app_customer_account_index', { 'username': customer.getUsername() }) }}">{{ customer.getUsername() }}</a>).
                </p>
                <p>
                    Voor vragen kunt u contact opnemen met onze <a href="{{ site.getUrl() }}">klantenservice</a>.
                </p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
{% endblock %}