{% extends 'AppBundle::Emails/base.html.twig' %}

{% block subject %}
    Uw factuur met nummer ORD{{ orderCollection.getNumber() }}
{% endblock %}

{% block preheader %}
    In de bijlage vindt u een kopie van de factuur.
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">{{ 'mailer.invoice.heading'|trans({'%ordernr%': orderCollection.getNumber()}) }}</h1>
                <p>{{ 'mailer.invoice.body'|trans({'%full_name%': orderCollection.getCustomer.getfullname(), '%ordernr%': orderCollection.getNumber()})|nl2br }}</p>
                <p>{{ 'mailer.invoice.footer'|trans|nl2br }}</p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*" style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
{% endblock %}