{% extends 'AppBundle::Emails/base.html.twig' %}

{% block subject %}
    {{ "mailer.order_delivery_status.subject" | trans({'%ordernr%': orderNumber}) }}
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">{{ "mailer.order_delivery_status.title" | trans }}</h1>

                <p>{{ "mailer.order_delivery_status.body"|trans({
                        '%salutation%': customer_manager.getPersonalSalutation(customer),
                        '%customer_service_email%': customerServiceEmail,
                        '%ordernr%': orderNumber,
                        '%order_url%': path('app_customer_account_order_vieworder', {
                            order: order.id,
                            orderCollection: orderCollection.id
                        }),
                        '%track_and_trace_info%': trackAndTraceInfo|raw,
                        '%brand%': brandName
                    })|raw|nl2br }}</p>

            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
{% endblock %}