{% extends 'AppBundle::Emails/base.html.twig' %}

{% block subject %}
    {{ 'payment_request.header' | trans({'%s' : orderCollection.number}) }}
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">
                    {{ 'payment_request.header' | trans({'%s' : orderCollection.number}) }}</h1>
                <p>
                    {{ metadata.request.name }},
                </p>
                <p>
                    {{ metadata.request.description }}
                </p>
                <p>
                    {{ 'payment_request.url_description' | trans({'%s' : orderCollection.number}) }}.
                </p>
                <p>
                    <a href="{{ url }}">{{ url }}</a>
                </p>
                <p>
                    {{ 'app.kind_regards' | trans }},
                </p>
                <p>
                    {{ 'app.customer_department' | trans }}
                </p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
{% endblock %}
