<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 13px;
            margin: 1rem;
        }

        .disclaimer {
            color: #CCCCCC;
            font-style: italic;
        }
    </style>
</head>
<body style="margin: 1rem">
<p>Beste leverancier,</p>
<p>
    {{ content }}
    Wij verzoeken u om in te loggen op <a href="https://bakker.toptaarten.nl" target="_blank">https://bakker.toptaarten.nl</a>
    en de status van de orders bij te werken.
<p>
<p>
    Met vriendelijke groet,<br />
    Klantenservice Toptaarten.nl
</p>

<p style="margin-top: 100px;">
    <strong>Factuuradres:</strong><br>
    Topgeschenken Nederland BV<br>
    Noorderdreef 60<br>
    2153 LL Nieuw-Vennep<br><br>

    Tel: 088-1108061<br>
    Mail: klantenservice@toptaarten.nl<br>
</p>

<p class="disclaimer">Dit is een automatisch gegenereerd bericht. Antwoorden op dit bericht worden niet gelezen.</p>
</body>
</html>
