<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 13px;
            margin: 1rem;
        }
    </style>
</head>
<body style="margin: 1rem">
<p>Beste Bakker,</p>
<p>Er staat een nieuwe order voor u klaar.</p>
<p>Ga naar <a href="http://bakker.toptaarten.nl" target="_blank">bakker.toptaarten.nl</a> om deze te verwerken.</p>
<p>Met vriendelijke groet,<br />Toptaarten.nl</p>

<p style="color: #CCCCCC; font-style: italic;">Dit is een automatisch gegenereerd bericht. Antwoorden op dit bericht
    worden niet gelezen.</p>
</body>
</html>
