{% spaceless %}
{% set language = app.getRequest().getLocale()|slice(0, 2) %}
{% set site = site_service.determineSite() %}
{% set theme = site_service.determineSiteTheme() %}

{% if domain.getDomain() is defined and domain.getDomain() is not null %}
    {% set site_description = domain.getDomain().getSite().translate().getDescription()|capitalize %}
{% else %}
    {% set site_description = '' %}
{% endif %}{% import 'AppBundle:macros:head_elements.html.twig' as head_elements %}

{% if app.session.has('employee_login_as_customer') and app.session.get('employee_login_as_customer') is same as(true) %}
    {% set employeeLogin = true %}
{% endif %}
{% endspaceless %}
<!DOCTYPE html>
<html lang="{{ language }}" class="{{ domain.getDomain() is defined and domain.getDomain() is not null  ? domain.getDomain.getSite().getTheme() : 'admin' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if page_title is defined %}{{ page_title }} | {% endif %}{{ site_description }}</title>
    {% block meta_description %}{% endblock %}
    {% block meta_robots %}{% endblock %}

    {{ head_elements.meta_author(site_description) }}

    {% if canonical is defined %}
        <link rel="canonical" href="{{ canonical }}" />{% endif %}

    {% if amphtml is defined %}
        <link rel="amphtml" href="{{ amphtml }}" />{% endif %}

    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//robincontentdesktop.blob.core.windows.net">
    <link rel="dns-prefetch" href="//contact.robinhq.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//robin-widget.com">
    <link rel="dns-prefetch" href="//surfly.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">

    <script src="{{ asset('build/css-vars.js') }}"></script>

    {{ ga_datalayer() }}

    {% include('AppBundle:base:google_tag_manager.html.twig') %}

    {% include('AppBundle:base:favicon.html.twig') %}

    {% if domain.getDomain() is defined and domain.getDomain() is not null %}
        {% for customHtml in domain.getDomain().getSite().getSiteCustomHtml(constant('AppBundle\\Entity\\Site\\SiteCustomHtml::LOCATION_HEAD'), constant('AppBundle\\Entity\\Site\\SiteCustomHtml::MANIPULATION_PREPEND')) %}
            {{ customHtml.getContent()|raw }}
        {% endfor %}
    {% endif %}

    {% block stylesheets %}
        {% if employeeLogin is defined and employeeLogin is same as(true) %}
            <link rel="stylesheet" href="{{ asset('build/employee-bar.css') }}">
        {% endif %}

    <link rel="stylesheet" href="{{ asset('build/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('build/cookie-consent.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

    {% if domain.getDomain() is defined and domain.getDomain() is not null %}
        {% for customHtml in domain.getDomain().getSite().getSiteCustomHtml(constant('AppBundle\\Entity\\Site\\SiteCustomHtml::LOCATION_HEAD'), constant('AppBundle\\Entity\\Site\\SiteCustomHtml::MANIPULATION_APPEND')) %}
            {{ customHtml.getContent()|raw }}
        {% endfor %}
    {% endif %}

    {% include '@App/blocks/theme-colors.html.twig' %}

    <meta name="msapplication-config" content="none">
</head>

{% import 'AppBundle:macros:input_elements.html.twig' as input_element %}
{% import 'AppBundle:macros:assortment_elements.html.twig' as assortment_elements %}

<body{% if page_class is defined %} class="{{ page_class }}"{% endif %}>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND7VVW" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% if domain.getDomain() is defined and domain.getDomain() is not null %}
    {% for customHtml in domain.getDomain().getSite().getSiteCustomHtml(constant('AppBundle\\Entity\\Site\\SiteCustomHtml::LOCATION_BODY'), constant('AppBundle\\Entity\\Site\\SiteCustomHtml::MANIPULATION_PREPEND')) %}
        {{ customHtml.getContent()|raw }}
    {% endfor %}
{% endif %}

{% if form is defined %}
    {% form_theme form 'AppBundle:base:form-fields.html.twig' %}
{% endif %}

{% block html_body %}
    {% block header %}
        {% if site_layout is not defined or site_layout == 'base' %}
            {% include('AppBundle:base/header:default.html.twig') %}
        {% elseif site_layout == 'shop' %}
            {% include('AppBundle:base/header:shop.html.twig') %}
        {% endif %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% if site_layout is not defined or site_layout == 'base' %}
            {% include('AppBundle:base/footer:default.html.twig') %}
        {% elseif site_layout == 'shop' %}
            {% include('AppBundle:base/footer:shop.html.twig') %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="/public/translations.messages.{{ app.request.locale }}.js"></script>
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/common.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>

    {% if employeeLogin is defined and employeeLogin is same as(true) %}
    <script src="{{ asset('build/employee-bar.js') }}"></script>
    {% endif %}

    <script>{{ ga_events() }}</script>

{% endblock %}

{% include '@App/blocks/CookieConsent.html.twig' %}

{% if domain.getDomain() is defined and domain.getDomain() is not null %}
    {% for customHtml in domain.getDomain().getSite().getSiteCustomHtml(constant('AppBundle\\Entity\\Site\\SiteCustomHtml::LOCATION_BODY'), constant('AppBundle\\Entity\\Site\\SiteCustomHtml::MANIPULATION_APPEND')) %}
        {{ customHtml.getContent()|raw }}
    {% endfor %}
{% endif %}

<div id="return_to_top">
    <span class="fa fa-chevron-up"></span>
</div>

{% if employeeLogin is defined and employeeLogin is same as(true) %}
    {% include '@App/blocks/employee-toolbar.html.twig' %}
{% endif %}
</body>
</html>
