{% extends 'AppBundle::supplier-order.html.twig' %}

{% block mail %}

    {% block salutation %}
        {{ parent() }}
    {% endblock salutation %}

    {% block address %}
        {{ parent() }}
    {% endblock address %}

    {% block reference %}
        {{ parent() }}
    {% endblock reference %}

    {% block orders %}
        {{ parent() }}
    {% endblock orders %}

    {% block attachments %}
        {{ parent() }}
    {% endblock attachments %}

    {% block remark %}
        {{ parent() }}
    {% endblock remark %}

    {% block delivery_date %}
        {{ parent() }}
    {% endblock delivery_date %}

    {% block order_status %}
        {{ parent() }}
    {% endblock order_status %}

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

{% endblock %}