{% extends '@Admin/Base/assets_body.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {# Enable when inside base template (src/AdminBundle/Resources/views/Base/assets_head.html.twig) ... #}
    {# line with 'bundles/admin/js/*' is removed. #}

    {#{% javascripts#}
        {#'@AdminBundle/Resources/public/js/stock-manager.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{% endblock %}