{% set active = false %}

<div class="delivery-dates">
    <div class="tabs">
        <nav>
            <ul>
                {% for date in deliveryDates|slice(0, 4) %}
                    {% if deliveryDate is not empty and (date|date('Y-m-d') == deliveryDate|date('Y-m-d') ) %}
                        {% set active = true %}
                    {% endif %}

                    <li class="{% if loop.last %}delivery-date-other{% endif %}{% if active or (not active and deliveryDate is not empty and deliveryDate in deliveryDatesArray|keys and loop.last) %} active{% endif %}">
                        <label for="radio-{{ loop.index }}">
                            <input type="radio"
                                   value="{% if not loop.last %}{{ date|date('Y-m-d') }}{% else %}other{% endif %}"
                                   id="radio-{{ loop.index }}"
                                   name="deliveryDateReadable"{% if deliveryDate is not empty and (date|date('Y-m-d') == deliveryDate|date('Y-m-d') ) %} checked="checked"{% endif %}>
                            <span class="title">
                            {% if not loop.last %}
                                {% if date|date('Y-m-d') in deliveryDatesDescription|keys %}
                                    {{ deliveryDatesDescription[date|date('Y-m-d')]|trans }}
                                {% else %}
                                    {{ date|localizeddate('full', 'none', null, null, 'EEEE')|capitalize }}
                                {% endif %}
                            {% else %}
                                <span data-normal-text="{{ 'checkout.delivery.choose'|trans }}" data-alt-text="{{ 'checkout.delivery.chosen'|trans }}">{{ 'checkout.delivery.choose'|trans }}</span>
                            {% endif %}
                            </span>
                            <span class="price">
                                {% if not loop.last %}{{ date.displayPrice(cartOrder) | number_format }}{% endif %}
                            </span>
                            <span class="description">
                                {% if not loop.last %}
                                    {% if date|date('Y-m-d') in deliveryDatesDescription|keys %}
                                        {{ date|localizeddate('full', 'none', null, null, 'EEEE d MMMM')|capitalize }}
                                    {% else %}
                                        {{ date|localizeddate('full', 'none', null, null, 'd MMMM')|capitalize }}
                                    {% endif %}
                                {% else %}
                                    <span data-normal-text="{{ 'checkout.delivery.choose_other_delivery_date'|trans }}" data-alt-text="">{{ 'checkout.delivery.choose_other_delivery_date'|trans }}</span>
                                {% endif %}
                            </span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="tab-content">
            <div class="datepicker"></div>
            <div class="information">
                <h3>{{ "label.chosen.delivery_date"|trans }}</h3>
                <div class="chosen-date"></div>
                <div class="btn-change-date">{{ 'checkout.delivery.change_date'|trans }}</div>
                <div class="delivery-product-description">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var deliveryDatesJson = {{ deliveryDatesArray|json_encode|raw }};
    </script>
</div>

