{% import _self as list %}

{% set personalizationList = list.personalization_list(orderLine)|trim %}

<div class="column column-personalization {% if personalizationList is empty %}column-no-personalization{% endif %}" data-personalization-url="{{ path('app_checkout_listpersonalization', {
    uuid: orderLine.uuid
}) }}">
    <div class="column-wrapper">
        <div class="product-lines personalization-list">
            {% if personalizationList is not empty %}
                {{ personalizationList|raw }}
            {% else %}
                <div class="product-line product-line-card product-line-placeholder">
                    <div class="text">
                        {{ "label.personalization_not_available"|trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% macro personalization_list(orderLine) %}
    {% if orderLine.hasProductCard() %}
        {% include '@App/Checkout/components/delivery/product-line.html.twig' with {
            line: orderLine.getProductCard()
        } %}
    {% elseif not orderLine.hasProductCard() and (orderLine.product.productCardAvailable or (orderLine.product.parent is not null and orderLine.product.parent.productCardAvailable)) %}
        <div class="product-line product-line-card product-line-placeholder">
            <div class="text">
                {{ 'checkout.delivery.no_card_cta_text.html'|trans }}<br />
                <a href="#" data-action="card-add"
                   data-url="{{ path('app_cart_addcard', {cartOrder: orderLine.cartOrder.uuid, cartOrderLine: orderLine.uuid}) }}">{{ 'checkout.delivery.no_card_cta_button.text'|trans }}</a>
            </div>
        </div>
    {% endif %}

    {% if orderLine.hasProductPersonalization() %}
        {% include '@App/Checkout/components/delivery/product-line.html.twig' with {
            line: orderLine.getPersonalizationLine()
        } %}
    {% elseif not orderLine.hasProductPersonalization() and orderLine.product.isProductPersonalizationAvailable() %}
        {% if orderLine.product.hasPersonalization() %}
            {% set personalization = orderLine.product.personalizations.current() %}
        {% else %}
            {% set personalization = orderLine.product.findProductProperty('personalization').getProductVariation() %}
        {% endif %}

        <div class="product-line product-line-card product-line-placeholder">
            <div class="text">
                {{ 'checkout.delivery.no_personalization_cta_text.html'|trans|format({
                    '%product%': orderLine.product.getDisplayName(),
                    '%price%': get_price(personalization)
                }) }}<br />
                <a href="{{ path('app_checkout_addpersonalization', {cartOrder: orderLine.cartOrder.uuid, cartOrderLine: orderLine.uuid}) }}"
                   data-action="personalization-add">{{ 'checkout.delivery.no_personalization_cta_button.text'|trans }}</a>
            </div>
        </div>
    {% endif %}

    {% if orderLine.hasProductLetter() %}
        {% include '@App/Checkout/components/delivery/product-line.html.twig' with {
            line: orderLine.getProductLetterLine()
        } %}
    {% else %}
        {% if orderLine.isLetterAvailable %}
            <div class="product-line product-line-card product-line-placeholder">
                <div class="text">
                    {{ 'checkout.delivery.no_letter_cta_text.html'|trans }}<br />
                    <a href="#" data-url="{{ path('app_letter_add', {cartOrderLine: orderLine.uuid}) }}"
                       data-action="letter-edit">{{ 'checkout.delivery.no_letter_cta_button.text'|trans }}</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endmacro personalization_list %}
