{% extends 'AppBundle::base_shop.html.twig' %}

{% set page_class = 'page-personalization' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/designer.css') }}" />

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/designer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/designer.extensions.front.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-shoppingcart">
        <div class="container">
            <div class="row">
                <h1 class="product-title">{{ 'personalization.design.placeholder'|trans|format(product.getDisplayName()[:1]|lower ~ product.getDisplayName()[1:]) }}</h1>
                <div id="product-designer" class="product-designer"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var designer_data = {{ designer.getConfig()|json_encode()|raw }};
    </script>
{% endblock %}
