{% extends 'AppBundle::base_shop.html.twig' %}

{% if page.translate().getMetaTitle() %}
    {% set page_title = page.translate().getMetaTitle() %}
{% else %}
    {% set page_title = page.translate().getTitle() %}
{% endif %}

{% block meta_description %}
    {{ head_elements.meta_description(page.translate().getMetaDescription()) }}
{% endblock %}

{% block meta_robots %}
    {{ head_elements.meta_robots(page.translate().getMetaRobotsIndex(), page.translate().getMetaRobotsFollow()) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/page.css') }}" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/checkout-success.js') }}"></script>
{% endblock %}

{% block body %}
    {% if page and page.getBanner() %}
        {% include 'AppBundle:blocks:header-image.html.twig' with {'banner': page.getBanner()} %}
    {% endif %}

    <div id="page"
         class="container-fluid page-wrapper{% if employeeLogin is defined and employeeLogin is same as(true) %} show-employee-modal{% endif %}"
         style="margin: 5rem 0;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="pagina-title">{{ page.translate().getTitle() }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {% if page.getRenderedContent() %}
                        {{ page.getRenderedContent()|raw }}
                    {% else %}
                        {{ page.translate.getContent()|raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var orderCollectionNumber = '{{ orderCollection.getNumber }}';
    </script>
{% endblock body %}
