.col-product-item {
    padding-left: 0px;
    padding-right: 10px;
    width: 16.666%;
    float: left;
    position: relative;
    min-height: 1px;
    color: #000;
}

.product-item {
    text-align: center;

    border: 1px solid #e8e8e9;
    padding-bottom: 10px;
    opacity: 1;

    margin-bottom: 10px;
    position: relative;
}

.selectable:hover {
    cursor: pointer;
}

.product-item.selectable:hover::before {
    position: absolute;
    display: block;
    content: "";
    width: calc(100% + 2px);
    height: 5px;
    bottom: -1px;
    left: -1px;
    background: #009688;
}

.ghost {
    opacity: 0.2;
}

.product-item .product-item-image {
    width: 100%;
    height: auto;
    position: relative;
}

.product-item .product-item-image::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    display: block;
}

.product-item .product-item-image > img,
.product-item .product-item-image > .product-item-image-placeholder {
    position: absolute;
    top: 0;
    left: 0;
}

.product-item .product-item-image img {
    max-width: 100%;
}

.product-item .product-item-image .product-item-image-placeholder {
    width: 100%;
    padding: 25px 0 0 0;
    margin: 0 auto;
    opacity: 0.4;
    text-transform: uppercase;
}

.product-item .product-item-description {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;

    margin: 5px 12px 0 12px;
}

.product-item .product-item-price {
    display: block;
    margin-top: 2px;
}

.product-delete {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FF0000;
    cursor: pointer;
    z-index: 1;
}

.product .product-item {
    margin-top: 15px;
}

.variation, .variation-holder {
    width: 33%;
    display: inline-block;
    margin: 10px;
    border: 1px solid #e8e8e9;
    padding: 5px;
    cursor: pointer;
}

.variation-price {
    font-weight: bold;
}

.combination-header {
    margin: 0px;
}

.product-item .tile.design {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 30%;
    padding-top: 30%;
    margin: 0;
    z-index: 200;
    background: #e8e8e9;
}
.product-item .tile.design img {
    width: 100%;
}
