{% extends 'AppBundle::base_site.html.twig' %}

{% set primaryColor = '#919b16' %}

{% set site_layout = 'base' %}
{% set site_slogan = 'header.slogan.topfruit'|trans %}
{% set site_slogan_delivery = 'header.delivery_slogan.topfruit'|trans %}
{% set site_logo = 'build/images/topfruit-kleur.png' %}
