{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account.css') }}" />
{% endblock %}

{% set page_title = "account.newsletter.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}
    <h1>{{ page_title }}</h1>

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
