<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Voorraadbeheer log: <strong>{{ product.translate.title }}</strong>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Voorraad</th>
                    <th>Order / gebruiker</th>
                    <th>Datum</th>
                </tr>
            </thead>
            <tbody>
                {% for logLine in logLines %}
                <tr>
                    <td>{{ logLine.amount }}</td>
                    {% if logLine.order is not null %}
                        <td>{{ logLine.order.getOrderCollection.getNumber }}-{{ logLine.order.getNumber }}</td>
                    {% elseif logLine.user is not null  %}
                        <td>{{ logLine.user.getDisplayName }}</td>
                    {% else %}
                        <td>Systeem</td>
                    {% endif %}
                    <td>{{ logLine.getCreatedAt|date("d-m-Y H:m:s") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>