{{ form_errors(form) }}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Voorraad: <strong>{{ product.translate.title }}</strong>
        </div>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>