<div class="row" id="supplier-panel" data-product-id="{{ product.getId }}">
    <div class="col-md-6">
        <div class="panel panel-default" data-override-propagation="true">
            <div class="panel-heading">
                <div class="panel-title">
                    Leveranciers
                </div>
            </div>
            <div class="panel-body supplierProductPanel">
                {{ supplierProductDatatable | raw }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default" data-override-propagation="true">
            <div class="panel-heading">
                <div class="panel-title">
                    Leveranciersgroepen
                </div>
            </div>
            <div class="panel-body supplierGroupProductPanel">
                {{ supplierGroupProductDatatable | raw }}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/admin/js/supplier.js') }}"></script>