{% set roleOwner = group is defined ? group : user %}
<div class="panel panel-default" id="specialRoles">
    <div class="panel-heading">
        <div class="panel-title">
            Speciale rollen voor: {{ roleOwner.getDisplayName }}
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Kolommen
                        </div>
                        <div class="heading-elements">
                            <button class="btn btn-default" data-action="add-role-field"
                                    data-add-column-path="{{ path('admin_role_rolecategory_persistcolumn', {category: category.getId}) }}">
                                <i class="mdi mdi-plus"></i> Kolom toevoegen
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if category.getColumns.isEmpty %}
                            Er zijn momenteel geen aangepaste kolommen voor deze categorie aanwezig
                        {% else %}
                            <table class="table columnRoleTable">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td>Lezen</td>
                                    <td>Schrijven</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for column in category.getColumns %}
                                    <tr>
                                        <td>
                                            {{ column.getName }}
                                        </td>
                                        <td class="row-checkbox">
                                            {% set readRole = column.getReadRole %}
                                            {% if readRole %}
                                                <label class="checker bg-white" id="uniform-select_all">
                                                    <span class="{{ roleOwner.hasRole(readRole, false) ? 'checked' : '' }}">
                                                        <input type="checkbox" data-role-id="{{ readRole.getId }}"
                                                               class="form-styled" {{ roleOwner.hasRole(readRole, false) ? 'checked' : '' }}/>
                                                    </span>
                                                </label>
                                            {% else %}
                                                <label class="checker bg-white disabled" id="uniform-select_all">
                                                    <span class="disabled checked">
                                                        <input type="checkbox" class="form-styled" disabled
                                                               checked />
                                                    </span>
                                                </label>
                                            {% endif %}
                                        </td>
                                        <td class="row-checkbox">
                                            {% set writeRole = column.getWriteRole %}
                                            {% if writeRole %}
                                                <label class="checker bg-white" id="uniform-select_all">
                                                    <span class="{{ roleOwner.hasRole(writeRole, false) ? 'checked' : '' }}">
                                                    <input type="checkbox" data-role-id="{{ writeRole.getId }}"
                                                           class="form-styled" {{ roleOwner.hasRole(writeRole, false) ? 'checked' : '' }}/>
                                                </span>
                                                </label>
                                            {% else %}
                                                <label class="checker bg-white disabled" id="uniform-select_all">
                                                    <span class="disabled checked">
                                                    <input type="checkbox" class="form-styled" disabled checked />
                                                </span>
                                                </label>
                                            {% endif %}

                                        </td>
                                        <td>
                                            <button class="btn btn-default"
                                                    data-url="{{ path('admin_role_rolecolumn_deletecolumn', {column: column.getId}) }}"
                                                    data-action="delete-column">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Speciale rollen
                        </div>
                        <div class="heading-elements">
                            <button class="btn btn-default" data-action="add-role"
                                    data-add-role-url="{{ path('admin_role_rolecategory_addrole', {id : category.getId}) }}">
                                <i class="mdi mdi-plus"></i> Rol toevoegen
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table specialRoleTable">
                            <thead>
                            <tr>
                                <td>Rol</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for role in category.getSpecialRoles %}
                                <tr>
                                    <td>
                                        {{ role.getDisplayName }}
                                    </td>
                                    <td class="row-checkbox">
                                        <label class="checker bg-white" id="uniform-select_all">
                                            <span class="{{ roleOwner.hasRole(role, false) ? 'checked' : '' }}">
                                                <input type="checkbox" data-role-id="{{ role.getId }}"
                                                       class="form-styled" {{ roleOwner.hasRole(role, false) ? 'checked' : '' }}/>
                                            </span>
                                        </label>
                                    </td>
                                    <td>
                                        <button class="btn btn-default"
                                                data-url="{{ path('admin_role_rolecategory_deleterole', {role: role.getId}) }}"
                                                data-action="delete-role">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
