{% extends '@Admin/Rule/createRule.html.twig' %}

{% block javascripts %}
    {% if no_entities is not defined %}
        <script type="text/javascript">
            var ruleBuilder = new RuleBuilder('#rule_builder', {
                autocompleteUrl: '{{ path('rule_rule_filterautocomplete') }}',
                autocompleteLookupUrl: '{{ path('rule_rule_filterautocomplete', {
                    'lookup': '%%IDENTIFIER%%'
                }) }}',
                filtersUrl: '{{ path('rule_rule_getfilters', {
                    'start': '%%IDENTIFIER%%'
                }) }}',
                createUrl: '{{ path('admin_fraud_fraud_createpersist') }}'
            });

            ruleBuilder.setFilters({{ filters|json_encode|raw }});

            ruleBuilder.create();
        </script>
    {% endif %}
{% endblock %}
