{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Twee staps authenticatie' %}

{% set sidebar_menu = 'AdminBundle:Account:menu' %}

{% block body %}
    <!-- Account settings -->
    <div class="panel panel-flat">
        <div class="panel-body">
            {% if google_authenticator_secret is defined %}
                <p>Scan met de Google Authenticator-app onderstaande code.</p>

                <img src="{{ google_authenticator_secret }}" />
            {% endif %}
        </div>
    </div>
    <!-- /account settings -->
{% endblock body %}
