{% extends '@App/Company/base.html.twig' %}

{% block body %}
    <div id="company_custom_authentication" class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="company_custom_authentication_wrapper">
                    {% set company_logo = company.getSite.getCustomStyle.getLogo %}

                    {% if company_logo is not empty %}
                        <div class="logo">
                            <img src="{{ company_logo | imagine_filter('company_logo') }}"
                                 title="{{ company.name }}">
                        </div>
                    {% endif %}

                    {{ form_start(form) }}

                    {{ form_row(form.gender) }}

                    <div class="row">
                        {% set counter = 1 %}

                        {% for child in form %}
                        {% if child.vars.name not in ['gender', 'submit'] %}
                        <div class="col-md-6">
                            {{ form_row(child) }}
                        </div>

                        {% if counter % 2 == 0 %}
                    </div>
                    <div class="row">
                        {% endif %}

                        {% set counter = counter + 1 %}
                        {% endif %}
                        {% endfor %}
                    </div>

                    {{ form_rest(form) }}

                    {{ form_end(form) }}

                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company_custom_authentication_wrapper">

                    <div class="logo">
                        <img src="{{ asset('bundles/app/img/logos/topgeschenken-groot.jpg') }}"
                             title="Topgeschenken.nl">
                    </div>

                    <div class="text">
                        {{ company.site.registrationText|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
