{% extends 'AppBundle::base.html.twig' %}

{% set page_title = "company.register.page_title"|trans %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/customer-register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-register.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-fluid page-wrapper"
         id="content-account-company-register"{% if flow.getCurrentStepNumber() == 2 and registrationFromCheckout is same as(true) %} data-auto-submit="true"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    {% if registrationFromCheckout is same as (true) %}
                        {% if flow.getCurrentStepNumber() < 4 %}
                            {{ 'company.register_from_checkout.information'|trans }}
                        {% else %}
                            {{ 'company.register_from_checkout.confirm_information'|trans }}
                        {% endif %}
                    {% endif %}

                    <div class="form-flow-steps">
                        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">

                    {{ form_start(form) }}

                    {% if flow.getCurrentStepNumber() == 1 %}
                        {% set button_label_next_step = "company.button.step.organization_identifier"|trans %}
                    {% elseif flow.getCurrentStepNumber() == 2 %}
                        {% set button_label_next_step = "company.button.step.your_information"|trans %}
                    {% elseif flow.getCurrentStepNumber() == 3 %}
                        {% set button_label_next_step = "company.button.step.confirmation"|trans %}
                    {% elseif flow.getCurrentStepNumber() == 4 %}
                        {% set button_label_next_step = "klaar" %}
                    {% endif %}

                    <div class="step-heading">
                        <h2>Stap {{ flow.getCurrentStepNumber() }}: {{ flow.getCurrentStepLabel()|trans }}</h2>
                    </div>

                    {% if flow.getCurrentStepNumber() == 2 %}
                        {% if form.chamberOfCommerceNumber is defined %}
                            <div id="block-loading-message">
                                <span class="fa fa-circle-o-notch fa-spin"
                                      style="animation: fa-spin 1s infinite linear"></span><br />
                                {{ 'company.register.chamber_of_commerce_loading_description'|trans|nl2br }}
                            </div>

                            {% set chamber_of_commerce_not_unique = false %}

                            {% if form.chamberOfCommerceNumber.vars.errors|length > 0 %}
                                {% for error in form.chamberOfCommerceNumber.vars.errors %}
                                    {% if error.cause.constraint.service is defined and error.cause.constraint.service is same as ('doctrine.orm.validator.unique') %}
                                        {% set chamber_of_commerce_not_unique = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if chamber_of_commerce_not_unique is same as (true ) %}
                                <div class="chamber-of-commerce-not-unique">
                                    <p>{{ 'company.chamber_of_commerce_not_unique.description'|trans }}</p>

                                    <ul>
                                        <li>
                                            <a href="{{ path('app_customer_register_index', {'chamberOfCommerce': form.chamberOfCommerceNumber.vars.data}) }}">{{ 'company.chamber_of_commerce_not_unique.order_as_customer'|trans }}</a>
                                        </li>
                                        <li>
                                            {{ 'company.chamber_of_commerce_not_unique.contact_manager'|trans }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% elseif form.vatNumber is defined %}
                            <div id="block-loading-message">
                                <span class="fa fa-circle-o-notch fa-spin"
                                      style="animation: fa-spin 1s infinite linear"></span><br />
                                {{ 'company.register.vat_number_loading_description'|trans|nl2br }}
                            </div>

                            {% set vat_number_not_unique = false %}

                            {% if form.vatNumber.vars.errors|length > 0 %}
                                {% for error in form.vatNumber.vars.errors %}
                                    {% if error.cause.constraint.service is defined and error.cause.constraint.service is same as ('doctrine.orm.validator.unique') %}
                                        {% set vat_number_not_unique = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if vat_number_not_unique is same as (true ) %}
                                <div class="vat-number-not-unique">
                                    <p>{{ 'company.vat_number_not_unique.description'|trans }}</p>

                                    <ul>
                                        <li>
                                            <a href="{{ path('app_customer_register_index', {'vatNumber': form.vatNumber.vars.data, 'country': 'BE'}) }}">{{ 'company.vat_number_not_unique.order_as_customer'|trans }}</a>
                                        </li>
                                        <li>
                                            {{ 'company.vat_number_not_unique.contact_manager'|trans }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 3 %}
                        {{ form_row(form.name) }}

                        {% if form.vatNumber is defined %}
                            {{ form_row(form.vatNumber) }}
                        {% endif %}

                        <div class="address-wrapper row">
                            <div class="business-address col-xs-12 col-md-6">
                                <strong>{{ 'company.business_address'|trans }}</strong><br />
                                {{ form.addresses[0].street.vars.value }} {{ form.addresses[0].number.vars.value }}
                                <br />
                                {{ form.addresses[0].postcode.vars.value }} {{ form.addresses[0].city.vars.value }}
                                <br />
                                {{ form.addresses[0].country.vars.value|country }}
                            </div>

                            <div class="invoice-address col-xs-12 col-md-6">
                                <strong>{{ 'company.invoice_address'|trans }}</strong><br />
                                <span class="invoice-address-street">{{ form.addresses[1].street.vars.value }}</span> <span class="invoice-address-number">{{ form.addresses[1].number.vars.value }}</span> <span class="invoice-address-numberAddition">{{ form.addresses[1].numberAddition.vars.value }}</span>
                                <br />
                                <span class="invoice-address-postcode">{{ form.addresses[1].postcode.vars.value }}</span> <span class="invoice-address-city">{{ form.addresses[1].city.vars.value }}</span>
                                <br />
                                <span class="invoice-address-country">{{ form.addresses[1].country.vars.value|country }}</span><br />

                                <span class="fa fa-pencil"> </span>
                                <a href="#" id="invoice_address_edit">
                                    {{ 'label.edit'|trans }}
                                </a>
                            </div>
                        </div>

                        <div class="row row-address">
                            {{ form_row(form.addresses[0]) }}
                        </div>

                        {#<h3>{{ "company.invoice_address"|trans  }}</h3>#}

                        <div class="address-container invoice-address-container">
                            {{ form_row(form.country_choice) }}

                            {% if form.postcode_and_city is defined %}
                                <div class="row row-postcode-and-city">
                                    <div class="col-xs-12">
                                        {{ form_row(form.postcode_and_city) }}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row row-invoice-postcode-and-number">
                                <div class="postcode col-md-4">
                                    {{ form_row(form.addresses[1].postcode, {'attr': {'data-invoice-input': 'postcode'}}) }}
                                </div>
                                <div class="number padding-left-0 col-md-4">
                                    {{ form_row(form.addresses[1].number, {'attr': {'data-invoice-input': 'number'}}) }}
                                </div>
                                <div class="number-addition padding-left-0 col-md-4">
                                    {{ form_row(form.addresses[1].numberAddition, {'attr': {'data-invoice-input': 'numberAddition'}}) }}
                                </div>
                            </div>

                            <div class="row row-invoice-street">
                                <div class="col-md-6 street">
                                    {{ form_row(form.addresses[1].street, {'attr': {'data-invoice-input': 'street'}}) }}
                                </div>
                                <div class="col-md-6 city">
                                    {{ form_row(form.addresses[1].city, {'attr': {'data-invoice-input': 'city'}}) }}
                                </div>
                            </div>

                            {#<div class="row row-invoice-city">#}
                            {#</div>#}

                            <div class="row row-invoice-country country">
                                <div class="col-md-12">
                                    {{ form_row(form.addresses[1].country, {'attr': {'data-invoice-input': 'country'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row row-invoice-address-attn">
                            <div class="col-xs-12">
                                {{ form_row(form.addresses[1].attn) }}
                                {{ form_row(form.addresses[1].email) }}
                            </div>
                        </div>

                        <h3>{{ "company.user_information"|trans }}</h3>

                        <div class="row row-gender">
                            <div class="col-xs-12">
                                {{ form_row(form.customers[0].gender) }}
                            </div>
                        </div>

                        <div class="row row-name">
                            <div class="firstname col-md-6">
                                {{ form_row(form.customers[0].firstname) }}
                            </div>
                            <div class="lastname padding-left-0 col-md-6">
                                {{ form_row(form.customers[0].lastname) }}
                            </div>
                        </div>

                        {{ form_row(form.customers[0].username) }}
                        {{ form_row(form.customers[0].plain_password) }}
                        {{ form_row(form.customers[0].phonenumber) }}
                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 4 %}
                        <p>{{ 'company.confirmation.text'|trans }}</p>

                        <div class="row">
                            <div class="col-md-12 company-information">
                                <div class="step-confirmation-heading">{{ 'company.company_information'|trans }}</div>
                                {{ entity.getName() }}<br />

                                {% if entity.getChamberOfCommerceNumber() %}
                                    {{ entity.getChamberOfCommerceNumber() }}<br />
                                {% endif %}

                                {% if entity.getVatNumber() %}
                                    {{ entity.getVatNumber()|default('not_filled_in'|trans) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 business-address">
                                <div class="step-confirmation-heading">{{ 'company.business_address'|trans }}</div>

                                {% set address = entity.getAddresses()|first %}

                                {{ address.getStreet() }} {{ address.getNumber() }} {{ address.getNumberAddition() }}
                                <br />
                                {{ address.getPostcode() }} {{ address.getCity() }}<br />
                                {{ address.getCountry().getCode()|country }}

                                {% set customer = entity.getCustomers()|first %}

                                {{ customer.doFullname() }}
                                {{ customer.doUsernameToEmail() }}

                                <div class="step-confirmation-heading">{{ 'company.contact_person'|trans }}</div>
                                {{ customer.getFullname() }} <br />
                                {{ customer.getEmail() }}<br />
                                {{ customer.getPhonenumber() }}

                            </div>

                            <div class="col-md-6 invoice-address">
                                <div class="step-confirmation-heading">{{ 'company.invoice_address'|trans }}</div>

                                {% set invoice_address = entity.getAddresses()|last %}

                                {{ invoice_address.getStreet() }} {{ invoice_address.getNumber() }} {{ invoice_address.getNumberAddition() }}
                                <br />
                                {{ invoice_address.getPostcode() }} {{ invoice_address.getCity() }}<br />
                                {{ invoice_address.getCountry().getCode()|country }}

                                {% set invoice_customer = entity.getCustomers()|last %}

                                {{ invoice_customer.doFullname() }}
                                {{ invoice_customer.doUsernameToEmail() }}

                                <div class="step-confirmation-heading">{{ 'company.contact_person'|trans }}</div>

                                {{ invoice_customer.getFullname() }}<br />
                                {{ invoice_customer.getEmail() }}
                            </div>
                        </div>

                        <div class="address-container">
                            <input type="hidden" name="company[country_choice]"
                                   value="{{ address.getCountry().getCode() }}" class="country-choice" />
                        </div>
                    {% endif %}

                    {{ form_rest(form) }}

                    {% set button_label_next = 'company.button.step.to_step'|trans ~ ' ' ~ (flow.getCurrentStepNumber()+1) ~ ': ' ~ button_label_next_step %}

                    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' with {
                        craue_formflow_button_label_next: button_label_next,
                        craue_formflow_button_label_finish: 'company.button.confirm'|trans,
                        craue_formflow_button_class_finish: 'btn btn-theme',
                        craue_formflow_button_class_back: 'btn btn-default form-back',
                        craue_formflow_button_class_next: 'btn btn-theme form-next',
                        craue_formflow_button_class_reset: 'form-reset'
                    } %}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
