{% extends 'AppBundle::base.html.twig' %}

{% set page_title = "customer.register.page_title"|trans %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/customer-register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-register.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-account-register">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h2>{{ "customer.register.account_details"|trans }}</h2>

                    {{ form_start(form) }}

                    <div>
                        <h3>{{ "customer.register.personal_information"|trans }}</h3>
                    </div>

                    <div class="row row-gender">
                        <div class="col-xs-12">
                            {{ form_row(form.gender) }}
                        </div>
                    </div>

                    <div class="row row-name">
                        <div class="firstname col-md-6">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="lastname padding-left-0 col-md-6">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>

                    {{ form_row(form.addresses[0].companyName) }}

                    <div class="address-container">
                        {{ form_label(form.country_choice) }}

                        <div class="row row-country">
                            <div class="col-xs-12">
                                <div class="country-choice">
                                    <div class="form-group">
                                        {{ form_widget(form.country_choice) }}
                                    </div>
                                </div>
                                <div class="country">
                                    <div class="form-select-wrapper">
                                        <div class="form-group">
                                            {{ form_widget(form.addresses[0].country_list) }}
                                        </div>
                                    </div>

                                    {{ form_widget(form.addresses[0].country) }}
                                </div>
                            </div>
                        </div>

                        <div class="row row-postcode-and-city">
                            <div class="col-xs-12">
                                {{ form_row(form.postcode_and_city) }}
                            </div>
                        </div>

                        <div class="row row-postcode-and-number">
                            <div class="postcode col-md-6">
                                {{ form_row(form.addresses[0].postcode) }}
                            </div>
                            <div class="number col-xs-3 padding-left-0">
                                {{ form_row(form.addresses[0].number) }}
                            </div>
                            <div class="number-addition col-xs-3 padding-left-0">
                                {{ form_row(form.addresses[0].numberAddition) }}
                            </div>
                        </div>

                        <div class="row row-street-and-city">
                            <div class="street col-md-6">
                                {{ form_row(form.addresses[0].street) }}
                            </div>
                            <div class="city col-md-6 padding-left-0">
                                {{ form_row(form.addresses[0].city) }}
                            </div>
                        </div>
                    </div>

                    {{ form_row(form.phonenumber) }}

                    {{ form_row(form.birthday) }}

                    <div>
                        <h3>{{ "customer.register.login_information"|trans }}</h3>
                    </div>

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
