{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'Bedrijfshomepage' %}

{% block body %}
    {% include('AppBundle:blocks:header-image.html.twig') %}
    {% include('AppBundle:blocks:timer.html.twig') %}
    {% include('AppBundle:blocks:usp-header.html.twig') %}

    <div class="container" id="content-home">
        <div class="row">
            <div class="col-lg-9 col-sm-12" id="categories">
                <div class="row">

                </div>
            </div>
            <div class="col-lg-3 col-sm-12 hidden-md-down" id="text-holder">
                <div class="row">
                    <div class="col-lg-12 col-sm-6">
                        <div class="text-area">
                            {{ 'company.site.home_text' | trans }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <div class="text-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include("AppBundle:blocks:product-slider.html.twig") %}

    {% if site_service.hasKiyohCompany() and site_service.hasKiyohCompany().getTotalScore() %}
        {% include("AppBundle:blocks:reviews.html.twig") %}
    {% endif %}


    {% include("AppBundle:blocks:about.html.twig") %}
    {% include("AppBundle:blocks:usp.html.twig") %}
    {% include("AppBundle:blocks:company-info.html.twig") %}

{% endblock body %}
