<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <a href="/{{ assortment.translate.getSlug }}" class="category-item" id="item-1">
        <div class="border"></div>
        <div class="desc">
            <h2>{{ assortment.getName }}</h2>
            <p>Beschrijving</p>
        </div>
    </a>
</div>