<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    {% set base_icon_path = '/bundles/admin/images/icons' %}

    <link rel="shortcut icon" href="{{ base_icon_path }}/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ base_icon_path }}/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base_icon_path }}/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_icon_path }}/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base_icon_path }}/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_icon_path }}/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_icon_path }}/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base_icon_path }}/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_icon_path }}/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_icon_path }}/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ base_icon_path }}/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ base_icon_path }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ base_icon_path }}/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ base_icon_path }}/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="{{ base_icon_path }}/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="{{ base_icon_path }}/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="{{ base_icon_path }}/widetile.png" />
    <meta name="msapplication-square310x310logo" content="{{ base_icon_path }}/largetile.png" />


    <title>{% if page_title is defined %} {{ page_title }}{% endif %}{% if admin_title is defined %} | {{ admin_title }}{% endif %}</title>
    {% block assets_head %}
        {{ include('AdminBundle:Base:assets_head.html.twig') }}
    {% endblock %}
</head>
<body class="{% if page_class is defined %}{{ page_class }}{% endif %}">

{% block html_body %}
    {% block header %}
        {{ include('AdminBundle:Base:header.html.twig') }}
    {% endblock %}

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            {% if hide_sidebar is not defined and is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ include('@Admin/Base/sidebar.html.twig') }}
            {% endif %}

            <div class="content-wrapper">
                {% if hide_page_header is not defined %}
                    <!-- Page header -->
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4>
                                    <i class="icon-arrow-right5"></i>
                                    {% if page_title is defined %}{{ page_title }}{% endif %}
                                </h4>
                            </div>
                        </div>

                        <div class="breadcrumb-line">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                {{ include('@Admin/Menu/breadcrumb.html.twig', {
                                    items: knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('AdminBundle:Main:menu'))
                                }) }}
                            {% endif %}

                            {{ knp_menu_render('AdminBundle:BreadcrumbElements:menu', {
                                currentClass: 'active',
                                template: 'AdminBundle:Menu:breadcrumb_elements.html.twig'
                            }) }}

                        </div>
                    </div>
                    <!-- /page header -->
                {% endif %}

                <div class="content">
                    {% block body %}{% endblock %}

                    {% if hide_page_footer is not defined %}
                    <div class="footer text-muted text-center">
                        &copy;{{ "now"|date("Y") }}{% if admin_title is defined %} {{ admin_title }}{% endif %}
                        {% if app_version is defined %}- {{ app_version }}{% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block assets_body %}
    {{ include('AdminBundle:Base:assets_body.html.twig') }}
{% endblock %}

</body>
</html>
