{% extends '@Admin/Base/assets_head.html.twig' %}

{% block javascripts %}{% spaceless %}
    {{ parent() }}

    {% javascripts
        '@AdminBundle/Resources/public/js/modals/SelectAlternativeSupplierModal.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endspaceless %}{% endblock %}
