{% block stylesheets %}{% spaceless %}
    {% stylesheets
        'bundles/admin/css/icons/icomoon/styles.css'
        'bundles/admin/css/icons/fontawesome/styles.min.css'
        'bundles/admin/css/icons/materialdesignicons/css/materialdesignicons.min.css'
        'assets/vendor/sweetalert2/dist/sweetalert2.min.css'
        'bundles/admin/css/bootstrap.css'
        'assets/vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css'
        'bundles/admin/css/bootstrap-slider-theme.css'
        'bundles/admin/css/core.css'
        'bundles/admin/css/components.css'
        'bundles/admin/css/colors.css'
        'bundles/admin/css/cms.css'
        'bundles/admin/css/cms/form.css'
        'bundles/admin/css/cms/form/elements.css'
        'bundles/admin/css/cms/form/collection-list.css'
        'bundles/admin/css/cms/view.css'
        'bundles/admin/css/crud.css'
        'bundles/admin/css/datatable.css'
        'bundles/admin/css/ContentWindow.css'
        'bundles/admin/css/UserActivityHistory.css'
        '@RuleBundle/Resources/public/js/QueryBuilder/query-builder.default.min.css'
        'bundles/admin/css/rule-builder.css'
        '@AdminBundle/Resources/public/css/view-pdf.css'
        '@AdminBundle/Resources/public/css/stock-manager.css'
        '@AdminBundle/Resources/public/css/order/*'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endspaceless %}{% endblock %}

{% block javascripts %}{% spaceless %}
    <script type="text/javascript">var CKEDITOR_BASEPATH = '/bundles/admin/ckeditor/';</script>
    {% javascripts
        'bundles/admin/js/plugins/loaders/pace.min.js'
        'bundles/admin/js/core/libraries/jquery.min.js'
        'bundles/admin/js/core/libraries/jquery_ui/full.min.js'
        'bundles/admin/js/core/libraries/bootstrap.min.js'
        'bundles/admin/js/plugins/media/fancybox.min.js'
        'bundles/admin/js/plugins/loaders/blockui.min.js'
        'bundles/admin/js/plugins/ui/nicescroll.min.js'
        'bundles/admin/js/plugins/ui/drilldown.js'
        'bundles/admin/js/plugins/ui/moment/moment.min.js'
        'bundles/admin/js/plugins/notifications/pnotify.min.js'
        'bundles/admin/js/plugins/notifications/bootbox.min.js'
        'assets/vendor/sweetalert2/dist/sweetalert2.min.js'
        'assets/vendor/jquery.scrollTo/jquery.scrollTo.js'
        'bundles/admin/js/plugins/forms/styling/uniform.min.js'
        'bundles/admin/ckeditor/ckeditor.js'
        'bundles/admin/js/plugins/tables/datatables/datatables.min.js'
        'bundles/admin/js/plugins/tables/datatables/extensions/buttons.min.js'
        'bundles/admin/js/plugins/tables/datatables/extensions/fixed_header.min.js'
        'bundles/admin/js/plugins/tables/datatables/extensions/row_reorder.min.js'
        'bundles/admin/js/plugins/tables/rowsorter/RowSorter.js'
        'bundles/admin/js/plugins/forms/selects/select2/select2.min.js'
        'bundles/admin/js/plugins/forms/selects/select2/i18n/nl.js'
        'bundles/admin/js/plugins/forms/selects/bootstrap_select.min.js'
        'bundles/admin/js/plugins/forms/styling/switchery.min.js'
        'bundles/admin/js/plugins/forms/styling/switch.min.js'
        'bundles/admin/js/plugins/forms/inputs/autosize.min.js'
        'bundles/admin/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js'
        'bundles/admin/js/plugins/forms/selects/select2/i18n/nl.js'
        'bundles/admin/js/plugins/forms/selects/bootstrap_multiselect.js'
        'bundles/admin/js/plugins/forms/validation/form-validator/jquery.form-validator.min.js'
        'bundles/admin/js/plugins/forms/validation/form-validator/lang/nl.js'
        'bundles/admin/js/plugins/uploaders/plupload/plupload.full.min.js'
        'bundles/admin/js/plugins/uploaders/plupload/plupload.queue.min.js'
        'bundles/admin/js/plugins/uploaders/plupload/i18n/nl.js'
        'bundles/admin/js/plugins/pickers/pickadate/picker.js'
        'bundles/admin/js/plugins/pickers/pickadate/picker.date.js'
        'bundles/admin/js/plugins/pickers/pickadate/picker.time.js'
        'bundles/admin/js/plugins/pickers/pickadate/translations/nl_NL.js'
        'bundles/admin/js/plugins/pickers/pickadate/legacy.js'
        'bundles/admin/js/plugins/ui/fullcalendar/fullcalendar.min.js'
        'bundles/admin/js/plugins/ui/fullcalendar/lang/nl.js'
        'bundles/admin/js/plugins/ui/ripple.min.js'
        'bundles/admin/js/plugins/ui/fab.min.js'
        'bundles/admin/js/plugins/pickers/daterangepicker.js'
        'bundles/admin/js/plugins/pickers/color/spectrum.js'
        'bundles/admin/js/plugins/pickers/color/i18n/jquery.spectrum-nl.js'
        'bundles/admin/js/cms/form/CollectionList.js'
        'bundles/admin/js/cms/form/elements.js'
        'bundles/admin/js/cms/form/element/media.js'
        'bundles/admin/js/core/app.js'
        'bundles/admin/js/order/*'
        'bundles/admin/js/entities/*'
        'bundles/admin/js/*'
        'assets/vendor/moment/min/moment.min.js'
        '@RuleBundle/Resources/public/js/QueryBuilder/query-builder.standalone.js'
        '@RuleBundle/Resources/public/js/QueryBuilder/query-builder.nl.js'
        'bundles/rule/js/Rule/*'
        '@RuleBundle/Resources/public/js/QueryBuilder/ts-daterange-picker/plugin.js'
        '@RuleBundle/Resources/public/js/QueryBuilder/ts-bootstrap-switch/plugin.js'
        'bundles/rule/js/rule-builder.js'
        'bundles/admin/js/buttonUtils.js'
        'assets/vendor/js-sha1/build/sha1.min.js'
        'assets/vendor/jquery-form/dist/jquery.form.min.js'
        '@AdminBundle/Resources/public/js/view-pdf.js'
        '@AdminBundle/Resources/public/js/data-set/DataSetFilterSettingsModal.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts 'assets/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}
        <script type="text/javascript">$.fn.slider = null;</script>
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endspaceless %}{% endblock %}
