{%- block collection_list_widget -%}
    {% if prototype is defined %}
        {% set prototype_markup = form_row(prototype) %}

        {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
        {% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}

        {% set widget_form_group_attr = widget_form_group_attr|merge({
            'data-prototype': prototype_markup,
            'data-prototype-name': data_prototype_name,
            'data-prototype-label': data_prototype_label
        })|merge(attr) %}
    {% endif %}

    {% set classes = 'collection-list' %}

    {% set widget_form_group_attr = widget_form_group_attr|merge({'id': 'collection_list_' ~ id ~ '_form_group', 'class': classes}) %}

    {% spaceless %}
        {% set button_position = 'right' %}

        <div {% for attrname,attrvalue in widget_form_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ form_errors(form) }}

            {% if form.vars.collection.actions_position is defined and 'before' in form.vars.collection.actions_position  %}
            <div class="actions">
                {{ block('collection_list_add_button') }}
            </div>
            {% endif %}

            <div class="collection-list-items">
                {{- block('form_widget') -}}
            </div>

            {% if form.vars.collection.actions_position is defined and 'after' in form.vars.collection.actions_position  %}
                <div class="actions">
                    {% set button_position = 'left' %}
                    {{ block('collection_list_add_button') }}
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock collection_list_widget -%}

{% block collection_list_item_row %}
    {% import _self as macros %}

    {% set list_headings = [] %}
    {% if form.parent.vars.collection.list_headings is defined %}
        {% set list_headings = form.parent.vars.collection.list_headings %}
    {% endif %}

    {% set list_headings_combined = 0 %}
    {% if form.parent.vars.collection.list_headings_combined is defined %}
        {% set list_headings_combined = form.parent.vars.collection.list_headings_combined %}
    {% endif %}

    {% set entity = form.vars.value %}

    {% set item_id = 0 %}
    {% if entity is not empty %}
        {% set item_id = entity.id %}
    {% endif %}

    <div id="{{ form.vars.id }}_{{ item_id }}" class="collection-list-item list-item" data-label-field-keys="{{ list_headings|join(',') }}" data-label-combined="{{ list_headings_combined }}" data-form-full-name="{{ form.vars.full_name }}">
        <div class="list-heading">
            {% if form.parent.vars.collection.sortable|default(false) is same as(true) %}
                <div class="drag-handle">
                    <i class="mdi mdi-drag-vertical"></i>
                </div>
            {% endif %}
            <div class="labels"></div>
            <div class="actions">
                <ul>
                {{ macros.collection_list_item_action('settings', 'settings') }}
                {% if form.parent.vars.allow_delete|default(false) is same as(true) %}
                    {{ macros.collection_list_item_action('delete', 'delete') }}
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="list-body">
            {{ form_row(form) }}
        </div>
    </div>
{% endblock collection_list_item_row %}

{% block collection_list_add_button %}
    {% if form.vars.allow_add is same as(true) and form.vars.collection.hide_add|default(false) is same as(false) %}
        <button class="btn btn-add btn-small btn-secondary btn-{{ button_position }}" data-action="add">
            {{ admin_icon('plus2') }}
            {% if form.vars.label|default(null) %}{{ form.vars.label }} toevoegen{% else %}Toevoegen{% endif %}
        </button>
    {% endif %}
{% endblock collection_list_add_button %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is defined and help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {% if form.vars.collection is defined %}
        <div class="field-container field-collection-container">
            <div class="field">
                {{- form_label(form) -}}
                {{- form_errors(form) -}}
                {{- form_widget(form, widget_attr) -}}
            </div>
        </div>
    {% else %}
        <div class="field-container">
            {{- form_label(form) -}}
            <div class="field">
                {{- form_errors(form) -}}
                {{- form_widget(form, widget_attr) -}}
            </div>
        </div>
    {% endif %}
{%- endblock form_row -%}

{% block checkbox_radio_row -%}
    {% spaceless %}
        <div class="field-container form-group{% if not valid %} has-error{% endif %}">
            <div class="field field-checkbox">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{%- endblock checkbox_radio_row %}

{%- block form_label -%}
    {% if label is not same as(false) and label is not same as(null) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {{- label -}}
        {%- else -%}
            {{- label|trans({}, translation_domain) -}}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{# MACROS #}
{% macro collection_list_item_action(name, action) %}
    {% import _self as macros %}
    <li class="action action-{{ name|default('settings') }}">
        {{ macros.collection_list_button(name, action) }}
    </li>
{% endmacro collection_list_item_action %}

{% macro collection_list_button(name, action) %}
    <button class="btn btn-default" data-action="{{ action|default('') }}">
        <i class="mdi mdi-{{ name|default('settings') }}"></i>
    </button>
{% endmacro collection_list_button %}