{#</div>#}
{#<!-- /main content -->#}

{#</div>#}
{#<!-- /page content -->#}


<!-- Footer -->
<div class="footer text-muted text-center">
    &copy;{{ "now"|date("Y") }}{% if admin_title is defined %} {{ admin_title }}{% endif %}
    {% if app_version is defined %}- {{ app_version }}{% endif %}
</div>
<!-- /footer -->

{#</div>#}
{#<!-- /page container -->#}
