{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% set column_count = 0 %}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default(''))|trim, 'autocomplete': 'off', 'novalidate': 'novalidate'}) %}

    {{- parent() -}}
{%- endblock form_start %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="alert alert-danger alert-styled-left p-5 pl-10 pr-10">
            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
            </button>
            {% for error in errors %}
                {{ error.getMessage() }} <br />
            {% endfor %}
        </div>
    {%- endif %}
{%- endblock form_errors %}

{# Labels #}
{% block form_label -%}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if 'collection' in form.vars.block_prefixes and widget_add_btn|default(null) and form.vars.allow_add is same as(true) %}

            {% elseif 'collection' not in form.vars.block_prefixes %}
                {% if label is empty %}
                    {%- if label_format is defined and label_format is not empty -%}
                        {% set label = label_format|replace({
                            '%name%': name,
                            '%id%': id,
                        }) %}
                    {%- else -%}
                        {% set label = name|humanize %}
                    {%- endif -%}
                {% endif %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% set label_attr_class = '' %}

                {% set label_attr_class = 'control-label ' ~ label_attr_class ~ block('form_label_class') %}

                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional'))|trim }) %}
                <label{% for attrname,attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label|trans({}, translation_domain) }}
                {{- block('label_asterisk') }}
                {% if help_label is defined %}
                    {{ block('help_label') }}
                {% endif %}
                </label>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{%- endblock form_label %}

{% block label_asterisk %}
    {% if required %}
        &nbsp;<span class="asterisk">*</span>
    {% endif %}
{% endblock label_asterisk %}

{% block form_label_class -%}
    {{ widget_horizontal_label_class }}
{%- endblock form_label_class %}

{# Rows #}

{% block form_row -%}
    {% if form.parent != null and 'collection' in form.parent.vars.block_prefixes %}
        <tr class="collection-item"{% if form.vars.data is not null and attribute(form.vars.data, 'getId') is defined %} data-id="{{ form.vars.data.getId() }}"{% endif %}>
            {% if form.parent.vars.collection.sortable|default(false) is same as(true) %}
                <td class="drag-handle">
                    <div class="handle">{{ admin_icon('three-bars') }}</div>
                </td>
            {% endif %}

            {{ form_widget(form, _context) }}

            {% if form.parent.vars.allow_delete|default(false) is same as(true) %}
                <td class="actions">
                    <ul class="icons-list">
                        <li class="text-danger-600">
                            <a href="#" class="btn-remove">
                                {{ admin_icon('cross3') }}
                            </a>
                        </li>
                    </ul>
                </td>
            {% endif %}
        </tr>
    {% elseif 'tab' in form.vars.block_prefixes %}
        {{ block('form_tab') }}
    {% elseif embed_form|default(null) is same as(true) %}
        {{ form_widget(form, _context) }}
    {% else %}
        {% if form.vars.is_container is defined and form.vars.is_container is same as(true) %}
            {{ block('container_widget') }}
        {% elseif form.vars.is_column is defined and form.vars.is_column is same as(true) %}
            {{ block('column_widget') }}
        {% else %}
            {% if form.parent.parent is not null and 'collection' in form.parent.parent.vars.block_prefixes %}
                {{ form_widget(form, _context) }}
            {% else %}
                {% if 'collection' in form.vars.block_prefixes %}
                    {{ form_widget(form, _context) }}
                {% else %}
                    {{ block('widget_form_group_start') }}

                    <div class="{% if label is not same as(false) %}{{ block('form_group_class') }}{% else %}{{ block('form_group_full_class') }}{% endif %}">
                        {% if widget_prefix is defined and widget_prefix is not empty %}{{ widget_prefix|trans({}, translation_domain)|raw }}{% endif %} {{ form_widget(form, _context) }} {% if widget_suffix is defined and widget_suffix is not empty %}{{ widget_suffix|trans({}, translation_domain)|raw }}{% endif %}

                        {% set type = type|default('text') %}

                        {% if type != 'hidden' %}
                            {{ block('form_message') }}
                        {% endif %}
                    </div>

                    {{ block('widget_form_group_end') }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{%- endblock form_row %}

{% block checkbox_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock checkbox_row %}

{% block radio_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock radio_row %}

{% block checkbox_radio_row -%}
    {% spaceless %}
        <div class="form-group{% if not valid %} has-error{% endif %}">
            <div class="{{ block('form_label_class') }}"></div>
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{%- endblock checkbox_radio_row %}

{% block legend_row -%}
    {{- block('form_legend') -}}
{%- endblock legend_row %}

{% block submit_row -%}
    {% spaceless %}
        <div class="button pull-right">
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock submit_row %}

{% block form_group_class -%}
    {{ widget_form_element_class }}
{%- endblock form_group_class %}

{% block form_group_full_class -%}
    col-sm-12
{%- endblock form_group_full_class %}

{% block form_rows_visible %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="symfony-form-errors">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {% for child in form %}
            {% if 'hidden' not in child.vars.block_prefixes and 'button' not in child.vars.block_prefixes %}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}

    {% endspaceless %}
{% endblock form_rows_visible %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}

        {% if collection_active_and_rendered|default(false) is same as(false) and ((form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes)) %}
            <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
        {% endif %}

        {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null or widget_btn_prepend|default(null) is not null or widget_btn_append|default(null) is not null ) %}
        <div class="input-group">
        {% if widget_btn_prepend|default(null) is not null %}
            {% set widget_btns = widget_btn_prepend %}
            {{ block('widget_btns') }}
        {% endif %}
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
        {% endif %}
        {% if not widget_remove_btn|default(null) %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable'}) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ 'input-xs ')|trim}) %}

        {% if static_text is defined and static_text is same as(true) %}
            <p class="form-control-static">{{ value }}</p>
        {% else %}
            {{ parent() }}
        {% endif %}

        {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null or widget_btn_prepend|default(null) is not null or widget_btn_append|default(null) is not null ) %}
        {% if widget_addon_append|default(null) is not null %}
            {% set widget_addon = widget_addon_append %}
            {{ block('widget_addon') }}
        {% endif %}
        {% if widget_btn_append|default(null) is not null %}
            {% set widget_btns = widget_btn_append %}
            {{ block('widget_btns') }}
        {% endif %}
        </div>
        {% endif %}

        {% if widget_form_control_feedback|default(null) is not null %}
            {% set widget_feedback = widget_form_control_feedback %}
            {{ block('widget_feedback') }}
        {% endif %}

        {% if collection_active_and_rendered|default(false) is same as(false) and ((form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes)) %}
            </td>
        {% endif %}

    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        {{ block('form_rows_visible') }}

        {% if form.submit is defined %}
            <div class="button-container text-right">
                {% for child in form.children %}
                    {% if child.vars.attr['data-group'] is defined and child.vars.attr['data-group'] == 'actions' %}
                        {{ form_widget(child) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock form_widget_compound %}


{# TABS #}
{% block form_tabs %}
    {% if form.vars.tabsView is defined %}
        {{ form_widget(form.vars.tabsView) }}
    {% endif %}
{% endblock %}

{% block tabs_widget %}
    {% spaceless %}
        <ul class="{{ form.vars.attr.class ~ ' nav-tabs-highlight' }}">
            {% for tab in form.vars.tabs %}
                {% set class = (tab.active ? 'active ' : '') ~ (tab.disabled ? 'disabled' : '') %}
                <li{% if class|trim is not empty %} class="{{ class }}"{% endif %}>
                    <a data-toggle="tab" href="#{{ tab.id }}">
                        {% if tab.icon %}{{ admin_icon(tab.icon, tab.icon_inverted|default(false), {'class': 'position-left'}) }}{% endif %}
                        {{ tab.label|trans({}, tab.translation_domain) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}

{% block form_tab %}
    {% set tab_attr = attr|merge({'class': 'tab-pane' ~ ' has-padding' ~ (form.vars.tab_active ? ' active' : '') ~ ' ' ~ attr.class|default(''), 'id': id}) %}
    <div{% for attrname, attrvalue in tab_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                {{ block('form_widget') }}
            </fieldset>
        </div>
    </div>
    </div>
{% endblock %}

{% block container_widget %}
    {% spaceless %}
        {% if form.vars.tabbed is not defined or form.vars.tabbed is same as(false) %}

            {% if form.vars.is_panel is not defined or form.vars.is_panel is same as (true) %}
                <div class="panel panel-flat {% if attr['class'] is defined %} {{ attr['class'] }} {% endif %}" {% for attrname, attrvalue in attr if attrname is not same as('class') %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>

                {% if form.vars.label is defined and form.vars.label is not same as(false) %}
                    <div class="panel-heading">{{ form.vars.label }}</div>
                {% endif %}

                <div class="panel-body">
            {% endif %}
            <div class="row">

            {% if form.vars.has_columns is not defined or form.vars.has_columns is same as(false) %}
                {% if form.vars.is_panel is not defined or form.vars.is_panel is same as (true) %}
                    <div class="col-md-12">
                {% endif %}
            {% endif %}
        {% else %}
            <div class="tabbable tab-content-bordered{% if form.vars.alignment == 'vertical' %} nav-tabs-vertical nav-tabs-left{% endif %}">
            {{ form_tabs(form) }}

            <div class="tab-content">
        {% endif %}

        {{ block('form_rows_visible') }}

        {% if form.vars.tabbed is not defined or form.vars.tabbed is same as(false) %}
            {% if form.vars.has_columns is not defined or form.vars.has_columns is same as(false) %}
                {% if form.vars.is_panel is not defined or form.vars.is_panel is same as (true) %}
                    </div>
                {% endif %}
            {% endif %}
            </div>

            {% if form.vars.is_panel is not defined or form.vars.is_panel is same as (true) %}
                </div>
                </div>
            {% endif %}
        {% else %}
            </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block column_widget %}
    {% spaceless %}
        <div{% if form.vars.id is not null %} id="{{ form.vars.id }}"{% endif %}
                class="{{ form.vars.column_layout }}{% if form.vars.hidden %} hidden{% endif %}">
            {% if form.parent.vars.is_panel is defined and form.parent.vars.is_panel is same as (false) %}
            <div class="panel panel-flat">
                <div class="panel-body">
                    {% endif %}

                    <fieldset>
                        {% if form.vars.label is defined and form.vars.label is not same as(false) %}
                            {{ block('form_legend') }}
                        {% endif %}
                        {{ block('form_rows_visible') }}
                    </fieldset>


                    {% if form.parent.vars.is_panel is defined and form.parent.vars.is_panel is same as (false) %}
                </div>
            </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block widget_feedback %}
    {% spaceless %}
        {% set widget_feedback_icon = widget_feedback.icon is defined ? widget_feedback.icon : null %}
        {% set widget_feedback_icon_inverted = widget_feedback.icon_inverted is defined ? widget_feedback.icon_inverted : false %}
        <div class="form-control-feedback">{{ admin_icon(widget_feedback_icon, widget_feedback_icon_inverted) }}</div>
    {% endspaceless %}
{% endblock widget_feedback %}

{% block widget_addon %}
    {% spaceless %}
        {% set widget_addon_attr = widget_addon.attr is defined ? widget_addon.attr : [] %}
        {% set widget_addon_icon = widget_addon.icon is defined ? widget_addon.icon : null %}
        {% set widget_addon_icon_inverted = widget_addon.icon_inverted is defined ? widget_addon.icon_inverted : false %}
        <span class="input-group-addon"{% if widget_addon_attr is not empty %} {%- for attrname, attrvalue in widget_addon_attr %} {{ attrname }}="{{ attrvalue|data_attribute }}"{% endfor %}{% endif %}>{{ (widget_addon.text|default(false) ? widget_addon.text|trans({}, translation_domain)|raw : admin_icon(widget_addon_icon, widget_addon_icon_inverted)) }}</span>
    {% endspaceless %}
{% endblock widget_addon %}

{% block widget_btns %}
    {% spaceless %}
        <span class="input-group-btn">
    {% for widget_btn in widget_btns %}
        <button type="{{ widget_btn.type | default('button') }}"
                class="{{ 'btn ' ~ widget_btn.class | default('btn-default') }}">
            {% if widget_btn.icon is not empty %}
                {{ admin_icon(widget_btn.icon, widget_btn.icon_inverted | default(false)) }}
            {% endif %}
            {{ widget_btn.label | default("") | trans({}, translation_domain) }}</button>
    {% endfor %}
    </span>
    {% endspaceless %}
{% endblock widget_btns %}

{%- block choice_widget_collapsed -%}
    {% if form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes %}
        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}

    {% if static_text is defined and static_text is same as(true) %}
        {% spaceless %}
            <p class="form-control-static">
                <span class="">{% for choice in choices %}{% if choice.value == value %}{{ choice.label }}{% endif %}{% endfor %}</span>
            </p>
        {% endspaceless %}
    {% else %}

        {% set attr = attr|merge({'class': attr.class|default('') ~ ' input-xs ' ~ widget_form_control_class }) %}

        {% if select2 is defined %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' select2' }) %}
        {% endif %}

        {% if multiselect is defined %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' multiselect' }) %}

            <div class="multi-select-full">
        {% endif %}

        {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
            {% set required = false %}
        {%- endif -%}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}{% if select2 is defined %} {%- for attrname, attrvalue in select2 %}data-{{ attrname }}="{{ attrvalue|data_attribute }}" data-name="{{ name }}"{% endfor %}{% endif %}{% if multiselect is defined %} {%- for attrname, attrvalue in multiselect %}data-{{ attrname }}="{{ attrvalue|data_attribute }}" data-name="{{ name }}"{% endfor %}{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>

        {% if multiselect is defined %}
            </div>
        {% endif %}


    {% endif %}

    {% if form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes %}
        </td>
    {% endif %}
{%- endblock choice_widget_collapsed -%}

{% block choice_widget_expanded %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type != '' ? (multiple ? 'checkbox' : 'radio') ~ '-' ~ widget_type : ''))}) %}
        {% if expanded %}
            {% set attr = attr|merge({'class': 'styled ' ~ attr.class|default('')}) %}
        {% endif %}
        {% if widget_type == 'inline-btn' %}
            <div class="btn-group" data-toggle="buttons">
        {% endif %}

        <div{% if 'id' in attr|keys %} id="{{ attr.id }}"{% endif %}>
            {% for child in form %}

                {% if widget_type not in ['inline', 'inline-btn'] %}
                    <div
                    {%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"{% endif %}>
                {% endif %}
                {% if widget_type == 'inline-btn' %}
                    {% set label_attr = label_attr|default({})|merge({'class': 'btn ' ~ label_attr.class|default('')}) %}
                {% endif %}
                {% if child.vars.checked and widget_type == 'inline-btn' %}
                    {% set label_attr_copy = label_attr|default({})|merge({'class': 'active ' ~ label_attr.class|default('')}) %}
                {% else %}
                    {% set label_attr_copy = label_attr|default({}) %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr_copy %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ form_widget(child, {'attr': {'class': 'styled ' ~ attr.widget_class|default('') }}) }}
                </label>
                {% if widget_type not in ['inline', 'inline-btn'] %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        {% if widget_type == 'inline-btn' %}
            </div>
        {% endif %}
    {% endspaceless %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}

    {% spaceless %}
        {% if static_text is defined and static_text is same as(true) %}
            <p class="form-control-static">
                {% if value %}
                    {{ admin_icon('checkmark') }}
                {% endif %}
            </p>
        {% else %}

            {% if label is not same as(false) and label is empty %}
                {%- if label_format is defined and label_format is not empty -%}
                    {% set label = label_format|replace({
                        '%name%': name,
                        '%id%': id,
                    }) %}
                {%- else -%}
                    {% set label = name|humanize %}
                {%- endif -%}
            {% endif %}
            {% if form.parent != null %}
                <div{% if 'id' in attr %} id="{{ attr.id }}"{% endif %}
                {%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"
                {%- else %} class="checkbox"
                {%- endif %}>
            {% endif %}
            {% if form.parent != null %}
                {% if widget_type == 'inline-btn' %}
                    {% set label_attr = attr|default({}) %}
                    {% if checked %}
                        {% set label_attr = label_attr|merge({'class': 'active ' ~ attr.class|default('')}) %}
                    {% endif %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
                >
            {% endif %}

            {% set attr = attr|merge({'class': 'styled ' ~ attr.class|default('')}) %}

            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
            {% if form.parent != null %}

                {% if widget_checkbox_label in ['both', 'widget'] %}
                    {{ label|trans({}, translation_domain)|raw }}
                {% else %}
                    {{ block('form_help') }}
                {% endif %}
                </label>

                {{ block('form_help') }}
            {% endif %}
            {% if form.parent != null %}
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}


    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}

{% endblock checkbox_widget %}

{% block money_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' text-right')|trim}) %}

    {% spaceless %}
        {% set widget_addon_prepend = (widget_addon_prepend != false or widget_addon_prepend == null) and money_pattern != '{{ widget }}' ? {'text': money_pattern|replace({ '{{ widget }}': ''})} : widget_addon_prepend|default(null) %}

        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
    {% spaceless %}
        {% set widget_addon_append = widget_addon_append|merge({'text': widget_addon_append.text|default('%')}) %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock percent_widget %}

{% block file_widget %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}
    {% spaceless %}
        {% set type = type|default('file') %}
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }}/>

        {% if type != 'hidden' and widget_addon.type|default(null) is not null %}
            {% if widget_addon_append|default(null) is not null %}
                {% set widget_addon = widget_addon_append %}
                {{ block('widget_addon') }}
            {% endif %}
        {% endif %}
    {% endspaceless %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}
{% endblock file_widget %}

{% block datetime_widget %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}

    {% spaceless %}
        <div {% if datetimepicker.attr is defined %}{%- for attrname, attrvalue in datetimepicker.attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}{% endif %} class="datetime_picker">
        {% set type = 'hidden' %}

        {{ block('form_widget_simple') }}

        {% set date_name = '_' ~ form.vars.name ~ '_date' %}
        {% set time_name = '_' ~ form.vars.name ~ '_time' %}

        {% if value is not empty %}
            {% set date_value = value|date("Y-m-d")|default(null) %}
            {% set time_value = value|date("H:i")|default(null) %}
        {% endif %}


        <div class="datetime_picker_input_container has-feedback has-feedback-left">
            <input type="text" name="{{ date_name }}" id="{{ date_name }}" class="form-control date"
                   data-value="{{ date_value }}" data-hidden-suffix="_hidden"
                   data-element-id="{{ form.vars.full_name }}"{% if attribute(form.vars.attr, 'readonly') is defined %} disabled="disabled" data-picker-disabled="true"{% endif %} />

            <div class="form-control-feedback form-control-feedback-date">
                {{ admin_icon('calendar22') }}
            </div>

            <input type="text" name="{{ time_name }}" id="{{ time_name }}" class="form-control time"
                   data-value="{{ time_value }}" data-hidden-suffix="_hidden"
                   data-element-id="{{ form.vars.full_name }}"{% if attribute(form.vars.attr, 'readonly') is defined %} readonly="readonly" data-picker-disabled="true"{% endif %} />

            <div class="form-control-feedback form-control-feedback-time">
                {{ admin_icon('alarm') }}
            </div>
        </div>
        </div>
    {% endspaceless %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}
{% endblock %}

{% block date_widget %}
    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td class="{% if name is defined %}column-{{ name }} {% endif %}has-feedback has-feedback-left">
    {% endif %}

    <div {% if datepicker.attr is defined %}{%- for attrname, attrvalue in datepicker.attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}{% endif %}
    class="date_picker" data-date="{{ value }}">
    {% set id = id ~ '_datepicker_display' %}
    {% set type = 'text' %}

    {% set attr = attr|merge({'data-value': value}) %}

    {{ block('form_widget_simple') }}
    </div>

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}
{% endblock %}

{% block time_widget %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}
    <div {% if timepicker.attr is defined %}{%- for attrname, attrvalue in timepicker.attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}{% endif %}
    class="time_picker" data-time="{{ value }}">
    {% set id = id ~ '_timepicker_display' %}
    {% set type = 'text' %}

    {{ block('form_widget_simple') }}
    </div>

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}
{% endblock %}

{% block recurring_event_widget %}

    <div class="recurring-event-widget">
        <div style="width: 200px; float: left;">
            <div class="form-group">
                <div class="radio">
                    <label><input type="radio"{% if value and value.getFreq() == 2 %} checked="checked"{% endif %}
                                  style="margin-top: 2px; margin-left: 7px;" name="recurring"
                                  onclick="$('.recurring-event-group').hide(); $('.recurring-event-group').eq(0).show();">Wekelijks</label>
                </div>
                <div class="radio">
                    <label><input type="radio"{% if value and value.getFreq() == 1 %} checked="checked"{% endif %}
                                  style="margin-top: 2px; margin-left: 7px;" name="recurring"
                                  onclick="$('.recurring-event-group').hide(); $('.recurring-event-group').eq(1).show();">Maandelijks</label>
                </div>
                <div class="radio">
                    <label><input type="radio"{% if value and value.getFreq() == 0 %} checked="checked"{% endif %}
                                  style="margin-top: 2px; margin-left: 7px;" name="recurring"
                                  onclick="$('.recurring-event-group').hide(); $('.recurring-event-group').eq(2).show();">Jaarlijks</label>
                </div>
            </div>
        </div>
        <div>
            {#
                        <div class="recurring-event-group">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" style="margin-top: 2px; margin-left: 7px;" checked="checked"> Elke werkdag</label>
                                </div>
                            </div>
                        </div>
            #}
            <div class="recurring-event-group"{% if value and value.getFreq() == 2 %} style="display: block"{% endif %}>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" style="margin-top: 2px; margin-left: 7px;" checked="checked"
                                   name="{{ full_name }}[RRULE]" value="FREQ=WEEKLY;BYDAY=%s;INTERVAL=%s">
                            Elke {{ block('recurring_event_INTERVAL') }} op:
                            <div class="recurring-event-weekdays">
                                <label><input type="checkbox" name="{{ full_name }}[BYDAY][]"
                                              value="MO"{% if 'MO' in value.getByDay() %} checked="checked"{% endif %}>
                                    maandag</label>
                                <label><input type="checkbox" name="{{ full_name }}[BYDAY][]"
                                              value="TU"{% if 'TU' in value.getByDay() %} checked="checked"{% endif %}>
                                    dinsdag</label>
                                <label><input type="checkbox" name="{{ full_name }}[BYDAY][]"
                                              value="WE"{% if 'WE' in value.getByDay() %} checked="checked"{% endif %}>
                                    woensdag</label> <br />
                                <label><input type="checkbox" name="{{ full_name }}[BYDAY][]"
                                              value="TH"{% if 'TH' in value.getByDay() %} checked="checked"{% endif %}>
                                    donderdag</label>
                                <label><input type="checkbox" name="{{ full_name }}[BYDAY][]"
                                              value="FR"{% if 'FR' in value.getByDay() %} checked="checked"{% endif %}>
                                    vrijdag</label>
                                <label><input type="checkbox" name="{{ full_name }}[BYDAY][]"
                                              value="SA"{% if 'SA' in value.getByDay() %} checked="checked"{% endif %}>
                                    zaterdag</label>
                                <label><input type="checkbox" name="{{ full_name }}[BYDAY][]"
                                              value="SU"{% if 'SU' in value.getByDay() %} checked="checked"{% endif %}>
                                    zondag</label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="recurring-event-group"{% if value and value.getFreq() == 1 %} style="display: block"{% endif %}>
                <div class="radio">
                    <label>
                        <input type="radio"{% if value.getByMonthDay() %} checked="checked"{% endif %}
                               name="{{ full_name }}[RRULE]" value="FREQ=MONTHLY;BYMONTHDAY=%s">
                        Op dag <select name="{{ full_name }}[BYMONTHDAY]" class="" style="width: 50px;">
                            {% for i in 1 .. 31 %} }}
                                <option value="{{ i }}"{% if value.getByMonthDay() and value.getByMonthDay()[0] == i %} selected="selected"{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select> van elke maand
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio"{% if value.getBySetPosition() and value.getByDay() %} checked="checked"{% endif %}
                               name="{{ full_name }}[RRULE]" value="FREQ=MONTHLY;BYSETPOS=%s;BYDAY=%s">
                        De {{ block('recurring_event_INTERVAL') }}&nbsp;{{ block('recurring_event_BYDAY') }} van elke
                        maand
                    </label>
                </div>
            </div>
            <div class="recurring-event-group"{% if value and value.getFreq() == 0 %} style="display: block"{% endif %}>
                <div class="radio">
                    <label>
                        <input type="radio"{% if value.getByMonthDay() and value.getByMonth() %} checked="checked"{% endif %}
                               name="{{ full_name }}[RRULE]" value="FREQ=YEARLY;BYMONTH=%s;BYMONTHDAY=%s">
                        Op {{ block('recurring_event_BYMONTHDAY') }}&nbsp;{{ block('recurring_event_BYMONTH') }}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio"{% if value.getBySetPosition() and value.getByDay() and value.getByMonth() %} checked="checked"{% endif %}
                               name="{{ full_name }}[RRULE]" value="FREQ=YEARLY;BYDAY=%s;BYSETPOS=%s;BYMONTH=%s">
                        Op de {{ block('recurring_event_BYSETPOS') }}&nbsp;{{ block('recurring_event_BYDAY') }}
                        van {{ block('recurring_event_BYMONTH') }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $('input[type=radio][name=\'{{ full_name }}[RRULE]\']').on('change', function () {
            console.log('ckick');
            $('.recurring-event-group input[type=checkbox], .recurring-event-group select').prop('disabled', true);
            $(this).parent().find('input[type=checkbox],select').prop('disabled', false);
        }).filter(':checked').trigger('change');

    </script>
{% endblock %}

{% block recurring_event_BYSETPOS %}
    {% spaceless %}
        <select name="{{ full_name }}[BYSETPOS]">
            <option value="1"{% if value and value.getBySetPosition() and value.getBySetPosition()[0] == 1 %} selected="selected"{% endif %}>
                eerste
            </option>
            <option value="2"{% if value and value.getBySetPosition() and value.getBySetPosition()[0] == 2 %} selected="selected"{% endif %}>
                tweede
            </option>
            <option value="3"{% if value and value.getBySetPosition() and value.getBySetPosition()[0] == 3 %} selected="selected"{% endif %}>
                derde
            </option>
            <option value="4"{% if value and value.getBySetPosition() and value.getBySetPosition()[0] == 4 %} selected="selected"{% endif %}>
                vierde
            </option>
        </select>
    {% endspaceless %}
{% endblock %}

{% block recurring_event_INTERVAL %}
    {% spaceless %}
        <select name="{{ full_name }}[INTERVAL]">
            <option value="1"{% if value and value.getInterval() == 1 %} selected="selected"{% endif %}>week</option>
            <option value="2"{% if value and value.getInterval() == 2 %} selected="selected"{% endif %}>2 weken</option>
            {#        <option class="3"{% if value.weekInMonth == 3 %} selected="selected"{% endif %}>3 weken</option> #}
            <option value="4"{% if value and value.getInterval() == 4 %} selected="selected"{% endif %}>4 weken</option>
        </select>
    {% endspaceless %}
{% endblock %}

{% block recurring_event_BYDAY %}
    {% spaceless %}
        <select name="{{ full_name }}[BYDAY]">
            <option value="MO"{% if value and value.getByDayTransformedToWeekdays() and value.getByDayTransformedToWeekdays()[0] == 'MO' %} selected="selected"{% endif %}>
                maandag
            </option>
            <option value="TU"{% if value and value.getByDayTransformedToWeekdays() and value.getByDayTransformedToWeekdays()[0] == 'TU' %} selected="selected"{% endif %}>
                dinsdag
            </option>
            <option value="WE"{% if value and value.getByDayTransformedToWeekdays() and value.getByDayTransformedToWeekdays()[0] == 'WE' %} selected="selected"{% endif %}>
                woensdag
            </option>
            <option value="TH"{% if value and value.getByDayTransformedToWeekdays() and value.getByDayTransformedToWeekdays()[0] == 'TH' %} selected="selected"{% endif %}>
                donderdag
            </option>
            <option value="FR"{% if value and value.getByDayTransformedToWeekdays() and value.getByDayTransformedToWeekdays()[0] == 'FR' %} selected="selected"{% endif %}>
                vrijdag
            </option>
            <option value="SA"{% if value and value.getByDayTransformedToWeekdays() and value.getByDayTransformedToWeekdays()[0] == 'SA' %} selected="selected"{% endif %}>
                zaterdag
            </option>
        </select>
    {% endspaceless %}
{% endblock %}

{% block recurring_event_BYMONTH %}
    {% spaceless %}
        <select name="{{ full_name }}[BYMONTH]">
            <option value="1"{% if value.getByMonth() and value.getByMonth()[0] == 1 %} selected="selected"{% endif %}>
                januari
            </option>
            <option value="2"{% if value.getByMonth() and value.getByMonth()[0] == 2 %} selected="selected"{% endif %}>
                februari
            </option>
            <option value="3"{% if value.getByMonth() and value.getByMonth()[0] == 3 %} selected="selected"{% endif %}>
                maart
            </option>
            <option value="3"{% if value.getByMonth() and value.getByMonth()[0] == 3 %} selected="selected"{% endif %}>
                maart
            </option>
            <option value="4"{% if value.getByMonth() and value.getByMonth()[0] == 4 %} selected="selected"{% endif %}>
                april
            </option>
            <option value="5"{% if value.getByMonth() and value.getByMonth()[0] == 5 %} selected="selected"{% endif %}>
                mei
            </option>
            <option value="6"{% if value.getByMonth() and value.getByMonth()[0] == 6 %} selected="selected"{% endif %}>
                juni
            </option>
            <option value="7"{% if value.getByMonth() and value.getByMonth()[0] == 7 %} selected="selected"{% endif %}>
                juli
            </option>
            <option value="8"{% if value.getByMonth() and value.getByMonth()[0] == 8 %} selected="selected"{% endif %}>
                augustus
            </option>
            <option value="9"{% if value.getByMonth() and value.getByMonth()[0] == 9 %} selected="selected"{% endif %}>
                september
            </option>
            <option value="10"{% if value.getByMonth() and value.getByMonth()[0] == 10 %} selected="selected"{% endif %}>
                oktober
            </option>
            <option value="11"{% if value.getByMonth() and value.getByMonth()[0] == 11 %} selected="selected"{% endif %}>
                november
            </option>
            <option value="12"{% if value.getByMonth() and value.getByMonth()[0] == 12 %} selected="selected"{% endif %}>
                december
            </option>
        </select>
    {% endspaceless %}
{% endblock %}

{% block recurring_event_BYMONTHDAY %}
    {% spaceless %}
        <select name="{{ full_name }}[BYMONTHDAY]">
            {% for i in 1 .. 31 %} }}
                <option value="{{ i }}"{% if value.getByMonthDay() and value.getByMonthDay()[0] == i %} selected="selected"{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    {% endspaceless %}
{% endblock %}

{% block color_widget %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}
    <div {% if colorpicker.attr is defined %}{%- for attrname, attrvalue in colorpicker.attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}{% endif %}
    class="color_picker">
    {% set type = 'text' %}

    {{ block('form_widget_simple') }}
    </div>

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}
{% endblock %}

{% block ckeditor_widget %}
    <div {% if ckeditor is defined %}{%- for attrname, attrvalue in ckeditor %}data-{{ attrname }}="{{ attrvalue|data_attribute }}" {% endfor %}{% endif %}
         class="ckeditor">

        {% set type = 'textarea' %}

        {{ block('textarea_widget') }}
    </div>
{% endblock %}

{% block slug_widget %}
    <div class="slugify"{% if base_on is defined %} data-base-on="{{ base_on }}"{% endif %}>
        {% set type = 'text' %}

        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block textarea_widget %}
    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}

    {% if static_text is defined and static_text is same as(true) %}
        <p class="form-control-static">{{ value|nl2br }}</p>
    {% else %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ 'input-xs ')|trim}) %}

        {{ parent() }}
    {% endif %}

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        </td>
    {% endif %}
{% endblock %}

{% block media_widget %}
    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}
    <div
            {% if media is defined %}
                {%- for attrname, attrvalue in media %}

                    data-{{ attrname }}="{{ attrvalue|data_attribute }}"

                {% endfor %}
                data-name="{{ name }}"
            {% endif %}
            class="media-widget {% if media is defined and media.type is defined %}media-widget-{{ media.type }}{% endif %}"
            {% if baseUrl is not empty %}data-media-base-url="{{ baseUrl }}"{% endif %}
            data-media-widget-id=""
            {% if media.upload is defined and media.upload is same as (true) %}data-upload-url="{{ oneup_uploader_endpoint('files') }}"{% endif %}>
        {% if media.upload is defined and media.upload is same as (true) %}
            <div class="media-widget-uploader"></div>
        {% endif %}

        {% if media.thumbnail|default(false) is same as(true) %}
            {% set image_slug = 'thumbnail' %}

            {% if value is not empty %}
                {% set imagePath = form.parent.vars.value.getPath() | imagine_filter(image_slug) %}
            {% endif %}

            <div class="media-widget-thumbnail-container"
                 style="display: {% if imagePath is defined and imagePath is not empty %}block{% else %}none{% endif %};">
                <div>
                    <div class="media-widget-thumbnail-image">
                        <div class="centered">
                            {% if imagePath is defined and imagePath is not empty %}<img
                                src="{{ imagePath }}" />{% endif %}
                            <i class="icon-spinner3 spinner"></i>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" data-action="media[select]">Bestand zoeken</a>

            {% if media.upload is defined and media.upload is same as (true) %}
                <a href="#" data-action="media[upload]">Bestand uploaden</a>
            {% endif %}

            <a href="#" data-action="media[remove]"
               style="display: {% if imagePath is defined and imagePath is not empty %}block{% else %}none{% endif %};">Bestand
                wissen</a>

        {% else %}
            <div class="media-widget-filename">{{ value }}</div>

            {% if media.upload is defined and media.upload is same as (true) %}
                <a href="#" data-action="media[upload]">Bestand uploaden</a>
            {% endif %}

            <a href="#" data-action="media[remove]"
               style="display: {% if value is defined and value is not empty %}block{% else %}none{% endif %};">Bestand
                wissen</a>

        {% endif %}

        {% set type = 'hidden' %}
        {% set attr = attr|merge({'data-type': 'elfinder-input-field'}) %}

        {{ block('form_widget_simple') }}
    </div>

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        </td>
    {% endif %}
{% endblock %}

{% block image_widget %}
    {{ block('media_widget') }}
{% endblock image_widget %}

{% block roles_widget %}
    {% import "AdminBundle:macro:roles.html.twig" as roles %}

    <div class="tabbable tab-content-bordered">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="active">
                <a data-toggle="tab" href="#roles_tab_crud" aria-expanded="true">
                    Modules
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#roles_tab_other" aria-expanded="false">
                    Overige
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane has-padding active" id="roles_tab_crud">
                <div class="row">
                    <div class="col-md-12">
                        {{ roles.role_overview_table(availableRoles['crud'], form) }}
                    </div>
                </div>
            </div>

            <div class="tab-pane has-padding" id="roles_tab_other">
                <div class="row">
                    <div class="col-md-12">
                        {{ roles.role_overview_table(availableRoles['other'], form, true) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock roles_widget %}



{# Buttons #}
{% block button_attributes %}
    {% set attr = attr|merge({class: 'btn ' ~ attr.class | default("btn-default")}) %}
    {{ parent() }}
{% endblock button_attributes %}

{% block button_widget %}
    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}

    {% spaceless %}
        {% if label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
            {{ label|trans({}, translation_domain) }}
            {% if icon is defined and icon is not empty %}
                {{ admin_icon(icon, false, {'class': 'position-right'}) }}
            {% endif %}
        </button>
    {% endspaceless %}


    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        {% set collection_active_and_rendered = true %}

        </td>
    {% endif %}
{% endblock button_widget %}

{% block form_message %}
    {% spaceless %}
        {{ form_errors(form) }}

        {% if ('checkbox' not in block_prefixes or widget_checkbox_label != 'label') and help_block %}
            {{ block('form_help') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_message %}

{# Help #}

{% block form_help %}
    {% spaceless %}
        {% if help_block %}<p class="help-block">{{ help_block|trans({}, translation_domain)|raw }}</p>{% endif %}
    {% endspaceless %}
{% endblock form_help %}

{% block help_label %}
    {% spaceless %}
        {% if help_label %}<span class="help-block">{{ help_label|trans({}, translation_domain)|raw }}</span>{% endif %}
    {% endspaceless %}
{% endblock help_label %}

{% block form_legend %}
    {% spaceless %}
        {% if label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <legend class="text-semibold">
            {% if icon is defined and icon is not empty %}
                {{ admin_icon(icon, false, {'class': 'position-left'}) }}
            {% endif %}
            {{ label|trans({}, translation_domain) }}
        </legend>
    {% endspaceless %}
{% endblock form_legend %}

{% block widget_form_group_start %}
    {% if widget_form_group|default(false) or form.parent == null %}
        {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes %} {# i am a collection child #}
            {% if omit_collection_item is not defined %}
                {# collection item wrapper doesnt need form-group it gets added to childs anyways #}
                {% set widget_form_group_attr = widget_form_group_attr|merge({class: 'collection-item'}) %}
            {% endif %}
        {% endif %}

        {% if errors|length > 0 %}
            {# Add Error Class to Widget Wrapper#}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
        {% endif %}

        {% if widget_form_control_feedback is defined and widget_form_control_feedback is not empty %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-feedback'}) %}

            {% if widget_form_control_feedback.position is defined and widget_form_control_feedback.position == 'left' %}
                {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-feedback-left'}) %}
            {% endif %}
        {% endif %}

        <div {% for attrname,attrvalue in widget_form_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {# a form item containing the field in block_prefixes is a near subform or a field directly #}
        {{ form_label(form, label|default(null)) }}
    {% else %}
        {{ form_label(form, label|default(null)) }}
    {% endif %}
{% endblock widget_form_group_start %}

{% block widget_form_group_end %}
    {% spaceless %}
        {% if widget_form_group|default(false) or form.parent == null %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock widget_form_group_end %}

{# Collections #}
{% block collection_widget %}
    {% spaceless %}
        {% set collection_vars = form.vars.collection %}

        {% if prototype is defined %}
            {% set prototype_markup = form_row(prototype) %}
            {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
            {% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({
                'data-prototype': prototype_markup,
                'data-prototype-name': data_prototype_name,
                'data-prototype-label': data_prototype_label
            })|merge(attr) %}
        {% endif %}

        {# Add row by default use attr.class to change#}
        {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
        {% endif %}
        {# collection item adds class {form_id}_form-group  too #}
        {% set widget_form_group_attr = widget_form_group_attr|merge({'id': 'collection' ~ id ~ '_form_group', 'class': 'collection-items ' ~ id ~ '_form_group'}) %}

        <div {% for attrname,attrvalue in widget_form_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {# Add initial prototype form #}
        {% if form.vars.value|length == 0 and prototype is defined and prototype_names is defined %}
            {% for name in prototype_names %}
                {{ prototype_markup|replace({'__name__': name})|raw }}
            {% endfor %}
        {% endif %}

        {{ block('collection_rows') }}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_rows %}
    {% spaceless %}
        <div class="collection-items-container">
            {{ form_errors(form) }}

            {% if form.vars.allow_add is same as(true) and form.vars.collection.hide_add|default(false) is same as(false) %}
                <a href="#" class="btn btn-sm btn-success btn-add">
                    {{ admin_icon('plus2') }} {% if form.vars.label|default(null) %}{{ form.vars.label }} toevoegen{% else %}Toevoegen{% endif %}
                </a>
            {% endif %}

            <table class="table table-condensed{% if 'columns' not in form.vars.collection or form.vars.collection.columns is same as(false) %} collection-without-heading{% endif %}"{% if form.vars.collection.sortable|default(false) is same as(true) %} data-sortable="true"{% endif %}>
                {% if 'columns' in form.vars.collection and form.vars.collection.columns is not same as(false) %}
                    <thead>
                    <tr>
                        {% if form.vars.collection.sortable|default(false) is same as(true) %}
                            <th class="drag-handle"></th>
                        {% endif %}

                        {% for column in form.vars.collection.columns %}
                            <th{% if column.width is defined %} width="{{ column.width }}"{% endif %}>{{ column.label|default('')|raw }}</th>
                        {% endfor %}

                        {% if form.vars.allow_delete|default(false) is same as(true) %}
                            <th class="actions"></th>
                        {% endif %}
                    </tr>
                    </thead>
                {% endif %}
                <tbody class="collection-item-list">

                {% for child in form %}
                    {{ form_row(child, {'attr':{'class':'collection-item'}, 'label': false, 'is_collection_row': true}) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endspaceless %}
{% endblock collection_rows %}

{% block product_image_collection_widget %}
    <div class="product-image-container">
        <a href="#" class="btn btn-sm btn-success btn-upload-image">
            {{ admin_icon('file-upload') }} {% if form.vars.label|default(null) %}{{ form.vars.label }} toevoegen{% else %}Uploaden{% endif %}
        </a>

        <div class="product-image-uploader" data-url="{{ oneup_uploader_endpoint('product_image') }}"></div>

        {{ form_widget(form, _context) }}
    </div>
{% endblock product_image_collection_widget %}

{% block translation_widget %}
    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        <td{% if name is defined %} class="column-{{ name }}"{% endif %}>
    {% endif %}

    <div class="translation-item-container">
        <div class="translation-item-container-inner">
            {% for child in form.children %}
                {% set locale = child.vars.name %}

                <div class="translation-item{% if locale is same as (default_locale) %} active{% endif %}">
                    {{ form_row(child, {
                        'label': false
                    }) }}

                    {% if locale == 'en_US' %}
                        {% set locale = 'en' %}
                    {% endif %}

                    {% set icon = locale[:2]|lower %}

                    {% if icon|lower == 'en' %}
                        {% set icon = 'gb' %}
                    {% endif %}

                    {% if locale == 'nl_BE' %}
                        {% set icon = 'be' %}
                    {% endif %}

                    <div class="translation-item-description">
                        {{ admin_icon(icon, false, {'class': 'position-left'}, 'flags') }}
                        {#<span class="language-name">{{ locale | language }}</span>#}
                        {% if child.vars.required %}
                            <span class="language-name">*</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if (form.parent.parent != null and 'collection' in form.parent.parent.vars.block_prefixes) or ('collection' in form.parent.vars.block_prefixes) %}
        </td>
    {% endif %}
{% endblock %}

{% block design_select_widget %}

    {% set type = 'text' %}

    {% if personalization %}

        <div class="tile-wrapper">
            <div class="tile design" data-action="design-select" data-trigger="hover" data-toggle="tooltip" data-placement="right" title="Ontwerp selecteren" data-url="{{ path('admin_catalog_product_selectcombinationdesign', {
                product: product.getId,
                personalization: personalization.getId,
                company: company is defined ? company : null
            }) }}">
                <div class="tile-content">
                    {% if attribute(product.metadata, 'design') is defined %}
                {{ app_designer_preview(product.metadata['design'], 200, true) }}
                    {% else %}
                        <i class="mdi mdi-image-area"></i>
                    {% endif %}
                </div>
            </div>
            <div class="actions">
                <div class="action unlink" data-trigger="hover" data-action="design-unlink" data-toggle="tooltip" data-placement="right" title="Ontwerp ontkoppelen" {% if not attribute(product.metadata, 'design') is defined %}style="display: none;"{% endif %}>
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input">
                {{ block('form_widget_simple') }}
            </div>
        </div>

    {% else %}
        <p>Geen personalisatie gevonden.</p>
    {% endif %}

{% endblock design_select_widget %}


