{# Collections #}
{% block form_row -%}
    {% if form.parent != null and 'collection' in form.parent.vars.block_prefixes %}
        <div class="collection-item"{% if form.vars.data is not null and attribute(form.vars.data, 'getId') is defined %} data-id="{{ form.vars.data.getId() }}"{% endif %}>
            {{ form_widget(form, _context) }}

            {% if form.parent.vars.allow_delete|default(false) is same as(true) %}
                <div class="actions">
                    <ul class="icons-list">
                        <li class="text-danger-600">
                            <a href="#" class="btn-remove">
                                {{ admin_icon('cross3') }}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    {% elseif 'tab' in form.vars.block_prefixes %}
        {{ block('form_tab') }}
    {% elseif embed_form|default(null) is same as(true) %}
        {{ form_widget(form, _context) }}
    {% else %}
        {% if form.vars.is_container is defined and form.vars.is_container is same as(true) %}
            {{ block('container_widget') }}
        {% elseif form.vars.is_column is defined and form.vars.is_column is same as(true) %}
            {{ block('column_widget') }}
        {% else %}
            {% if form.parent.parent is not null and 'collection' in form.parent.parent.vars.block_prefixes %}
                {{ form_widget(form, _context) }}
            {% else %}
                {% if 'collection' in form.vars.block_prefixes %}
                    {{ form_widget(form, _context) }}
                {% else %}
                    {{ block('widget_form_group_start') }}

                    <div class="{% if label is not same as(false) %}{{ block('form_group_class') }}{% else %}{{ block('form_group_full_class') }}{% endif %}">
                        {% if widget_prefix is defined and widget_prefix is not empty %}{{ widget_prefix|trans({}, translation_domain)|raw }}{% endif %} {{ form_widget(form, _context) }} {% if widget_suffix is defined and widget_suffix is not empty %}{{ widget_suffix|trans({}, translation_domain)|raw }}{% endif %}

                        {% set type = type|default('text') %}

                        {% if type != 'hidden' %}
                            {{ block('form_message') }}
                        {% endif %}
                    </div>

                    {{ block('widget_form_group_end') }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{%- endblock form_row %}

{% block collection_rows %}
    {% spaceless %}
        <style>
            .collection-item{
                position: relative;
            }

            .collection-item .actions{
                position: absolute;
                top: 0;
                right: 20px;
            }
        </style>
        <div class="collection-items-container form-div-collection">
            {{ form_errors(form) }}

            {% if form.vars.allow_add is same as(true) and form.vars.collection.hide_add|default(false) is same as(false) %}
                <a href="#" class="btn btn-sm btn-success btn-add">
                    {{ admin_icon('plus2') }} {% if form.vars.label|default(null) %}{{ form.vars.label }} toevoegen{% else %}Toevoegen{% endif %}
                </a>
            {% endif %}

            <div class="collection-item-list">
                {% for child in form %}
                    {{ form_row(child, {'attr':{'class':'collection-item'}, 'label': false, 'is_collection_row': true}) }}
                    {% if form.vars.allow_delete|default(false) is same as(true) %}
                        <div class="actions"></div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    {% endspaceless %}
{% endblock collection_rows %}