{% block icomoon -%}
    <i class="icon-{{ icon }}{{ inverted ? ' inverted' : '' }} {{ attr.class|default(null) }}"></i>
{%- endblock %}

{% block fontawesome -%}
    <i class="fa fa-{{ icon }}{{ inverted ? ' fa-inverse' : '' }} {{ attr.class|default(null) }}"></i>
{%- endblock %}

{% block glyphicons -%}
    <span class="glyphicon glyphicon-{{ icon }} {{ attr.class|default(null) }}"{% if inverted|default(false) %} style="color: white;"{% endif %}></span>
{%- endblock %}

{% block flags -%}
    <span class="flagicon{% if attr.class|default(null) %} {{ attr.class|default(null) }}{% endif %}">
        <img src="/bundles/admin/images/flags/{{ icon }}.png" />
    </span>
{%- endblock %}

{% block material -%}
    <i class="mdi mdi-{{ icon }} {{ attr.class|default(null) }}"></i>
{%- endblock %}
