<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-fixed">
    <div class="sidebar-content">

        <!-- User menu -->
        <div>
            <div class="category-content">
                <div class="sidebar-user-material-content">
                    <img src="{{ asset('bundles/admin/images/'~admin_logo) }}" alt="{{ admin_title }}" />
                </div>

                <div class="sidebar-user-material-menu">
                    <a href="#user-nav" data-toggle="collapse">
                        <span>{{ app.getUser().getDisplayName() }}</span> <i class="caret"></i>
                    </a>
                </div>
            </div>

            <div class="navigation-wrapper collapse" id="user-nav">
                {{ knp_menu_render('AdminBundle:TopUser:menu', {
                    currentClass: 'active'
                }) }}
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                {{ knp_menu_render('AdminBundle:Main:menu', {
                    currentClass: 'active',
                    template: 'AdminBundle:Menu:sidebar.html.twig'
                }) }}
            </div>
        </div>
        <!-- /Main navigation -->
    </div>
</div>
