<form method="post" action="{{ path('admin_sales_order_internalsupplierremark', { company: supplier.id }) }}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <strong>Interne bedrijfs opmerking</strong>
            </div>
        </div>
        <div class="panel-body">
            {% if supplier.internalRemark %}
                {{ supplier.internalRemark|nl2br }}
            {% endif %}

            <textarea name="internal_remark" class="form-control elastic"
                      placeholder="Interne bedrijfs opmerking..."></textarea>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-xs btn-default bg-white">Annuleren</button>
            <button class="btn btn-xs btn-primary">Opslaan</button>
        </div>
    </div>
</form>
