{% import 'AdminBundle:macros:order.html.twig' as macros_order %}
{% import 'AppBundle:macros:robin.html.twig' as robin %}

{% block body %}
    {% for order in orders %}
        {% include '@Admin/Sales/Order/order-line.html.twig' %}
    {% endfor %}
{% endblock body %}
