{{ form_start(form) }}

<div class="row row-gender">
    <div class="col-xs-12">
        {{ form_row(form.gender) }}
    </div>
</div>

<div class="row row-name">
    <div class="firstname col-md-6">
        {{ form_row(form.firstname) }}
    </div>
    <div class="lastname padding-left-0 col-md-6">
        {{ form_row(form.lastname) }}
    </div>
</div>

{{ form_row(form.phonenumber) }}

<div>
    <h2>{{ "customer.register.login_information"|trans }}</h2>
</div>

{{ form_row(form.locale) }}

{{ form_end(form) }}