{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Afzender
                    </div>
                </div>
                <div class="panel-body" style="height: 140px;">
                    <table class="table table-condensed table-data table-borderless">
                        <tr>
                            <td>Bedrijfsnaam:</td>
                            <td>{{ subscription.getCompany().getName() }} <a
                                        href="{{ path('admin_customer_company_view', { company: subscription.getCompany().getId() }) }}"
                                        class="fa fa-external-link" aria-hidden="true"></a></td>
                        </tr>
                        <tr>
                            <td>Besteller:</td>
                            <td>{{ subscription.getCustomer().getFullname() }} <a
                                        href="{{ path('admin_customer_customer_view', { customer: subscription.getCustomer().getId() }) }}"
                                        class="fa fa-external-link" aria-hidden="true"></a></td>
                        </tr>
                        <tr>
                            <td>Adres:</td>
                            <td>
                                {{ subscription.getCompany().getMainAddress().getStreet() }} {{ subscription.getCompany().getMainAddress().getNumber() }}
                                <br />
                                {{ subscription.getCompany().getMainAddress().getCity() }}<br>
                                {{ subscription.getCompany().getMainAddress().getCountry() }}<br>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Abonnement
                    </div>
                </div>
                <div class="panel-body" style="height: 140px;">
                    <table class="table table-condensed table-data table-borderless">
                        <tr>
                            <td>Begindatum:</td>
                            <td>{{ subscription.getStartDate()|localizeddate('full', 'none') }}</td>
                        </tr>
                        <tr>
                            <td>Einddatum:</td>
                            <td>{{ subscription.getEndDate()|localizeddate('full', 'none') }}</td>
                        </tr>
                        <tr>
                            <td>Frequentie:</td>
                            <td>{{ frequency }}</td>
                        </tr>
                        <tr>
                            <td>Volgende levering:</td>
                            <td>{{ subscription.getNextDate()|localizeddate('full', 'none') }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Onderbrekingen
                    </div>
                </div>
                <div class="panel-body" style="height: 140px;">
                    <table class="table table-condensed table-borderless">
                        {% for interruption in subscription.getSubscriptionInterruptions() %}
                            <tr>
                                <td>
                                    {% if interruption.startDate() == interruption.getEndDate() %}
                                        {{ interruption.startDate()|localizeddate('full', 'none') }}
                                    {% else %}
                                        {{ interruption.startDate()|localizeddate('full', 'none') }}
                                        <i>t/m</i> {{ interruption.getEndDate()|localizeddate('full', 'none') }}
                                    {% endif %}
                                </td>
                                <td class="pull-right">{% if interruption.getReason() %}<i class="icon-bubble-lines3"
                                                                                           data-popup="tooltip"
                                                                                           data-placement="left"
                                                                                           title="{{ interruption.getReason() }}"></i>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">

            <div class="panel panel-default">
                <div class="panel-heading">
                    &nbsp;
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-borderless table-pull-up">
                        <tr>
                            <th colspan="2">Producten <i>(per afleveradres)</i></th>
                            <th class="text-right" style="width: 100px;">Prijs (excl.)</th>
                            <th class="text-right" style="width: 100px;">BTW</th>
                            <th class="text-right" style="width: 100px;">Prijs (incl.)</th>
                        </tr>
                        {% for subscriptionProduct in subscription.getSubscriptionProducts() %}
                            <tr>
                                <td class="text-right"> 1 x</td>
                                <td>{{ subscriptionProduct.getProduct().getName() }} {% if subscriptionProduct.getProduct().getSku() %}
                                        <i>({{ subscriptionProduct.getProduct().getSku() }})</i>{% endif %} <a
                                            href="{{ path('admin_catalog_product_view', { product: subscriptionProduct.getProduct().getId() }) }}"
                                            class="fa fa-external-link" aria-hidden="true"></a></td>
                                <td class="text-right">€ {{ subscriptionProduct.getPrice()|number_format }}</td>
                                <td class="text-right">{{ subscriptionProduct.getProduct().getVat() }}</td>
                                <td class="text-right">
                                    € {{ (subscriptionProduct.getPrice() * (1 + subscriptionProduct.getProduct().getVat().getPercentage() / 100))|number_format }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td class="pull-right"><strong>Totaal:</strong></td>
                            <td class="cell-border-top text-right">€ 9.99</td>
                            <td class="cell-border-top"></td>
                            <td class="cell-border-top text-right">€ 9.99</td>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        &nbsp;
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-pull-up">
                        <tr>
                            <th>Afleveradressen</th>
                            <th style="width: 30px;"></th>
                            <th class="text-right" style="width: 100px !important;">Bezorgkosten<br />(excl.)</th>
                            <th class="text-right" style="width: 100px !important;">BTW</th>
                            <th class="text-right" style="width: 100px !important;">Bezorgkosten<br />(incl.)</th>
                        </tr>
                        {% for address in subscription.getSubscriptionAddresses() %}
                            <tr>
                                <td>
                                    {{ address.getAddress().getCompanyName() }}{% if address.getAddress().getCompanyName() and address.getAddress().getAttn() %}/{% endif %} {{ address.getAddress().getAttn() }}
                                    <br />
                                    <i>{{ address.getAddress().format() }}</i>
                                </td>
                                <td style="vertical-align: middle;">{% if address.getDeliveryRemark() %}<i
                                        class="icon-bubble-notification" data-popup="tooltip" data-placement="left"
                                        title="{{ address.getDeliveryRemark() }}"></i>{% endif %}</td>
                                <td style="vertical-align: middle;" class="text-right">
                                    € {{ address.getDeliveryCosts()|number_format(2) }}</td>
                                <td style="vertical-align: middle;" class="text-right">Laag (6%)</td>
                                <td style="vertical-align: middle;" class="text-right">
                                    € {{ (address.getDeliveryCosts() * 1.06)|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Leveringsschema
                    </div>
                    <div class="heading-elements panel-nav">
                        <ul class="nav nav-tabs nav-tabs-bottom">
                            <li class="active"><a href="#panel-tab1" data-toggle="tab" aria-expanded="false"><i
                                            class="icon-calendar2 position-left"></i> Kalenderweergave</a></li>
                            <li><a href="#panel-tab2" data-toggle="tab" aria-expanded="true"><i
                                            class=" icon-calendar5 position-left"></i> Lijstweergave</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body panel-tab-content tab-content">
                    <div class="tab-pane active" id="panel-tab1">
                        <div class="fullcalendar-basic"></div>
                    </div>
                    <div class="tab-pane" id="panel-tab2">
                        <table class="table table-condensed">
                            <tr>
                                <th>Afleverdatum</th>
                                <th>Order</th>
                            </tr>

                            {% for orderlist in orders %}
                                <td style="width: 200px;">{{ orderlist.datetime|localizeddate('full', 'none') }}</td>
                                <td>
                                    {% for order in orderlist.orders %}
                                        {{ order.getNumber }} <a href="#" class="fa fa-external-link"
                                                                 aria-hidden="true"></a>
                                    {% endfor %}
                                </td>
                            {% endfor %}

                            {% for recurrence in recurrences %}
                                <tr{% if recurrence.getStart() == subscription.getNextDate() %} class="success"{% endif %}>
                                    <td style="width: 200px;">{{ recurrence.getStart()|localizeddate('full', 'none') }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var events = {{ events|json_encode|raw }};
        var exdates = {{ exdates|json_encode|raw }};

        $('.fullcalendar-basic').fullCalendar({
            lang: 'nl',
            allDayDefault: true,
            header: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            columnFormat: 'dddd',
            aspectRatio: 1.5,
            weekNumbers: true,
            editable: false,
            events: events,
            lazyFetching: true,
            dayRender: function (date, cell) {
                for (var i in events) {
                    if (events[i].start == date.format('YYYY-MM-DD')) {
                        cell.css('background-color', '#E8F5E9');
                        cell.css('color', '#FFFFFF');
                    }
                }

                for (var i in exdates) {
                    if (exdates[i] == date.format('YYYYMMDD')) {
                        cell.css('background-color', '#FBE9E7');
                    }
                }

                cell.removeClass('fc-state-highlight');
            },
            eventColor: '#AED581',
            eventRender: function (event, element) {
                element.find('.fc-content').css('text-align', 'center');
                element.find('.fc-title').html(event.title);
            },
        });
    </script>
    <style type="text/css">
        .fc-view > table {
            min-width: 0;
        }

        .fc-basic-view tbody .fc-row {
            min-height: 60px;
        }

        .fc-unthemed .fc-today {
            background: inherit;
        }

        .fc-event {
            cursor: initial !important;
        }

        .fc-title a {
            color: #FFFFFF;
        }
    </style>
{% endblock body %}
