<div class="container" id="content-home">
    <div class="row">
        <div class="col-lg-9 col-sm-12" id="categories">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/fruitmanden-bezorgen" class="category-item" id="item-1">
                        <img src="{{ asset('build/images/fruitmanden.png') | imagine_filter('category_thumb') }}"
                             alt="Fruitmanden">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Fruitmanden</h2>
                            <p>traditionele manden</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/fruitboxen-bezorgen" class="category-item" id="item-2">
                        <img src="{{ asset('build/images/fruitboxen.png') | imagine_filter('category_thumb') }}"
                             alt="Fruitboxen">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Fruitboxen</h2>
                            <p>trendy boxen</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/fruitkisten-bezorgen" class="category-item" id="item-3">
                        <img src="{{ asset('build/images/fruitkisten.png') | imagine_filter('category_thumb') }}"
                             alt="Fruitkisten">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Fruitkisten</h2>
                            <p>&eacute;cht leuk om te krijgen</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/fruit-met-geschenk-bezorgen" class="category-item" id="item-4">
                        <img src="{{ asset('build/images/met-geschenk.png') | imagine_filter('category_thumb') }}"
                             alt="Fruit met geschenk">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Fruit met geschenk</h2>
                            <p>voor iedere gelegenheid</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/biologisch-fruit-bezorgen" class="category-item" id="item-5">
                        <img src="{{ asset('build/images/biologisch-fruit.png') | imagine_filter('category_thumb') }}"
                             alt="Biologisch fruit">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Biologisch fruit</h2>
                            <p>een bewuste keuze</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/werkfruit-abonnementen-bezorgen" class="category-item" id="item-6">
                        <img src="{{ asset('build/images/werkfruit.png') | imagine_filter('category_thumb') }}"
                             alt="Werkfruit abonnement">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Werkfruit abonnement</h2>
                            <p>elke week vers fruit op het werk</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12" id="text-blocks">
            {% if page and page.translate().getContent() %}
                <div class="text-block">
                    <div class="text-block-inner">
                        {{ page.translate().getContent()|raw }}
                    </div>
                    <div class="text-block-read-more" data-text-open="{{ 'read.more.text'|trans }}"
                         data-text-close="{{ 'close.button'|trans }}">
                        {{ 'read.more.text'|trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>