{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    {% if no_entities is not defined %}
    <div class="row text-center">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Wil je een WMS Order type met een bestaande of nieuwe voorwaarden maken?
                    </div>
                </div>
                <div class="panel-body" id="product_set_step">
                    <a class="btn btn-primary" href="{{ path('admin_settings_wmsordertype_add') }}">Bestaande voorwaarden overnemen</a>
                    <a href="{{ path('admin_settings_wmsordertype_createrule') }}" data-refresh-url="{{ path('admin_settings_wmsordertype_index') }}" class="btn btn-primary"
                       data-action="create-rule">Voorwaarden invoeren</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('a[data-action="create-rule"]').on('click', function(e) {
                e.preventDefault();

                var self = $(this);
                new RuleCreate(self.attr('href'), function() {
                    window.location.replace(self.attr('data-refresh-url'));
                });
            });
        });
    </script>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">Het genereren van database structuur informatie wordt op de achtergrond uitgevoerd. Probeer het later opnieuw.</div>
        </div>
    </div>
{% endif %}
{% endblock %}
