<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        th, td {
            width: 25%;
            text-align: left;
        }

        p {
            margin: 0;
        }
    </style>
</head>
<body>
<p>
    Beste klantenservice medewerker,<br /><br />

    Bestelling {{ orderNumber }} is niet compleet verzonden naar de ontvanger.<br>
    Bij de volgende artikelen is er een verschil geconstateerd:<br>
</p>

<table>
    <thead>
    <tr>
        <th>SKU</th>
        <th>Titel</th>
        <th>Verwacht</th>
        <th>Verzonden</th>
    </tr>
    </thead>
    <tbody>
    {% for error in errors %}
        <tr>
            <td>{{ error['productSku'] }}</td>
            <td>{{ error['productTitle'] }}</td>
            <td>{{ error['expectedQuantity'] }}</td>
            <td>{{ error['givenQuantity'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p><br>
    De klant is nog niet op de hoogte gesteld. Graag actie ondernemen.<br>
    Excuses voor het ongemak
</p>
</body>
</html>
