<li class="dropdown" id="entity_log">
    <a href="#" class="btn btn-link btn-float has-text dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="icon-history text-primary"></i>
        <span>Logboek</span>
    </a>
    <div class="dropdown-menu dropdown-content dropdown-menu-right">
        <div class="dropdown-content-heading">
            Laatste {{ history|length }} gebeurtenissen
        </div>

        <ul class="media-list dropdown-content-body width-350">
            {% for entry in history %}
                {% set changed_count = entry.data|length %}

                <li class="media">
                    <div class="media-body">
                        {% if entry.action == 'create' %}
                            Item is toegevoegd aan het systeem.
                        {% elseif entry.action == 'update' %}
                            {% if changed_count == 1 %}
                                Er is 1 wijziging aangebracht
                            {% else %}
                                Er zijn {{ changed_count }} wijzigingen aangebracht
                            {% endif %}
                        {% endif %}
                        <div class="media-annotation">{{ entry.logged_at|ago }} door <a
                                    href="#">{% if entry.username is empty %}
                                    <em>Systeem</em>{% else %}{{ entry.username }}{% endif %}</a></div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="dropdown-content-footer">
            <a href="#" data-popup="tooltip" title="" id="entity_log_all"
               data-original-title="Bekijk alle gebeurtenissen"><i class="icon-menu display-block"></i></a>
        </div>
    </div>
</li>