{% form_theme form with '@Admin/Catalog/Assortment/form-fields.html.twig' %}

{% if errors is defined and errors is not null %}
    {% for error in errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
{% endif %}

{% if assets is defined %}
    {% for asset in assets if asset[-4:] is same as('.css') %}
        <link rel="stylesheet" type="text/css" href="{{ asset }}" />
    {% endfor %}
{% endif %}

{{ form(form) }}

{% if assets is defined %}
    {% for asset in assets if asset[-3:] is same as('.js') %}
        <script type="text/javascript" src="{{ asset }}"></script>
    {% endfor %}
{% endif %}
