{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    {% if assets is defined %}
        {% for asset in assets if asset[-4:] is same as('.css') %}
            <link rel="stylesheet" type="text/css" href="{{ asset }}" />
        {% endfor %}
    {% endif %}

    <style type="text/css">
        .collection-items .table {
            width: auto;
        }
    </style>

    {#<div class="panel pull-right" style="position: relative; margin-top: -85px;">#}
    {#<div class="panel-body">#}
    {#<p style="margin: 0px;">#}
    {#{% spaceless %}#}
    {#Aangemaakt op {{ entity.getCreatedAt()|localizeddate('long', 'none', app.request.locale ) }} om {{ entity.getCreatedAt()|localizeddate('none', 'short', app.request.locale ) }} door ... <br />#}
    {#Laatst gewijzigd op {{ entity.getUpdatedAt()|localizeddate('long', 'none', app.request.locale ) }} om {{ entity.getUpdatedAt()|localizeddate('none', 'short', app.request.locale ) }} door ...#}
    {#{% endspaceless %}#}
    {#</p>#}
    {#</div>#}
    {#</div>#}

    {{ form(form) }}

    {% if assets is defined %}
        {% for asset in assets if asset[-3:] is same as('.js') %}
            <script type="text/javascript" src="{{ asset }}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
