{% extends 'AdminBundle::base.html.twig' %}

{% block body %}

    {% if assets is defined %}
        {% for asset in assets if asset[-4:] is same as('.css') %}
            <link rel="stylesheet" type="text/css" href="{{ asset }}" />
        {% endfor %}
    {% endif %}

    <style type="text/css">
        .collection-items .table {
            width: auto;
        }
    </style>

    <div class="view-action" data-entity-id="{{ entityId }}" data-entity-class="{{ entityClass }}">
        {% for panel in panels %}
            <div class="panel panel-default" data-panel-id="{{ panel.id }}"
                 data-href="{{ path( base_route, {panelId: panel.id, id: entityId}) }}">
                {% if panel.title is defined %}
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{ panel.title }}
                        </div>
                    </div>
                {% endif %}
                <div class="panel-body"></div>
            </div>
        {% endfor %}
    </div>

    {% if assets is defined %}
        {% for asset in assets if asset[-3:] is same as('.js') %}
            <script type="text/javascript" src="{{ asset }}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
