<link rel="shortcut icon" href="{{ asset(theme_img_base_path ~ 'favicon.ico') }}" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset(theme_img_base_path ~ 'apple-touch-icon-180x180.png') }}">
<link rel="icon" type="image/png" href="{{ asset(theme_img_base_path ~ 'android-chrome-192x192.png') }}" sizes="192x192">
<meta name="msapplication-square70x70logo" content="{{ asset(theme_img_base_path ~ 'smalltile.png') }}">
<meta name="msapplication-square150x150logo" content="{{ asset(theme_img_base_path ~ 'mediumtile.png') }}">
<meta name="msapplication-wide310x150logo" content="{{ asset(theme_img_base_path ~ 'widetile.png') }}">
<meta name="msapplication-square310x310logo" content="{{ asset(theme_img_base_path ~ 'largetile.png') }}">
