{% extends 'bootstrap_3_layout.html.twig' %}

{%- block form_start -%}
    {% if valid is same as(false) %}
        {% include "AppBundle:base:form-errors.html.twig" with {'form': form} %}
    {% endif %}

    {{ parent() }}
{%- endblock form_start -%}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {% set specific_types = ['integer', 'text', 'textarea', 'tel', 'password', 'email', 'choice'] %}
        {% set block_prefix = form.vars.block_prefixes.1 %}

        {% if block_prefix is not empty and block_prefix in specific_types %}
            {% set form_attr = attr %}

            {% if value is not empty or block_prefix is same as('choice') %}
                {% set form_attr = attr|merge({'class': attr.class|default('') ~ ' filled'}) %}
            {% endif %}

            {% if block_prefix == 'choice' and form.vars.expanded is same as(false) %}
                <span class="form-select-wrapper">
            {% endif %}

            {{- form_widget(form, {attr: form_attr}) -}}

            {% if label is not empty %}
                <label alt="{{ label|default(null)|trans }}{% if form.vars.required is same as(true) %}*{% endif %}"
                       placeholder="{{ label|default(null)|trans }}{% if form.vars.required is same as(true) %}*{% endif %}"></label>
            {% endif %}

            {% if block_prefix == 'choice' and form.vars.expanded is same as(false) %}
                </span>
            {% endif %}
        {% else %}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
        {% endif %}
    </div>
{%- endblock form_row %}

{%- block submit_row -%}
    <div class="button-row">
        {{ form_widget(form) }}
    </div>
{% endblock submit_row %}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}

    {% set attr = attr|merge({class: (attr.class|default('btn') ~ ' btn-theme')|trim}) %}

    {{ block('button_widget') }}
{%- endblock submit_widget -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}

    {% if type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}

    <input type="{{ type }}" {{ block('widget_attributes') }} {{ block('client_validation') }} {% if client_validation is not defined and (required is not defined or required is same as(false)) %} data-ignored="true"
           {% endif %}{% if value is not empty %}value="{{ value }}" {% endif %} />


{%- endblock form_widget_simple -%}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: block('checkbox_widget_elm') }) -}}
    {% else -%}
        <div class="checkbox">
            {{ block('checkbox_widget_elm') }}

            <label for="{{ id }}">{{ label|trans|raw }}</label>
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'radio-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: block('radio_widget_elm') }) -}}
    {% else -%}
        <div class="radio">
            {{ block('radio_widget_elm') }}

            <label for="{{ id }}">{{ label|trans }}</label>
        </div>
    {%- endif %}
{%- endblock radio_widget %}

{%- block checkbox_widget_elm -%}
    {% set client_validation = null %}

    {% if form.parent.vars.client_validation is defined and form.parent.vars.client_validation is not empty %}
        {% set client_validation = form.parent.vars.client_validation %}
    {% endif %}

    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} {{ block('client_validation') }} />
{%- endblock checkbox_widget_elm -%}

{%- block radio_widget_elm -%}
    {% set client_validation = null %}

    {% if form.parent.vars.client_validation is defined and form.parent.vars.client_validation is not empty %}
        {% set client_validation = form.parent.vars.client_validation %}
    {% endif %}

    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} {{ block('client_validation') }} />
{%- endblock radio_widget_elm -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}

    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} {{ block('client_validation') }}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block client_validation -%}
    {% if client_validation is defined %}
        {%- for attrname, attrvalue in client_validation %}
            {% if '-msg' in attrname %}
                data-{{ attrname }}="{{ attrvalue|data_attribute|trans([], 'validators') }}"
            {% else %}
                data-{{ attrname }}="{{ attrvalue|data_attribute }}"
            {% endif %}
        {% endfor %}
    {% endif %}
{%- endblock client_validation -%}

{%- block widget_attributes -%}
    id="{{ id }}"
    {%- if not hide_name %} name="{{ full_name }}"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif '-msg' in attrname -%}
            {{- attrname }}="{{ attrvalue|trans([], 'validators') }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}

{%- endblock widget_attributes -%}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}

        <div class="row">
            {{- date_pattern|replace({
                '{{ year }}': '<div class="col-xs-4"><span class="form-select-wrapper">' ~ form_widget(form.year, { 'attr': {'class': 'form-control', 'style': 'form-control'} }) ~ '</span></div>',
                '{{ month }}': '<div class="col-xs-5 padding-left-0 padding-right-0"><span class="form-select-wrapper">' ~ form_widget(form.month, { 'attr': {'class': 'form-control'} }) ~ '</span></div>',
                '{{ day }}': '<div class="col-xs-3"><span class="form-select-wrapper">' ~ form_widget(form.day, { 'attr': {'class': 'form-control'} }) ~ '</span></div>',
            })|raw -}}
        </div>

        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}

{% block multi_select %}
    <div class="row">
        <div class="col-md-8">
            Name
        </div>
        <div class="col-md-4 text-right">
            Buttons
        </div>
    </div>
{% endblock %}

