<style media="all">
    html,
    body {
        width: 210mm;
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 10pt;
        color: #3c4034;
        line-height: 1.4;
        font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
        margin: 0;
        padding: 0;
        /*padding: .8cm 1.5cm;*/
    }
</style>

<footer id="invoice-footer">
    {#Pagina <span class="pageNumber"></span> van <span class="totalPages"></span>#}
</footer>
