{% extends 'base_pdf.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">

    <style media="all">
        html,
        body {
            width: 100%;
            font-size: 8pt;
        }

        body {
            color: #3c4034;
            font-size: 8pt;
            font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
            /*padding: .8cm 1.5cm;*/
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 800;
            margin: 0;
        }

        h1 {
            font-size: 14pt;
            margin: 0 0 .75em;
        }

        header {
            margin-bottom: 5rem;
        }

        table {
            font-size: 8pt;
            width: 100%;
            border: 0;
            border-spacing: 0;
            border-collapse: collapse;
        }

        th {
            text-align: left;
            font-weight: normal;
        }

        header, main, footer, address, section {
            display: block;
        }

        address {
            font-style: normal;
        }

        .clear-fix:after {
            clear: both;
            content: '';
            display: block;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .clear-right {
            clear: right;
        }

        #brand-address {
            width: 12cm;
        }

        #order-container,
        #invoice-total {
            font-size: 7pt;
        }

        #order-container .number {
            width: 2.2cm;
        }

        #order-container .delivery-date {
            width: 2cm;
        }

        #order-container .quantity,
        #order-container .vat {
            width: 1.2cm;
        }

        #order-container .price,
        #order-container .total-price {
            width: 2cm;
        }

        #tax {
            width: 25%;
            margin-left: 4.3cm;
        }

        #invoice-total {
            width: 25%;
        }

        #invoice-order-data {
            width: 40%;
            margin-bottom: 1.5em;
        }

        #invoice-address {
            width: 50%;
            font-size: 8pt;
        }

        #order-container thead th {
            border-bottom: .25pt #3c4034 solid;
            padding-bottom: .5em;
        }

        #invoice-total th,
        #invoice-total td,
        #order-container tbody td {
            padding: 3pt 0 0;
        }

        #invoice-footer {
            margin-top: 1rem;
        }

        #invoice-footer tr:first-child th,
        #invoice-footer tr:first-child td {
            border-top: .25pt #3c4034 solid;
            padding-bottom: 3pt;
        }

        #invoice-footer tr:first-child th {
            border-color: transparent;
        }

        #invoice-footer tr:first-child td {
            font-weight: bold;
        }

        #invoice-footer tr:nth-last-child(2) th,
        #invoice-footer tr:nth-last-child(2) td {
            padding-bottom: 3pt;
        }

        #invoice-footer tr:last-child th,
        #invoice-footer tr:last-child td {
            border-top: .25pt #3c4034 solid;
            padding-bottom: 3pt;
        }

        #invoice-footer tr:last-child th {
            border-color: transparent;
        }

        #invoice-footer tr:last-child td {
            font-weight: bold;
        }

        #invoice-footer tr td.vat-total {
            border: 0;
        }

        .document {
            page-break-after: always;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    {% for data in invoices %}
        <div class="document">
            <main>
                {% if data.invoiceAddress is not null %}
                    <section class="clear-fix">
                        <address id="invoice-address" class="right">
                            {{ data.invoiceAddress|nl2br }}
                        </address>
                    </section>
                {% endif %}

                <section>
                    <h1>{{ 'invoice.title'|trans|capitalize }}</h1>

                    <table id="invoice-order-data">
                        <tbody>
                        <tr>
                            <th>{{ 'label.invoice.date'|trans|capitalize }}:</th>
                            <td>{{ data.invoiceDate }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.invoice.number'|trans|capitalize }}:</th>
                            <td>{{ data.invoiceNumber }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.customer.number'|trans|capitalize }}:</th>
                            <td>{{ data.customerNumber }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table id="order-container">
                        <colgroup>
                            <col class="number" />
                            <col class="delivery-date" />
                            <col class="description" />
                            <col class="quantity" />
                            <col class="amount" />
                            <col class="vat" />
                            <col class="total-price" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="number">{{ 'label.order_number.abbr'|trans|capitalize }}</th>
                            <th class="delivery-date">{{ 'label.delivery_date'|trans|capitalize }}</th>
                            <th class="description">{{ 'label.description'|trans|capitalize }}</th>
                            <th class="quantity text-center">{{ 'label.quantity'|trans|capitalize }}</th>
                            <th class="price text-right">{{ 'label.unit_price'|trans|capitalize }}</th>
                            <th class="vat text-right">{{ 'label.tax'|trans|upper }}</th>
                            <th class="total-price text-right">{{ 'label.total_price'|trans|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in data.invoiceLines %}
                            {% if line.totalPriceIncl is defined %}
                                {% set totalPriceIncl = get_price(line, true, 'totalPriceIncl') %}
                            {% else %}
                                {% set totalPriceIncl = null %}
                            {% endif %}
                            <tr class="order {% if line.firstRow %}first-row{% endif %}">
                                <td class="number">{{ line.number }}</td>
                                <td class="delivery-date">{% if line.deliveryDate is defined %}{{ line.deliveryDate }}{% endif %}</td>
                                <td class="description">{{ line.title }}{% if(line.description) %} ({{ line.description }}){% endif %}</td>
                                <td class="quantity text-center">{{ line.quantity }}</td>
                                <td class="price text-right">{{ (line.totalPriceIncl / (line.quantity ?: 1)) | number_format }}</td>
                                <td class="vat text-right">{{ line.vat }}</td>
                                <td class="total-price text-right">{{ totalPriceIncl | number_format }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            </main>

            <footer id="invoice-footer">
                <div class="clear-fix">
                    <table id="tax" class="left">
                        <tbody>
                        {% for key, vat in data.totalVat %}
                            {% set vatLabel = 'label.vat_of_price'|trans({'%vat_label%': key, '%price%': vat.totalPrice|number_format}) %}

                            <tr>
                                <th>{{ vatLabel|raw }}</th>
                                <td class="text-right vat-total">&euro; {{ vat.vat|number_format }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table id="invoice-total" class="right">
                        <tbody>
                        <tr>
                            <th>{{ 'label.total_including_tax'|trans|capitalize }}</th>
                            <td class="text-right">€ {{ data.totalPriceIncl|number_format }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                {% if data.orderCollection.calculateOutstanding <= 0 %}
                    <p>{{ 'invoice.note.payment_already_satisfied'|trans|capitalize|replace({'%payment_method%': data.paymentMethod}) }}
                        .</p>
                {% else %}
                    <p>{{ 'invoice.note.payment_not_satisfied'|trans|capitalize }}.</p>
                {% endif %}
            </footer>
        </div>
    {% endfor %}
{% endblock body %}
