{% import _self as packing_slip %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Packing slip - Order {{ order.getNumber() }}</title>

    <style>
        /* latin */
        @font-face {
            font-family: 'Architects Daughter';
            font-style: normal;
            font-weight: 400;
            src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'), url(https://fonts.gstatic.com/s/architectsdaughter/v8/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>

    <style>

        html {
            height: 100%;
        }

        * {
            box-sizing: border-box;
            line-height: 1.4;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            font-weight: 500;
        }

        body, h1, h2, h3, h4, h5, h6 {
            font-size: 10pt;
        }

        body {
            zoom: 1.3; /* 1.322*/
            font-weight: normal;
        }

        p {
            margin-top: 0;
        }

        .clearfix:after {
            content: '';
            clear: both;
            display: block;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        body {
            font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
            min-height: 100%;
            color: #333333;
            margin: 0;
        }

        body {
            display: block;
            height: 100%;
        }

        .ordernr,
        .product-name,
        .delivery-date,
        .pagination,
        th {
            font-weight: 500;
        }

        .packing-slip {
            margin: 0;
            display: block;
        }

        .packing-slip .page {
            position: relative;
            page-break-after: always;
            width: 297mm;
            height: 209mm;
        }

        .packing-slip .page-A5 {
            position: relative;
            page-break-after: always;
            width: 148mm;
            height: 209mm;
        }


        .packing-slip .block.lt,
        .packing-slip .block.lb,
        .packing-slip .block.rt,
        .packing-slip .block.rb {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 50%;
            overflow: hidden;
        }

        .packing-slip .page-A5 .block.lt,
        .packing-slip .page-A5 .block.lb,
        .packing-slip .page-A5 .block.rt,
        .packing-slip .page-A5 .block.rb {
            width: 100%;
        }

        .packing-slip .block.lb .ordernr {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
            right: -5mm;
            top: 50%;
            position: absolute;
            font-size: 7pt;
        }

        .packing-slip .block.rt,
        .packing-slip .block.rb {
            padding: 7.5mm;
        }

        .packing-slip .block.lb {
            top: 50%;
        }

        .packing-slip .block.lt {
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }

        .packing-slip .block.lt .text {
            padding: 7.5mm;
            max-width: 90%;
            position: relative;
            z-index: 2;
        }

        .packing-slip .block.lt.gb .text {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            font-size: 13pt;
            font-family: 'Architects Daughter', cursive;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }

        .packing-slip .block,
        .packing-slip .block.lt .logo {
            position: absolute;
        }

        .packing-slip .block.lt .logo {
            z-index: 3;
        }

        .packing-slip .block.lt .logo.LT {
            left: 0;
            top: 0;
        }

        .packing-slip .block.lt .logo.LB {
            left: 0;
            bottom: 0;
        }

        .packing-slip .block.lt .logo.RT {
            right: 0;
            top: 0;
        }

        .packing-slip .block.lt .logo.RB {
            right: 0;
            bottom: 0;
        }

        .packing-slip .product-card {
            position: relative;
        }

        .packing-slip .block.lt .card-image {
            width: 61.5%;
            height: 100%;
            background: no-repeat center right;
            background-size: 100%;
            top: 0;
            right: 0;
            position: absolute;
            z-index: 1;
        }

        .packing-slip .block.lt.gb .card-image {
            width: 100%;
            height: 100%;
        }

        .packing-slip .block.rt,
        .packing-slip .block.rb {
            left: 50%;
        }

        .packing-slip .block.rt {
            height: 75.7%;
        }

        .packing-slip .block.rb {
            height: 24.3%;
            top: auto;
            bottom: 0;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .product .extras {
            padding: 0;
        }

        .col-half {
            width: 50%;
        }

        .border .delivery-address,
        th,
        .total th,
        .total td {
            border-top: 1px #d9d9d9 solid;
            border-bottom: 1px #d9d9d9 solid;
        }

        .total th {
            padding-left: 2mm !important;
        }

        .border .delivery-address .col {
            padding: 3mm 0;
        }

        .delivery-address {
            margin: 0;
        }

        .products {
            margin: 3mm 0
        }

        .products .list {
            padding: 2.5mm 0;
        }

        .pagination {
            width: 20mm;
            margin-left: 1rem;
        }

        .delivery-date {
            width: 80mm;
            text-align: right;
        }

        .text-9pt {
            font-size: 9pt;
        }

        .images {
            margin-top: 5mm;
        }

        .image {
            position: relative;
            width: 25mm;
            height: 25mm;
            background: no-repeat center left;
            border: 1px solid #ccc;
            z-index: -1;
            background-size: 100% !important;
            margin-right: 2mm;
        }

        .image img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        .quantity-warning {
            text-transform: uppercase;
            color: red;
            text-align: left;
        }

        .product-quantity {
            text-align: center;
            width: 60px;
            vertical-align: top;
        }

        table.table {
            width: 100%;
            border-collapse: collapse;
        }

        .table-products {
            margin: 5mm 0 0 0;
        }

        h3, .table th {
            font-weight: bold;
        }

        .table th,
        .table td {
            font-size: 9pt;
            vertical-align: top;
            padding: 1mm 0;
            padding-right: 2mm;
        }

        .price-column {
            width: 70px;
            text-align: right;
        }

        td.child {
            position: relative;
            padding-left: 5mm;
        }

        td.child .icon {
            left: 0;
            position: absolute;
            text-align: center;
            width: 5mm;
            height: 100%;
        }

        .desciption {
            opacity: .65;
            font-size: 9pt;
            font-style: italic;
        }

        .truncated-description {
            display: block;
            display: -webkit-box;
            max-width: 100%;
            max-height: 150px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    </style>

</head>

<body style="-webkit-print-color-adjust:exact;">

<div class="packing-slip">

    <div class="pages">
        {% for page in pages if line is not defined or line is same as(page.lineId) %}
            <div class="page page-{{ paperSize }}">

                {% if page.card.text is defined %}
                    <div class="block lt product-card {% if page.card.is_gb is defined %}gb{% endif %}">
                        {% set style = '' %}

                        {% if page.card.image is defined %}
                            {% set style = 'style="background-image: url(\'%image%\'); background-repeat: no-repeat; background-position: center right; background-size: 100%;"'|replace({'%image%': page.card.image}) %}
                        {% endif %}

                        <div class="card-image" {{ style|raw }}></div>

                        {% if page.card.logo is defined %}
                            <div class="logo postion {{ page.card.logo.position }}">
                                {% if page.card.logo.url is defined and page.card.logo.url is not null %}
                                    <img src="{{ page.card.logo.url }}"
                                         style="width: {{ page.card.logo.width }}mm; height: {{ page.card.logo.height }}mm; margin: {{ page.card.logo.margin_y }}mm {{ page.card.logo.margin_x }}mm;">
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="text">
                            {{ page.card.text|nl2br }}
                        </div>
                    </div>
                {% endif %}

                {% if paperSize|upper is same as ('A5') %}
                <div class="block lb">
                    <div class="ordernr">#{{ order.orderNumber }}</div>
                </div>
                {% elseif paperSize|upper is same as ('A4') %}
                <div class="block rt">

                    {% if order is defined %}

                        {% if pages|length > 1 %}
                            {% set pagination = 'P ' ~ page.number ~ '/' ~ pages|length %}
                        {% else %}
                            {% set pagination = null %}
                        {% endif %}

                        {{ packing_slip.info(true, order, pagination, order.getSupplierRemark) }}

                        {% if page.products %}
                            <div class="products">
                                <h3>Opdracht bon:</h3>
                                <table class="table table-products">
                                    <tr>
                                        <th class="quantity text-center">Aantal</th>
                                        <th class="title text-left">Product</th>

                                        {% if hasForwardPricesToShow %}
                                            <th class="price text-right">Per stuk</th>
                                            <th class="price-total text-right">Totaal</th>
                                        {% endif %}
                                    </tr>

                                    {% for product in page.products %}
                                        {{ packing_slip.render_product(product, false, hasForwardPricesToShow) }}



                                        {% for childProduct in product.childs %}
                                            {{ packing_slip.render_product(childProduct, true, hasForwardPricesToShow) }}
                                        {% endfor %}
                                    {% endfor %}

                                    {% if hasForwardPricesToShow %}
                                        {% if page.number is same as(pages|length) %}
                                            <tr class="total">
                                                <th colspan="3" class="text-left">Bezorgkosten</th>
                                                <td class="price-column">
                                                    &euro; {{ totalDeliveryCostsIncl|number_format }}</td>
                                            </tr>
                                            <tr class="total">
                                                <th colspan="3" class="text-left">Order Totaal</th>
                                                <td class="price-column">&euro; {{ totalPriceIncl|number_format }}</td>
                                            </tr>
                                        {% else %}
                                            <tr class="total">
                                                <th colspan="3" class="text-left">Subtotaal</th>
                                                <td class="price-column">
                                                    &euro; {{ page.totalPriceIncl|number_format }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                </table>

                                {{ packing_slip.render_product_images(page) }}
                            </div>
                        {% endif %}

                    {% endif %}
                </div>

                <div class="block rb text-9pt">
                    {{ packing_slip.info(false, order, null, order.getDeliveryRemark()) }}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

</body>

</html>

{% macro render_product(product, isChild, hasForwardPricesToShow) %}
    {% if not product.isDelivery %}
        <tr>
            <td class="quantity text-center">{{ product.quantity }}</td>
            <td class="title text-left {% if isChild %}child{% endif %}">
                {% if isChild %}
                    <div class="icon">-</div>{% endif %}
                <span>{{ product.title }}</span>
                {% if product.desciption is not empty %}
                    <div class="desciption truncated-description">{{ product.desciption }}</div>{% endif %}
                {% if product.quantity > 1 and isChild is same as(false) %}
                    <div class="quantity-warning">Let op aantal!</div>{% endif %}
            </td>

            {% if hasForwardPricesToShow %}
                <td class="price price-column">&euro; {{ product.displayPrice|number_format }}</td>
                <td class="price-total price-column">&euro; {{ product.totalDisplayPrice|number_format }}</td>
            {% endif %}
        </tr>
    {% else %}
        <tr class="total">
            <th {% if hasForwardPricesToShow %}colspan="3"{% endif %} class="text-left">{{ product.title }}</th>
            <td class="price-column">
                {% if hasForwardPricesToShow %}&euro; {{ product.displayPrice|number_format }}{% endif %}</td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro render_product_images(page) %}
    {% if page.images|length > 0 %}
        <div class="images clearfix">
            {% for image in page.images %}
                <div class="image left">
                    <img src="{{ image }}" />
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro info(border, order, pagination, remark) %}
    <div class="info {% if border %}border{% endif %}">
        <div class="topbar cols clearfix">
            <div class="col left ordernr">#{{ order.orderNumber() }}</div>

            {% if pagination is defined %}
                <div class="col left pagination">{{ pagination }}</div>
            {% endif %}

            <div class="col right delivery-date">
                {% if order.getPickupAddress() %}Afhalen op{% else %}Bezorgen op{% endif %} {{ order.deliveryDate|localizeddate('full', 'none') }}
                <br /><br />
            </div>

        </div>

        <div class="delivery-address cols clearfix">
            <div class="col col-half left">
                <h3>Bezorgadres</h3>
                {% if order.getPickupAddress() %}
                    (Wordt afgehaald)
                {% else %}
                    {% if order.getDeliveryAddressCompanyName() %}{{ order.getDeliveryAddressCompanyName() }}&nbsp;/&nbsp;{% endif %}
                    {% if order.getDeliveryAddressAttn() %}{{ order.getDeliveryAddressAttn() }}<br />{% endif %}
                    {% if order.getDeliveryAddressStreetAndNumber() %}{{ order.getDeliveryAddressStreetAndNumber() }}
                        <br />{% endif %}
                    {% if order.getDeliveryAddressPostcode() %}{{ order.getDeliveryAddressPostcode() }}
                        {% if order.getDeliveryAddressCity() %}{{ order.getDeliveryAddressCity() }}<br />{% endif %}
                    {% endif %}
                    {% if order.getDeliveryAddressPhoneNumber() %}
                        {{ order.getDeliveryAddressPhoneNumber() }}<br />
                    {% endif %}
                {% endif %}
            </div>
            {% if remark %}
                <div class="col col-half left">
                    <h3>Opmerkingen</h3>
                    <p>{{ remark|nl2br }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
