{% block column_two %}
    <table class="table table-borderless product-description" style="margin-top: 50px;">
        <tr>
            <td>Extra producten:</td>
            <td>{{ product.getAdditionalProductAssortments.isEmpty ? 'Geen' : product.getAdditionalProductAssortments.toArray | join(', ') }}</td>
        </tr>
        <tr>
            <td>Bijbehorende kaartjes:</td>
            <td>{{ product.getCards ? product.getCards.getName() : 'Geen' }}</td>
        </tr>
        <tr>
            <td>Bijbehorende brief:</td>
            <td>{{ product.getLetter ? product.getLetter.getName() : 'Geen' }}</td>
        </tr>
        <tr>
            <td>Seizoens product:</td>
            <td>Nee</td>
        </tr>
        <tr>
            <td>Productgroup:</td>
            <td><a href="{{ path('admin_catalog_productgroup_edit', {id: product.productgroup.id}) }}">{{ product.productgroup }}</a></td>
        </tr>
    </table>
{% endblock column_two %}