<div class="row product-container" data-product="{{ product.getId }}">
    <div class="col-md-2">
        <div id="product-foto">
            {% block image %}
            {{ include('@App/blocks/Product/image.html.twig', {product: product}) }}
            {% endblock image %}
        </div>
    </div>
    <div class="col-md-5">
        {% block column_one %}
            <table class="table table-borderless product-description">
                <thead>
                    <tr>
                        <th colspan="2" style="font-size: 15px; margin: 0;">{{ product.getName() }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Omschrijving:</td>
                        <td>{{ product.translate.getDescription | raw }}</td>
                    </tr>
                    {% if product.getVariations.isEmpty is same as(true) %}
                        {% if product.getSku is not empty %}
                        <tr>
                            <td>Sku:</td>
                            <td>{{ product.getSku }}</td>
                        </tr>
                        {% endif %}

                        <tr>
                            <td>Prijs (excl.):</td>
                            <td>&euro; {{ product.getPrice | number_format }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Te koop:</td>
                        <td>{{ product.getPurchasable ? 'Ja' : 'Nee' }}</td>
                    </tr>
                    <tr>
                        <td>Gepubliceerd:</td>
                        <td>{{ product.getPublish ? 'Ja' : 'Nee' }}</td>
                    </tr>

                    {% if product.getPublishStart is not null or product.getPublishEnd is not null %}
                    <tr>
                        <td>Gepubliceerd van/tot:</td>
                        <td>{{ product.getPublishStart ? product.getPublishStart.format('d-m-Y H:i') : 'Geen startdatum' }} - {{ product.getPublishEnd ? product.getPublishEnd.format('d-m-Y H:i') : 'Geen einddatum' }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>Beschikbaar voor:</td>
                        <td>{{ product.getCustomerGroups.toArray | join(', ') }}</td>
                    </tr>
                </tbody>
            </table>
        {% endblock column_one %}

        {% block column_one_actions %}
            <button
                class="btn btn-primary pull-right"
                data-action="open-content"
                data-refresh-panel="description_panel"
                data-url="{{ path('admin_catalog_product_edit', {id: product.getId}) }}">
                    Bewerken
            </button>
        {% endblock column_one_actions %}
    </div>

    <div class="col-md-5">
        {% block column_two %}{% endblock column_two %}
        {% block column_two_actions %}{% endblock column_two_actions %}
    </div>
</div>
