{% extends 'AdminBundle::base.html.twig' %}

{% block body %}

    {% if assets is defined %}
        {% for asset in assets if asset[-4:] is same as('.css') %}
            <link rel="stylesheet" type="text/css" href="{{ asset }}" />
        {% endfor %}
    {% endif %}

    <style type="text/css">
        .collection-items .table {
            width: auto;
        }
    </style>


    <div class="view-action">
        {% for template in templates %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ include(template) }}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if assets is defined %}
        {% for asset in assets if asset[-3:] is same as('.js') %}
            <script type="text/javascript" src="{{ asset }}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
