{% extends '@Admin/base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Regels
            </div>
        </div>
    </div>
{% endblock %}
