@charset "UTF-8";

$white: #FFF;
$black: #000;
$green: #919b16;
$red: #FF0000;
$grey: #454a3f;
$darkgrey: #252525;
$lightgrey: #adafab;

$disabled: #a5a5a5;
$success: $green !important;
$error: $red;

$corp-color: #fff;
$corp-color-darken-10: darken($corp-color, 10);
$corp-secondary-color: $grey;
$corp-slogan-width: 150px;

$opacity-6: .6;

$base-border-color: #e8e8e8;
$base-icon-size: 24px;
$base-font-size: 15px;
$base-line-height: 1.2;

$base-font-color: $grey;
$base-font-color-lighten-25: lighten($grey, 25);
$base-font-color-lighten-35: lighten($grey, 35);
$base-font-color-lighten-50: lighten($grey, 50);

$base-font-family: "Helvetica Neue",Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,sans-serif;
$base-link-color: $grey;
$base-link-hover-color: $corp-color;
$base-link-transition: color .15s linear;

$base-slick-nav-color: $lightgrey;
$base-slick-nav-hover-color: $grey;

$base-btn-secondary-color: $base-font-color;
$base-btn-secondary-bg-color: #f8f8f8;
$base-btn-secondary-border-color: $base-border-color;

$menu-border-color: $base-border-color;

$column-left-width: 40%;
$column-right-width: 60%;