@import "config";

#content-producten {
  padding: 0;

  .row > div {
    padding: 0;

    @media (max-width: 992px) {
      padding: 0 15px;
    }
  }

  .pagina-title,
  .product-title {
    width: auto;

    padding: 0 0 30px 0;
  }

  .filter-toggle {
    position: relative;
    width: 160px;
    float: right;
    margin-top: -45px;
    z-index: 9;

    @media (max-width: 544px) {
      width: auto;
    }

    p {
      font-size: 20px;
      text-transform: uppercase;
      color: #616161;
      font-family: $base-font-family;
    }

    span {
      position: absolute;
      right: 15px;
      top: -1px;
      font-size: 18px;
      color: #616161;
    }

    .zoek-close {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .filter {
    position: relative;
    width: 100%;
    background: white;
    z-index: 9;
    float: left;
    padding: 20px 20px;
    margin-bottom: 30px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;

    .title {
      padding: 0;
      margin-bottom: 3px;
      margin-top: 7px;
      font-weight: 600;
    }

    .less-padding-right {
      padding-left: 0;
    }

    .prijs {
      width: 100%;
      float: left;
      margin-top: 10px;

      .piece {
        width: auto;
        float: left;
        margin-right: 10px;
        margin-top: 15px;

        p {
          float: left;
          line-height: 46px;
          margin-right: 10px;
        }

        input {
          float: left;
          width: 70px;
          border-radius: 5px;
        }
      }
    }

    .choices {
      width: 100%;
      float: left;

      .check-row {
        width: 100%;
        float: left;
        padding: 5px 0;
      }

      input[type="checkbox"] {
        float: left;
        margin-right: 5px;
        margin-top: 4px;
      }

      p {
        float: left;
        font-size: 14px;
      }

      .left {
        width: 50%;
        float: left;
      }

      .right {
        width: 50%;
        float: left;
      }
    }

    #slider-range {
      background: #f0f0f0;
      border-radius: 10px;
      .ui-slider-range {
        background: #e1e1e1;
      }

      .ui-slider-handle {
        border-radius: 50%;
      }
    }
  }

  #producten {
    padding-left: 15px;

    .product-hover {
      display: none;
      background: #fff;
      text-align: center;
      padding: 10px;

      .hover-item {
        margin-top: 2px;
      }

      .description {
        line-height: 140%;

        font-size: 14px;
        margin-bottom: 10px;

        p {
          font-size: inherit;
        }
      }

      .choices {
        width: 100%;
        float: left;

        p {
          text-align: center;
          font-weight: 600;
        }

        ul {
          list-style: none;
          width: 100%;
          padding: 5px 10px 0 10px;

          li {
            width: calc(33% - 10px);

            padding: 0;
            float: left;
            margin: 0 5px;

            img {
              width: 100%;
              height: auto;
              background: #ededed;
              border: 0;

              @media (max-width: 544px) {
                max-width: 70px;
                margin: 0 auto;
                display: block;
              }
            }

            p {
              font-size: 12px;
              line-height: 14px;
              margin-top: 5px;
              width: 100%;
              word-wrap: break-word;
            }
          }
        }
      }

      .btn-bestellen {
        width: 100%;

        padding: 6px 0;

        &:hover {
          cursor: pointer;
        }
      }
    }


    .product-item {

      a {
        text-decoration: none;
      }

      .choices {
        width: 100%;

        margin-bottom: 10px;
      }
    }

    .item_2 {
      .product-hover {
        @media (min-width: 526px) and (max-width: 992px) {
          left: calc(-90% - 30px);
        }
      }

      .hover-item {
        @media (min-width: 526px) and (max-width: 992px) {
          margin-right: 15px;
          margin-left: 0;
        }
      }

      .hide-shadow {
        @media (min-width: 526px) and (max-width: 992px) {
          position: relative;
          left: 100%;
        }
      }
    }

    .item_3 {
      .product-hover {
        @media (min-width: 992px) {
          left: calc(-90% - -15px);
        }

        .hover-item {
          @media (min-width: 992px) {
            margin-left: 0;
          }
        }

        .hide-shadow {
          @media (min-width: 992px) {
            position: relative;
            left: 100%;
          }
        }
      }
    }

    .item_4 {
      .product-hover {
        left: calc(-90% - -15px);

        @media (max-width: 526px) {
          margin-left: 15px;
        }

        @media (min-width: 526px) and (max-width: 992px) {
          left: calc(-90% - 30px);
        }

        .hover-item {
          margin-left: 0;

          @media (max-width: 526px) {
            margin-right: 15px;
            margin-left: 0;
          }

          @media (min-width: 526px) and (max-width: 992px) {
            margin-right: 15px;
            margin-left: 0;
          }
        }

        .hide-shadow {
          position: relative;
          left: 100%;

          @media (min-width: 526px) and (max-width: 992px) {
            position: relative;
            left: 100%;
          }
        }
      }
    }

    .drieen {
      .product-hover {
        @media (min-width: 992px) {
          left: calc(-90% - 30px);
        }

        .hover-item {
          @media (min-width: 992px) {
            margin-right: 15px;
            margin-left: 0;
          }
        }

        .hide-shadow {
          @media (min-width: 992px) {
            position: relative;
            left: 100%;
          }
        }
      }
    }

    .hide-shadow {
      @media (max-width: 526px) {
        display: none;
      }
    }

    .product-hover {
      @media (max-width: 526px) {
        width: calc(100% - 30px);
        margin-left: 15px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      }
    }

    .producthover {
      @media (max-width: 526px) {
        position: relative;
        overflow: hidden;
        float: left;
      }

      .hover-item {
        @media (max-width: 526px) {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    .product-item {
      left: calc(100% - 2px);

      margin-bottom: 20px;
      border: 1px solid #e8e8e9;
      float: left;
      margin-top: 2px;

      @media (min-width: 992px) {
        display: inline-block;

        width: calc(100% - 15px);
      }

      @media (min-width: 1200px) {
        display: inline-block;

        width: calc(100% - 15px);
      }

      &.product-item-clone {
        position: absolute;

        top: 0;
        left: 0;

        border: 1px solid white;
        cursor: pointer;

        height: auto;

        z-index: 10;

        &:hover {
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

          .product-hover {
            display: block;
          }
        }
      }

      img {
        width: 100%;
        display: block;
        margin: 0 auto;

        @media (max-width: 544px) and (min-width: 992px) {
          max-height: 220px;
          width: auto;
          margin: 0 auto;
        }

        @media (min-width: 992px) {
          max-width: 100%;
        }

        @media (min-width: 992px) and (max-width: 1200px) {
          max-width: 225px;
        }
      }

      .desc {
        width: 100%;
        float: left;
        text-align: center;

        h2 {
          font-size: 20px;
          text-align: center;
          padding: 10px 10px 5px 10px;
        }

        p {
          color: $darkgrey;
          text-align: center;
          padding: 10px 10px 20px 10px;
        }

        .price-block {
          display: inline-block;
          margin-bottom: 1rem;
        }
      }
    }

    .text-area {
      width: calc(100% - 0px);

      padding: 20px 20px;
      border: 1px solid #e8e8e9;
      margin-bottom: 20px;
      height: 355px;
      margin-top: 0;

      @media (min-width: 992px) {
        margin-top: 2px;
        width: calc(100% - 15px);

        height: 360px;
      }

      @media (max-width: 526px) {
        height: auto;
      }

      @media (max-width: 768px) {
        height: 325px;
        margin-top: 2px;
      }

      @media (max-width: 992px) {
        height: 410px;
      }

      @media (max-width: 1200px) {
        height: 310px;
      }

      h3 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      p,
      li {
        font-size: 13px;
      }

      p,
      ul {
        margin-bottom: 10px;
      }

      ul {
        margin-left: 20px;
      }
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
