@import "config";
@import "_includes/mixins";

#content-shoppingcart {

  .address-book{
    display: inline-block;
    float: right;
    width: auto !important;
  }

  .shopping-padding-bottom {
    padding-bottom: 30px;
  }

  .row-order-details {
    margin-top: 10px;
    display: flex;

    flex-wrap: wrap;

    .column {
      width: 100%;
      margin-bottom: 1rem;
      border-right: 1px $base-border-color solid;

      @media all and (max-width: 991px) {
        border: 0;
        margin: 0 0 1rem;
      }

      @media all and (min-width: 992px) {

        width: 100%;

        /* two items */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ div {
          width: calc(100% / 2);
        }

        /* two items */
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ div {
          width: calc(100% / 3);
        }

        margin-bottom: 0;
      }

      h3 {
        display: flex;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;

        overflow: hidden;

        padding: .75rem 0;
      }

      .column-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;

        padding: .75rem .75rem 0 .75rem;

        @media all and (min-width: 545px) {
          min-height: 70px;
        }

        @media all and (max-width: 767px) {
          padding: 1rem 0 0 0;
        }

        @include product_lines();

        .column-cta {
          display: flex;

          height: 32px;
          line-height: 32px;

          justify-content: center;

          margin-top: .5rem;
        }
      }

      &.column-no-personalization {
        @media all and (max-width: 992px) {
          display: none;
        }
      }

      &.column {
        .product-lines {
          width: 100%;
          .product-line {
            width: 100%;
            align-items: center;

            &:not(:first-child) {
              border-top: 1px $base-border-color solid;
            }

            .image {
              flex-basis: 20%;
              padding-top: 20%;
              position: relative;
              text-align: center;

              img {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .details {
              flex-basis: 70%;
              padding: 0 0 0 1rem;
            }

            .qty {
              flex-basis: 10%;
              min-width: 53px;
            }
          }
        }

        .qty-selector {
          align-self: flex-end;

          @include qty_selector("24px", "11px");

          &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }

      &.column-additional-products {
        .additional-products-show-all {
          display: flex;

          height: 32px;
          line-height: 32px;

          font-size: 90%;
          white-space: nowrap;
          justify-content: center;

          margin-top: .5rem;
          padding: 0 1rem;

          overflow: hidden;

          a {
            display: inline-block;

            padding-left: 5px;
            font-weight: 600;
            font-size: inherit;
          }
        }
      }
    }

    .column:last-child {
      border-right: 0;
    }
  }

  @media all and (max-width: 767px) {
    .container .form div:not(.pickup-container) .row {
      margin: 0;

      .form-row {
        margin: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;

        div {
          padding: 0;
        }

        div.number {
          margin-left: 10px;
        }

        div.number-addition {
          margin-left: 10px;
        }
      }
    }

    .text-separator {
      display: none;
    }

    .buttons {
      margin: 0 -15px;

      .btn:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }

  .delivery-pickup-method-description {
    flex: 1;

    .pickup-timeslots {
      margin: 0 -6px 0 -5px;
    }

    .label-timeslots {
      margin: 1rem 0;
      font-weight: bold;
    }

    .timeslot-item{
      border: grey 1px solid;
      border-radius: 2px;
      margin: 0 -10px 0 -10px;
      padding: 5px;

      @media (max-width: 544px) {
        margin-bottom: .5rem;
      }

      label{
        width: 100%;
        height: 100%;
        margin-bottom: 0;
      }

      &.active {
        background: #b3b3b3;

        span {
          &.price {
            font-weight: bold;
          }
        }
      }

      &:hover {
        background: #b3b3b3;
      }
    }

    .pickup-days {
      position: relative;

      .slick-list {
        margin: 0 -5px;
      }
      .slick-slide {
        margin-bottom: 10px;
      }

      .slick-slide > div {
        padding: 0 3px;
      }

      .slick-arrow {
        position: absolute;
        top: calc(50% - 10px);

        &.slick-arrow.fa-chevron-left {
          left: -1.1rem;
        }

        &.slick-arrow.fa-chevron-right {
          right: -1.1rem;
        }
      }
    }

    .timeslot-item,
    .timeslot-day-item {
      cursor: pointer;
      border-radius: 3px;
      border: $base-border-color 1px solid;
      text-align: center;
      display: flex;
      position: relative;
      min-height: 50px;
      line-height: 1.2;

      label{
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        align-self: center;

        .title,
        .description {
          display: block;
        }

        .description {
          font-weight: bold;
        }
      }

      &.active {
        color: white;

        background-color: $grey;
        border-color: $grey;

        span {
          &.price {
            font-weight: bold;
          }
        }
      }

      &:not(.active):hover {
        background: $base-border-color;
      }
    }

    .timeslot-day-item.active::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -8px;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: $grey transparent transparent transparent;;
    }
  }

  .row-delivery-details {
    display: flex;
    flex-wrap: wrap;

    .delivery-details-container,
    .delivery-date-container {
      display: flex;
      width: 100%;

      @media all and (min-width: 992px) {
        width: 50%;
        margin-top: 20px;
      }

      border-top: 1px solid #f1f1f1;
      padding-top: 20px !important;

      > div {
        width: 100%;
        background: #f8f8f9;
        border: 1px solid #eaebec;
        padding: 20px;
        margin-bottom: 20px;
        overflow: hidden;

        h3 {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }

    .delivery-details-container {

      @media all and (min-width: 992px) {
        padding-right: 10px !important;
      }

      .delivery-method-list {
        margin-top: 5px;
        min-height: 50px;

        ul {
          list-style: none;

          li {
            padding: 3px 0;
          }
        }
      }

      .row {
        .form-row {
          padding-top: 5px;
          padding-bottom: 5px;

          &.phone,
          &.comment {
            display: none;
          }

          #cart_order_deliveryRemark {
            height: 38.06px;
          }
        }

        @media all and (min-width: 992px) {
          div[class*="col-"] {
            &:first-child {
              padding-right: 10px;
            }

            &:last-child {
              padding-left: 10px;
            }
          }

          .attn {
            padding-left: 15px !important;
            padding-right: 10px !important;
          }
        }

        .number {
          @media all and (min-width: 991px) {
            padding-left: 10px;
            padding-right: 10px;
          }
        }

        &:last-child {
          .form-row {
            padding-bottom: 0;

            @media all and (max-width: 991px) {
              margin-bottom: 1rem;
            }
          }

          .form-group {
            @media all and (min-width: 992px) {
              margin-bottom: 0;
            }
          }
        }
      }

      .show-company {
        .attn {
          padding-left: 10px !important;
          padding-right: 15px !important;
        }
      }
    }

    .pickup-container {
      .scrollbar-inner {
        max-height: 350px;
        margin-top: .5rem;

        .pickup-location-list {
          width: 100%;
        }
      }

      .row,
      .row > div,
      .row .pickup-location-list {
        @media (min-width: 768px) {
          display: flex;
        }
      }

      nav {
        border-bottom: 0 !important;
      }

      nav ul {
        li {
          width: auto !important;
          margin-left: 0 !important;
          border: 1px $base-border-color solid !important;

          &:not(:last-child) {
            border-bottom: 0 !important;
          }
        }
      }
    }

    .delivery-date-container, .pickup-container {
      display: flex;
      flex: 1;
      -ms-flex: 1;
      flex-direction: column;
      display: -ms-flexbox;

      .bezorg-bericht {
        margin-top: 10px;
        color: #9c9c9c;
        font-style: italic;
      }

      input.flatpickr-input {
        display: none;
      }

      .flatpickr-calendar.inline {
        display: none;
      }

      .delivery-methods.loading {
        .delivery-method-list {
          background: url('./../img/ajax-loader-large.gif') no-repeat center center;
        }
      }

      .delivery-pickup-method-description {
        display: none;

        p {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }



      .pickup-location-list-container-wrapper {
        @media all and (min-width: 768px) {
          padding-left: 0 !important;
        }

        .btn-theme i.fa {
          margin: 0;
        }
      }

      .delivery-date-container-wrapper, .pickup-location-list-container-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;

        &.loading {
          padding-bottom: 75px;

          background: #f8f8f9 url('./../img/ajax-loader-large.gif') no-repeat center 65px !important;
        }

        .delivery-dates, .pickup-location-list {
          display: flex;
          flex-direction: column;
          flex: 1;

          .tabs {
            display: flex;
            flex: 1;

            nav {
              display: flex;
              flex: 1;
              flex-direction: column;

              width: 40%;
              border-bottom: 1px solid #eaebec;

              ul {
                display: flex;
                flex: 1;
                flex-direction: column;

                margin: 0;
                padding: 0;

                list-style: none;

                li {
                  display: flex;
                  flex: 1;
                  flex-direction: column;

                  background: rgba(255, 255, 255, .6);

                  border: 1px solid #eaebec;
                  border-bottom: 0;
                  transition: all .15s linear;

                  cursor: pointer;

                  padding: .5rem;

                  &.active {
                    background: #fff;
                    width: calc(100% + 2px);
                    margin-left: -2px;
                    padding-left: calc(.5rem + 2px);

                    //@media all and (max-width: 767px) {
                    //  border-right-color: transparent;
                    //}

                    span {
                      &.price {
                        font-weight: bold;
                      }
                    }
                  }

                  &:hover {
                    background: rgba(255, 255, 255, .9);
                  }

                  label {
                    position: relative;
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 0;

                    span {
                      display: flex;
                      cursor: pointer;

                      &.title {
                        max-width: calc(100% - 60px);
                        overflow: hidden;

                        font-size: 16px;
                      }

                      &.price {
                        position: absolute;

                        right: 0;
                        font-size: 14px;
                      }

                      &.description {
                        font-size: 13px;
                      }
                    }
                  }
                }
              }

              @media all and (max-width: 1023px) {
                display: none;
              }
            }

            .tab-content {
              width: 60%;

              border: 1px solid #eaebec;

              @media all and (min-width: 922px) {
                border-left: 0;
              }

              @media all and (max-width: 991px) {
                width: 100%;
              }

              background: #fff;

              .datepicker {
                padding: 0 1rem;

                .delivery-date-row {
                  position: relative;

                  display: flex;
                  flex: 1;

                  min-height: 100%;

                  &:before {
                    min-height: 100%;
                  }

                  .flatpickr-calendar.inline {
                    display: block;
                    flex: none;
                    width: 100%;
                    max-width: none;

                    box-shadow: none;
                    border: 0;
                    top: 0;

                    .flatpickr-innerContainer {
                      border-bottom: 0;
                    }

                    .flatpickr-rContainer {
                      width: 100%;
                      max-width: none;
                    }

                    $flatpickr-day-size: 14.28%;

                    .flatpickr-days {
                      .flatpickr-day {
                        width: $flatpickr-day-size;
                        max-width: $flatpickr-day-size;
                        height: 0;
                        padding-top: ($flatpickr-day-size / 2);
                        padding-bottom: ($flatpickr-day-size / 2);
                        line-height: $flatpickr-day-size;
                      }
                    }
                  }

                  .flatpickr-calendar.arrowTop:after,
                  .flatpickr-calendar.arrowTop:before {
                    display: none !important;
                  }
                }
              }

              .information {
                padding: 1rem;
                font-size: .866rem;
                line-height: 1.4rem;

                h3 {
                  font-size: 1.066rem; // 16px
                  font-weight: bold;
                  line-height: inherit;
                  margin: 0;
                }

                .chosen-date {
                  text-transform: capitalize;
                }

                .btn-change-date {
                  display: inline-block;
                  font-style: italic;
                  text-transform: lowercase;
                  text-decoration: underline;
                  color: rgba($grey, .65);
                  cursor: pointer;
                  margin-bottom: 1rem;
                }
              }
            }
          }

          .tabs {
            .tab-content {
              &:not(.show) {
                .datepicker {
                  display: none;
                }
              }

              &.show {
                .information {
                  display: none;
                }
              }
            }
          }
        }

        .pickup-location-list .tabs nav {
          display: block !important;
        }
      }
    }
  }

  .buttons {
    text-align: right;

    .text-separator {
      padding: 0 1rem;
    }

    @media all and (min-width: 992px) {
      margin: 0 -15px;
    }
  }
}

.checkout-delivery-modal-additional-products {
  .additional-product-list {
    margin: 0 -20px;

    box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, .1),
    inset 0 -11px 8px -10px rgba(0, 0, 0, .1);

    max-height: 285px;
    overflow: hidden;
    overflow-y: visible;

    padding: 1rem 3rem;

    .qty-selector {
      align-self: flex-end;

      @include qty_selector("24px", "11px");
    }

    @include product_lines();

    .product-line {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }

}

.address-suggestions,
.addressbook-suggestions {
  width: 600px !important;
  font-size: .95rem;
  line-height: 1.2;

  table {
    font-size: .95rem;
    margin: 1rem 0;

    tbody tr {
      td {
        text-align: left;
        padding: 5px 10px;
        transition: all .5s linear;
        cursor: pointer;
      }

      &:hover {
        td {
          background-color: rgba($grey, .5);
        }
      }
    }
  }

  a {

  }
}
