@import "config";
@import "_includes/mixins";

#order-register-or-login > .row > div {
  padding: 0;
}

#content-shoppingcart #order-register-or-login .hide-form {
  display: none;
}

#content-shoppingcart #order-register-or-login .title {
  font-size: 100%;
}

#content-shoppingcart #order-register-or-login .bezorg-details {
  float: left;
  border: 1px solid #eaebec;
  border-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.extra-field-padding .form-group {
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 992px) {
  #content-shoppingcart #order-register-or-login .bezorg-details {
    margin-right: 15px;
    width: calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
  }
}

@media (max-width: 992px) {
  #content-shoppingcart #order-register-or-login .bezorg-details {
    width: 100%;
  }
}

#content-shoppingcart #order-register-or-login .bezorg-details .title {
  padding: 20px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

#content-shoppingcart #order-register-or-login .bezorg-details .details {
  width: 100%;
  float: left;
  padding: 0px 20px;
  margin-bottom: 15px;
}

#content-shoppingcart #order-register-or-login .bezorg-details .details p {
  margin-top: 5px;
}

#content-shoppingcart #order-register-or-login #user-data {
  width: 100%;
  background: #f8f8f9;
  border: 1px solid #eaebec;
}

#content-shoppingcart #order-register-or-login #user-data .title {
  border-bottom: 0;
  padding: 10px 0 10px 0;
  font-size: 14px;
  font-weight: bold;
}

#content-shoppingcart #order-register-or-login #user-data > .row {
  margin-left: -5px;
  margin-right: -5px;
}

#content-shoppingcart #order-register-or-login #user-data .form-group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#user-data .user-data-top {
  font-size: 12px;

  .col-md-8 {
    padding-right: 0;

    .form-group {
      margin-bottom: 0;
    }
  }

  .col-md-4 {
    padding-left: 0;
  }

  ul, li, p {
    font-size: 12px;
    list-style: none;
  }

  li {
    position: relative;

    &:before {
      content: "\F00C";
      display: inline-block;
      position: absolute;
      margin-left: -17px;
      margin-top: 2px;
      color: #919b16;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }

  .col-form-label {
    padding-left: 0;
    font-weight: bold;
  }

  #cart_customerStatus {
    display: flex;

    .radio {

    }
  }
}

//
//#content-shoppingcart #order-register-or-login #user-data .select-type-user {
//
//}
//
//#content-shoppingcart #order-register-or-login #user-data .select-type-user p {
//  font-family: $base-font-family;
//}

#content-shoppingcart #order-register-or-login #user-data #form-client {
  display: none;
}

#content-shoppingcart #order-register-or-login #user-data #form-client a {
  width: 100%;
  float: right;
  text-align: right;
  text-decoration: underline;
}

#content-shoppingcart #order-register-or-login #user-data .form {
  width: 100%;

  margin-top: 10px;
}

#content-shoppingcart #order-register-or-login #user-data .form .form-row {
  width: 100%;
  padding: 5px 20px;
}

#content-shoppingcart #order-register-or-login #user-data .form .form-showadres {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

#content-shoppingcart #order-register-or-login #user-data .form .form-showadres p {
  font-size: 14px;
  float: left;
}

#content-shoppingcart #order-register-or-login #user-data .form .form-showadres a {
  float: right;
}

#content-shoppingcart #order-register-or-login #user-data .form .form-showadres a span {
  margin-right: 7px;
}

#content-shoppingcart #order-register-or-login .address-container .postcode-and-number-result {
  display: none;

  padding: 0 0 20px 28px;
}

#content-shoppingcart #order-register-or-login #user-data .left {
  width: 50%;
  float: left;
}

#content-shoppingcart #order-register-or-login #user-data .right {
  width: 45%;
  float: right;
}

@media (max-width: 992px) {
  #content-shoppingcart #order-register-or-login #user-data .left {
    width: 100%;
  }

  #content-shoppingcart #order-register-or-login #user-data .right {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #content-shoppingcart #order-register-or-login #user-data {
    border-right: 1px solid #eaebec;
    margin-bottom: 20px;
  }
}

#content-shoppingcart #order-register-or-login #payments {
  border-top: 1px solid #ededed;
}

@media (min-width: 990px) {
  #content-shoppingcart #order-register-or-login #user-data {
  }

  #content-shoppingcart #order-register-or-login #payments {
    margin-left: 15px;
  }
}

#content-shoppingcart #payments.loading {
  padding-bottom: 75px;

  background: url('./../img/ajax-loader-large.gif') no-repeat center 65px;
}

#content-shoppingcart #payments .title {
  padding: 20px;
  border: 1px solid #ededed;
  border-top: 0px;
  background: #f8f8f9;
  padding-bottom: 20px;
  font-weight: bold;
}

#content-shoppingcart #payments .payment-row {
  position: relative;
  width: 100%;
  float: left;
  border: 1px solid #ededed;
  border-top: 0px;
  padding: 20px 10px;
  padding-bottom: 15px;
  background: #f8f8f9;
}

#content-shoppingcart #payments .payment-row .radio-left {
  float: left;
}

#content-shoppingcart #payments .payment-row p {
  font-family: $base-font-family;
}

#content-shoppingcart #payments .payment-row.active {
  background: white;
  border-bottom: 0px;
}

#content-shoppingcart #payments .payment-row p {
  float: left;
  line-height: 16px;
}

#content-shoppingcart #payments .payment-type {
  float: left;
}

#content-shoppingcart #payments .payment-icons {
  float: right;
}

#content-shoppingcart #payments .payment-icons img {
  width: auto;
  float: right;
  margin-right: 10px;
  margin-top: -3px;
  float: left;
}

#content-shoppingcart #payments .payment-row.has-description {
  padding: 11px 10px;
}

#content-shoppingcart #payments .payment-row.has-description label {
  line-height: 1.1;
}

#content-shoppingcart #payments .payment-row.has-description .payment-icons img {
  margin-top: 6px;
}

#content-shoppingcart #payments .payment-row.has-description .payment-costs {
  position: absolute;

  right: 20px;
  bottom: 5px;

  font-size: 13px;
}

#content-shoppingcart .payment-row:hover {
  cursor: pointer;
}

#content-shoppingcart .payment-dropdown {
  width: 100%;
  float: left;
  padding: 20px 20px 5px 20px;
  border: 1px solid #ededed;
  border-top: 0px;
  display: none;
}

#content-shoppingcart .payment-dropdown .card {
  width: 33.333%;
  float: left;
  border: 0px;
}

#content-shoppingcart .payment-dropdown .card-spacer {
  width: 100%;
  background: red;
  float: left;
}

#content-shoppingcart .payment-dropdown .card:hover {
  cursor: pointer;
}

#content-shoppingcart .payment-dropdown img {
  float: left;
}

#content-shoppingcart .payment-dropdown .form-row {
  width: 100%;
  float: left;
  padding: 5px 0;
}

#content-shoppingcart .payment-dropdown .form-row .container {
  padding-left: 0;
  padding-right: 0;
}

#content-shoppingcart .payment-dropdown .form-row .expiry-month {
  padding-right: 0;
}

#content-shoppingcart .payment-dropdown .form-row .expiry-year {
  padding-right: 0;
}

#content-shoppingcart .payment-dropdown .form-row .birthday {
  width: calc(33% - 15px);
  width: -moz-calc(33% - 15px);
  width: -webkit-calc(33% - 15px);

  float: left;
  margin-right: 15px;
  margin-top: 5px;
}

@media (max-width: 992px) {
  #content-shoppingcart .payment-dropdown .form-row .birthday {
    width: 100%;
  }
}

#content-shoppingcart #order-register-or-login .drop-active {
  display: block;
}

#content-shoppingcart .radio {
  float: left;
  margin-right: .50rem;
  margin-top: .30rem;
}

#user-data .row-gender,
#user-data .row-name,
.address-container .form-row {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

#form-new-client .row-country .country-choice,
#form-new-client .row-country .country {
  float: none;
}


#form-new-client .row-country .country-choice:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.row-country .country {
  margin-top: 10px;
}

.row-country .country-list {
  display: none;
}

.row-company {
  display: none;
}

#content-shoppingcart .row-company-account-registration {
  .radio {
    float: none;
  }
}

#cart_companyAccountRegistration:after,
.row-company-account-registration:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.row-company-account-registration-identification,
.row-company-account-registration-coc,
.row-company-account-registration-vat {
  display: none;
}

.row-company-account-registration-identification {
  margin-top: 10px;
}

.row-company-account-registration-identification button {
  width: 100%;
}

.row-company-account-registration-identification .button-row {
  margin-bottom: 20px;
}

.company-account-information {
  border-top: 1px solid #f1f1f1;
  padding-top: 6px;
  margin: 0 20px;

  @media all and (min-width: 768px) {
    border-left: 1px solid #f1f1f1;
    border-top: none;
    padding-top: 0;
    margin: 10px 0 0 0;

    padding-left: 10px;
  }

  .title {
    padding-top: 0;
  }

  .company-account-description {
    display: block;
    margin-top: 3px;
  }
}

.company-account-information ul {
  padding-left: 20px;
}

.company-account-information .company-account-title {
  font-weight: bold;
}

.row-customer-registration .customer-account-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.button-row {
  margin-top: 20px;
}

.payment-tab:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.payment-tab .payment-row .description {
  font-style: italic;
  font-size: 11px;
  line-height: 15px;
  display: inline-block;
}

.payment-tab-disabled label:before {
  opacity: 0;
}

.payment-info-popup {
  a {
    text-decoration: underline !important;
  }
}

/// NEW

.form {
  .form-row {
    div[class*="col-"] {
      &:first-child {
        padding-right: 10px;
      }

      &:last-child {
        padding-left: 10px;
      }

      &.number {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    &.row-name {
      .gender {
        padding-right: 0 !important;
      }

      .name {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.row-postcode-and-city {
      div[class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
      }

      .form-group {
        margin-bottom: 0;
      }
    }
  }

  .form-client-data {
    border-top: 1px solid #f1f1f1;
    padding-top: 1rem;
  }

  .row-country {
    margin-bottom: 10px;

    .row-country-inputs {
      padding-left: 15px !important;
    }

  }
}

.totals {
  margin-left: 15px;

  padding: 20px;

  h3 {
    font-weight: bold;
  }

  .description {
    padding: 5px 0 20px 0;
  }

  .taxes {
    .tax-row {
      color: $base-font-color-lighten-35;
      padding: .5rem 0;
      @include clearfix;
    }

    @include clearfix;
  }

  .subtotal-row {
    color: $base-font-color-lighten-25;

    @include clearfix;
  }

  .subtotals-text {
    float: left;

    width: 70%;

    text-align: left;
  }

  .subtotals-price {
    position: relative;
    float: left;
    text-align: right;

    padding-right: 5px;

    width: 30%;

    &::before {
      position: absolute;
      content: '€';
      left: 0;
    }
  }

  .discount-row {
    .subtotals-price {
      position: relative;

      border-bottom: 1px solid $base-font-color-lighten-50;

      padding: 5px 5px 5px 0;
    }
  }

  .total-row {
    color: $base-font-color;

    @include clearfix;
  }

  .totals-text {
    float: left;

    width: 70%;

    text-align: left;
  }

  .totals-price {
    position: relative;
    float: left;
    text-align: right;
    padding-right: 5px;

    width: 30%;

    &::before {
      position: absolute;
      content: '€';
      left: 0;
    }
  }

  border-bottom: 1px solid #f1f1f1;
}

.conditions {
  margin-left: 15px;

  padding: 20px;
}

.button-row {
  button {
    display: block;

    width: 100%;
  }
}

.label-cvc-help {
  display: block;
  position: absolute;
  top: -12px;
  left: 47px;
  cursor: pointer;
  color: #454a3f;
}

label a {
  text-decoration: underline;
}

.extra-field-padding {
  label::before {
    content: attr(placeholder);
  }

  label {
    width: 100%;
    position: absolute;
    top: -11px;
    display: block;
    pointer-events: none;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    padding: 0 0 10px .75rem;
    color: #55595c;
  }

  .select2 {
    width: 100% !important;
  }
}

.extra-field-padding .select2-container--default .select2-selection--single .select2-selection__rendered{
  min-height: 22px;
}

.extra-field-padding .select2-container--default.select2-container--focus .select2-selection--multiple, .extra-field-padding span.select2-selection.select2-selection--multiple{
  border-radius: 0;
  min-height: 36px;
  border: .0625rem solid #e1e1e1!important;
}

.customer-address-information {
  padding: 10px;
  font-size: 13px;
  line-height: 1.2;

  h3 {
    font-size: 13px;
    font-weight: bold;
    color: #454a3f;
    margin-bottom: 5px;
  }

  .customer-information {
    margin-top: 15px;
  }
}
