/*
    Particulier
*/
#content-account-register {
  margin-top: 40px;
}

#content-account-register h2 {
  margin: 15px 0 0 0;
}

#content-account-register h3 {
  margin: 20px 0 25px 0;

  padding: 10px;
  background: #f0f0f0;
}

/*
    Zakelijk
*/
#content-account-company-register .form-flow-steps {
  position: relative;
  margin: 40px 0;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

#content-account-company-register .form-flow-steps ol {
  margin: 0;
  padding: 0;

  list-style: none;
  width: 100%;

  counter-reset: a;
}

#content-account-company-register .form-flow-steps ol > li {
  counter-increment: a;
  width: 25%;
  max-width: 25%;
  text-align: center;
  float: left;

  position: relative;
}

#content-account-company-register .form-flow-steps ol > li:before {
  background-color: #f0f0f0;
  border-radius: 50%;
  color: #8D8D8D;
  content: counter(a);
  display: block;
  margin: .36em auto;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;

  z-index: 2;
}

#content-account-company-register .form-flow-steps ol > li.craue_formflow_done_step:before,
#content-account-company-register .form-flow-steps ol > li.craue_formflow_current_step:before {

  color: #fff;
}

#content-account-company-register .form-flow-steps ol > li:after {
  position: absolute;
  content: "";
  background: #c3c1bc;
  width: calc(100% - 2em);
  height: .15em;
  border-radius: .5em;
  right: calc(50% + 1em);
  margin-top: -.4em;
  top: 50%;

  font-size: 1.4em;
  z-index: 1;
}

.topgeschenken #content-account-company-register .form-flow-steps ol > li.craue_formflow_done_step:after,
.topgeschenken #content-account-company-register .form-flow-steps ol > li.craue_formflow_current_step:after {
  background: #b5251a;
}

#content-account-company-register .form-flow-steps ol > li:first-child:after {
  display: none;
}

#content-account-company-register h2 {
  margin: 0 0 25px 0;

  /*padding: 10px;
  background: #919b16;
  color: #fff;
  font-size: 18px;*/

  padding: 10px;
  background: #f0f0f0;
}

#content-account-company-register h3 {
  margin: 20px 0 25px 0;

  padding: 10px;
  background: #f0f0f0;
}

#content-account-company-register button.form-reset {
  display: none;
}

#content-account-company-register #block-loading-message {
  display: none;
}

#content-account-company-register .invoice-address-container {
  display: none;

  margin: 25px 0 -10px 0;
  padding: 15px 0 0 0;

  border-top: 1px dotted #e1e1e1;
}

#content-account-company-register .row-invoice-address-attn {
  margin-top: 10px;
}

#content-account-company-register .row-address{
  display: none;
}

#content-account-company-register .step-heading {
  margin: 0 0 1rem 0;
}

#content-account-company-register .step-confirmation-heading {
  margin: .75rem 0 .10rem 0;

  font-weight: bold;
}

#content-account-company-register .craue_formflow_buttons {
  margin: 1rem 0 0 0;
}

.postcode-and-number-result {
  display: none;

  padding: 0 0 20px 28px;
}

.postcode-and-number-result label {
  font-weight: bold;

  margin-bottom: .15rem;
}

.chamber-of-commerce-not-unique {
  padding: 10px;

  border: 1px solid #8D8D8D;
  margin-bottom: 20px;
}

.chamber-of-commerce-not-unique p {
  font-weight: bold;
}

.chamber-of-commerce-not-unique ul {
  list-style: none;
  margin: 0;
  padding: 0;
}