#customer-account {
  h4 {
    padding: 10px;
    background: #f0f0f0;

    font-size: 16px;
  }

  .row-postcode-and-number {
    margin-top: 15px;
  }

  .row-postcode-and-city {
    .form-group {
      margin-bottom: 0;
      margin-top: 10px;

      label {
        display: none;
      }
    }
  }

  .row-country {
    .country {
      margin-bottom: 0;
    }

    .country-list {
      display: none;
    }
  }

  .address-book {
    .card-block {
      .row {

        position: relative;

        height: 110px;
      }
    }
  }

  .address-block {
    padding: 0 10px 10px 10px;
  }

  a.btn {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .address-book .column-right {
    position: static;
  }

  .address-book .column-right .actions {
    position: absolute;

    width: 250px;
    bottom: 0;
  }
}

.other-addresses-block{
  .card{
    margin-bottom: 0px;
  }
  table{
    width: 100%;
  }
}