#employee_toolbar {
  display: none;
  position: fixed;

  height: 40px;
  line-height: 40px;

  background-color: red;
  color: #fff;

  width: 100%;
  z-index: 997;

  bottom: -20%;

  animation: employee_toolbar 1s ease-in;
  animation-fill-mode: forwards;

  @media only screen and (min-width: 768px) {
    display: block;
  }

  @keyframes employee_toolbar {
    0% {
      bottom: -20%;
    }

    100% {
      bottom: 0;
    }
  }

  .col-md-6:first-child {
    padding-left: 0;
  }

  .col-md-6:last-child {
    padding-right: 0;

    text-align: right;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: inline-block;

    li {
      display: inline-block;

      padding-left: 5px;

      &:after {
        margin-left: 5px;
        content: "|";
      }

      &:last-child {
        &:after {
          content: '';
          display: none;
        }
      }

      a {
        color: #fff;
        transition: opacity .15s linear;

        &:hover {
          color: #fff;
          text-decoration: none;
          opacity: 0.75;
        }

        &:active {
          color: #fff;
          text-decoration: none;
          opacity: 0.75;
        }
      }
    }
  }
}