@import "config";

#content-home {

  #categories {
    .row {
      > div {
        padding: 0 15px 0 0;

        @media (max-width: 575px) {
          padding: 0 15px;
        }

        @media (min-width: 576px) and (max-width: 992px) {
          padding: 0;

          &:nth-child(odd) {
            padding-right: 7px;
          }

          &:nth-child(even) {
            padding-left: 7px;
          }
        }
      }
    }

    .category-item {
      width: 100%;
      height: 172px;
      position: relative;
      margin-bottom: 1rem;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      float: left;
      overflow: hidden;
      color: $base-font-color;
      background: url('../img/panel.png') 0 0 no-repeat;
      background-size: 100% 100%;

      @media (max-width: 544px) {
        height: 120px;
      }

      img {
        position: relative;
        float: left;
        display: block;
        z-index: 301;
        height: 172px;
        max-height: 172px;

        @media (max-width: 544px) {
          height: 100%;
        }
      }

      .desc {
        position: absolute;
        width: 100%;

        bottom: 1rem;
        text-align: right;
        z-index: 302;
        padding: .25rem .5rem;

        font-family: $base-font-family;
        background: rgba(255, 255, 255, .8);
        border-bottom: 2px #333 solid;

        @media (max-width: 544px) {
          position: absolute;
          width: calc(100% - 30px);

          top: 40px;
          right: 45px;
        }

        @media (min-width: 544px) and (max-width: 992px) {
          position: absolute;
          width: calc(100% - 7px);

          right: 30px;
        }

        h2 {
          color: inherit;
          font-size: 20px;

          @media (max-width: 544px) {
            font-size: 22px;
          }
        }

        p {
          font-size: .75rem;
        }
      }
      &:hover {
        color: $base-font-color;
      }
    }
  }
}

#about {
  background: #f0f0f0;
  padding: 40px 0;

  @media (max-width: 992px) {
    padding: 30px 0;
  }

  .row {
    > div {
      padding: 0;

      @media (max-width: 544px) {
        padding: 20px;
      }
    }
  }

  h2 {
    font-size: 26px;
    margin-bottom: 1rem;

    @media (max-width: 992px) {
      padding-bottom: 20px;
    }
  }

  #about-topbloemen {
    @media (min-width: 772px) and (max-width: 992px) {
      padding-right: 50px;
    }

    p {
      padding-right: 50px;
      margin: 0 0 1rem 0;

      @media (max-width: 992px) {
        padding-right: 0;
      }
    }
  }

  #about-clients {
    .testimonials {
      width: 100%;
      float: left;
      padding: 10px 0;
      overflow-x: hidden;
    }

    .testimonials-holder {
      position: relative;
      left: 0;
      width: 400%;
      float: left;
    }

    .tab-holder {
      width: 25%;
      float: left;

      @media (max-width: 544px) {
        float: left;
        width: 100px;
        left: 0;
        padding: 0 15px;
      }

      &.active {
        opacity: 1;
      }
    }

    .left {
      width: 100px;
      float: left;
    }

    .right {
      width: calc(100% - 130px);

      float: right;
    }

    p {
      padding-left: 0;

      b {
        font-weight: 600;
      }
    }
  }

  .navigation {
    width: 100%;
    padding: 10px 0;
    float: left;
    margin-top: 40px;

    .holder {
      width: 135px;
      height: 20px;
      margin: 0 auto;
    }

    .item {
      width: 15px;
      height: 15px;
      background: #c6c5c5;
      float: left;
      margin-right: 15px;
      border-radius: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#company-info {
  padding: 0 0 40px 0;

  .row {
    > div {
      padding: 0;
    }
  }

  .video {
    float: left;
    width: 100%;
    height: 325px;

    img {
      width: 100%;
      z-index: 0;
    }

    span {
      position: absolute;
      top: 80px;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 100px;
      z-index: 1;
    }

    p {
      position: absolute;
      top: 180px;
      width: 100%;
      text-align: center;
      color: #fff;
      padding-top: 20px;
      font-size: 24px;
      z-index: 1;
    }
  }

  .inside {
    width: 100%;
    height: 325px;
    background: url('../img/bg-company.jpg') right no-repeat;
    background-size: auto 100%;
    float: left;

    .kader {
      width: 230px;
      height: 100%;

      float: left;

      p {
        color: #fff;
        text-align: center;
        margin-top: 130px;
        padding: 0 20px;
        font-size: 20px;
      }

      span {
        position: absolute;
        top: 100px;
        left: 225px;
        font-size: 120px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #company-info .video {
    height: 270px;

    @media (min-width: 768px) and (max-width: 992px) {
      height: auto;
    }
  }

  #company-info .video span {
    top: 50px;

    @media (min-width: 0px) and (max-width: 400px) {
      top: 30px;
      font-size: 60px;
    }

    @media (min-width: 400px) and (max-width: 500px) {
      top: 30px;
      font-size: 80px;
    }

    @media (min-width: 500px) and (max-width: 544px) {
      top: 50px;
      font-size: 80px;
    }

    @media (min-width: 544px) and (max-width: 768px) {
      top: 50px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      top: 80px;
    }
  }

  #company-info .video p {
    top: 160px;

    @media (min-width: 0px) and (max-width: 400px) {
      top: 70px;
      font-size: 16px;
    }

    @media (min-width: 400px) and (max-width: 500px) {
      top: 100px;
      font-size: 16px;
    }

    @media (min-width: 500px) and (max-width: 544px) {
      top: 130px;
    }

    @media (min-width: 544px) and (max-width: 768px) {
      top: 150px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      top: 200px;
    }
  }

  #company-info .inside {
    height: 270px;
  }

  #company-info .inside .kader {
    width: 200px;
  }

  #company-info .inside .kader p {
    margin-top: 90px;
  }

  #company-info .inside .kader span {
    position: absolute;
    top: 70px;
    left: 190px;
  }
}

#reviews {
  padding: 20px 0;
  text-align: center;

  @media (max-width: 544px) {
    padding: 0 15px;
  }

  .row {
    > div {
      padding: 15px;

      @media (max-width: 544px) {
        padding: 15px;
      }

      @media (max-width: 992px) {
        padding: 15px;
      }
    }

    .row {
      > div {
        padding: 0;

        @media (max-width: 992px) {
          padding: 15px 0;
        }
      }
    }
  }

  .arrow-left {
    position: absolute;
    top: 50%;
    left: -50px;
    width: 40px;
    height: 50px;
    display: none;

    &:hover span {
      color: $darkgrey;
    }

    @media (max-width: 994px) {
      margin-top: 100px;
    }
  }

  .arrow-right {
    position: absolute;
    top: 50%;
    right: -50px;
    width: 40px;
    height: 50px;

    @media (max-width: 994px) {
      margin-top: 100px;
    }
  }

  .right {
    &:hover {
      span {
        color: $darkgrey;
      }
    }
  }

  .btn-arrow {
    &:hover {
      cursor: pointer;
    }

    span {
      font-size: 50px;
      color: #d7d7d7;
    }
  }

  .title {
    width: 100%;
    background: url('../img/bg-title.jpg') center repeat-x;
    float: left;
    margin-bottom: 30px;

    @media (max-width: 544px) {
      background: none;
    }

    h2 {
      width: 420px;
      margin: 0 auto;
      font-size: 30px;
      background: white;
      font-weight: 500;

      @media (max-width: 544px) {
        width: 100%;
      }
    }

    span {
      font-weight: 600;
    }
  }

  .review-holder {
    width: calc(100% - 20px);

    float: right;
    overflow: hidden;

    @media (max-width: 544px) {
      float: left;
      width: 100%;
      overflow: hidden;
    }

    @media (min-width: 544px) and (max-width: 768px) {
      margin-top: 0;
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      margin-top: 0;
      width: 100%;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      margin-top: 10px;
    }

    .tab-holder {
      position: relative;
      float: left;
      width: 3000px;

      @media (max-width: 544px) {
        margin-top: 20px;
        width: 900%;
        padding-left: 0;
      }

      @media (min-width: 544px) and (max-width: 768px) {
        margin-top: 0;
        padding-left: 0;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        margin-top: 0;
        padding-left: 0;
      }

      .procent {
        width: 9.4%;
        float: left;

        @media (max-width: 544px) {
          width: 11.11%;
          float: left;
        }

        @media (min-width: 544px) and (max-width: 768px) {
          width: 6.05%;
          float: left;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          width: 8.00%;
          float: left;
        }

        @media (min-width: 992px) and (max-width: 1200px) {
          width: 7.76%;
          float: left;
        }
      }
    }
  }

  .item {
    width: 100%;
    float: left;

    p {
      font-size: 13px;
    }

    .left {
      width: 120px;
      float: left;

      .rank {
        width: 100%;

        float: left;
        padding-left: 0;

        .heel {
          width: 19px;
          height: 17px;
          background: url('../img/rank-heel.jpg') no-repeat;
          float: left;
        }

        .half {
          width: 19px;
          height: 17px;
          background: url('../img/rank-half.jpg') no-repeat;
          float: left;
        }
      }

      p {
        width: 100%;
        float: left;
        text-align: left;
        margin-top: 5px;
      }
    }

    .right {
      width: calc(100% - 130px);
      float: right;

      p {
        text-align: right;
      }
    }

    .bottom {
      width: 100%;
      float: left;
      margin-top: 10px;

      p {
        color: #55595c;
        text-align: left;
      }
    }
  }

  .review-block {
    width: 100%;
    float: left;

    .left {
      width: 120px;
      float: left;

      .nummer {
        font-size: 30px;
        padding: 0;
        background: #8c9148;
        color: #fff;
        float: left;
        line-height: 50px;
        font-family: $base-font-family;
      }
    }

    &.score {
      float: left;
      padding-top: 0;

      .left {
        width: 60px !important;
        float: left;

        span {
          text-align: center;
          width: 100%;
        }

        .text {
          float: left;
          color: #55595c;
          margin-top: 5px;
        }
      }

      .right {
        width: calc(100% - 60px);

        float: left;

        .logo {
          width: 100%;

          max-width: 146px;
          padding-left: 10px;
          float: right;
          margin-top: -5px;

          @media (max-width: 544px) {
            width: 100%;
            float: right;
            margin-bottom: 5px;
          }

          img {
            width: 100%;
            margin: 0 auto;
            float: right;
          }
        }

        .rank {
          width: 100%;

          max-width: 146px;
          float: right;
          padding-left: 10px;
          margin-top: 10px;

          @media (max-width: 544px) {
            float: right;
          }

          .heel {
            width: 25px;
            height: 23px;
            background: url('../img/rank-heel.jpg') no-repeat;
            background-size: 100%;
            float: left;
          }

          .half {
            width: 25px;
            height: 23px;
            background: url('../img/rank-half.jpg') no-repeat;
            background-size: 100%;
            float: left;
          }
        }
      }

      .bottom {
        width: 100%;
        float: left;
        margin-top: 10px;

        p {
          color: #8c9148 !important;
          font-size: 14px !important;
          text-align: center !important;
          font-weight: 600 !important;
        }
      }
    }
  }

  .no-padding-right {
    padding-right: 0;

    .item {
      @media (max-width: 544px) {
        margin-top: 20px;
        margin-right: 20px;
      }

      @media (max-width: 992px) {
        margin-top: 20px;
        margin-right: 20px;
      }

      .right {
        @media (max-width: 544px) {
          width: calc(100% - 140px);

          float: right;
        }

        @media (max-width: 992px) {
          width: 100%;

          float: right;
        }

        p {
          @media (max-width: 544px) {
            text-align: right;
          }

          @media (max-width: 992px) {
            text-align: left;
          }
        }
      }

      .bottom {
        @media (max-width: 544px) {
          padding-right: 15px;
        }

        @media (max-width: 992px) {
          padding-right: 15px;
        }
      }
    }
  }
}

/* @todo: needs to be slick carousel when refactored */
//@media all and (min-width: 992px) {
//  #reviews .owl-prev {
//    left: -275px;
//  }
//}
//
//@media all and (min-width: 1025px) {
//  #reviews .owl-prev {
//    left: -330px;
//  }
//}
//
//#reviews .owl-item {
//  padding: 0 20px;
//}
//
//@media all and (min-width: 768px) {
//  #reviews .owl-item {
//    padding: 0 15px;
//  }
//}
