#content-reviews {
  margin-top: 50px;
}

@media all and (min-width: 992px) {
  #content-reviews {
    margin-top: 0;
  }
}

.review-company {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

  padding: 10px 0;

  margin-bottom: 20px;
}

.review-company:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.review-company .kiyoh {
  text-align: right;
}

@media all and (max-width: 544px) {
  .review-company .kiyoh:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .review-company .kiyoh {
    margin-top: 50px;

    text-align: center;
  }
}

.review-company .kiyoh .logo {
  margin-top: 10px;
}

.review-company .kiyoh .logo a {
  opacity: 0.6;

  transition: all .15s linear;
}

.review-company .kiyoh .logo a:hover {
  opacity: 1;
}

.review-company .kiyoh .recommendation {
  margin-top: 10px;
  color: #8c9148;
  font-size: 14px;
  font-weight: 600;
}

.reviews {
}

.reviews:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.reviews .review {
  position: relative;

  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  padding: 10px 0;

  margin-bottom: 20px;
}

.reviews .review .person {
  font-weight: bold;
}

.reviews .review .date {
  position: absolute;

  left: 15px;
  top: 55px;
}

@media all and (min-width: 768px) {
  .reviews .review .date {
    top: auto;
    bottom: 15px;
  }
}

.reviews .review:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.reviews .review .review-title {
  display: block;
  color: #8C914F;
  padding-bottom: 3px;
  border-bottom: 1px dotted #ccc;
  font-weight: bold;

  margin-bottom: 10px;
}

.reviews .review .pros {
  margin-top: 40px;

}

@media all and (min-width: 768px) {
  .reviews .review .pros {
    margin-top: 0px;
  }

  .reviews .review .pros,
  .reviews .review .cons {
    margin-bottom: 20px;
    margin-right: 75px;
  }
}

.reviews .review .pros,
.reviews .review .cons {
  margin-bottom: 20px;
}

.reviews .review .score {
  position: absolute;

  right: 15px;
  top: 15px;

  width: 36px;
  padding: 5px 0;
  background-color: #8C914F;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 100%;
}
