{% extends 'AppBundle::base_site.amp-html.twig' %}

{% set primaryColor = '#d77710' %}
{% set site_slogan = 'header.slogan.toptaarten'|trans %}
{% set site_logo = 'build/images/toptaarten-kleur.png' %}
{% set site_color = '#d77710' %}