{% extends 'AppBundle::base_site.html.twig' %}

{% set primaryColor = '#d77710' %}
	
{% set site_layout = 'base' %}
{% set site_slogan = 'header.slogan.toptaarten'|trans %}
{% set site_slogan_delivery = 'header.delivery_slogan.toptaarten'|trans %}
{% set site_logo = 'build/images/toptaarten-kleur.png' %}