{% macro meta_description(description) %}
    <meta name="description" content="{{ description }}">
{% endmacro meta_description %}

{% macro meta_robots(index, follow) %}
    {% set meta_index = 'INDEX' %}
    {% set meta_follow = 'FOLLOW' %}

    {% if index is same as(false) %}
        {% set meta_index = 'NOINDEX' %}
    {% endif %}

    {% if follow is same as(false) %}
        {% set meta_follow = 'NOFOLLOW' %}
    {% endif %}

    <meta name="robots" content="{{ meta_index ~', '~ meta_follow }}">
{% endmacro meta_robots %}

{% macro meta_author(author) %}
    <meta name="author" content="{{ author }}">
{% endmacro meta_author %}