{% macro select(name, options, value, attr, settings) %}
    <div class="select-element">
        <span class="select-appearance">
            <span class="fa fa-caret-down"></span>
        </span>

        <select name="{{ name }}"{% for attrname, attrvalue in attr|default(null) %}{{ attrname }}="{{ attrvalue }}"{% endfor %}
        >
        {% for optionName, optionValue in options %}
            <option value="{{ optionValue|default('') }}"{% if value is not empty and optionValue is same as(value) %} selected="selected"{% endif %}>
                {% if settings is not empty and attribute(settings, 'use_value_as_description') is defined and attribute(settings, 'use_value_as_description') is same as(true) %}
                    {{ optionValue }}
                {% else %}
                    {{ description }}
                {% endif %}
            </option>
        {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro radio(name, value, attr, settings) %}
    <input id="{{ attr.id }}" name="{{ name }}"
           type="radio" value="{{ value }}"{% for attrname, attrvalue in attr|default(null) %}{{ attrname }}="{{ attrvalue }}"{% endfor %}>

    {% if settings is not empty and attribute(settings, 'label') is defined %}
        <label class="choice" for="{{ attr.id }}">
            {{ settings.label }}
        </label>
    {% endif %}
{% endmacro radio %}

{% macro checkbox(name, value, attr, settings) %}
    <input id="{{ attr.id }}" name="{{ name }}"
           type="checkbox" value="{{ value }}"{% for attrname, attrvalue in attr|default(null) %}{{ attrname }}="{{ attrvalue }}"{% endfor %}>

    {% if settings is not empty and attribute(settings, 'label') is defined %}
        <label class="choice" for="{{ attr.id }}">
            {{ settings.label }}
        </label>
    {% endif %}
{% endmacro checkbox %}