{% macro menu_structure(structure, depth, contentDepth) %}

    {% set contentDepth = contentDepth|default(1) %}

    {% if depth > 0 %}
        <ul class="item-children depth-{{ depth }}">
    {% endif %}

    {% for item in structure %}
        {% set class = 'menu-item menu-item-' ~ loop.index %}

        {% if item|length > 0 %}
            {% set class = class ~ ' with-children' %}
        {% endif %}

        {% if depth == 0 %}
            {% set class = class ~ ' main-item' %}
        {% endif %}

        {% if item.isAvailable() %}
            <li class="{{ class }}">
                <a href="{{ item.getAbsoluteUrl }}"{% if item.getBlank %} target="_blank"{% endif %}>
                    {% if item|length > 0 %}
                        <i class="toggle-sub-menu fa fa-arrow-right" data-icon-open="fa-arrow-right" data-icon-close="fa-arrow-down" aria-hidden="true"></i>
                    {% endif %}

                    <span>{{ item.getDisplayTitle() }}</span>

                    {% if depth == contentDepth %}
                        <div class="nav-item-content">
                        {% if item.getEntity is not null
                            and item.getEntity.getMenuType == 'Assortment'
                            and item.getEntity.getFirstAssortmentProduct() %}

                            {% set assortmentProduct = item.getEntity.getFirstAssortmentProduct %}
                            {% set product = assortmentProduct.getProduct %}

                            {% include 'AppBundle:blocks/Product/tile:price.html.twig' with {
                                product: product,
                                inline: true
                            } %}
                        {% elseif item.getEntity is not null
                            and item.getEntity.getMenuType == 'Product'
                        %}
                            {% set product = item.getEntity %}
                            {% include 'AppBundle:blocks/Product/tile:price.html.twig' with {
                                product: product,
                                inline: true
                            } %}
                        {% else %}
                            {{ item.getDisplayContent | raw }}
                        {% endif %}
                        </div>
                    {% endif %}
                </a>

                {% if item|length > 0 %}
                    {{ _self.menu_structure(item, depth + 1) }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}

    {% if depth > 0 %}
        </ul>
    {% endif %}
{% endmacro %}