{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Wachtwoord wijzigen' %}
{% set sidebar_menu = 'AdminBundle:Account:menu' %}

{% block body %}

    <!-- Account settings -->
    <div class="panel panel-flat">
        <div class="panel-body">
            <form action="{{ path('admin_user_change_password') }}" method="POST" class="form fos_user_change_password">
                {{ form_widget(form._token) }}


                {% if form_errors(form.current_password) or form_errors(form.new.first) %}
                    <div class="alert alert-danger alert-styled-left">
                        {{ form_errors(form.current_password) }}
                        {{ form_errors(form.new.first) }}
                    </div>
                {% endif %}


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gebruikersnaam</label>
                            <input type="text" value="Gebruikersnaam" class="form-control" readonly>
                        </div>

                        <div class="col-md-6">
                            <label>Huidig wachtwoord</label>
                            {{ form_widget(form.current_password, { 'attr': {'placeholder': 'Huidige wachtwoord', 'class': 'form-control'}, 'label': false }) }}
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nieuw wachtwoord</label>
                            {{ form_widget(form.new.first, { 'attr': {'placeholder': 'Nieuwe wachtwoord', 'class': 'form-control'}, 'label': false }) }}
                        </div>
                        <div class="col-md-6">
                            <label>Herhaal wachtwoord</label>
                            {{ form_widget(form.new.second, { 'attr': {'placeholder': 'Herhaal wachtwoord', 'class': 'form-control'}, 'label': false }) }}
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Wachtwoord wijzigen <i
                                class="icon-arrow-right14 position-right"></i></button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}