{% extends 'AppBundle::base.html.twig' %}

{% if page %}
    {% if page.translate().getMetaTitle() %}
        {% set page_title = page.translate().getMetaTitle() %}
    {% else %}
        {% set page_title = page.translate().getTitle() %}
    {% endif %}

    {% block meta_description %}
        {% if page is not empty %}
            {{ head_elements.meta_description(page.translate().getMetaDescription()) }}
        {% endif %}
    {% endblock %}

    {% block meta_robots %}
        {% if page is not empty %}
            {{ head_elements.meta_robots(page.translate().getMetaRobotsIndex(), page.translate().getMetaRobotsFollow()) }}
        {% endif %}
    {% endblock %}
{% endif %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/home.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/home.css') }}" />
{% endblock %}

{% block body %}
    {% if page and page.getBanner() %}
        {% include 'AppBundle:blocks:header-image.html.twig' with {'banner': page.getBanner()} %}
    {% endif %}

    {% include('AppBundle:blocks:timer.html.twig') %}
    {% include('AppBundle:blocks:usp-header.html.twig') %}

    {% set thumbConfigConfig = {"thumbnail": {"size": [153, 167] }} %}

    {% if homepageAssortmentsBlocks.isEmpty() %}
        {% include ('AppBundle:blocks:category_items.html.twig') %}
    {% else %}
        {% include 'AppBundle:blocks:homepage-assortment-blocks.html.twig' with { homepageAssortmentsBlocks: homepageAssortmentsBlocks }  %}
    {% endif %}

    {% if site_service.determineSite().getHomepageAssortment() %}
        {% include("AppBundle:blocks:product-slider.html.twig") %}
    {% endif %}

    {% if site_service.hasKiyohCompany() and site_service.hasKiyohCompany().getTotalScore() %}
        {% include("AppBundle:blocks:reviews.html.twig") %}
    {% endif %}

    {% include("AppBundle:blocks:about.html.twig") %}
    {% include("AppBundle:blocks:usp.html.twig") %}

    {% include("AppBundle:blocks:campagne.html.twig") %}

{% endblock body %}
