.tiles.designs::after {
    clear: both;
    content: "";
    display: block;
}

.tile.design {
    float: left;
    position: relative;
    border: 1px #ddd solid;
    width: 23.5%;
    padding-top: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.tile.design.selectable {
    cursor: pointer;
}

.tile.design:nth-child(4n+4) {
    margin-right: 0;
}

.tile.design .tile-content {
    background: #fcfcfc;
}

.tile.design input[type=radio]{
    display: none;
}

.tile.design .tile-content,
.tile.design label {
    position: absolute;
    top: 0;
    left: 0;
}

.tile.design .tile-content,
.tile.design label {
    width: 100%;
    height: 100%;
}

.tile.design.selectable label {
    cursor: pointer;
    z-index: 2000;
}

.tile.design .tile-content img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    image-rendering: -webkit-optimize-contrast;
}

.tile.design .tile-content i {
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: .4;
}


.tile.design.selectable:hover .tile-content::after,
.tile.design.selectable:focus .tile-content::after,
.tile.design.selectable input:checked + .tile-content::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #099588;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tile-wrapper {
    padding-top: 9px;
}

.tile-wrapper::after {
    content: "";
    clear: both;
    display: block;
}

.tile-wrapper .actions {
    float: left;
}

.tile-wrapper .actions .action {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    text-align: center;
}
.tile-wrapper .actions .action:hover {
    background: #dddddd;
}

.company-design {
    width: 100%;
    z-index: 2;
    background: #099588;
    color: #fff;
    font-size: 8pt;
    padding: 2px;
    text-align: center;
    position: absolute;
}


