<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1000 1000"
     enable-background="new 0 0 1000 1000" xml:space="preserve">
<g>
    <g fill="{{ color }}" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
        <path d="M4637,5000.2c-509.1-55.7-1062.3-280.5-1494.6-605.1c-906.7-678.1-1381.2-1896-1160.3-2977.6c88.4-430.3,238.2-770.3,812.6-1853.8c413-781.9,1456.1-2848.9,1963.3-3892c124.9-257.4,234.4-461,242.1-451.4c7.7,7.7,215.2,426.5,461,927.9c536,1096.9,1162.2,2324.4,1613.7,3160.1C7687.6,443.6,7885.5,872,7985.3,1277.3c117.2,482.2,115.3,924-7.7,1413.9C7599.2,4195.3,6187.3,5173.1,4637,5000.2z M5240.2,3984c482.2-59.6,910.6-276.6,1248.7-633.9c622.4-658.9,737.7-1642.5,284.3-2426.2C6300.6,113.2,5328.6-278.7,4431.4-17.5c-664.7,192.1-1206.4,731.9-1398.5,1394.7c-142.2,493.7-96,1018.1,134.5,1485c201.7,413,587.8,781.9,1004.7,962.4C4523.7,3976.3,4873.3,4028.2,5240.2,3984z" />
    </g>
</g>
</svg>