{% if errors|length > 0 %}
<div class="alert alert-danger">
    {% for error in errors %}
        {{ error.getMessage }}<br />
    {% endfor %}
</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ postcode.postcode }}
            {% for city in postcode.cities %}
                {{ city.translate.name }}
            {% endfor %}
        </h4>
        <b>{{ postcode.province.translate.name }}</b>
    </div>
    <div class="panel-body" id="edit_region">

        {{ form_start(form) }}
        <div id="delivery_areas">
            <h4>Leveranciers</h4>
            {{ form_widget(form.deliveryAreas) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>
