<div id="edit_supplier_form" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>{{ company.name }}</h4>
            <b>{{ company.mainAddress }}</b><br />
            {{ company.formattedPhoneNumber }}
            {% if company.email is not empty %} - <a
                href="mailto:{{ company.email }}">{{ company.email }}</a>{% endif %}
        </div>
    </div>
    <div class="panel-body">

        {{ form_start(form) }}

        <div id="actions" class="form-group">
            <button class="btn btn-secondary btn-sm" id="PostcodeExport">
                <i class="fa fa-download" aria-hidden="true"></i> Exporteren naar Excel
            </button>&nbsp;&nbsp;
            <button class="btn btn-secondary btn-sm" id="PostcodeSelector">
                <i class="fa fa-arrows" aria-hidden="true"></i> Postcodes beheren op kaart
            </button>
        </div>

        <div id="remark">
            <h4>Leverancier opmerking:</h4>
            {{ form_widget(form.internalRemark) }}
        </div>

        <div id="delivery_areas">
            <h4>Bezorggebieden</h4>
            {{ form_widget(form.deliveryAreas) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>
