<div class="row">
    <div class="col-md-6">
        <div class="panel-title pull-left">
            {{ log.get.getLoggedAt.format('d-m-Y H:i') }} <i style="font-size: 70%;">({{ log.get.getSource.getClass }}
                )</i>
        </div>
    </div>
    <div class="col-md-6">
        <div class="heading-elements" style="right: 10px;">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>
</div>