<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Log informatie
            </div>
            <div class="panel-body">
                <table class="table table-xs table-borderless">
                    <tbody>
                    <tr>
                        <td>
                            Actie:
                        </td>
                        <td>
                            {{ log.get.getAction }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Class:
                        </td>
                        <td>{{ log.get.getSource.getClass }}</td>
                    </tr>
                    <tr>
                        <td>
                            Class ID:
                        </td>
                        <td>
                            {{ log.get.getSource.getFk }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gelogt op:
                        </td>
                        <td>
                            {{ log.get.getLoggedAt.format('d-m-Y H:i') }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Uitgevoerd door:
                        </td>
                        <td>
                            {% if log.getBlame is not null %}
                                {{ log.getBlame.getFirstName }} {{ log.getBlame.getLastName }}
                            {% else %}
                                Systeem
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <table class="table table-condensed table-pull-up">
                    <tbody>
                    <tr>
                        <th>
                            Kolom
                        </th>
                        <th>
                            Oude waarde
                        </th>
                        <th>
                            Nieuwe waarde
                        </th>
                    </tr>
                    {% for key, values in log.get.diff %}
                        <tr>
                            <td>
                                {{ key }}
                            </td>
                            <td>
                                {% if values['old'] is iterable %}
                                    {{ values['old']['label'] }} <b>(#{{ values['old']['fk'] }})</b>
                                {% else %}
                                    {{ values['old'] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if values['new'] is iterable %}
                                    {{ values['new']['label'] }} <b>(#{{ values['new']['fk'] }})</b>
                                {% else %}
                                    {{ values['new'] }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>