{% block body %}


    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Regel bekijken</h6>
        </div>
        <div class="panel-body">
            <div class="form-group">
                Startpunt: <br />
                {% for entity in entities if entity.getFullyQualifiedName() == rule.getStart() %}
                    {{ entity.getLabel() }}
                {% endfor %}
            </div>
            <div class="form-group">
                Regelomschrijving<br />
                {{ rule.getDescription() }}
            </div>
            <div class="form-group">
                {% if rule.satisfyAll %}
                    Alle waardes in een collectie moeten voldoen aan de voorwaarde
                {% endif %}
            </div>

            <div id="rule_builder" class="rule-builder disabled"></div>
        </div>
    </div>

    <script type="text/javascript">
        var ruleBuilder = new RuleBuilder('#rule_builder', {
            autocompleteUrl: '{{ path('rule_rule_filterautocomplete') }}',
            autocompleteLookupUrl: '{{ path('rule_rule_filterautocomplete', {
                'lookup': '%%IDENTIFIER%%'
            }) }}',
            filtersUrl: '{{ path('rule_rule_getfilters', {
                'start': '%%IDENTIFIER%%'
            }) }}',
            saveUrl: '{{ path('rule_rule_edit', {
                id: rule.getId()
            }) }}'
        });

        ruleBuilder.setFilters({{ filters|json_encode|raw }});
        ruleBuilder.setRules({{ data|json_encode|raw }});

        ruleBuilder.create();
    </script>
{% endblock %}
