{% if isAjax is not defined %}
    {% set isAjax = false %}
{% endif %}

{% extends isAjax ? '::base.html.twig' : 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/page.css') }}" />
{% endblock %}

{% set page_title = page.translate().getTitle() %}

{% block body %}
    <div id="page" class="container-fluid page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="pagina-title">{{ page.translate().getTitle() }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {{ page.translate.getContent()|raw }}
                </div>
            </div>

            {% if errorReference %}
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <pre>{{ errorReference }}</pre>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}