{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'Niet beschikbaar in preview modus' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/page.css') }}" />
{% endblock %}

{% block body %}
    <div id="page" class="container-fluid page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="pagina-title">{{ page_title }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>Deze pagina is niet beschikbaar in de preview modus, klik op onderstaande button om terug te gaan
                        naar de vorige pagina</p>
                    <p>&nbsp;</p>
                    <p>
                        <a href="javascript:window.history.back();" class="btn btn-theme" style="font-size: 14px;">Terug
                            naar vorige pagina</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
