<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Voorbeeld</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/preview.css') }}" />
    {% endblock stylesheets %}
</head>

{% set closeUrl = app.request.uri|url_build_query({
    action: 'destroy'
}) %}

{% set adminUrl = app.request.uri|url_build_query({
    action: 'return_to_admin'
}) %}

<body style="background-image: url('{{ asset('build/img/preview_bg.jpg') }}');"
      data-preview-url="{{ path('app_preview_inner') }}">

<div id="header" class="container-fluid">
    <div class="btn-group pull-left" data-toggle="buttons" id="actions_left">
        <a href="{{ adminUrl }}" data-action="close" class="btn btn-sm btn-secondary" data-width="100%"
           data-tooltip="true" data-placement="right" title="Terug naar het beheer">
            Terug naar beheer
        </a>
    </div>

    <div class="btn-group" data-toggle="buttons" id="viewports">
        <label class="btn  btn-secondary active reset" data-width="100%" data-tooltip="true" data-placement="bottom"
               title="Bekijk desktop weergave">
            <input type="radio" name="options" id="desktop" autocomplete="off" checked>

            <i class="fa fa-desktop"></i>
        </label>
        <label class="btn btn-secondary" data-width="1024" data-tooltip="true" data-placement="bottom"
               title="Bekijk tablet weergave">
            <input type="radio" name="options" id="tablet" autocomplete="off">

            <i class="fa fa-tablet"></i>
        </label>
        <label class="btn btn-secondary" data-width="420" data-tooltip="true" data-placement="bottom"
               title="Bekijk mobiele weergave">
            <input type="radio" name="options" id="mobile" autocomplete="off">

            <i class="fa fa-mobile"></i>
        </label>
    </div>

    {% if closeUrl %}
        <div class="btn-group pull-right" data-toggle="buttons" id="actions_right">
            <a href="{{ closeUrl }}" data-action="close" class="btn btn-sm btn-secondary" data-width="100%"
               data-tooltip="true" data-placement="left" title="Preview modus afsluiten">
                Afsluiten
            </a>
        </div>
    {% endif %}
</div>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/preview.js') }}"></script>
{% endblock javascripts %}
</body>
</html>
