<div class="row">
    <div class="col-md-6">
        <table>
            <tr>
                <td style="width: 300px;">
                    BTW Niveau
                </td>
                <td>
                    <b>{{ vatGroup.level.title }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Land
                </td>
                <td>
                    <b>{{ vatGroup.country }}</b>
                </td>
            </tr>
        </table>
    </div>
</div>
