{% extends '@Admin/base.html.twig' %}

{% block body %}
    {{ form(form) }}

    <script type="text/javascript">
        $('#selectAll').bind('click', function (e) {
            var checkAll = $('input[type=checkbox][name=\'form[suppliers][]\']:checked').length != $('input[type=checkbox][name=\'form[suppliers][]\']').length;

            $('input[type=checkbox][name=\'form[suppliers][]\'').prop('checked', checkAll).parent().toggleClass('checked', checkAll);
        });
    </script>
{% endblock body %}
