{% set cardActive = attribute(card, 'active') %}
{% set cardId = attribute(card, 'id') %}
{% set cardText = attribute(card, 'text') %}
{% set cardMaxQuantity = attribute(card, 'maxQuantity') %}
{% set cardSelected = attribute(card, 'selected') %}
{% set cardQuantitySelect = attribute(card, 'quantitySelector') %}
{% set cardSize = card_determine_size(cards) %}

<div class="tab-holder {% if cardSize is same as('small') %}small-card{% endif %}" id="card_option">
    <div class="line-checkbox">
        <div class="left">
            <div style="float: left;">
                <input id="add_card" name="add_card" type="checkbox"
                       value="1"{% if cardActive %} checked="checked"{% endif %}>

                <label class="choice" for="add_card">
                    {{ 'card.add.to.cart'|trans }}
                </label>

                <p class="option-description card-description">{{ 'product.card.description'|trans }}</p>

            </div>
            {% if cardQuantitySelect %}
                <div class="aantal">
                <span class="form-select-wrapper">

                    <select class="form-control" name="card_quantity" id="form_card_quantity">
                        {% for i in range(1, cardMaxQuantity) %}
                            <option value="{{ i }}"{% if cardSelected and cardSelected == i %} selected="selected"{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </span>
                </div>
            {% endif %}
        </div>

        <div class="right">
            <span id="card_price"
                  style="font-weight: {% if cardActive %}bold{% else %}normal{% endif %};">{{ minimumCardPrice | number_format}}</span>
        </div>
    </div>
    <div class="wishcard dropdown-product-options dropdown"{% if cardActive %} style="display: block !important;"{% endif %}>
        <div class="dropdown {% if cards.count == 1 %}hidden-xs hidden-xs-up{% else %}hidden-lg-up{% endif %}">
            <label for="card">Soort kaartje</label>

            <span class="form-select-wrapper">
                <select name="card" id="card" class="form-control">
                    {% if cards.count > 1 %}
                        <option value="">{{ 'product.card.choose_a_card'|trans }}</option>
                    {% endif %}

                    {% for card in cards %}
                        {% if card.getPath() is null %}
                            {% set cardImage = null %}
                        {% else %}
                            {% if cardSize is same as('small') %}
                                {% set cardImage = card.getPath() | imagine_filter('product_card_small') %}
                            {% else %}
                                {% set cardImage = card.getPath() | imagine_filter('product_card') %}
                            {% endif %}
                        {% endif %}

                        <option value="{{ card.getId() }}"{% if cardId == card.getId() or cards.count == 1 %} selected="selected"{% endif %}{% if cardImage is not null %} data-image="{{ cardImage }}"{% endif %}>{{ card.getDisplayName() }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
        <div class="radio {% if cards.count == 1 %}hidden-xs hidden-xs-up{% else %}hidden-md-down{% endif %}">
            {% for card in cards %}
                <div class="line-radio">
                    <input type="radio" value="{{ card.getId() }}" id="radio_card_{{ card.getId() }}"
                           class="radio-card"
                           name="radio-card"{% if cardId == card.getId() or cards.count == 1 %} checked="checked"{% endif %} />
                    <label for="radio_card_{{ card.getId() }}">
                        {{ card.getDisplayName() }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="card-fillin">
            <textarea name="card_text" rows="5">{{ cardText }}</textarea>
            <div id="card_fillin_placeholder" class="placeholder">{{ 'product.card.placeholder'|trans|raw|nl2br }}</div>
            <div id="card_fillin_image" class="image"></div>
            <div id="card_preview_image" class="card-preview-image">
                <img src="{{ asset(theme_img_base_path ~ 'card-preview.png') }}" alt="{{ 'product.card.type_your_text'|trans }}"/>
            </div>
        </div>
    </div>
</div>
