<div class="tab-holder" id="personalization_option">
    <div class="line-checkbox">
        <div class="left">
            <input id="add_personalization" name="add_personalization" type="checkbox"
                   value="1"{% if personalization.active %} checked="checked"{% endif %}>

            <label class="choice" for="add_personalization">
                {{ 'product.personalization.add'|trans({
                    '%product%': product.getDisplayName()
                }) }}
            </label>

            <p class="option-description personalization-description">{{ 'product.personalization.description'|trans }}</p>
        </div>
        <div class="right">
            <span id="personalization_price"
                  style="font-weight: {% if designer is not null and designer.isValid() %}bold{% else %}normal{% endif %};"></span>
        </div>
    </div>
</div>
