{% if product.hasProductProperty('input_fields') %}
    {% set inputFields = product.findProductProperty('input_fields').value %}

    {% for i in 1..inputFields %}
        <input type="text" class="property-input-field" name="input_fields[{{ product.id }}][]"/>
    {% endfor %}
{% endif %}