<div class="tab-holder" id="use_combination_option">
    <div class="line-checkbox">
        <div class="left">
            <input id="use_combination" name="use_combination" type="checkbox"
                   value="1"{% if use_combination.active %} checked="checked"{% endif %}>

            <label class="choice" for="use_combination"></label>
        </div>
        <div class="right">
            <span id="use_combination_price"></span>
        </div>
    </div>
</div>
