{% extends 'AppBundle:Product:index.html.twig' %}

{% block body_content %}
    {% if product.getVariations.count > 1 %}
        {% include 'AppBundle:Product/includes:carousel.html.twig' %}
    {% else %}
        {% include 'AppBundle:Product/includes:content.html.twig' %}
    {% endif %}
{% endblock body_content %}