<div class="view">
    <h4>Opmerking toevoegen bij {{ company.getName }}</h4>

    <div class="alert alert-warning alert-styled-left hidden">
        <p>Opmerkingen veld mag niet leeg zijn</p>
    </div>

    <form method="post"
          action="{{ path('admin_customer_company_persistaddinternalremark', { company: company.getId() }) }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Nieuwe opmerking</strong>
            </div>
            <div class="panel-body">
                <textarea required name="internal-remark" class="form-control elastic"
                          placeholder="Nieuwe opmerking..."></textarea>
            </div>
        </div>
    </form>
</div>
