{% set productImage = product.getCategoryImage(true) %}
<div class="image">
    {% include '@App/blocks/Product/tile/out-of-stock.html.twig' %}

    {% set sticker = get_product_sticker(product) %}
    {% set alt = product.translate.title %}

    {% if productImage %}
        {% if size is defined and size == 'small' %}
            {% set imageUrl = productImage.getPath() | imagine_filter('product_thumbnail') %}
        {% else %}
            {% set imageUrl = productImage.getPath() | imagine_filter('product_assortment') %}
        {% endif %}

        <figure>
            <img class="lazy"
                 src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}"
                 data-src="{{ imageUrl }}"
                 alt="{{ alt }}"
            >
        </figure>
    {% endif %}

    {% if sticker %}
        {% set url = sticker.path | imagine_filter('product_assortment') %}
        <img class="lazy"
             src="{{ url }}"
             data-src="{{ url }}"
             alt="{{ alt }}"
        >
    {% endif %}
</div>
