{% if product.getShowOptions() and product.hasVariations() %}
    <div class="choices">
        <p>Opties:</p>
        <ul>
            {% for variation in product.getVariations()|slice(0, 3) %}
                {% set variationMainImage = variation.getMainImage(true) %}

                {% if variationMainImage %}
                    {% set image = variationMainImage.path | imagine_filter('product_thumbnail') %}

                    {% if image %}
                        <li>
                            <img src="{{ image }}">
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
