{% extends 'AppBundle::base_site.amp-html.twig' %}

{% set primaryColor = '#8C914F' %}
{% set site_slogan = 'Vier topmerken op één site!' %}
{% set site_logo = 'build/images/topbloemen-kleur.png' %}
{% set site_color = '#8C914F' %}