{% extends 'AppBundle::base_site.html.twig' %}

{% set primaryColor = '#8C914F' %}

{% set site_layout = 'base' %}
{% set site_slogan = 'Vier topmerken op één site!' %}
{% set site_slogan_delivery = 'header.delivery_slogan.topbloemen'|trans %}
{% set site_logo = 'build/images/topbloemen-kleur.png' %}
