<h4>{{ company.name }}</h4>
<b>{{ company.mainAddress }}</b><br />
<br />
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#partner_remark" role="tab" data-toggle="tab">Opmerking</a></li>
    <li role="presentation"><a href="#partner_general" role="tab" data-toggle="tab">Adresgegevens</a></li>
    <li role="presentation"><a href="#partner_postcodes" role="tab" data-toggle="tab">Postcodes</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="partner_remark">
        <textarea style="width: 662px; height: 400px;" data-partner-id="{{ company.id }}"
                  data-partner-country="NL">{{ company.internalRemark }}</textarea>
        <div class="pull-right">
            <input type="submit" class="btn btn-submit" value="Opslaan" id="partner_remark_submit" />
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="partner_general">
        <div class="ScrollableTable">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Naam</label>
                    <div class="controls">
                        <input type="text" id="" placeholder="" value="{{ company.name }}" disabled="disabled">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Adres</label>
                    <div class="controls">
                        <input type="text" id="" placeholder=""
                               value="{{ company.mainAddress.street }} {{ company.mainAddress.number }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Postcode</label>
                    <div class="controls">
                        <input type="text" id="" placeholder="" value="{{ company.mainAddress.postcode }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Plaats</label>
                    <div class="controls">
                        <input type="text" id="" placeholder="" value="{{ company.mainAddress.city }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Land</label>
                    <div class="controls">
                        <input type="text" id="" placeholder="" value="{{ company.mainAddress.country }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="control-group">
                    <br />
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Telefoon</label>
                    <div class="controls">
                        <input type="text" id="" placeholder="" value="{{ company.formattedPhoneNumber }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">E-mailadres</label>
                    <div class="controls">
                        <input type="text" id="" placeholder="" value="{{ company.email }}"
                               disabled="disabled">
                    </div>
                </div>
                <div class="control-group">
                    <br />
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="partner_postcodes">
        <div style="right: 0; width: 400px; text-align: right; position: absolute; margin-top: -60px; font-size: 13px;">
            <a class="btn btn-mini" href="#" id="PostcodeExport"><i class="icon-download-alt"
                                                                    style="zoom: 0.7857142857142857;"></i> Exporteren
                naar Excel</a>&nbsp;&nbsp;
            <a class="btn btn-mini" href="#" id="PostcodeSelector"><i class="icon-move"
                                                                      style="zoom: 0.7857142857142857;"></i> Postcodes
                beheren op kaart</a>
        </div>
        <div class="ScrollableTable">
            <table class="PostcodeTable PostcodeDeliveryTable" id="PartnerPostcodeTable"
                   style="white-space: nowrap; font-size: 12px;">
                <thead>
                <tr>
                    <th style="width: 181px; text-align: left;"></th>
                    <th style="width: 80px;">Bezorgkosten</th>
                    <th style="width: 80px;">Aannametijd</th>
                </tr>
                </thead>
                <tbody>

                {% for deliveryArea in deliveryAreas %}
                    <tr
                            style="background-color: #B4CC8D;">
                        <td style="width: 181px;">
                            <div style="max-width: 180px; overflow: hidden; text-overflow: ellipsis;">
                                &nbsp;{{ deliveryArea.postcode.postcode }}

                                {% for city in deliveryArea.postcode.cities %}
                                    {{ city.translate.name }}
                                {% endfor %}
                            </div>
                        </td>
                        <td style="width: 80px;" class="text-center">
                            <input type="text" value="{{ (deliveryArea.deliveryPrice * 1.06)|round(2) }}"
                                   data-action="delivery-costs" data-name="price"
                                   data-additional-values='{"id": {{ deliveryArea.id }}, "country": "NL"}'
                        </td>
                        <td style="width: 80px;" class="text-center">
                            <select data-controller="postcode" data-action="delivery-latest-time" data-name="latestTime"
                                    data-additional-values='{"id": {{ deliveryArea.id }}, "country": "NL"}'>
                                {% for deliveryInterval in deliveryIntervals %}
                                    <option value="{{ deliveryInterval.interval }}" {% if deliveryInterval.interval == deliveryArea.deliveryInterval %} selected="selected" {% endif %}
                                            }}>{{ deliveryInterval.description }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
