{% set language = app.getRequest().getLocale()|slice(0, 2) %}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% if page_title is defined %}{{ page_title }} | {% endif %}</title>
    {% block meta_description %}{% endblock %}
    {% block meta_robots %}{% endblock %}

    {% if canonical is defined %}
        <link rel="canonical" href="{{ canonical }}" />{% endif %}

    {% if amphtml is defined %}
        <link rel="amphtml" href="{{ amphtml }}" />{% endif %}


    {% if cdn %}
        <link rel="dns-prefetch" href="{{ cdn[6:] }}">{% endif %}
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//robincontentdesktop.blob.core.windows.net">
    <link rel="dns-prefetch" href="//contact.robinhq.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//robin-widget.com">
    <link rel="dns-prefetch" href="//surfly.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">

    {{ ga_datalayer() }}

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ND7VVW');</script>
    <!-- End Google Tag Manager -->

    {% include('AppBundle:base:favicon.html.twig') %}

    {% block stylesheets %}
        {% stylesheets
            'assets/vendor/tether/dist/css/tether.min.css'
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/select2/dist/css/select2.min.css'
            'assets/vendor/font-awesome/css/font-awesome.min.css'
            'assets/vendor/sweetalert2/dist/sweetalert2.min.css'
            'assets/vendor/jquery-ui/themes/base/all.css'
            'bundles/app/css/company/site.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ (asset_url) }}"/>
        {% endstylesheets %}

        <link rel="stylesheet" href="{{ asset(theme_css) }}"/>
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND7VVW" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
{% if company.getSite.getCustomStyle %}
    {% set style = company.getSite.getCustomStyle %}
    <style>
        body {
            background-color: {{ style.getBodyBackgroundColor }} !important;
        }

        h1, h2, h3, h4, h5, h6 {
            color: {{ style.getHeadingTextColor }} !important;
        }

        body, table {
            color: {{ style.getBodyTextColor }} !important;
        }

        .btn {
            background: {{ style.getButtonBackgroundColor }} !important;
            color: {{ style.getButtonTextColor }} !important;
        }
    </style>
{% endif %}

<!-- End Google Tag Manager (noscript) -->

{% if form is defined %}
    {% form_theme form 'AppBundle:base:form-fields.html.twig' %}
{% endif %}

{% block body %}{% endblock %}

</body>
</html>
