<div class="container-fluid" id="company-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 hidden-sm-down">
                <video class="video" controls>
                    {#<source src="http://development.boydis.net/topbloemen/app/static/video/topbloemen-promo.mp4" type="video/mp4" width="100%" >#}
                </video>
                <!-- <div class="video">
                    <img src="app/static/img/bg-video.jpg" />
                    <span class="ic fa fa-play-circle-o"></span>
                    <p>Neem een kijken bij Topbloemen</p>
                </div> -->
            </div>
            <div class="col-lg-6 hidden-md-down">
                <a href="#" class="inside">
                    <div class="kader">
                        <p>{{ "label.campagne.read_about_the_people"|trans }}</p>
                        <span class="fa fa-caret-right"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>