{% set cc_translation_file = app_site_parameter_values('cookie_consent_translation_file', 'url') %}
{% set cc_categories_file = app_site_parameter_values('cookie_consent_categories_file', 'url') %}
{% set cc_about_page_url = app_site_parameter_values('cookie_consent_page_about_cookies', 'url') %}

{% if cc_translation_file is not null and cc_categories_file is not null and cc_about_page_url is not null %}
<script type="text/javascript" src="{{ asset('build/cookie-consent.js') }}"></script>
<script type="text/javascript">
    var cookieConsent = new CookieConsent(
        {
            translations_file: '{{ cc_translation_file }}',
            cookie_categories_file: '{{ cc_categories_file }}',
            page_url_about_cookies: '{{ cc_about_page_url }}',
            styling: {
                primaryButton: {
                    'color': 'white',
                    'background-color': '{{ primaryColor }}'
                }
            },
            containerClassName: 'container-fluid',
            autoSave: {
                enabled: true,
                excludes: ['{{ cc_about_page_url }}']
            }
        }
    );
    cookieConsent.show();

    function forceCookieConsent() {
        cookieConsent.show(true);
    }
</script>
{% endif %}