{% if app.user %}
    <div id="employee_toolbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if app.user.company %}
                        {{ "user.note_loggedin_as_company"|trans({
                            '%user%': app.user.getFullname(),
                            '%company%': app.user.getCompany().getName()
                        })|raw }}
                    {% else %}
                        {{ "user.note_loggedin_as"|trans({'%user%': app.user.getFullname()})|raw }}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <nav>
                        <ul>
                            <li>
                                <a href="{{ path('admin_customer_customer_view', {
                                    id: app.user.getId()
                                }) }}" target="_blank">
                                    <span class="fa fa-external-link"></span> {{ "customer.client_file"|trans }}
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('app_cart_cancel') }}" data-action="cancel-cart">
                                    <span class="fa fa-cart-arrow-down"></span> Winkelwagen annuleren
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <span class="fa fa-sign-out"></span> {{ "logout"|trans }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endif %}