{% extends "@App/blocks/nav-mobile-base-menu.html.twig" %}

{% block navigation %}
    {{ _self.menu_structure(menu) }}
{% endblock navigation %}

{% macro menu_structure(structure) %}
    {% for item in structure %}
        {% if item.isAvailable() %}
            <li>
                <a href="{{ item.getAbsoluteUrl() }}"{% if item.getBlank() %} target="_blank"{% endif %}>{{ item.getDisplayTitle() }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}