{% set enabledPaymentMethods = [] %}

{% for paymentMethodSetting in site.getPaymentMethodSettings() %}
    {% set enabledPaymentMethods = enabledPaymentMethods|merge([
        paymentMethodSetting.paymentMethod.code
    ]) %}
{% endfor %}

<div class="payments">
    {% if 'ideal' in enabledPaymentMethods %}
        <div class="item"><img src="{{ asset('build/images/ideal.jpg')  }}" /></div>
    {% endif %}

    {% if 'creditcard' in enabledPaymentMethods %}
        <div class="item"><img src="{{ asset('build/images/visa.jpg') }}" /></div>
        <div class="item"><img src="{{ asset('build/images/mastercard.jpg') }}" /></div>
        <div class="item"><img src="{{ asset('build/images/american.jpg') }}" /></div>
    {% endif %}

    {% if 'paypal' in enabledPaymentMethods %}
        <div class="item"><img src="{{ asset('build/images/paypal.jpg') }}" /></div>
    {% endif %}

    {% if 'invoice' in enabledPaymentMethods %}
        <div class="item"><img src="{{ asset('build/images/rekening.jpg') }}" /></div>
    {% endif %}

    {% if 'afterpay' in enabledPaymentMethods %}
        <div class="item"><img src="{{ asset('build/images/afterpay.jpg') }}" /></div>
        <div class="item"><img src="{{ asset('build/images/levering.jpg') }}" /></div>
    {% endif %}

    {% if 'bcb' in enabledPaymentMethods %}
        <div class="item"><img src="{{ asset('build/images/gift-card.jpg') }}" /></div>
    {% endif %}
</div>
