{% import '@App/macros/product_macro.html.twig' as product_macro %}

{% if sliderProducts is not empty %}
    <div class="container-fluid product-slider">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>{{ 'homepage.assortment.title'|trans|raw }}</h2>
                </div>
                <div class="product-slider-wrapper slick-theme-top">
                    {% for assortmentProduct in sliderProducts %}
                        {% if assortmentProduct is not null %}
                            {% set product = assortmentProduct %}
                            <div class="product-slider-item-wrapper">
                                {{ product_macro.tile(product, false) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
