{# - - - - #}
{# NOT IN BEING USED AT THE MOMENT #}
{# - - - - #}

{% import _self as cart_elements %}

{% if loadFormTheme is defined and loadFormTheme is same as(true) %}
    {% form_theme form 'AppBundle:base:form-fields.html.twig' %}
{% endif %}

<div class="shop-cart">
    {% set type = 'product-item' %}

    {% for formLine in form.lines %}
        {% set product = formLine.vars.value.product %}
        {% set line = formLine.vars.value %}

        {% if product.getPurchasable() and line.getParent() is null %}
            {{ cart_elements.line(product, line, formLine, type) }}
        {% endif %}
    {% endfor %}

    {# non purchable items like delivery price #}
    {% for line in cart.getCurrentOrder().getLines() %}
        {% set product = line.getProduct() %}

        {% if product.getPurchasable() is same as(false) %}
            {#{% if line.getProduct().getSku()|slice(0, 3) == 'DLV' %}#}
            {#{% set type = 'shipping-item' %}#}
            {#{% endif %}#}

            {#{{ cart_elements.line(product, line, null, type) }}#}
        {% endif %}
    {% endfor %}
</div>

{% macro line(product, line, formLine, type) %}
    {% if attribute(line, 'get') is not defined %}
        {% set line = topbloemen_cart_order_line_decorator(line) %}
    {% endif %}

    {% set productName = product.getDisplayName() %}

    {% if type == 'product-item' %}
        <div class="item {{ type }}" data-line-id="{{ formLine.vars.value.id }}">
            <div class="left quantity">
                {{ form_row(formLine.quantity) }}

                <div class="product-image">
                    {% if product.getMainImage(true) is not empty %}
                        <img src="{{ product.getMainImage(true) | imagine_filter('product_thumbnail') }}"
                             alt=" {{ productName }}">
                    {% endif %}
                </div>
            </div>
            <div class="right">
                <div class="product-row">
                    <p class="name">
                        {{ productName }}
                    </p>
                    <p class="price">
                        á € {{ line.getDisplayPrice() }}
                        <span class="delete fa fa-times" data-action="remove-line"></span>
                    </p>
                </div>

                <div class="product-extras">
                    {% if line.getChildren() is not null %}
                        {% for childLine in line.getChildren() %}
                            {% set childProduct = childLine.getProduct() %}

                            {% if attribute(childProduct, 'get') is not defined %}
                                {% set childProduct = childLine.getProduct() %}
                            {% endif %}

                            {% set childProductName = childProduct.getDisplayName() %}

                            <div class="product-row-extras">
                                <p class="name"><span class="fa fa-share"></span>{{ childProductName }}</p>
                                <p class="price">
                                    á € {{ childProduct.getDisplayPrice() }}
                                    <span class="fa fa-times" style="visibility: hidden;"></span>
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="item {{ type }}">
            <div class="left">
                {% if type == 'shipping-item' %}
                    <span class="fa fa-truck"></span>
                {% endif %}
            </div>
            <div class="right">
                <div class="product-row">
                    <p class="name">
                        {{ productName }}
                    </p>
                    <p class="price">á € {{ line.getDisplayPrice }} <span
                                class="delete">&nbsp;</span></p>
                </div>
            </div>
            <div class="product-extras">
            </div>
        </div>
    {% endif %}
{% endmacro %}
