{% if site.getUsps() %}
    <div class="container-fluid" id="usp2">
        <div class="container">
            <div class="row">
                {% for siteUsp in site.getUsps()|slice(0, 4) %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6{% if loop.index > 2 %} hidden-sm-down{% endif %}">
                        <div class="item">
                            <span class="fa fa-check"></span>
                            <p>{{ siteUsp.getUsp().translate().getTitle() }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
