{% extends 'AdminBundle:Sales/OrderOrderProcess:index.html.twig' %}

{% block error_messages %}
    {{ parent() }}

    {% if isCommissioned %}
        <div class="alert alert-warning alert-styled-left">
            Deze order is reeds opgenomen op een maandafrekening voor de leverancier. Indien de doorgeefprijzen alsnog
            worden gewijzigd, komt er een correctieregel op de volgende maandafrekening.
        </div>
    {% endif %}
{% endblock error_messages %}

{% block supplier_selection %}
    <div class="panel panel-default panel-supplier-selection">
        <div class="panel-heading">
            <div class="panel-title">
                <strong>Leverancier</strong>
            </div>
        </div>
        <div class="panel-body">
            {% include 'AdminBundle:Sales/OrderOrderProcess/include:table-supplier.html.twig' %}
        </div>
    </div>
{% endblock supplier_selection %}

{% block form %}
    {{ form(form) }}
{% endblock form %}