<h4>Verwerken {{ order.getOrderNumber() }}</h4>

<div class="alert alert-success alert-styled-left">
    Order is met success doorgestuurd naar {{ supplier.getName() }} <i class="fa fa-smile-o" aria-hidden="true"></i>
</div>
