<div class="alert alert-styled-left hidden"></div>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title" data-order-id="{{ order.getId }}">
            <strong>Verwerken {{ order.getOrderNumber() }}</strong>
        </div>
    </div>
    <div class="panel-body">
        <form name="manually-process" action="/admin/bestelling-order/{{ order.getId }}/handmatig-verwerken"
              method="post">
            <div class="form-group">
                <label for="internal_remark">Opmerking:</label>
                <textarea class="form-control" name="internal_remark" id="internal_remark"></textarea>
            </div>

            <div data-action="processable" data-disabled="{{ (order.getStatus.getId == 'processed' ? true: false) }}">
                <label class="checker bg-white" id="uniform-select_all">
                    <span{{ (order.getStatus.getId == 'processed' ? ' class="checked"' : '') }}>
                        <input type="checkbox" name="processed" data-action="select"
                               class="form-styled"{{ (order.getStatus.getId == 'processed' ? ' checked="checked" disabled="disabled"' : '') }}>
                    </span>
                </label>

                Verwerkt
            </div>

            <div data-action="processable"
                 data-disabled="{{ (order.getDeliveryStatus and order.getDeliveryStatus.getId in ['delivered', 'delivered_at_neighbors'] ? true : false) }}">
                <label class="checker bg-white" id="uniform-select_all">
                    <span{{ (order.getDeliveryStatus and order.getDeliveryStatus.getId in ['delivered', 'delivered_at_neighbors'] ? ' class="checked"' : '') }}>
                        <input type="checkbox"
                               name="delivered"
                               data-action="select"
                               class="form-styled"
                                {{ (order.getDeliveryStatus and order.getDeliveryStatus.getId in ['delivered', 'delivered_at_neighbors'] ? ' checked="checked" disabled="disabled"' : '') }}>
                    </span>
                </label>

                Afgeleverd
            </div>
        </form>
    </div>
</div>
