{% set variationImage = variation.getMainImage(true) %}

{% if variationImage is null %}
    {% set variationImage = mainProduct.getMainImage(true) %}
{% endif %}

{% set productFormat = productPropertyOption.value %}

{% set productTitleExtra = ' &euro; ' ~ get_price(mainProduct) | number_format %}

{% if priceDifferences[mainProduct.getId] is defined and loop.first is same as (false) %}
    {% set productTitleExtra = ' &euro; ' ~ priceDifferences[mainProduct.getId] ~ ' ' ~'label.extra'|trans|lower %}
{% endif %}

{% if productPropertyOption.position == 2 %}
    {% set productTitle = 'label.column_two_product_title'|trans({'%format%': productFormat|lower}) ~ productTitleExtra %}
{% elseif productPropertyOption.position == 3 %}
    {% set productTitle = 'label.column_three_product_title'|trans({'%format%': productFormat}) ~ productTitleExtra %}
{% else %}
    {% set productTitle = 'label.column_one_product_title'|trans({'%format%': productFormat}) ~ productTitleExtra %}
{% endif %}

<div class="carousel-item" data-variation-id="{{ variation.id }}" data-label="{{ productFormat }}">
    <div class="product-item" data-index="{{ loop.index }}">
        <form class="product-selection-form">

            <div class="image btn-product-selection">
                {% if variationImage is not null %}
                    <img src="{{ variationImage.getPath() | imagine_filter('product') }}">
                {% else %}
                    <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
                {% endif %}
            </div>

            {% if loop.index == 2 %}
                <div class="info-label">
                    <span>{{ 'label.product_label.most_selected'|trans }}</span>
                </div>
            {% endif %}

            <div class="information">
                <div class="title"><h2>{{ productTitle|raw }}</h2></div>
                <div class="price"><span>&euro; {{ get_price(mainProduct) }}</span></div>

                {% if variation.isConfigurable() and variation.isCombination() %}
                <div class="combination-products">
                    <ul>
                        {% for combination in variation.getCombinations() if not combination.main %}
                            {% set fieldId = 'combination_product_' ~ variation.getId ~ '_' ~ combination.product.getId %}
                            {% set fieldName = 'combination_products[' ~ combination.product.getId ~ ']' %}

                            {# diplay name of parent product #}
                            {% set combinationProductTitle = combination.product.parent.translate.title %}
                            {% set combinationProductPrice = get_price(combination.product) %}

                            <li>
                                <div class="line-checkbox">
                                    <input type="checkbox"
                                           id="{{ fieldId }}"
                                           name="{{ fieldName }}"
                                           value="{{ combination.product.getId }}"
                                           {% if use_combination.active is defined and use_combination.active is same as(true) %}checked="checked"{% endif %}
                                    />
                                    <label for="{{ fieldId }}" data-title="{{ combinationProductTitle }} {{ 'label.add_product'|trans|lower }}" data-price="&euro; {{ combinationProductPrice }}">{{ combinationProductTitle }} &euro; {{ combinationProductPrice }} {{ 'label.add_product'|trans|lower }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <div class="actions">
                    <button type="submit" class="btn btn-theme-full btn-product-selection">
                        {{ "label.choose"|trans ~ ' ' ~ productFormat }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
