{{ form_start(form) }}
<div class="form">
    {% if product.hasVariations %}
        {% include('AppBundle:blocks/Product:variable.html.twig') with {'form': form} %}
    {% else %}
        {% if product.isConfigurable %}
            {% include('AppBundle:blocks/Product:configuration.html.twig') with {'form': form} %}
        {% else %}
            {% include('AppBundle:blocks/Product:simple.html.twig') with {'form': form} %}
        {% endif %}
    {% endif %}

    {% if show_combination is not defined or show_combination is same as(true) %}
        {% include 'AppBundle:Product/includes:combination-products.html.twig' %}
    {% endif %}

    {% if isOrderable and (hasSupplier is same as(true) or product.hasVariations) %}
        {% include('AppBundle:blocks/Product:options.html.twig') %}
    {% endif %}

    {% if form.submit is defined %}
        {{ form_row(form.submit, {attr: {class: 'btn-add-to-cart btn btn-theme', 'data-product-id': product.getId()}}) }}
    {% endif %}
</div>
{{ form_end(form) }}