<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Product designer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
            <link rel="stylesheet" href="{{ asset('build/designer.css') }}" />
        {% endblock stylesheets %}

        <style>

            html, body {
                width: 100%;
                height: 100%;
                position: relative;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                padding: 10px;
            }

            /* Hide designer actions */
            #product-designer .actions {
                display: none !important;
            }

        </style>

    </head>

    <body>
        {% if screenshotModus is defined and screenshotModus is same as (true) %}
            {% set theme_img_base_path = 'build/images/' %}
            <img id="screenshot" src="{{ asset('build/images/topgeschenken-placeholder.029b88a2.png') }}" width="{{ width }}" height="{{ height }}" />
        {% endif %}

        <div id="product-designer">DESIGNER LOADING...</div>

        {% block javascripts %}
            <script type="text/javascript">
                var designer_data = {{ designer.getConfig()|json_encode()|raw }};
            </script>
            <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/designer.extensions.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/designer.js') }}"></script>
            <script type="text/javascript">
                window.onload = function(){
                    window.postToParent = function(data){
                        if(window.parent !== window) {
                            window.parent.postMessage(data, window.location.origin);
                        }
                    };

                    window.addEventListener('message', function(msg){
                        if(typeof(msg.data.designerFunction) !== 'undefined'
                            && msg.data.designerFunction === 'saveDesign'
                        ){
                            window.designer.saveConfirm();
                        }
                    });

                    if(typeof designer.settings.callback !== "function") {
                        designer.settings.callback = 'onDesignerSave';
                        window.onDesignerSave = function(data){
                            window.postToParent({'onDesignerSave': data});
                        };

                        window.postToParent({'onDesignerLoad': true});
                    }
                };
            </script>
        {% endblock javascripts %}
    </body>

</html>





