<div class="panel panel-default purchaser">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-xs-6">
                    <strong>Levering</strong>
                </div>
                <div class="col-xs-6 text-right">
                    {{ order.getDeliveryDate|date('d-m-Y') }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {% if order.getDeliveryAddressCompanyName %}
            <strong>{{ order.getDeliveryAddressCompanyName }}</strong><br>
        {% endif %}
        {{ order.getDeliveryAddressAttn }}<br>
        {{ order.getDeliveryAddressStreetAndNumber }}<br>
        {{ order.getDeliveryAddressPostcode }} {{ order.getDeliveryAddressCity }}
    </div>
</div>
