<tr>
    <td class="col-connector" style="width: 0 !important; position: relative;">
        <div class="rotate-90-inverse label"
             style="position: absolute; left: -43px; top: 42px; width: 105px; background-color: {{ supplier_connector_helper.getConnector(supplier).color }}">
            {{ (supplier|connector).shortName }}
        </div>
    </td>
    <td class="col-main-address">
        <strong class="supplier">
            <a href="{{ path('admin_customer_company_view', { id: supplier.getId }) }}"
               target="_blank">{{ supplier.getName }}</a>
        </strong>
        {{ (supplier.parent ? '&nbsp;&nbsp;<i class="fa fa-building-o" title="Nevenvestiging" style="color: #999999;"></i>' : '') }}
        <br>

        {% if supplier.mainAddress %}
            {{ supplier.mainAddress.format('<br />')|raw }}

            {% if supplier.formattedPhoneNumber is not null %}
                <br />
                <a href="tel:{{ supplier.formattedPhoneNumber }}" data-popup="tooltip" data-placement="top"
                   data-original-title="Bel deze vestiging">
                    <i class="fa fa-phone"></i> {{ supplier.formattedPhoneNumber }}
                </a>
            {% endif %}
        {% endif %}
    </td>
    <td class="col-internal-company-remarks" style="vertical-align: text-top;">
        <div class="row">
            <div class="col-xs-11 internal-company-remarks">
                {{ supplier.internalRemark|nl2br }}
            </div>
            <div class="col-xs-1">
                <button type="button" class="btn btn-default btn-xs"
                        data-action="remark"
                        data-url="{{ path('admin_sales_order_internalsupplierremark', { company: supplier.id }) }}"
                        data-popup="tooltip" data-trigger="hover" data-placement="left"
                        data-original-title="Wijzigen"
                >
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
        </div>
    </td>
    <td class="col-internal-remark">
        <textarea data-action="remark" readonly="readonly" class="form-control internal-remark"
                  style="height: 70px;" name="supplier_remark"
                  data-url="{{ path('admin_sales_order_supplierremark', { order: order.id }) }}"
                  placeholder="Opmerking voor leverancier..."></textarea>
    </td>
    <td class="col-delivery-costs" style="vertical-align: text-top">
        {% if deliveryCosts is defined and deliveryCosts is not same as (null) %}
            <strong>&euro; {{ deliveryCosts|number_format }}</strong>
        {% endif %}

        {% if deliveryArea is defined and deliveryArea is not same as (null) %}
            <br />Aanname tot {{ deliveryArea.dateIntervalTime }}
        {% endif %}
    </td>
    <td class="col-actions">
        <label class="checker bg-white" id="uniform-select_all">
            <span data-action="get-supplier-order-form"
                  data-url="{{ path('admin_sales_orderorderprocess_supplierorder', {
                      order: order.getId(),
                      supplier: supplier.id
                  }) }}">
                <input type="checkbox" data-action="select_supplier"
                       data-id="{{ supplier.id }}" class="form-styled">
            </span>
        </label>
    </td>
</tr>