<table id="table_order_suppliers" class="table table-striped table-hovered" {% if supplierData is empty %}style="display: none;"{% endif %}>
    <thead>
        <tr>
            <th></th>
            <th>Leverancier</th>
            <th>Interne bedrijfs opmerkingen</th>
            <th>Opmerking voor leverancier</th>
            <th>Bezorging</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% if supplierData is not empty %}
            {% for data in supplierData %}
                {% include '@Admin/Sales/OrderOrderProcess/include/row-supplier.html.twig' with {
                    order: order,
                    supplier: data.supplier,
                    deliveryCosts: data.deliveryCosts|default(null),
                    deliveryArea: data.deliveryArea|default(null)
                } %}
            {% endfor %}
        {% endif %}
    </tbody>
</table>

{% if supplierData is empty %}
    <div class="alert alert-warning alert-styled-left no-results">
        Er zijn geen leveranciers gevonden die deze order kunnen leveren
    </div>
{% endif %}

