<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Leverancier</th>
        <th>Interne opmerkingen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 0 !important; position: relative;">
            <div class="rotate-90-inverse label"
                 style="position: absolute; left: -43px; top: 42px; width: 105px; background-color: {{ supplier_connector_helper.getConnector(supplierOrder).color }}">
                {{ supplierOrder.getConnector }}
            </div>
        </td>
        <td>
            <strong class="supplier"
                    data-supplier-id="{{ supplier.id }}">{{ supplier.getName }}</strong>
            {{ (supplier.parent ? '&nbsp;&nbsp;<i class="fa fa-building-o" title="Nevenvestiging" style="color: #999999;"></i>' : '') }}
            <br>

            {% if supplier.mainAddress %}
                {{ supplier.mainAddress.street }} {{ supplier.mainAddress.number }}<br />
                {{ supplier.mainAddress.postcode }} {{ supplier.mainAddress.city }} ({{ supplier.mainAddress.country.code }})
                <br />
                {{ supplier.formattedPhoneNumber }}

                {% if supplier.parent and supplier.parent.formattedPhoneNumber %}
                    / <abbr
                        title="Telefoonnummer hoofdvestiging: ({{ supplier.parent.name }})">{{ supplier.parent.formattedPhoneNumber }}</abbr>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>