{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account.css') }}" />
{% endblock %}

{% set page_title = "account.company.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}

    <div class="account-overview">
        {% if app.user %}
            <h1>{{ page_title }}</h1>

            {% include('AppBundle:Customer/Account/Index:orders.html.twig') with {orderCollections: orderCollections} %}
            {% include('AppBundle:Customer/Account/Index:users.html.twig') with {users: app.getUser().getCompany().getUsers()} %}
        {% endif %}
    </div>

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
