{% macro popover_content(payment) %}
    {% spaceless %}
        <div style='font-size: 11px; white-space: nowrap;'>
            <table class='table table-borderless' style='width: 200px;'>
                <tr>
                    <td style='width: 100px;'>Betaalmethode</td>
                    <td>{% if payment.getPaymentmethod() %}{{ payment.getPaymentmethod().translate().getDescription() }}{% endif %}</td>
                </tr>
                <tr>
                    <td>Referentie:</td>
                    <td>{% if payment.getReference() %}{{ payment.getReference() }}{% else %}<em>Niet
                            bekend</em>{% endif %}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ payment.getStatus().getDescription }}</td>
                </tr>
                {% if payment.lastErrors %}
                    <tr>
                        <td>Reden:</td>
                        <td>{{ payment.lastErrorsAsString|nl2br }}</td>
                    </tr>
                {% endif %}
                {% if app.environment == 'prod' and payment.getPaymentmethod() and payment.getPaymentmethod().getCode() == "ideal" %}
                    <tr>
                        <td colspan='2' style='text-align: right;'>
                            {#Disable payment images due to missing images#}
{#                            {% if payment.getMetadata().issuer is defined %}#}
{#                                <img src='{{ asset('bundles/admin/img/issuers/icons/' ~ payment.getMetadata().issuer ~ '.png') }}'#}
{#                                     alt='{{ payment.getMetadata().issuer }}' />#}
{#                            {% endif %}#}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro popover_template(payment) %}
    {% spaceless %}
        <div class='popover' role='tooltip' style="max-width: 500px;">
            <div class='arrow'></div>
            <h3 class='popover-title bg-teal-400'></h3>
            <div class='popover-content'></div>
        </div>
    {% endspaceless %}
{% endmacro %}
