<div class="contents">
    <div class="lines">
        <table class="table table-sm">
            <thead>
            <tr>
                <th class="product-name" colspan="2">{{ 'cart.product.your_order'|trans }}</th>
                <th class="product-price">{{ 'cart.product.price'|trans }}</th>
                <th class="product-quantity">{{ 'cart.product.quantity'|trans }}</th>
                <th class="product-total">{{ 'cart.product.amount'|trans }}</th>
                <th class="product-delete">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for line in order.lines if line.getParent() is null and line.getProduct.getPurchasable and attribute(line.getMetadata, 'additional_product_parent') is not defined %}
                {% set product = product_manager.decorateProduct(line.product) %}
                {% set productImage = product.getCategoryImage(true) %}

                {% set rowSpan = '' %}
                {% if line.discountAmount and (line.discountType is not same as('assortment') or displayMode is same as('original')) %}
                    {% set rowSpan = 'rowspan="2"' %}
                {% endif %}

                <tr class="product-line">
                    <td class="images" {{ rowSpan }}>
                        <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}"{% if productImage %} data-src="{{ productImage.getPath() | imagine_filter('product_assortment') }}"{% endif %} class="lazy">
                    </td>
                    <td class="product-name">
                        {{ product.getDisplayName }}
                    </td>
                    <td class="product-price">{{ get_price(line) | number_format }}</td>
                    <td class="product-quantity">
                        <div class="qty">
                            {% include '@App/Checkout/components/delivery/qty-selector.html.twig' with { line: line } %}
                        </div>
                    </td>
                    <td class="product-total">{{ (get_price(line) * line.quantity) | number_format }}</td>
                    <td class="product-delete">
                        <span data-action="remove-product" data-url="{{ path('app_cart_removeorderline', {
                            cartOrder: order.uuid,
                            cartOrderLine: line.uuid
                        }) }}">
                            <i class="fa fa-times"></i>
                        </span>
                    </td>
                </tr>
                {% if line.discountAmount and (line.discountType is not same as('assortment') or displayMode is same as('original')) %}
                    <tr class="child-line discount-line">
                        <td></td>
                        <td class="product-name" colspan="3">
                            {{ line.cartOrder.cart.vouchers.current.description }}
                        </td>
                        <td class="product-total">
                            {% if site.getDefaultDisplayPrice is same as('exclusive') %}
                                - {{ cartorderline_manager_get_discountamount_excl(line) | number_format }}
                            {% else %}
                                - {{ get_price(line, false, 'discountAmount') | number_format }}
                            {% endif %}
                        </td>
                        <td class="product-delete">&nbsp;</td>
                    </tr>
                {% endif %}

                {% if line.hasProductCard %}
                    {% set subline = line.productCard %}
                    {% set subLineProduct = product_manager.decorateProduct(subline.product) %}
                    {% set sublineProductImage = subLineProduct.getCategoryImage(true) %}

                    {% set rowSpan = '' %}
                    {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                        {% set rowSpan = 'rowspan="2"' %}
                    {% endif %}

                    <tr class="product-line">
                        {# rowspan="{{ line.getLineCount }}"#}
                        <td class="images" {{ rowSpan }}>
                            <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}"{% if sublineProductImage %} data-src="{{ sublineProductImage.getPath() | imagine_filter('product_assortment') }}"{% endif %} class="lazy">
                        </td>
                        <td class="product-name">
                            {{ subline.product.displayName }}
                            <a href="{{ path('app_cart_editcard', {
                                cartOrder: subline.cartOrder.uuid,
                                cartOrderLine: subline.uuid,
                            }) }}" class="cart-edit" data-action="edit-card">{{ 'cart.edit' | trans }}</a>
                        </td>
                        <td class="product-price">{{ get_price(subline) | number_format }}</td>
                        <td class="product-quantity">
                            <div class="qty">{{ subline.quantity }}</td>
                        <td class="product-total">{{ (get_price(subline) * subline.quantity) | number_format }}</td>
                        <td class="product-delete">
                            <span data-action="remove-card" data-url="{{ path('app_cart_removeorderlinecard', {
                                cartOrder: order.uuid,
                                cartOrderLine: subline.uuid,
                            }) }}">
                            <i class="fa fa-times"></i>
                        </span>
                        </td>
                    </tr>
                    {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                        <tr class="child-line discount-line">
                            <td></td>
                            <td class="product-name" colspan="3">
                                {{ subline.cartOrder.cart.vouchers.current.description }}
                            </td>
                            <td class="product-price">
                                {% if site.getDefaultDisplayPrice is same as('exclusive') %}
                                    - {{ cartorderline_manager_get_discountamount_excl(subline) | number_format }}
                                {% else %}
                                    - {{ get_price(subline, false, 'discountAmount') | number_format }}
                                {% endif %}
                            </td>
                            <td class="product-delete">&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endif %}

                {% if line.hasProductPersonalization %}
                    {% set subline = line.personalizationLine %}
                    {% set subLineProduct = product_manager.decorateProduct(subline.product) %}
                    {% set sublineProductImage = subline.getPersonalizationPreviewImage %}

                    {% set rowSpan = '' %}
                    {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                        {% set rowSpan = 'rowspan="2"' %}
                    {% endif %}

                    <tr class="product-line">
                        <td class="images" {{ rowSpan }}>
                            <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}"{% if sublineProductImage %} data-src="{{ sublineProductImage }}"{% endif %} class="lazy">
                        </td>
                        <td class="product-name">
                            {{ subline.product.displayName }}
                            <a href="{{ path('app_designer_preview', {cartOrderLine: subline.uuid, uuid: subline.metadata.designer}) }}" class="cart-edit" data-action="edit-personalization">{{ 'cart.edit' | trans }}</a>
                        </td>
                        <td class="product-price">{{ get_price(subline) | number_format }}</td>
                        <td class="product-quantity">{{ subline.quantity }}</td>
                        <td class="product-total">{{ (get_price(subline) * subline.quantity) | number_format }}</td>
                        <td class="product-delete">
                            {% if not subline.hasRequiredPersonalization %}
                                <span data-action="remove-personalization" data-url="{{ path('app_cart_removeorderlinepersonalization', {
                                    cartOrder: order.uuid,
                                    cartOrderLine: subline.uuid,
                                }) }}">
                                    <i class="fa fa-times"></i>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                        <tr class="child-line discount-line">
                            <td></td>
                            <td class="product-name" colspan="3">
                                {{ subline.cartOrder.cart.vouchers.current.description }}
                            </td>
                            <td class="product-price">
                                {% if site.getDefaultDisplayPrice is same as('exclusive') %}
                                    - {{ cartorderline_manager_get_discountamount_excl(subline) | number_format }}
                                {% else %}
                                    - {{ get_price(subline, false, 'discountAmount') | number_format }}
                                {% endif %}
                            </td>
                            <td class="product-delete"></td>
                        </tr>
                    {% endif %}
                {% endif %}

                {% if line.hasProductLetter %}
                    {% set subline = line.productLetterLine %}
                    {% set subLineProduct = product_manager.decorateProduct(subline.product) %}

                    {% set rowSpan = '' %}
                    {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                        {% set rowSpan = 'rowspan="2"' %}
                    {% endif %}

                    <tr class="product-line">
                        <td class="images" {{ rowSpan }}>
                            <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
                        </td>
                        <td class="product-name">
                            {{ subline.product.displayName }}
                            <a href="{{ path('app_letter_edit', {cartOrderLine: subline.uuid, uuid: subline.metadata.letter.uuid}) }}" class="cart-edit" data-action="edit-letter">{{ 'cart.edit' | trans }}</a>
                        </td>
                        <td class="product-price">{{ get_price(subline) | number_format }}</td>
                        <td class="product-quantity">{{ subline.quantity }}</td>
                        <td class="product-total">{{ (get_price(subline) * subline.quantity) | number_format }}</td>
                        <td class="product-delete">
                            <span data-action="remove-letter" data-url="{{ path('app_cart_removeorderlineletter', {
                                cartOrder: order.uuid,
                                cartOrderLine: subline.uuid,
                            }) }}">
                                <i class="fa fa-times"></i>
                            </span>
                        </td>
                    </tr>
                    {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                        <tr class="child-line discount-line">
                            <td></td>
                            <td class="product-name" colspan="3">
                                {{ subline.cartOrder.cart.vouchers.current.description }}
                            </td>
                            <td class="product-price">
                                {% if site.getDefaultDisplayPrice is same as('exclusive') %}
                                    - {{ cartorderline_manager_get_discountamount_excl(subline) | number_format }}
                                {% else %}
                                    - {{ get_price(subline, false, 'discountAmount') | number_format }}
                                {% endif %}
                            </td>
                            <td class="product-delete"></td>
                        </tr>
                    {% endif %}
                {% endif %}

                {% if line.hasProductAdditionalProducts %}

                    {% for subline in line.getProductAdditionalProducts() %}
                        {% set subLineProduct = product_manager.decorateProduct(subline.product) %}
                        {% set sublineProductImage = subLineProduct.getCategoryImage(true) %}

                        {% set rowSpan = '' %}
                        {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                            {% set rowSpan = 'rowspan="2"' %}
                        {% endif %}

                        <tr class="product-line">
                            <td class="images" {{ rowSpan }}>
                                 <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}"{% if sublineProductImage %} data-src="{{ sublineProductImage.getPath() | imagine_filter('product_assortment') }}"{% endif %} class="lazy">
                            </td>
                            <td class="product-name">
                                {{ subline.product.displayName }}
                            </td>
                            <td class="product-price">{{ get_price(subline) | number_format }}</td>
                            <td class="product-quantity">
                                <div class="qty">
                                    {% include '@App/Checkout/components/delivery/qty-selector.html.twig' with { line: subline } %}
                                </div>
                            </td>
                            <td class="product-total">{{ (get_price(subline) * subline.quantity) | number_format }}</td>
                            <td class="product-delete"></td>
                        </tr>

                        {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                            <tr class="child-line discount-line">
                                <td></td>
                                <td class="product-name" colspan="3">
                                    {{ subline.cartOrder.cart.vouchers.current.description }}
                                </td>
                                <td class="product-price">
                                    {% if site.getDefaultDisplayPrice is same as('exclusive') %}
                                        - {{ cartorderline_manager_get_discountamount_excl(subline) | number_format }}
                                    {% else %}
                                        - {{ get_price(subline, false, 'discountAmount') | number_format }}
                                    {% endif %}
                                </td>
                                <td class="product-delete">&nbsp;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if line.hasUpsellLines %}
                    {% for subline in line.upsellLines %}
                        {% set subLineProduct = product_manager.decorateProduct(subline.product) %}
                        {% set sublineProductImage = subLineProduct.getCategoryImage(true) %}
                        <tr class="product-line">
                            <td class="images" rowspan="{{ line.getLineCount }}">
                                <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}"{% if sublineProductImage %} data-src="{{ sublineProductImage.getPath() | imagine_filter('product_assortment') }}"{% endif %} class="lazy">
                            </td>
                            <td class="product-name">
                                {{ subline.product.displayName }}
                            </td>
                            <td class="product-price">{{ get_price(subline) | number_format }}</td>
                            <td class="product-quantity">{{ subline.quantity }}</td>
                            <td class="product-total">{{ (get_price(subline) * subline.quantity) | number_format }}</td>
                            <td class="product-delete"></td>
                        </tr>
                        {% if subline.discountAmount and (subline.discountType is not same as('assortment') or displayMode is same as('original')) %}
                            <tr class="child-line discount-line">
                                <td></td>
                                <td class="product-name" colspan="3">
                                    {{ subline.cartOrder.cart.vouchers.current.description }}
                                </td>
                                <td class="product-price">
                                    {% if site.getDefaultDisplayPrice is same as('exclusive') %}
                                        - {{ cartorderline_manager_get_discountamount_excl(subline) | number_format }}
                                    {% else %}
                                        - {{ get_price(subline, false, 'discountAmount') | number_format }}
                                    {% endif %}
                                </td>
                                <td class="product-delete">&nbsp;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr><td colspan="5">&nbsp;</td></tr>
            {% endfor %}

            {% if lineDeliveryCosts %}
                <tr>
                    <td></td>
                    <td class="product-name">{{ lineDeliveryCosts.product.displayName }}</td>
                    <td class="product-price"></td>
                    <td class="product-quantity"></td>
                    <td class="product-total">{{ (get_price(lineDeliveryCosts) * lineDeliveryCosts.quantity) | number_format }}</td>
                    <td class="product-delete">&nbsp;</td>
                </tr>
                {% if lineDeliveryCosts.discountAmount and (lineDeliveryCosts.discountType is not same as('assortment') or displayMode is same as('original')) %}
                    <tr class="child-line discount-line">
                        <td></td>
                        <td class="product-name" colspan="3">
                            {{ lineDeliveryCosts.cartOrder.cart.vouchers.current.description }}
                        </td>
                        {% if site.getDefaultDisplayPrice is same as('exclusive') %}
                            <td class="product-price">
                                - {{ cartorderline_manager_get_discountamount_excl(lineDeliveryCosts) | number_format }}</td>
                        {% else %}
                            <td class="product-price">
                                - {{ get_price(lineDeliveryCosts, false, 'discountAmount') | number_format }}</td>
                        {% endif %}
                        <td class="product-delete">&nbsp;</td>
                    </tr>
                {% endif %}
            {% endif %}
            </tbody>

            {% if site.getDefaultDisplayPrice == 'exclusive' %}
                <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td class="subtotal" colspan="2">{{ 'cart.subtotal'|trans }}</td>
                    <td class="subtotal product-price"
                        colspan="2">{{ get_price(order, null, 'totalPrice') | number_format }}</td>
                    <td class="product-delete">&nbsp;</td>
                </tr>

                {% set vatInfo = include('@App/Cart/components/popover_vat.html.twig', { vats: cart.cartManager.vatTotalsForOrder(order, true) }) %}

                <tr>
                    <td>&nbsp;</td>
                    <td class="tax" colspan="2">
                        {{ 'vat' | trans }}

                        <span class="vat-specification" data-toggle="popover" data-html="true" data-content="{{ vatInfo | escape }}">
                            <i class="fa fa-info-circle"></i>
                        </span>
                    </td>
                    <td class="product-price"
                        colspan="2">{{ ( get_price(order, null, 'totalPriceIncl') - get_price(order, null, 'totalPrice')) | number_format }}</td>
                    <td class="product-delete">&nbsp;</td>
                </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
</div>
