{% if mode == 'view' %}
    <div class="delivery-address">
        {% if order.getPickupAddress is null %}
            <span class="attn">
                {{ 'delivery_address' | trans }} <a href="{{ path('app_checkout_delivery', {
                    cartOrder: order.uuid
                }) }}" class="cart-edit">{{ 'cart.edit' | trans }}</a>
            </span>

            {% if order.deliveryAddressAttn %}
                {{ order.deliveryAddressAttn }} {% if order.deliveryAddressCompanyName is not empty and order.metadata is empty %} - {{ order.deliveryAddressCompanyName }}{% endif %}
            {% else %}
                <p class="error">{{ 'cart.delivery.attn_missing'|trans({'translation_domain': 'validation'}) }}</p>
            {% endif %}

            {% if order.deliveryAddressStreet is not empty and order.deliveryAddressNumber is not empty %}
                <address>
                    {% if order.metadata %}
                        {% if order.deliveryAddressCompanyName is not empty %}
                            {{ order.deliveryAddressCompanyName }}
                            <br />
                        {% endif %}

                        {% if order.metadata.deliveryAddressTypeFields is defined %}
                            {% for item in order.metadata.deliveryAddressTypeFields %}
                                {{ item.label }}: {{ item.value }}<br />
                            {% endfor %}
                        {% endif %}

                    {% endif %}

                    {{ order.deliveryAddressStreetAndNumber }}<br />
                    {{ order.deliveryAddressCity }}<br />
                </address>
            {% else %}
                <p class="error"
                   style="margin-bottom: 3px;">{{ 'cart.delivery.address_incomplete'|trans({'translation_domain': 'validation'}) }}</p>

                {% if order.deliveryDate is null or (order.deliveryAddressStreet is empty and order.deliveryAddressNumber is empty) or order.deliveryAddressAttn is null %}
                    <p>
                        <a href="{{ path('app_checkout_delivery', {cartOrder: order.uuid}) }}">{{ 'cart.delivery.info_missing_link'|trans }}</a>
                    </p>
                {% endif %}
            {% endif %}

            <span class="delivery-remark">
                <strong>
                    {{ 'label.delivery_remark' | trans }} <a href="{{ path('app_checkout_delivery', {
                        cartOrder: order.uuid
                    }) }}" class="cart-edit">{{ 'cart.edit' | trans }}</a>
                </strong><br>

                {% if order.deliveryRemark %}
                    {{ order.deliveryRemark }}
                {% else %}
                    {{ 'checkout.delivery.no_remark' | trans }}
                {% endif %}
            </span>

            <span class="delivery-date">
            {% if order.cart.site.deliveryDateMethod is not null and order.cart.site.deliveryDateMethod == 'required' %}

                {% if order.deliveryDate %}
                    <strong>
                        {{ 'checkout.delivery.delivery_date' | trans }} <a
                                href="{{ path('app_checkout_delivery', {
                                    cartOrder: order.uuid
                                }) }}" class="cart-edit">{{ 'cart.edit' | trans }}</a>
                    </strong><br>

                    {{ order.deliveryDate|localizeddate('full', 'none') }}
                {% else %}
                    <p class="error">{{ 'cart.delivery.date_missing'|trans({'translation_domain': 'validation'}) }}</p>

                    {% if order.deliveryDate is null %}
                        <p>
                        <a href="{{ path('app_checkout_delivery', {cartOrder: order.uuid}) }}">{{ 'cart.delivery.delivery_date_missing'|trans }}</a>
                    </p>
                    {% endif %}
                {% endif %}
            {% endif %}
            </span>
        {% else %}
            {{ 'cart.order.pickup' | trans }}<br />
            <address>
                {{ order.getPickupAddress.getCompanyName }}<br />
                {{ [order.getPickupAddress.getStreet, order.getPickupAddress.getNumber, order.getPickupAddress.getNumberAddition] | join(' ') }}
                <br />
                {{ order.getPickupAddress.getCity }}<br />
                {{ order.getTimeslot }}
            </address>
        {% endif %}
    </div>
{% endif %}