.modal-invalid-cart-combination {

  .swal2-confirm {
    display: none;
  }

  .swal2-cancel {
    display: none;
  }

  #cart_invalid_combination > p {
    margin-bottom: 20px;
  }

  .item-container-description {
    font-weight: bold;
  }

  .item-container {
    margin-top: 10px;
    border: 2px dotted #f0f0f0;

    padding: 10px 0;

    transition: all .25s linear;

    height: 276px;
    font-size: 14px;

    border-radius: 5px;

    &.item-container-list {
      ul {
        margin: 0;
        padding: 0 10px;
        list-style: none;
        font-size: 14px;
        text-align: left;

        li {
          margin-bottom: 5px;

          &.child {
            font-size: 13px;
          }
        }
      }

      .fa-share {
        width: 12px;

        margin-left: 10px;
        margin-right: 10px;
        -ms-transform: rotateX(-180deg);
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
      }
    }

    &.selected,
    &:hover {
      cursor: pointer;
      border-style: solid;
    }
  }

  .item-title {
    height: 44px;
    overflow: hidden;
  }

  .item-image {
    img {
      max-width: 80%;
    }
  }
}
