select.form-control {
  padding: .5rem;
}

input[type=text] + label[placeholder],
input[type=text][required] + label[placeholder],
input[type=email] + label,
input[type=email][required] + label[placeholder],
input[type=number] + label,
input[type=number][required] + label[placeholder],
input[type=tel] + label,
input[type=tel][required] + label[placeholder],
input[type=password] + label[placeholder],
input[type=password][required] + label[placeholder],
select + label[placeholder],
select[required] + label[placeholder],
textarea + label[placeholder],
textarea[required] + label[placeholder] {
  position: absolute;
  top: -11px;
  display: block;
  pointer-events: none;
  line-height: 20px;
  /*margin-top: -30px;*/
  font-size: 13px;
  font-weight: 400;

  padding: 0 0 10px .75rem;
  color: #55595c;
}

input[type=text]:invalid + label[placeholder][alt]:before,
input[type=text][required]:invalid + label[placeholder][alt]:before,
input[type=email]:invalid + label[placeholder][alt]:before,
input[type=email][required]:invalid + label[placeholder][alt]:before,
input[type=number]:invalid + label[placeholder][alt]:before,
input[type=number][required]:invalid + label[placeholder][alt]:before,
input[type=tel]:invalid + label[placeholder][alt]:before,
input[type=tel][required]:invalid + label[placeholder][alt]:before,
input[type=password]:invalid + label[placeholder][alt]:before,
input[type=password][required]:invalid + label[placeholder][alt]:before,
select:invalid + label[placeholder][alt]:before,
select[required]:invalid + label[placeholder][alt]:before,
textarea:invalid + label[placeholder][alt]:before,
textarea[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}

input[type=text] + label[placeholder]:before,
input[type=text][required] + label[placeholder]:before,
input[type=tel] + label[placeholder]:before,
input[type=tel][required] + label[placeholder]:before,
input[type=email] + label[placeholder]:before,
input[type=email][required] + label[placeholder]:before,
input[type=number] + label[placeholder]:before,
input[type=number][required] + label[placeholder]:before,
input[type=password] + label[placeholder]:before,
input[type=password][required] + label[placeholder]:before,
select + label[placeholder]:before,
select[required] + label[placeholder]:before,
textarea + label[placeholder]:before,
textarea[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 0;
  padding: 0 2px;
  white-space: nowrap;
  transition: .3s ease-in-out;
  background-color: transparent;
  position: relative;
  z-index: 20;
  left: -1px;
}

input[type=text] + label[placeholder]:after,
input[type=text][required] + label[placeholder]:after,
input[type=tel] + label[placeholder]:after,
input[type=tel][required] + label[placeholder]:after,
input[type=email] + label[placeholder]:after,
input[type=email][required] + label[placeholder]:after,
input[type=number] + label[placeholder]:after,
input[type=number][required] + label[placeholder]:after,
input[type=password] + label[placeholder]:after,
input[type=password][required] + label[placeholder]:after,
select + label[placeholder]:after,
select[required] + label[placeholder]:after,
textarea + label[placeholder]:after,
textarea[required] + label[placeholder]:after {
  display: block;
  content: ' ';
  position: relative;
  width: 100%;
  height: 1px;
  background: white;
  z-index: 10;
  top: -9px;
  left: -1px;
}


#customer_country_container .row-country-label, #customer_country_container .country-radio-buttons,
#form-new-client .customer-order-as, #form-new-client .customer-order-as-radios {
  display: inline-block;
  float: left;
}

#customer_country_container .row-country-label, #form-new-client .customer-order-as {
  padding-right: 5px;
}

#customer_country_container .country-radio-buttons label, #form-new-client .customer-order-as-radios label {
  padding: 0px 0 0px 20px;
}

@media all and (max-width: 767px) {
  #content-shoppingcart #order-register-or-login #user-data .form {
    padding: 0 1rem 1rem;

    .form-row {
      padding: 0 !important;
      float: none !important;
      width: auto !important;
      margin-bottom: 1rem;

      div[class*="col-"] {
        padding: 0;
        float: none;
        width: auto !important;
      }
    }

    .radio {
      float: none;
      display: inline-block;
    }
  }

  &#form-new-client .row-country .row-country-inputs {
    padding-left: 0 !important;
  }
}

