.lang,.region,.lang-ca,.lang-eo,.lang-eu,.variant-wales,.region-gb.lang-cy,.variant-scotland,.region-gb.lang-gd{
  color:#fff;
  background:#2e892e;
  display:inline-block;
  text-transform:uppercase;
  overflow:hidden;
  font-family:$base-font-family;
  font-size:9px;
  font-weight:normal;
  font-style:normal;
  line-height:12px;
  text-align:center;
  white-space:normal;
  text-shadow:none
}
.lang{
  width:20px;
  height:12px;
  line-height:12px;
  vertical-align:middle
}
.lang:before{
  content:attr(lang);
  vertical-align:baseline
}
.no-lang{
  width:18px;
  height:10px;
  border:solid 1px #2e892e;
  background:transparent
}
.lang-el{
  background-color:#1d48a3
}
.lang-el:before{
  content:"\0395\03BB"
}
.region,.lang-ca,.lang-eo,.lang-eu,.variant-wales,.region-gb.lang-cy,.variant-scotland,.region-gb.lang-gd{
  width:16px;
  height:12px;
  margin:0 2px;
  background-image:url(../../img/flags.png);
  background-repeat:no-repeat;
  background-color:transparent
}
.region:before,.lang-ca:before,.lang-eo:before,.lang-eu:before,.variant-wales:before,.region-gb.lang-cy:before,.variant-scotland:before,.region-gb.lang-gd:before{
  visibility:hidden
}
.lang-zh{
  background-color:#b90000
}
.lang-zh.script-hans:before{
  content:"\4E2D\56FD"
}
.lang-zh.script-hant:before{
  content:"\4E2D\570B"
}
.__{
  background-position:0 0
}
.lang-eo{
  background-position:0 -12px
}
.lang-eu{
  background-position:0 -24px
}
.lang-ca{
  background-position:0 -36px
}
.region-tg{
  background-position:0 -48px
}
.region-me{
  background-position:0 -60px
}
.region-la{
  background-position:0 -73px
}
.region-mr{
  background-position:0 -85px
}
.region-ni{
  background-position:0 -97px
}
.region-lv{
  background-position:0 -109px
}
.region-om{
  background-position:0 -121px
}
.region-af{
  background-position:0 -133px
}
.region-cy{
  background-position:0 -145px
}
.region-bj{
  background-position:0 -157px
}
.region-aq{
  background-position:0 -169px
}
.region-cn{
  background-position:0 -186px
}
.region-co{
  background-position:0 -198px
}
.region-cx{
  background-position:0 -210px
}
.region-ag{
  background-position:0 -222px
}
.region-ms{
  background-position:0 -234px
}
.region-md{
  background-position:0 -246px
}
.region-zm{
  background-position:0 -258px
}
.region-vn{
  background-position:0 -270px
}
.region-tf{
  background-position:0 -282px
}
.region-td{
  background-position:0 -294px
}
.region-yt{
  background-position:0 -306px
}
.region-lb{
  background-position:0 -318px
}
.region-mf{
  background-position:0 -330px
}
.region-lu{
  background-position:0 -347px
}
.region-mq{
  background-position:0 -359px
}
.region-cz{
  background-position:0 -371px
}
.region-ae{
  background-position:0 -383px
}
.region-cm{
  background-position:0 -395px
}
.region-bi{
  background-position:0 -407px
}
.region-ar{
  background-position:0 -419px
}
.region-as{
  background-position:0 -431px
}
.region-bh{
  background-position:0 -443px
}
.region-cl{
  background-position:0 -455px
}
.region-ad{
  background-position:0 -467px
}
.region-mp{
  background-position:0 -479px
}
.region-lt{
  background-position:0 -491px
}
.region-mg{
  background-position:0 -503px
}
.region-lc{
  background-position:0 -515px
}
.region-tr{
  background-position:0 -527px
}
.region-ua{
  background-position:0 -539px
}
.region-tv{
  background-position:0 -551px
}
.region-vi{
  background-position:0 -563px
}
.region-mt{
  background-position:0 -575px
}
.region-no{
  background-position:0 -587px
}
.region-mc{
  background-position:0 -599px
}
.region-ch{
  background-position:0 -611px
}
.region-bl{
  background-position:0 -623px
}
.region-aw{
  background-position:0 -640px
}
.region-bz{
  background-position:0 -652px
}
.region-bm{
  background-position:0 -664px
}
.region-ci{
  background-position:0 -676px
}
.region-mu{
  background-position:0 -688px
}
.region-us{
  background-position:0 -700px
}
.region-tw{
  background-position:0 -712px
}
.region-ye{
  background-position:0 -724px
}
.region-mw{
  background-position:0 -736px
}
.region-nl{
  background-position:0 -748px
}
.region-ls{
  background-position:0 -760px
}
.region-bo{
  background-position:0 -772px
}
.region-at{
  background-position:0 -784px
}
.region-ck{
  background-position:0 -796px
}
.region-by{
  background-position:0 -808px
}
.region-au{
  background-position:0 -820px
}
.region-bn{
  background-position:0 -832px
}
.region-ma{
  background-position:0 -844px
}
.region-nz{
  background-position:0 -856px
}
.region-lr{
  background-position:0 -868px
}
.region-mv{
  background-position:0 -880px
}
.region-tc{
  background-position:0 -892px
}
.region-ug{
  background-position:0 -904px
}
.region-tt{
  background-position:0 -916px
}
.region-pl{
  background-position:0 -928px
}
.region-rs{
  background-position:0 -940px
}
.region-in{
  background-position:0 -952px
}
.region-ge{
  background-position:0 -964px
}
.region-gr{
  background-position:0 -976px
}
.region-gs{
  background-position:0 -988px
}
.region-gd{
  background-position:0 -1000px
}
.region-io{
  background-position:0 -1012px
}
.region-hk{
  background-position:0 -1024px
}
.region-kp{
  background-position:0 -1036px
}
.region-kg{
  background-position:0 -1048px
}
.region-pm{
  background-position:0 -1060px
}
.region-sv{
  background-position:0 -1072px
}
.region-re{
  background-position:0 -1084px
}
.region-sa{
  background-position:0 -1096px
}
.region-sc{
  background-position:0 -1108px
}
.region-st{
  background-position:0 -1120px
}
.region-ke{
  background-position:0 -1132px
}
.region-im{
  background-position:0 -1144px
}
.region-kr{
  background-position:0 -1161px
}
.region-gf{
  background-position:0 -1173px
}
.region-dj{
  background-position:0 -1185px
}
.region-gq{
  background-position:0 -1197px
}
.region-gp{
  background-position:0 -1209px
}
.region-dk{
  background-position:0 -1221px
}
.region-gg{
  background-position:0 -1233px
}
.region-il{
  background-position:0 -1250px
}
.region-pn{
  background-position:0 -1262px
}
.region-sb{
  background-position:0 -1274px
}
.region-py{
  background-position:0 -1286px
}
.region-ru{
  background-position:0 -1298px
}
.region-kw{
  background-position:0 -1310px
}
.region-do{
  background-position:0 -1322px
}
.region-gt{
  background-position:0 -1334px
}
.region-gb{
  background-position:0 -1346px
}
.region-gu{
  background-position:0 -1358px
}
.region-je{
  background-position:0 -1370px
}
.region-hm{
  background-position:0 -1387px
}
.region-sg{
  background-position:0 -1399px
}
.region-pk{
  background-position:0 -1411px
}
.region-sr{
  background-position:0 -1423px
}
.region-se{
  background-position:0 -1435px
}
.region-jp{
  background-position:0 -1447px
}
.region-gw{
  background-position:0 -1459px
}
.region-eh{
  background-position:0 -1471px
}
.region-dz{
  background-position:0 -1483px
}
.region-ga{
  background-position:0 -1495px
}
.region-fr{
  background-position:0 -1507px
}
.region-dm{
  background-position:0 -1519px
}
.region-hn{
  background-position:0 -1531px
}
.region-sd{
  background-position:0 -1543px
}
.region-rw{
  background-position:0 -1555px
}
.region-ph{
  background-position:0 -1567px
}
.region-ss{
  background-position:0 -1579px
}
.region-qa{
  background-position:0 -1596px
}
.region-pe{
  background-position:0 -1608px
}
.region-pr{
  background-position:0 -1620px
}
.region-si{
  background-position:0 -1632px
}
.region-ht{
  background-position:0 -1644px
}
.region-es{
  background-position:0 -1656px
}
.region-gl{
  background-position:0 -1668px
}
.region-gm{
  background-position:0 -1680px
}
.region-er{
  background-position:0 -1692px
}
.region-fi{
  background-position:0 -1704px
}
.region-ee{
  background-position:0 -1716px
}
.region-kn{
  background-position:0 -1728px
}
.region-hu{
  background-position:0 -1740px
}
.region-iq{
  background-position:0 -1752px
}
.region-ky{
  background-position:0 -1764px
}
.region-sh{
  background-position:0 -1776px
}
.region-ps{
  background-position:0 -1788px
}
.region-pf{
  background-position:0 -1800px
}
.region-sj{
  background-position:0 -1812px
}
.region-id{
  background-position:0 -1824px
}
.region-is{
  background-position:0 -1836px
}
.region-eg{
  background-position:0 -1848px
}
.region-fk{
  background-position:0 -1860px
}
.region-fj{
  background-position:0 -1872px
}
.region-gn{
  background-position:0 -1884px
}
.region-gy{
  background-position:0 -1896px
}
.region-ir{
  background-position:0 -1908px
}
.region-km{
  background-position:0 -1920px
}
.region-ie{
  background-position:0 -1932px
}
.region-kz{
  background-position:0 -1944px
}
.region-ro{
  background-position:0 -1956px
}
.region-sk{
  background-position:0 -1968px
}
.region-pg{
  background-position:0 -1980px
}
.region-pt{
  background-position:0 -1992px
}
.region-so{
  background-position:0 -2004px
}
.region-sx{
  background-position:0 -2016px
}
.region-hr{
  background-position:0 -2033px
}
.region-ki{
  background-position:0 -2045px
}
.region-jm{
  background-position:0 -2057px
}
.region-ec{
  background-position:0 -2069px
}
.region-et{
  background-position:0 -2081px
}
.region-fo{
  background-position:0 -2093px
}
.region-kh{
  background-position:0 -2105px
}
.region-sy{
  background-position:0 -2117px
}
.region-sn{
  background-position:0 -2129px
}
.region-pw{
  background-position:0 -2141px
}
.region-sl{
  background-position:0 -2153px
}
.region-fm{
  background-position:0 -2165px
}
.region-gi{
  background-position:0 -2177px
}
.region-de{
  background-position:0 -2189px
}
.region-gh{
  background-position:0 -2201px
}
.region-jo{
  background-position:0 -2213px
}
.region-it{
  background-position:0 -2225px
}
.region-pa{
  background-position:0 -2237px
}
.region-sz{
  background-position:0 -2249px
}
.region-sm{
  background-position:0 -2261px
}
.region-tn{
  background-position:0 -2273px
}
.region-ml{
  background-position:0 -2285px
}
.region-cg{
  background-position:0 -2297px
}
.region-ax{
  background-position:0 -2309px
}
.region-ao{
  background-position:0 -2321px
}
.region-bt{
  background-position:0 -2333px
}
.region-an{
  background-position:0 -2345px
}
.region-bb{
  background-position:0 -2357px
}
.region-cf{
  background-position:0 -2369px
}
.region-mm{
  background-position:0 -2381px
}
.region-li{
  background-position:0 -2393px
}
.region-na{
  background-position:0 -2405px
}
.region-mz{
  background-position:0 -2417px
}
.region-to{
  background-position:0 -2429px
}
.region-vg{
  background-position:0 -2441px
}
.region-ve{
  background-position:0 -2453px
}
.region-tz{
  background-position:0 -2465px
}
.region-tm{
  background-position:0 -2477px
}
.region-mx{
  background-position:0 -2489px
}
.region-nc{
  background-position:0 -2501px
}
.region-mo{
  background-position:0 -2513px
}
.region-lk{
  background-position:0 -2525px
}
.region-cd{
  background-position:0 -2537px
}
.region-al{
  background-position:0 -2549px
}
.region-bw{
  background-position:0 -2561px
}
.region-cs{
  background-position:0 -2573px
}
.region-cr{
  background-position:0 -2585px
}
.region-bv{
  background-position:0 -2597px
}
.region-am{
  background-position:0 -2609px
}
.region-az{
  background-position:0 -2621px
}
.region-ba{
  background-position:0 -2633px
}
.region-mn{
  background-position:0 -2645px
}
.region-nu{
  background-position:0 -2657px
}
.region-my{
  background-position:0 -2669px
}
.region-tl{
  background-position:0 -2681px
}
.region-ws{
  background-position:0 -2693px
}
.region-th{
  background-position:0 -2705px
}
.region-nf{
  background-position:0 -2717px
}
.region-ly{
  background-position:0 -2729px
}
.region-ai{
  background-position:0 -2741px
}
.region-br{
  background-position:0 -2753px
}
.region-cv{
  background-position:0 -2765px
}
.region-be{
  background-position:0 -2777px
}
.region-ca{
  background-position:0 -2789px
}
.region-bd{
  background-position:0 -2801px
}
.region-cw{
  background-position:0 -2813px
}
.region-bs{
  background-position:0 -2830px
}
.region-ng{
  background-position:0 -2842px
}
.region-mk{
  background-position:0 -2854px
}
.region-np{
  background-position:0 -2866px
}
.region-va{
  background-position:0 -2878px
}
.region-uz{
  background-position:0 -2890px
}
.region-um{
  background-position:0 -2902px
}
.region-tk{
  background-position:0 -2914px
}
.region-vc{
  background-position:0 -2926px
}
.region-zw{
  background-position:0 -2938px
}
.region-nr{
  background-position:0 -2950px
}
.region-ne{
  background-position:0 -2962px
}
.region-cu{
  background-position:0 -2974px
}
.region-bq{
  background-position:0 -2986px
}
.region-bf{
  background-position:0 -2998px
}
.region-bg{
  background-position:0 -3010px
}
.region-cc{
  background-position:0 -3022px
}
.region-mh{
  background-position:0 -3034px
}
.region-za{
  background-position:0 -3046px
}
.region-uy{
  background-position:0 -3058px
}
.region-wf{
  background-position:0 -3070px
}
.region-vu{
  background-position:0 -3082px
}
.region-tj{
  background-position:0 -3094px
}
.variant-scotland,.region-gb.lang-gd{
  background-position:0 -3106px
}
.variant-valencia{
  background-position:0 -3118px
}
.variant-wales,.region-gb.lang-cy{
  background-position:0 -3130px
}
.x-eu{
  background-position:0 -3142px
}
