#menu-top {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0 0;
  border-bottom: 1px solid $base-border-color;
  float: left;
  z-index: 1060;

  .container {
    position: relative;
    padding-left: 0;
  }

  li {
    color: #454a3f;
  }

  .slogan {
    float: left;

    color: white;
    padding: 10px 0 11px 0;
    line-height: 14px;
    font-size: 13px;
    margin: 0;

    font-family: $base-font-family;
    font-weight: 600;

    text-align: center;
    background-color: $corp-color; // IE Fallback;
    background-color: var(--corp-color);
    width: $corp-slogan-width; // IE Fallback
    width: var(--corp-slogan-width);
  }

  #extra-menu {
    list-style: none;
    float: right;
    padding: 0 0;
    margin: 0;

    .logged-in-as {
      font-size: 12px;
    }

    span {
      margin-left: 5px;
    }

    .btn-klantenservice .up {
      display: none;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background: #ededed;
      }
    }

    li {
      text-align: right;
      float: right;
      margin-left: 10px;
      padding: 8px 10px 9px 10px;
    }
  }
}

#menu-top-shopping {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;

  float: left;
  z-index: 9999;
  background: white;

  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: $corp-color; // IE Fallback;
  border-bottom-color: var(--corp-color);

  .container {
    position: relative;
    padding-left: 0;
  }

  li, a {
    font-size: 13px;
    color: #454a3f;
  }

  .slogan {
    float: left;
    color: white;
    padding: 10px 0;
    line-height: 14px;
    font-size: 14px;
    margin: 0;

    background: transparent;
    width: $corp-slogan-width; // IE Fallback
    width: var(--corp-slogan-width);

    a {
      position: relative;
      display: inline-block;
      z-index: 1;
    }

    object {
      position: relative;
      top: 3px;
      padding: 0 0;
      height: 40px;
      z-index: -1;
      pointer-events: none;
    }

    img {
      position: relative;
      top: 3px;
      padding: 0 0;
      height: 40px;
    }
  }

  #extra-menu {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;

    span {
      margin-left: 5px;
    }

    .btn-klantenservice {
      .up {

        display: none;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        background: #ededed;
      }
    }

    .rounded {
      width: 100%;
      float: left;

      font-size: 20px;
      text-align: right;
      padding-right: 10px;
      margin-top: -5px;
      z-index: 0;
      position: relative;

      color: $corp-color; // IE Fallback
      color: var(--corp-color);
    }

    li {
      position: relative;
      text-align: right;
      float: right;
      margin-left: 10px;
      padding: 8px 10px;
      z-index: 1;
    }
  }

  .klantenservice-dropdown {
    position: absolute;
    top: 32px;
    right: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    display: none;

    .row {
      > div {
        padding: 0;
      }
    }

    h3 {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 16px;

      b {
        width: 100%;
        float: left;
      }
    }

    .left {
      width: 100%;
      padding: 40px 0 40px 40px;

      .foto {
        width: 225px;
        float: left;
      }

      .info {
        width: calc(100% - 250px);
        width: -moz-calc(100% - 250px);
        width: -webkit-calc(100% - 250px);

        float: right;

        .rounded {
          width: 100%;
          border: 1px solid $base-border-color;
          padding: 10px 5px;
          font-size: 14px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          margin-bottom: 10px;
          text-align: center;
          float: left;
        }

        .regel {
          width: 100%;
          float: left;
          font-size: 14px;

          .day {
            float: left;
          }

          .time {
            float: right;
          }
        }
      }
    }

    .right {
      width: 100%;
      float: left;
      padding: 40px;
    }

    a {
      color: $corp-color; // IE Fallback
      color: var(--corp-color);
    }
  }
}