#mobile_header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
  background: white;
  border-bottom: 0 solid white;

  &.border {
    height: 70px;
    border-bottom-width: 5px;
    border-bottom-color: $corp-color;
  }

  .row,
  .row > div {
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  .toggle-menu,
  .shopping-cart {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    span.fa {
      font-size: $base-icon-size;
    }
  }

  .toggle-menu {
    float: left;
    cursor: pointer;

    span {
      font-size: 24px;
      color: $grey;
    }

    .fa-times {
      display: none;
    }

    &.toggle-menu-active .fa-times {
      display: block;
    }

    &.toggle-menu-active .fa-bars {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .checkout-hide {
    display: none;
  }

  .contact-us {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .left {
      width: 40px;
      height: 37px;
      float: right;
      background: url('../../img/contact-info-profile.jpg') left center no-repeat;
      background-size: 100%;

      @media (max-width: 544px) {
        display: none;
      }
    }

    .right {
      height: 37px;
      float: right;
      margin-left: 10px;

      @media (max-width: 544px) {
        width: 100%;
      }

      p {
        margin-top: 5px;
        color: #252525;
        text-align: right;

        @media (max-width: 544px) {
          width: 100%;
          float: left;
          font-size: 13px;
          text-align: center;
        }
      }

      b {
        color: $corp-color;
      }
    }
  }

  .active {
    width: 100%;
    padding: 0;

    img {
      max-width: 100%;
      max-height: 40px;
      margin: 0 auto;
      display: block;
    }

    @media (max-width: 544px) {
      img {
        max-height: 30px;
      }
    }
  }
}
