.product-slider {
  max-height: 530px;
  overflow: hidden;
  text-align: center;

  .title {
    padding: 20px 0;
    position: relative;

    &::before {
      position: absolute;
      z-index: 5;
      top: 50%;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: $base-border-color;
    }

    span {
      color: $corp-color; // IE Fallback
      color: var(--corp-color);
    }

    h2 {
      font-size: 30px;
      text-align: center;
      margin: 0 auto;
      background: white;
      font-weight: 500;
      position: relative;
      z-index: 10;

      @media all and (min-width: 768px) {
        width: 420px;
      }
    }

    span {
      font-weight: bold;
    }
  }

  .product-slider-wrapper {
    margin: 0 0 30px;

    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;

    &.slick-initialized {
      visibility: visible;
      opacity: 1;
    }

    .slick-list {
      margin: 0 -8px;
    }

    .slick-slide {
      margin: 0 8px;
    }

    .product-slider-item-wrapper {
      margin: 0;
      padding: 0;

      .image {
        width: 100%;
        padding-top: 100%;
      }

      h3,
      a:hover {
        color: $base-font-color !important;
      }

      p.price {
        font-size: 1rem;
      }

      p, div {
        color: #454a3f;
        font-size: 18px;
        line-height: 30px;
      }

      .price-block {
        display: inline-block;
      }
    }
  }
}
