@charset "UTF-8";

.search {
  width: 50%;
  float: right;

  .form-control {
    border-color: #e1e1e1;
    background: #f0f0f0;
    border-top: 0;
    border-bottom: 0;
  }

  button.btn {
    background-color: $corp-color; // IE Fallback
    background-color: var(--corp-color);
    color: #fff;
    border: none;
    height: 35px;
    margin-bottom: -1px;
  }
}

.dropdown {
  .search {
    float: none;
    width: 100%;
    padding: 20px;

    input {
      border: 0;
    };
  }
}

.search-bar {
  position: relative;

  .form-helper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    border: 1px #e8e8e8 solid;
    background: #fff;
    font-size: 12px;
    font-style: italic;
    margin-top: 3px;
  }
}