#text-blocks {

  .text-block {
    position: relative;

    padding: 20px;
    margin: 2px 15px 19px 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &.open {
      box-shadow: none;
      height: auto;
    }

    .text-block {
      margin: 0; // no margin on hover element.
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .text-block-inner {

      text-align: left;
      font-size: .866rem;

      @media (max-width: 575px) {
        height: auto !important;
      }

      @media all and (min-width: 992px) {
        height: 290px;

        overflow: hidden;
      }

      h1 {
        font-size: 1.466rem;
        margin: 15px 0 .5rem;;
        color: $corp-color; // IE Fallback
        color: var(--corp-color);
      }

      h2 {
        font-size: 1.2rem;
        margin-bottom: .5rem;
      }

      h3 {
        font-size: 1rem;
        margin-bottom: .5rem;
      }

      p {
        font-size: inherit;
        margin-bottom: .5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        font-size: inherit;
      }

      ul {
        margin: 0 0 .5rem 1.333rem;

        li {
          font-size: 13px;
        }

      }
    }

    .text-block-read-more {
      font-size: 13px;

      margin-top: 15px;
      cursor: pointer;

      color: $corp-color; // IE Fallback
      color: var(--corp-color);

      &:hover {
        text-decoration: underline;
      }

      @media all and (max-width: 575px) {
        visibility: hidden;
        display: none;
      }
    }
  }

  @media (max-width: 991px) {
    .text-block {
      margin: 0;
    }
  }

  @media (min-width: 576px) and (max-width: 991px) {
    padding: 0;
  }

}
