@charset "UTF-8";

#timer {
  position: relative;
  z-index: 998;
  width: 100%;
  height: 45px;
  padding: 0;
  line-height: 40px;
  overflow: hidden;

  background-color: $corp-color; // IE fallback
  background-color: var(--corp-color);

  .cen {
    width: 100%;

    p {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
      text-align: center;
      color: #fff;
      font-family: $base-font-family;
      font-weight: 600;
    }

    &:after {
      display: inline-block;
      line-height: 45px;
      width: 0;
      content: "\00A0";
      overflow: hidden;
      vertical-align: middle;
    }
  }

  @media (max-width: 990px) {
    margin-top: 65px;
  }
}

@media (min-width: 768px) {
  #header + #timer {
    margin-top: 0;
  }
}
