#usp2 {
  position: relative;
  z-index: 997;
  width: 100%;
  padding: 15px 0;

  .item {
    width: 100%;
    float: left;

    span {
      width: 15px;
      color: #8c9148;
      float: left;
    }

    p {
      float: right;
      width: calc(100% - 20px);

      margin: 0;
      padding: 0;
    }
  }
}

#usp {
  padding: 30px;

  .row {
    > div {
      padding: 0;

      @media (max-width: 992px) {
        padding: 15px;
      }
    }
  }

  .usp-point {
    width: 100%;
    margin-bottom: 0;
    float: left;
  }

  .center {
    @media (min-width: 0px) and (max-width: 544px) {
      width: 100%;
    }
  }

  .ic {
    font-size: 30px;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
    color: #fff;
    float: left;

    @media (min-width: 0px) and (max-width: 544px) {
      position: relative;
      width: 60px;
      float: none;
      margin: 0 50%;
      left: -30px;
      text-align: center;
    }

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  p {
    width: calc(100% - 90px);

    margin-left: 10px;
    float: right;
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;

    @media (max-width: 992px) {
      width: calc(100% - 80px);

      font-size: 16px;
      margin-top: 12px;
    }

    @media (min-width: 0px) and (max-width: 544px) {
      width: calc(100% - 0px);
      margin-left: 0;

      text-align: center;
    }
  }
}