{% extends 'knp_menu.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block compressed_root %}
    {% spaceless %}
        {{ block('root') }}
    {% endspaceless %}
{% endblock %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    {{ block('list') -}}
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}

        <ul {{ knp_menu.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}

    {% if options.depth is defined %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}

        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}

        {%- set navigation_header = attributes.navigation_header|default(false) %}
        {%- set divider_prepend = attributes.divider_prepend|default(false) %}
        {%- set divider_append = attributes.divider_append|default(false) %}

        {%- set attributes = attributes|merge({'navigation_header': null, 'divider_prepend': null, 'divider_append': null }) %}

        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {# displaying the item #}
        {% import _self as knp_menu %}

        {%- if divider_prepend %}
            {{ block('dividerElement') }}
        {%- endif %}

        {% set attributes = attributes|merge({icon: null}) %}

        {% if navigation_header %}
            {{ block('headerElement') }}
        {% else %}
        <li{{ knp_menu.attributes(attributes) }}>
            {%- set linkUri = item.uri %}


            {% if (not item.current or options.currentAsLink) %}
                {{ block('linkElement') }}

                {# render the list of children #}
                {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
                {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
                {{ block('list') }}
            {% endif %}
        </li>
        {% endif %}

        {%- if divider_append %}
            {{ block('dividerElement') }}
        {%- endif %}
    {% endif %}
{% endblock %}

{% block dividerElement %}
    <li class="divider"></li>
{% endblock %}

{% block headerElement %}
    <li class="navigation-header">
        <span>
        {{ block('label') }}
        </span>

        <i class="icon-menu"></i>
    </li>
{% endblock %}

{% block linkElement %}
    {% import _self as knp_menu %}

    {%- set linkAttributes = item.linkAttributes is not empty ? item.linkAttributes : [] %}

    <a href="{% if item.uri is empty %}#{% else %}{{ item.uri }}{% endif %}"{{ knp_menu.attributes(linkAttributes) }}>
        {% if item.attribute('icon') is not empty %}
            {{ admin_icon(item.attribute('icon'), false, {'class': 'position-left'}, 'material') }}
        {% endif %}

        <span>
        {{ block('label') }}
        </span>
    </a>
{% endblock %}

{% block spanElement %}
    {% import _self as knp_menu %}

    {% if item.attribute('icon') is not empty %}
        {{ admin_icon(item.attribute('icon'), false, {'class': 'position-left'}) }}
    {% endif %}

    <span{{ knp_menu.attributes(item.labelAttributes) }}>

        {{ block('label') }}
    </span>
{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}{% endblock %}