{% import _self as extra_menu %}
<ul id="{{ id|default('extra-menu') }}" {% if classes is defined and classes is not empty %}class="{{ classes }}"{% endif %}>
    {% if (not domain.getDomain().getSite().disableCustomerRegistration or not domain.getDomain().getSite().disableCustomerLogin) and not app.user %}
        <li>
            <a href="{{ path('app_customer_account_index') }}">{{ 'navigation.top.login'|trans }}</a>
        </li>
    {% endif %}

    {% if app.user %}
        <li>
            <div class="dropdown show">
                <a class="dropdown-toggle" href="#" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'navigation.top.welcome'|trans }} {{ app.user.firstName }}
                </a>
                <div class="dropdown-menu" aria-labelledby="user-dropdown">
                    <a class="dropdown-item" href="{{ path('app_customer_account_index') }}">{{ 'navigation.top.my_account'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'navigation.top.logout'|trans }}</a>
                </div>
            </div>
        </li>

    {% endif %}

    {% if domain.getDomain().getSite.availableLocales | length > 1 %}
        <li>
            <div class="dropdown">
                <a id="switchLocale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ extra_menu.locale_flag(app.request.locale) }} {{ locale_name(app.request.getLocale) }} <span class="fa fa-caret-down down"/>
                </a>
                <div class="dropdown-menu" style="border-radius: 1px;" aria-labelledby="switchLocale">
                    {% for locale in domain.getDomain().getSite().availableLocales %}
                        <a class="dropdown-item" href="{{ locale_path(locale) }}">{{ extra_menu.locale_flag(locale) }} {{ locale_name(locale) }}</a>
                    {% endfor %}
                </div>
            </div>
        </li>
    {% endif %}

    {% if showPhoneNumber is defined and showPhoneNumber is same as(true) %}
        <div class="rounded">{{ domain.getDomain().getSite().getFormattedPhoneNumber(2) }}</div>
    {% endif %}

</ul>

{% macro locale_flag(locale) %}
    {% set locale_country = locale_country(locale) %}
    <span class="lang lang-{{ locale_country }} region region-{{ locale_country }}" lang="{{ locale_country }}"> </span>
{% endmacro %}