{% set cardSize = card_determine_size(cards) %}

<div class="order-edit-card">
    <div class="cards">
        <div class="radio">
            {% for card in cards %}
            {% set cardImage =  card.getMainImage() %}
            <div class="line-radio">
                <input type="radio" value="{{ card.id }}" id="radio_card_{{ card.id }}"
                       class="radio-card"
                       name="radio-card"{% if currentCard and currentCard.product.id == card.id or cards.count == 1 %} checked="checked"{% endif %}
                        {% if cardImage is not null %}
                            {% if cardSize is same as('small') %}
                                data-image="{{ cardImage.getPath | imagine_filter('product_card_small') }}"
                            {% else %}
                                data-image="{{ cardImage.getPath | imagine_filter('product_card') }}"
                            {% endif %}
                        {% endif %}/>

                <label for="radio_card_{{ card.id }}">
                    {{ card.displayName }}
                </label>

                <span class="card-price">&euro; {{ get_price(card, true) }}</span>
            </div>

            {% if cards|length > 1 and loop.index % (cards|length / 2) == 0 and loop.index < cards|length %}
        </div>
        <div class="radio">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card-preview {% if cardSize is same as('small') %} small-card {% endif %}">
            <textarea name="card_text" rows="5"
                      placeholder="{{ 'product.card.type_your_text'|trans }}">{% if currentCard and currentCard.product.id and attribute(line.metadata, 'text') is defined %}{{ line.metadata['text'] }}{% endif %}</textarea>
        <div class="image"></div>
    </div>
</div>
