<div class="order-edit-toolbar">
    <ul>
        <li>
            <a href="{{ path('app_checkout_delivery', {cartOrder: order.uuid}) }}">
                <span class="fa fa-calendar"></span>

                {{ 'cart.order_edit.delivery'|trans }}
            </a>
        </li>
    </ul>
</div>

<div class="order-edit-contents">
    {% for line in order.lines if line.product.purchasable and line.getParent() is null and attribute(line.getMetadata, 'additional_product_parent') is not defined %}
        {% set product = product_manager.decorateProduct(line.product) %}
        {% set productImage = product.getCategoryImage(true) %}

        <div class="order">
            <div class="image">
                {% if productImage %}
                    <img src="{{ productImage.getPath() | imagine_filter('product_assortment') }}">
                {% else %}
                    <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
                {% endif %}

                <span data-url="{{ path('app_checkout_orderlineupdate', {
                    'cartOrder': line.cartOrder.uuid,
                    'cartOrderLine': line.uuid
                }) }}" title="{{ 'label.delete'|trans }}" class="remove" data-action="remove-product">
                    <span class="fa fa-times"></span>
                </span>
            </div>

            {% if line.hasProductCard() or line.product.isProductCardAvailable() %}
                <a href="#"
                   data-url="{% if line.hasProductCard() %}{{ path('app_cart_editcard', {cartOrder: line.cartOrder.uuid, cartOrderLine: line.productCard.uuid}) }}{% else %}{{ path('app_cart_addcard', {cartOrder: line.cartOrder.uuid, cartOrderLine: line.uuid}) }}{% endif %}"
                   class="block card">
                    {% if line.hasProductCard() %}
                        {% set cardImage = line.productCard.product.getMainImage() %}

                        <div class="thumbnail">
                            {% if cardImage %}
                                <img src="{{ cardImage.getPath() | imagine_filter('product_card') }}" alt="{{ line.productCard.product.displayName }}" />
                            {% endif %}

                            <div class="icon edit-icon">
                                <span class="fa fa-pencil"></span>
                            </div>
                        </div>

                        <span data-url="{{ path('app_checkout_orderlineupdate', {
                            'cartOrder': line.cartOrder.uuid,
                            'cartOrderLine': line.productCard.uuid
                        }) }}" title="{{ 'label.delete'|trans }}" class="remove" data-action="remove">
                            <span class="fa fa-times"></span>
                        </span>
                    {% else %}
                        <div class="icon add-icon">
                            <span class="fa fa-plus"></span>
                        </div>
                    {% endif %}

                    <div class="description">
                        {% if line.hasProductCard() %}
                            {{ "product.card.label"|trans }}
                        {% else %}
                            {{ "product.card.add"|trans }}
                        {% endif %}
                    </div>
                </a>
            {% endif %}

            {% if line.product.isProductPersonalizationAvailable() %}
                <a href="{% if line.hasProductPersonalization %}#{% else %}{{ path('app_checkout_addpersonalization', {
                    'cartOrder': line.cartOrder.uuid,
                    'cartOrderLine': line.uuid
                }) }}{% endif %}"
                   data-url="{% if line.hasProductPersonalization %}{{ path('app_designer_preview', {cartOrderLine: line.uuid, uuid: line.personalizationLine.metadata.designer}) }}{% endif %}"
                   class="block personalization">
                    {% if line.hasProductPersonalization() %}
                        {% set personalizationImage = line.personalizationLine.personalizationPreviewImage %}

                        <div class="thumbnail">
                            <img src="{{ personalizationImage }}" alt="{{ line.product.displayName }}" />

                            <div class="icon edit-icon">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>

                        {% if line.personalizationLine.hasRequiredPersonalization() is same as (false) %}
                            <span data-url="{{ path('app_checkout_orderlineupdate', {
                                'cartOrder': line.cartOrder.uuid,
                                'cartOrderLine': line.personalizationLine.uuid
                            }) }}" title="{{ 'label.delete'|trans }}" class="remove" data-action="remove">
                            <span class="fa fa-times"></span>
                        </span>
                        {% endif %}

                    {% else %}
                        <div class="icon add-icon">
                            <span class="fa fa-plus"></span>
                        </div>
                    {% endif %}

                    <div class="description">
                        {{ "product.personalization.label"|trans }}
                    </div>
                </a>
            {% endif %}

            {% if line.product.isProductAdditionalProductsAvailable() %}
                <a href="#"
                   data-url="{{ path('app_checkout_additionalproduct', {cartOrder: order.uuid, cartOrderLine: line.uuid}) }}"
                   class="block additional-product">
                    {% if line.hasProductAdditionalProducts() %}
                        <div class="icon edit-icon">
                            <span class="fa fa-gift"></span>
                        </div>
                    {% else %}
                        <div class="icon add-icon">
                            <span class="fa fa-plus"></span>
                        </div>
                    {% endif %}

                    <div class="description">
                        {% if line.hasProductAdditionalProducts() %}
                            {{ 'app.edit.gifts'|trans }}
                        {% else %}
                            {{ 'app.add.gifts'|trans }}
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
