
{% if showTaxes is not defined %}
    {% set showTaxes = true %}
{% endif %}

{% if invalidVoucher is not defined %}
    {% set invalidVoucher = false %}
{% endif %}

{% set displayMode = 'original' %}

{% if app.user is not null and app.user.company is not null %}
    {% set displayMode = app.user.company.priceDisplayMode ? app.user.company.priceDisplayMode : 'original' %}
{% endif %}

<div class="totals">
    {% if site.getDefaultDisplayPrice is same as('exclusive') %}
        <div class="col-md-6 offset-md-6 padding-left-0 padding-right-0">
            {% if cart.getCart().getDiscountAmountIncl() - cart.getCart().getAssortmentDiscountAmountIncl() > 0 %}
            <div class="taxes">
                <div class="tax-row">
                    <div class="totals-text">
                        {{ 'cart.total_discount_with_vat'|trans }}
                    </div>
                    <div class="totals-price">
                        - {{ cart.getCart().getDiscountAmountIncl()|number_format(2) }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="subtotal-row">
                <div class="subtotals-text">
                    {{ 'cart.subtotal_excl_vat'|trans }}
                </div>
                <div class="subtotals-price">
                    {{ cart.cartManager.subTotal(cart.cart)|number_format(2) }}
                </div>
            </div>

            <div class="subtotal-row">
                {% set vat_translation = site.getDefaultDisplayPrice == 'exclusive' ? 'cart.totals.vat_specification_excl' : 'cart.totals.vat_specification' %}
                {% for vats in cart.cartManager.vatTotals(cart.cart, true) %}
                    <div class="subtotals-text">{{ vat_translation|trans|format(vats.percentage ~ '%', vats.totalPrice | number_format(2)) }}</div>
                    <div class="subtotals-price">
                        {{ vats.vatPrice | number_format(2) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="col-md-6 offset-md-6 padding-left-0 padding-right-0">
            <div class="taxes">
                {% if cart.getCart().getDiscountAmountIncl() - cart.getCart().getAssortmentDiscountAmountIncl() > 0 or displayMode is same as('original') %}
                    {% if cart.getCart().getDiscountAmountIncl() %}
                    <div class="tax-row">
                        <div class="totals-text">
                            {{ 'cart.total_discount'|trans }}
                        </div>
                        <div class="totals-price">
                            - {{ cart.getCart().getDiscountAmountIncl()|number_format(2) }}
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="tax-row">
                    {% set vat_translation = site.getDefaultDisplayPrice == 'exclusive' ? 'cart.totals.vat_specification_excl' : 'cart.totals.vat_specification' %}
                    {% for vats in cart.cartManager.vatTotals(cart.cart, true) %}
                        <div class="totals-text">{{ vat_translation|trans|format(vats.percentage ~ '%', vats.totalPrice | number_format(2)) }}</div>
                        <div class="totals-price">
                            {{ vats.vatPrice | number_format(2) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="taxes">
        <div class="discount col-md-6">
            <div id="discount_container">
                <a href="#"{% if invalidVoucher %} class="hide"{% endif %}>{{ 'cart.coupon_add_link'|trans }}</a>

                {% if invalidVoucher %}
                    <div class="invalid-voucher">{{ 'cart.voucher_code.invalid'|trans({}, 'validators') }}</div>
                {% endif %}

                <form method="post" action="{{ path('app_cart_applyvouchercode', {
                    cart: cart.cart.uuid
                }) }}"{% if not invalidVoucher %} class="hide"{% endif %}>

                    <input type="text" name="cart_voucher" class="form-control"
                           placeholder="{{ 'cart.coupon_add_placeholder'|trans }}" id="cart_voucher" />
                    <input type="submit" class="btn btn-theme" value="{{ 'cart.coupon_add_submit'|trans }}" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-6 padding-left-0 padding-right-0">
        <div class="total-row">
            <div class="totals-text">
                {{ 'cart.total_incl_vat'|trans }}
            </div>
            <div class="totals-price">
                {{ cart.cartManager.total(cart.cart, true)|number_format(2) }}
            </div>
        </div>
    </div>
</div>
