<style>
    .table-borderless td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <h6 class="panel-subtitle">Contactgegevens</h6>
        <table class="table-borderless">
            <tr>
                <td>Volledige naam</td>
                <td>{{ customer.getFullname }}</td>
            </tr>
            <tr>
                <td>Geslacht</td>
                <td>{{ customer.getGender == 'male' ? 'Man' : 'Vrouw' }}</td>
            </tr>
            <tr>
                <td>Telefoonnummer</td>
                <td>{{ customer.getPhoneNumber }}</td>
            </tr>
            <tr>
                <td>Mobiel nummer</td>
                <td>{{ customer.getMobilenumber }}</td>
            </tr>
            <tr>
                <td>Geregistreerd op</td>
                <td>{{ customer.getRegisteredOnSite ? customer.getRegisteredOnSite.translate.getDescription : '' }}</td>
            </tr>
            <tr>
                <td>Accountstatus</td>
                <td>{{ customer.enabled ? 'Ingeschakeld' : 'Uitgeschakeld' }}</td>
            </tr>
            <tr>
                <td>Gebruikersnaam</td>
                <td>{{ customer.getUsername }}</td>
            </tr>
            {% if customer.getCompany is not null %}
                <tr>
                    <td>Bedrijf</td>
                    <td>
                        <a href="{{ path('admin_customer_company_view', {id: customer.getCompany.getId}) }}">{{ customer.getCompany }}</a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Klantgroep</td>
                <td>{{ customer.getCustomerGroup }}</td>
            </tr>
        </table>

        {% if customer.getUsername %}
            {% if customer.getRegisteredOnSite and customer.getRegisteredOnSite.getId %}
                {% set registeredSiteId = customer.getRegisteredOnSite.getId %}
            {% else %}
                {% set registeredSiteId = -1 %}
            {% endif %}

            {% if customer.canLogin %}
                <button class="btn btn-default login-as-customer pull-right"
                        data-customer-id="{{ customer.getId }}"
                        data-customer-registered-site-id="{{ registeredSiteId }}"
                        data-customer-name="{{ customer.getFullname }}"
                        style="margin-left: 10px;"
                >
                    <i class="icon-lock2"></i>
                    Inloggen als klant
                </button>
            {% else %}
                <button class="btn btn-danger pull-right" style="margin-left: 10px;" disabled><i
                            class="fa fa-exclamation-triangle"></i> Inloggen is geblokkeerd
                </button>
            {% endif %}
        {% endif %}

        <button class="btn btn-default pull-right"
                data-url="{{ path('admin_customer_customer_edit', {id: customer.getId}) }}"
                data-action="open-content"
                data-refresh-panel="information_panel">
            <i class="icon-pencil5"></i>
            Bewerken
        </button>

    </div>
    <div class="col-md-6">
        <h6 class="panel-subtitle">Interne opmerking</h6>
        <div class="internal-remarks">
        {% for internalRemark in customer.getCustomerInternalRemarks if customer.getCustomerInternalRemarks is not empty %}
            <div class="internal-remark">
                <b>
                    {% if internalRemark.getUser is not null %}
                        {{ internalRemark.getUser.getFirstname }} {{ internalRemark.getUser.getLastname }}
                    {% else %}
                        Systeem
                    {% endif %}
                </b>
                - {{ internalRemark.getCreatedAt.format('d-m-Y H:i') }}
                <button
                        data-href="{{ path('admin_customer_customer_deleteinternalremark', {customerInternalRemark: internalRemark.getId}) }}"
                        class="delete-remark btn btn-xs btn-default pull-right">
                    <i class="icon-trash"></i>
                </button>
                <br />
                {{ internalRemark.getRemark }}
            </div>
        {% else %}
            <em style="padding-left: 10px;">Er zijn geen interne opmerkingen geplaatst.</em>
        {% endfor %}
        </div>
    </div>
    <button class="btn btn-default" style="position: absolute; right: 20px; bottom: 20px;"
            data-url="{{ path('admin_customer_customer_addinternalremark', {customer: customer.getId}) }}"
            data-action="open-content"
            data-refresh-panel="information_panel">
        <i class="icon-plus2"></i>
        Opmerking toevoegen
    </button>
</div>
