{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/product/product-item.css') }}"/>

    <div class="row configurationHolder" data-variation-url="{{ path('admin_catalog_product_selectvariation') }}">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Product configureren
                    </div>
                </div>
                <div class="panel-body">
                    {% if errors is not empty %}
                        {% for error in errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action="" method="post">
                        <input type="hidden" id="selectedProducts" name="products" value="[]"/>
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Naam" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="price" class="form-control" placeholder="configuratie prijs" required/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="products">
                                        <div>
                                            Beschikbare producten voor configuratie
                                        </div>
                                        {% for product in availableProducts %}
                                            <div class="col-product-item" data-product-id="{{ product.getId }}">
                                                <div class="product-item selectable">
                                                    <div class="product-item-image">
                                                        {% if product.getMainImage is not null%}
                                                        <img src="{{ product.getMainImage.getPath | imagine_filter('product')}}" style="width: 100%;"/>
                                                        {% else %}
                                                            <div class="product-item-image-placeholder"></div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="product-item-description">
                                                        {{ product.getName() }}
                                                    </div>
                                                    <div class="product-item-price">
                                                        &euro; {{ product.getPrice()|number_format }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        Geselecteerde variaties voor configuratie
                                    </div>
                                    <div class="selected-variations">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Opslaan" class="btn btn-primary pull-right"/>
                            <a href="{{ path('admin_catalog_product_view', { id: product.getId }) }}" class="btn btn-danger pull-right" style="margin-right: 10px;">Annuleren</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/admin/js/form/product-configuration.js') }}"></script>
{% endblock %}