{% extends 'AppBundle::base.html.twig' %}

{% set page_title = "customer.resetting.check_email.page_title"|trans %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-reset-password">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2>{{ page_title }}</h2>
                    <p>
                        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
                    </p>
                    {% if hasReturnUrl %}
                        <p>{{ 'resetting.return_message'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
