{% extends 'AppBundle::base.html.twig' %}

{% set page_title = "customer.resetting.request.page_title"|trans %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-reset-password">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 form-block">
                    <h2>{{ page_title }}</h2>
                    <br />
                    <p>{{ 'customer.resetting.request.description'|trans }}</p>

                    <form action="{{ path('app_customer_resetting_sendemail') }}" method="POST"
                          data-client-validation="true" novalidate="novalidate">
                        {% if invalid_username is defined %}
                            <div class="alert alert-danger">
                                {{ 'customer.resetting.request.email.non_existing'|trans }}
                            </div>
                        {% endif %}
                        {% if account_disabled is defined %}
                            <div class="alert alert-warning">
                                {{ 'customer.resetting.request.email.account_disabled'|trans }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="control-label required" for="username">{{ 'label.email'|trans }}:</label>

                            <input type="text" id="username" name="username" class="form-control" required="required"
                                   data-validation="email"
                                   data-validation-error-msg="{{ 'customer.account.email.not_valid'|trans }}" />
                        </div>

                        <button type="submit"
                                class="btn btn-theme">{{ 'customer.resetting.request.submit'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
