<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">
            Aantal orders per productgroep laatste 7 dagen
        </h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-borderless table-hover">
                    <thead>
                    <tr>
                        <th>
                            Productgroep
                        </th>
                        <th>
                            SKU Prefix
                        </th>
                        <th>
                            Aantal orders
                        </th>
                    </tr>
                    </thead>
                    <tbody id="unprocessed">
                    {% for productGroup in productGroupLines.productGroups %}
                        <tr data-trigger="{{ productGroup.getId }}">
                            <td>
                                {{ productGroup.getTitle }}
                            </td>
                            <td>
                                {{ productGroup.getSkuPrefix }}
                            </td>
                            <td>
                                {{ productGroupLines.orders[productGroup.getId] is defined ? productGroupLines.orders[productGroup.getId] : 0 }}
                            </td>
                        </tr>
                        {% for child in productGroup.children %}
                            <tr data-parent="{{ child.getParent.getId }}" style="display: none;">
                                <td>
                                    <span class="icon-arrow-right22"></span>
                                    {{ child.getTitle }}
                                </td>
                                <td>
                                    {{ child.getSkuPrefix }}
                                </td>
                                <td>
                                    {{ productGroupLines.orders[child.getId] is defined ? productGroupLines.orders[child.getId] : 0 }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('tr[data-trigger]').on('click', function () {
            $('tr[data-parent=' + $(this).attr('data-trigger') + ']').toggle();
        });
    });
</script>