<div class="row">
    <div class="col-lg-6">
        <ul class="list-inline text-center">
            <li>
            <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                <i class="icon-store"></i>
            </span>
            </li>
            <li class="text-left">
                <div class="text-semibold">
                    Aantal orders op {{ "now"|localizeddate('long', 'none') }}
                </div>
                <h2 class="mt-5 mb-5">
                    {{ ordersToday.count }}
                </h2>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-borderless table-hover table-responsive">
            <thead>
            <tr>
                <th>Ordernummer</th>
                <th>Besteller</th>
                <th>Bestelling</th>
                <th>Betaalmethode</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="unprocessed">
            {% if ordersToday.recent %}
                {% for recentOrder in ordersToday.recent %}
                    <tr>
                        <td>
                            <strong>
                                {{ recentOrder.getOrderCollection.getNumber }}-{{ recentOrder.getNumber }}
                            </strong>
                            <br />
                            {{ recentOrder.getDeliveryDate|localizeddate('short', 'none', null, null, 'ccc dd MMM y') }}
                            <br />
                            {{ recentOrder.getOrder.getSite }}
                        </td>
                        <td>
                            {% if recentOrder.getOrder.getCustomer.getCompany %}
                                <a href="{{ path('admin_customer_company_view', {id: recentOrder.getOrder.getCustomer.getCompany.getId}) }}">
                                    {{ recentOrder.getOrder.getCustomer.getCompany }}
                                </a>
                                <br />
                            {% endif %}
                            <a href="{{ path('admin_customer_customer_view', {id: recentOrder.getOrder.getCustomer.getId}) }}">
                                {{ recentOrder.getOrder.getCustomer.getFullname }}<br />
                            </a>
                            <a href="{{ 'mailto:' ~ recentOrder.getOrder.getCustomer.getEmail }}">
                                {{ recentOrder.getOrder.getCustomer.getEmail }}
                            </a>
                        </td>
                        <td>
                            {{ recentOrder.getLines | length }} items<br />
                            <b>&euro;{{ recentOrder.getTotalPrice | number_format }}</b>
                        </td>
                        <td>
                            {% for payment in recentOrder.getOrder.getPayments %}
                                {% if (payment.getPaymentmethod and payment.getStatus().getCountable()) %}
                                    {{ payment.getPaymentMethod.translate.getDescription }}
                                    <br />
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-right">
                            <button class="btn btn-default btn-sm"
                                    data-event="get-order"
                                    data-order-id="{{ recentOrder.getId }}"
                                    data-href="{{ path('admin_sales_order_order', { orderCollection: recentOrder.getOrder.getId }) }}#{{ recentOrder.getNumber }}"
                                    data-popup="tooltip"
                                    data-original-title="Openen"
                                    data-placement="left">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Er zijn vandaag nog geen orders geplaatst.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
