<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">
            Nieuwste bedrijven
        </h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-borderless table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Bedrijfsnaam</th>
                        <th>Telefoonnummer</th>
                        <th>E-mailadres</th>
                        <th>KVK nummer</th>
                    </tr>
                    </thead>
                    <tbody id="unprocessed">
                    {% for company in recentCompanies %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_customer_company_view', {id: company.getId}) }}">
                                    {{ company.getName }}
                                </a>
                            </td>
                            <td>
                                {{ company.getFormattedPhoneNumber }}
                            </td>
                            <td>
                                <a href="{{ 'mailto:' ~ company.getEmail }}">{{ company.getEmail }}</a>
                            </td>
                            <td>
                                {{ company.getChamberofCommerceNumber }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>