{% extends '@Admin/Base/assets_head.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@AdminBundle/Resources/public/css/delivery-area/modals.css'
        '@AdminBundle/Resources/public/css/delivery-area/postcode.css'
        '@AdminBundle/Resources/public/css/form/collection.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}