body.delivery-area-map .page-content .content-wrapper > .page-header {
    margin-bottom: 0;
    position: relative;
    z-index: 100;
}

body.delivery-area-map .page-content .content-wrapper > .content {
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    padding: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

body.delivery-area-map .page-content .content-wrapper > .page-header + .content {
    height: calc(100% - 96px);
    top: 96px;
}

#delivery-area-map,
#map-canvas {
    height: 100% !important;
}

#map-canvas,
#map-canvas * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map-canvas img {
    max-width: none !important;
}

#edit_region .collection-items {
    visibility: visible;
}

#edit_region #delivery_areas {
    position: relative;
    margin-top: 2rem;
}

.regionLabel {
    border: 1px solid #666666;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    padding: 0px 0;
    width: 36px;
    background-color: #FFFFFF;
    z-index: 9999999;
}

#filter_suppliers label {
    display: inline-block;
    width: 100%;
}

#filter_suppliers .clear {
    float: right;
    cursor: pointer;
}

#sidebar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 240px;
}

#delivery-area-map .sidebar-content {
    width: 100%;
}

#delivery-area-map .sidebar-content span.select2 {
    max-width: calc(100% - 2px);
}

#delivery-area-map .sidebar-content .input-group {
    width: 100%;
}

#delivery-area-map select {
    white-space: nowrap !important;
}

#delivery-area-map .reset-regions {
    margin: 0 2rem 2rem;
    display: inline-block;
}

#delivery-area-map .sidebar-content .legend .icon {
    background-color: #26AE00;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 4px;
    margin-right: 1rem;
}

#delivery-area-map.no-sidebar > div.sidebar  {
    display: none;
}

#delivery-area-map.no-sidebar > div.content-wrapper {
    display: block;
}

#delivery-area-map #loader {
    position: absolute;
    top: 1em;
    left: 76px;
    z-index: 1000000;
    background: #fff;
    padding: .5em 1em;
    border-radius: 25px;
}

#postcode_select_toolbar {
    position: absolute;
    top: 1em;
    left: 5em;
    z-index: 999;
}

#postcode_select_toolbar button {
    margin-right: 1rem;
}

#form_edit_supplier_regions .collection-items a.btn-add,
#form_edit_supplier_regions .collection-items th.actions,
#form_edit_supplier_regions .collection-items td.actions {
    display: none;
}

#maps_legend .item,
#maps_legend .item > div {
    position: relative;
}

#maps_legend .item input.legend-option {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

#maps_legend input + div:before {
    width: 17px;
    height: 17px;
    display: block;
    content: "";
    position: absolute;
    right: -1px;
    top: -2px;
    border: 1px #ddd solid;
}

#maps_legend input:checked + div:after,
#maps_legend input.checked + div:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    display: inline-block;
    float: right;
}

#maps_legend input.checked + div:after {
    opacity: .25;
}

#maps_legend .clear {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}


/**
 * Used in iframe view for supplier selection
 */
.delivery-area-map .flex-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.delivery-area-map .flex-container > div:nth-child(2) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.selected-supplier {
    padding: 1rem;
    background: #fff;
}

.delivery-area-map .flex-container > div:nth-child(2) > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.delivery-area-map .flex-container .gm-style-iw + div {
    display: none;
}