{{ form_start(form) }}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Kaart tekst</strong>
    </div>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
</div>
{{ form_end(form) }}
