<div class="row">
    <div class="col-md-12" style="padding:10px;">
        <button class="btn btn-primary pull-right" data-action="open-assortment-default-settings"
                data-href="{{ path('admin_company_companyassortment_defaultsettings', {company: company.getId}) }}" {{ company.getAssortments.isEmpty ? '' : 'disabled' }}>
            Basis instelling toepassen
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <b>Assortimenten</b>
                </h6>
                <div class="heading-elements">
                    <a class="btn btn-default"
                       href="{{ path('admin_company_companymenu_edit', {company: company.getId}) }}">
                        <i class="mdi mdi-menu"></i>
                    </a>
                    <button class="btn btn-default" data-action="copy-assortment"
                            data-href="{{ path('admin_company_companyassortment_duplicatesingleassortment', {company: company.getId}) }}"
                            data-assortment-url="{{ path('admin_catalog_assortment_listall') }}">
                        <i class="fa fa-copy"></i>
                    </button>
                    <button class="btn btn-default" data-action="new-company-assortment"
                            data-href="{{ path('admin_company_companyassortment_add', {company: company.getId}) }}">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-xxs">
                    {% for assortment in company.getAssortments %}
                        <tr>
                            <td>
                                {{ assortment.getName }}
                            </td>
                            <td style="width: 20px;">
                                {% if assortment.isPublished %}
                                    <span class="icon-primitive-dot column-accessible text-success"></span>
                                {% else %}
                                    <span class="icon-primitive-dot column-accessible text-danger"></span>
                                {% endif %}
                            </td>
                            <td style="width: 20px;">
                                <ul class="icons-list">
                                    <li>
                                        {% if assortment.getOwner is not null and assortment.getOwner.getId == company.getId %}
                                            <a data-action="edit-company-assortment"
                                               data-href="{{ path('admin_company_companyassortment_edit', {company: company.getId, assortment: assortment.getId}) }}"
                                               data-delete-href="{{ path('admin_company_companyassortment_delete', {company: company.getId, assortment: assortment.getId}) }}">
                                                {{ admin_icon('pencil', false, {}, 'material') }}
                                            </a>
                                        {% else %}
                                            <a data-action="view-company-assortment"
                                               data-href="{{ path('admin_company_companyassortment_view', {company: company.getId, assortment: assortment.getId}) }}"
                                               data-delete-href="{{ path('admin_company_companyassortment_delete', {company: company.getId, assortment: assortment.getId}) }}">
                                                {{ admin_icon('eye', false, {}, 'material') }}
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <b>Kaartjes beheer</b>
                </h6>
                <div class="heading-elements">
                    <button class="btn btn-default" data-action="create-company-card"
                            data-url="{{ path('admin_catalog_product_companycard_add') }}?company={{ company.id }}"
                            data-copy-url="{{ path('admin_catalog_product_companycard_adddefault', {company: company.id}) }}"
                            data-available-cards="{{ company.siteDefaultCards | json_encode }}"
                            data-default-cards="{{ cards | json_encode }}"
                            data-refresh-panel="tab-panel">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-xxs">
                    {% for card in company.cards %}
                        <tr>
                            <td>
                                {{ card.translate.title }}
                            </td>
                            <td style="width: 20px;">
                                {% if card.isPublished %}
                                    <span class="icon-primitive-dot column-accessible text-success"></span>
                                {% else %}
                                    <span class="icon-primitive-dot column-accessible text-danger"></span>
                                {% endif %}
                            </td>
                            <td style="width: 50px; padding-left: 0px;">
                                <ul class="icons-list">
                                    {% if card.company is defined and card.company.id is same as(company.id)  %}
                                    <li>
                                        <a href="{{ path('admin_catalog_product_companycard_edit', {id: card.id}) }}"
                                           data-action="open-content"
                                           data-refresh-panel="tab-panel">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_catalog_product_companycard_delete', {id: card.id}) }}"
                                           data-type="delete"
                                           data-refresh-panel="tab-panel">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('admin_catalog_product_companycard_removedefault', {company: company.id, card: card.id}) }}"
                                               data-type="delete"
                                               data-refresh-panel="tab-panel">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {#<div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <b>Standaard kaartjes</b>
                </h6>
                <div class="heading-elements">
                    <button class="btn btn-default" data-action="add-default-card"
                            data-url="{{ path('admin_catalog_product_companycard_adddefault', {company: company.id}) }}"
                            data-available-cards="{{ cards | json_encode }}"
                            data-refresh-panel="tab-panel">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-xxs">
                    {% for card in company.defaultCards %}
                        <tr>
                            <td>
                                {{ card.translate.title }}
                            </td>
                            <td style="width: 20px;">
                                {% if card.isPublished %}
                                    <span class="icon-primitive-dot column-accessible text-success"></span>
                                {% else %}
                                    <span class="icon-primitive-dot column-accessible text-danger"></span>
                                {% endif %}
                            </td>
                            <td style="width: 50px; padding-left: 0px;">
                                <ul class="icons-list">
                                    <li>
                                        <a href="{{ path('admin_catalog_product_companycard_removedefault', {company: company.id, card: card.id}) }}"
                                           data-type="delete"
                                           data-refresh-panel="tab-panel">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>#}
    </div>
    <div class="col-md-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <b>Personalisatie</b>
                </h6>
                <div class="heading-elements">
                    <a class="btn btn-default" href="{{ path('admin_settings_designer_designertemplate_add') }}?company={{ company.id }}" data-action="open-content" data-refresh-panel="tab_panel">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-xxs">
                    {% for template in company.templates %}
                    <tr>
                        <td>
                            {{ template.name }}
                        </td>
                        <td style="width: 50px; padding-left: 0px;">
                            <ul class="icons-list">
                                <li>
                                    <a href="{{ path('admin_settings_designer_designertemplate_saveanddesign', {template: template.id}) }}" target="_blank">
                                        <i class="fa fa-image"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_settings_designer_designertemplate_edit', {id: template.id}) }}"
                                       data-action="open-content"
                                       data-refresh-panel="tab-panel">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_settings_designer_designertemplate_delete', {id: template.id}) }}"
                                       data-type="delete"
                                       data-refresh-panel="tab-panel">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td>
                                Er zijn nog geen templates aanwezig.
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <b>Eigen producten</b>
                </h6>
                <div class="heading-elements">
                    <a href="javascript:void(0);" class="btn btn-default" data-action="select-existing-product"
                       data-copy-product-url="{{ path('admin_catalog_product_companyproduct_copyproduct', {company: company.getId}) }}"
                       data-product-list-url="{{ path('admin_catalog_product_companyproduct_productlist') }}">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-xxs company-catalog-table">
                    {% for product in company.getProducts %}
                        <tr>
                            <td>
                                 {{ product.getTitle }}
                            </td>
                            <td style="width: 40px; text-align: right;">
                                {{ product.relatedProduct.isCombination ? '<i class="mdi mdi-copyright"></i>' : null }}
                                {% if product.isPublished %}
                                    <span class="icon-primitive-dot column-accessible text-success"></span>
                                {% else %}
                                    <span class="icon-primitive-dot column-accessible text-danger"></span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_catalog_product_companyproduct_view', {id: product.getId}) }}" data-action="view-company-product"><i
                                            class="mdi mdi-eye"></i></a>
                                <a href="{{ path('admin_catalog_product_companyproduct_delete', {id: product.getId}) }}"
                                   data-type="delete" data-refresh-panel="tab_panel"><i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <b>Bezorging</b>
                </h6>
                <div class="heading-elements">
                    <a href="{{ path('admin_catalog_product_companytransporttype_add', {company: company.id}) }}" class="btn btn-default" data-action="open-content">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-xxs">
                    {% for transportType in company.transportTypes %}
                        <tr>
                            <td>
                                {{ transportType.transportType }}
                            </td>
                            <td>
                                {{ transportType.productGroup }}
                            </td>
                            <td>
                                <a href="{{ path('admin_catalog_product_companytransporttype_edit', {id: transportType.id}) }}" data-action="open-content"><i
                                            class="mdi mdi-pencil"></i></a>
                                <a href="{{ path('admin_catalog_product_companytransporttype_delete', {id: transportType.id}) }}"
                                   data-type="delete" data-refresh-panel="tab_panel"><i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>