<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Bedrijfsassortiment {{ assortment.getName }} voor {{ company.getName }} bekijken</h5>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>
                    Naam
                </td>
                <td>
                    {{ assortment.getName }}
                </td>
            </tr>
            <tr>
                <td>
                    Eigenaar
                </td>
                <td>
                    {% if assortment.getOwner is not null %}
                        <a href="{{ path('admin_customer_company_view', {id: assortment.getOwner.getId}) }}">{{ assortment.getOwner.getName }}</a>
                    {% else %}
                        {{ assortment.getSites.current }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Kaartassortiment
                </td>
                <td>
                    {{ assortment.getCardAssortment ? assortment.getCardAssortment.getName : 'Geen' }}
                </td>
            </tr>
        </table>
        <div>
            <h4>Producten</h4>
            <div class="row" id="assortment_products_sortable">
                {% for assortmentProduct in assortment.getAssortmentProducts %}
                    {% set product = productManager.decorateProduct(assortmentProduct.getProduct) %}
                    <div class="col-product-item col-xs-2">
                        <div class="product-item">
                            <div class="product-item-image">
                                {% if product.getMainImage() is not empty %}
                                    <img src="{{ product.getMainImage().path | imagine_filter('product_thumbnail') }}"
                                         alt="{{ product.getName() }}">
                                {% else %}
                                    <div class="product-item-image-placeholder">
                                        Geen afbeelding ingesteld
                                    </div>
                                {% endif %}
                            </div>
                            <div class="product-item-description"
                                 title="{{ product.getName() }}">
                                {{ product.getName() }}
                            </div>

                            <div class="product-item-price">
                                &euro; {{ product.getPrice()|number_format }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
