#stock_manager th:first-child,
#stock_manager td:first-child {
    width: 5px !important;
    padding: 0;
}

#stock_manager .row-checkbox {
    position: relative;
}

#stock_manager .status-label {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#stock_manager .status-label[data-stock-status="success"] {
    background-color: #4CAF50;
}

#stock_manager .status-label[data-stock-status="warning"] {
    background-color: #FF7043;
}

#stock_manager .status-label[data-stock-status="danger"] {
    background-color: #F44336;
}