<h4>{{ 'account.company.orders.page_title'|trans }}</h4>

{% if orderCollections is empty %}
    <p class="no-items">
        {{ 'customer.account.order.no_orders'|trans }}
    </p>
{% else %}
    <div class="table-responsive">
        <table class="table table-hover table-order-collection">
            <thead>
            <tr>
                <th class="number">{{ 'label.order_collection'|trans }} #</th>
                <th class="ordered_on">{{ 'label.order_ordered_on'|trans }}</th>
                <th class="ordered_by">{{ 'label.order_ordered_by'|trans }}</th>
                <th class="total_items">{{ 'label.total_items'|trans }}</th>
                <th class="price" colspan="2">{{ 'label.total'|trans }}</th>
                <th class="links"></th>
            </tr>
            </thead>
            <tbody>
            {% for orderCollection in orderCollections %}
                <tr>
                    <td class="number">
                        <a href="{{ path('app_customer_account_order_viewcollection', {id: orderCollection.getId()}) }}">{{ orderCollection.getNumber() }}</a>
                    </td>
                    <td class="ordered_on">{{ orderCollection.getCreatedAt()|date('d-m-Y') }}</td>
                    <td class="ordered_by">{{ orderCollection.getCustomer().getFullname() }}</td>
                    <td class="total_items">{{ orderCollection.count() }}</td>
                    <td class="valuta">&euro;</td>
                    <td class="price">{{ orderCollection.getTotalDisplayPrice()|number_format }}</td>
                    <td class="links">
                        <a href="{{ path('app_customer_account_order_viewcollection', {id: orderCollection.getId()}) }}">{{ 'label.view_order_collection'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}