<h4>{{ 'account.company.users.page_title'|trans }}</h4>

{% if users is empty %}
    <p class="no-items">
        <em>{{ 'account.company.users.empty'|trans }}</em>
    </p>
{% else %}
    <div class="table-responsive">
        <table class="table table-hover table-users">
            <thead>
            <tr>
                <th class="name" colspan="2">{{ 'label.name'|trans }}</th>
                <th class="email">{{ 'label.email'|trans }}</th>
                <th class="links"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in app.getUser().getCompany().getUsers() %}
                <tr>
                    <td class="status status{{ user.isEnabled() }}"><i class="fa fa-circle"></i></td>
                    <td class="name">{{ user.getFullname() }}</td>
                    <td class="email">{{ user.getEmail() }}</td>
                    <td class="text-xs-right">
                        {% if edit is defined and edit %}
                            <a href="{{ path('app_customer_account_user_edit', {'id': user.getId()}) }}"><i
                                        class="fa fa-pencil"></i> {{ 'label.edit'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <span class="status1">
                        <i class="fa fa-circle"></i> {{ 'label.active_user'|trans }}
                    </span>
                    <span class="status">
                        <i class="fa fa-circle"></i> {{ 'label.inactive_user'|trans }}
                    </span>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endif %}