<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %}</title>
    {% block assets_head %}{% endblock %}
</head>
<body class="{% if page_class is defined %} {{ page_class }}{% endif %}">
{% block body %}{% endblock %}

{% block assets_body %}{% endblock %}
</body>
</html>
