<div class="container video-bar" id="campagne">
    <div class="video">
        <iframe src="https://player.vimeo.com/video/330346640?color=d77710" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="information">
        <div class="links">
            <div class="link arrow arrow-left">
                <span>{{ "label.topgeschenken.campagne.see_how_it_works"|trans }}</span>
            </div>
            <div class="link arrow arrow-right">
                <span>{{ "label.topgeschenken.campagne.read_about_the_people"|trans }}</span>
            </div>
        </div>
    </div>
    <div class="image">
        <a href="/de-mensen-achter-topgeschenken" title="{{ "label.topgeschenken.campagne.read_about_the_people"|trans }}">
            <img src="{{ asset('build/images/medewerkers-magazijn.jpg') }}" alt="{{ "label.topgeschenken.campagne.read_about_the_people"|trans }}">
        </a>
    </div>
</div>