.order-internal-remark {
    background-color: rgba(201, 201, 201, 0.5);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: none;
    padding-left: calc(100% - 600px);
    overflow: hidden;
    height: calc(100% - 92px);
    top: 92px;
}

.order-internal-remark > .loader {
    position: absolute;
    left: 200px;
    right: 0;
}

.order-internal-remark > div {
    padding: 10px;
    background-color: #f1f1f1;
    box-shadow: -5px 0px 5px -3px rgba(127, 127, 127, 0.5);
    height: 100%;
    overflow: auto;
}

.order-internal-remark textarea {
    width: 100%;
    min-height: 400px;
    max-height: 750px;
    resize: vertical;
    font-size: 12px;
    font-family: Verdana;
    border: none;
    padding: 0;
}

/** move to general css */
.panel {
    margin-bottom: 10px;
}

.panel-footer {
    padding: 7px;
}
