{% if results %}
    <ul>
        {% for menu_source in results %}
            <li class="menu-source-description">{{ menu_source.config.labels.description }}</li>

            <ul>
                {% for item in menu_source.items %}
                    <li class="menu-source-item">
                        <div class="checkbox">
                            <label for="{{ menu_source.slug }}_{{ item.getId() }}">
                                <input type="checkbox" class="init-styled"
                                       id="{{ menu_source.slug }}_{{ item.getId() }}"
                                       value="{{ menu_source.slug }}_{{ item.getId() }}"
                                       data-type="{{ menu_source.config.labels.singular }}" data-id="{{ item.getId() }}"
                                       data-entity="{{ menu_source.entity }}" data-label="{{ item.getMenuTitle() }}">
                                {{ item.getMenuTitle() }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% else %}
    <p id="no_results">
        <span class="fa fa-warning"></span> Helaas, er zijn geen items gevonden
    </p>
{% endif %}