{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Inloggen{% endblock %}
{% set page_title = 'Inloggen' %}

{% set hide_navigation_second = true %}
{% set hide_page_header = true %}
{% set page_class = 'login-container' %}

{% block body %}
    <form action="{{ path("admin_security_login") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                <h5 class="content-group">Inloggen
                    <small class="display-block">Vul hieronder je gebruikersnaam en wachtwoord in</small>
                </h5>
            </div>

            {% if error %}
                <div class="alert alert-danger alert-styled-left">
                    {{ error }}
                </div>
            {% endif %}

            <div class="form-group has-feedback has-feedback-left">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"
                       placeholder="Gebruikersnaam" required="required" />

                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <input type="password" id="password" name="_password" class="form-control" placeholder="Wachtwoord"
                       required="required" />

                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block">Inloggen <i
                            class="icon-circle-right2 position-right"></i></button>
            </div>

            <div class="text-center">
                {#<a href="{{ path("admin_user_resetting_request") }}">Wachtwoord vergeten?</a>#}
            </div>
        </div>
    </form>
{% endblock body %}
