{% set cart = cart %}
{% set site = cart.cart.site %}
<div class="container-fluid page-wrapper" id="checkout_cart">
    <div class="container">
        <div class="row">
            <div class="orders">
                {% for order in cart.orders %}
                    {% include '@App/Cart/components/order.html.twig' with {
                        order: order,
                    } %}
                {% endfor %}
            </div>

            <div class="button-and-total">
                <div class="button">
                    <a href="{{ path('app_home_index') }}"
                       class="btn btn-theme">{{ 'cart.place_another_order'|trans }}</a>

                </div>
                <div class="total">
                    {% if cart.orders | length > 1 %}
                        <div class="text">
                            {{ 'cart.total_order_count' | transchoice(cart.orders | length) }}

                            {% set vatInfo = include('@App/Cart/components/popover_vat.html.twig', { vats: cart.cartManager.vatTotals(cart.cart, true)  }) %}

                            <span class="vat-specification" data-toggle="popover" data-html="true"
                                  data-content="{{ vatInfo | escape }}">
                                {{ 'cart.total_order_count_tax' | trans }}
                            </span>
                        </div>
                        <div class="price">
                            {{ cart.cartManager.total(cart.cart, true)|number_format(2) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
