<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Rapportage downloaden - {{ report.getTitle }}
        </div>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>
