{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="row text-center">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Wil je een profiel met een bestaande of nieuwe voorwaarden maken?
                    </div>
                </div>
                <div class="panel-body" id="product_set_step">
                    <a class="btn btn-primary" data-action="existing-rule" data-create-url="{{ path('admin_report_report_createfromexisting') }}" data-rules="{{ rules | json_encode }}">Bestaande voorwaarden overnemen</a>
                    <a href="{{ path('admin_report_report_create') }}" data-refresh-url="{{ path('admin_report_report_index') }}" class="btn btn-primary"
                       data-action="create-rule">Voorwaarden invoeren</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
           $('a[data-action="create-rule"]').on('click', function(e) {
               e.preventDefault();

               var self = $(this);
               new RuleCreate(self.attr('href'), function() {
                   window.location.replace(self.attr('data-refresh-url'));
               });
           });

           $('a[data-action="existing-rule"]').on('click', function() {
               var self = $(this);
               var options = JSON.parse(self.attr('data-rules'));

               swal.queue([
                   {
                       title: 'Met welke voorwaarden wil je verdergaan?',
                       input: 'select',
                       inputOptions: options,
                   },
                   {
                       title: 'Geef de titel van de rapportage op',
                       input: 'text',
                       inputValidator: (value) => {
                           return new Promise((resolve, reject) => {
                               if(value) {
                                   resolve();
                               } else {
                                   reject('Vul een titel in');
                               }
                           })
                       }
                   }
               ]).then((result) => {
                    $.ajax({
                        url: self.attr('data-create-url'),
                        method: 'POST',
                        data: {
                            rule: result[0],
                            title: result[1]
                        }
                    }).then((data) => {
                        window.location.replace(data.refreshUrl);
                    });
               });
           });
        });
    </script>
{% endblock %}
