{% extends 'AppBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/assortment.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/assortment.css') }}" />
{% endblock %}

{% set page_title = assortment.getName() %}

{% block body %}
    {% if assortment and assortment.getBanner() %}
        {% include 'AppBundle:blocks:header-image.html.twig' with {'banner': assortment.getBanner()} %}
        {% include('AppBundle:blocks:timer.html.twig') %}
    {% endif %}

    {% include('AppBundle:blocks:usp-header.html.twig') %}

    <div class="container-fluid page-wrapper" id="content-producten">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="pagina-title">{{ assortment.translate().getTitle() }}</h1>
                    {% if assortment.showFilter %}
                        <div class="filter-toggle">
                            <p class="hidden-sm-down">Zoekhulp</p>
                            <span class="fa fa-search"></span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% if assortment.showFilter %}
                    {% include('@App/Assortment/filter.html.twig') %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-12 product-collection" id="producten">
                    <div class="row">
                        {% set index = 0 %}

                        {% for product in assortment.getProducts() %}
                            {% if product is not null %}
                                {% set product = product_manager.decorateProduct(product) %}
                                {% if content is defined and contentPosition == loop.index0 %}
                                    {{ _self.showContent(content, contentWidth, contentHeight) }}
                                {% endif %}

                                {% if index == 4 %}
                                    {% set index = 0 %}
                                {% endif %}

                                {% set index = index+1 %}

                                {{ assortment_elements.assortiment_product(assortment, product, index) }}

                                {% if loop.last and content is defined and contentPosition >= loop.index %}
                                    {{ _self.showContent(content, contentWidth, contentHeight) }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% macro showContent(content, contentWidth, contentHeight) %}
        <div class="col-xs-12 col-sm-4 col-lg-{{ contentWidth * 3 }} product-item-large item_1 content-block"
             id="text-blocks"
             data-content-width="{{ contentWidth }}"
             data-content-height="{{ contentHeight }}"
        >
            <div class="text-block">
                <div class="text-block-inner">
                    {{ content.translate.content | raw }}
                </div>
                <div class="text-block-read-more"
                     data-text-open="{{ "button.read_more"|trans }}"
                     data-text-close="{{ "button.close"|trans }}"
                >
                    {{ "label.read_more"|trans }}
                </div>
            </div>
        </div>
    {% endmacro %}

{% endblock body %}
