<div class="panel panel-white">
    <div class="panel-heading">
        <h5 class="panel-title">Assortiment product {{ assortmentProduct.getName() }} wijzigen</h5>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>