{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Servers' %}

{% block servers %}
    <div class="panel">
        <div class="panel-heading bg-success-800">
            <h6 class="panel-title">{{ title }}</h6>
        </div>

        <div class="panel-body">
            <table class="table">
                <tr>
                    <th></th>
                    <th style="padding-left: 0;">Naam</th>
                    <th>IP Address</th>
                    <th>Zone</th>
                </tr>
                {% for server in attribute(servers, group) %}
                    <tr>
                        <td style="padding-left: 5px; padding-right: 0;">
                            {% if server.status == "ACTIVE" %}
                                <i class="fa fa-circle text-success" aria-hidden="true" title="{{ server.status }}"></i>
                            {% else %}
                                <i class="fa fa-circle text-danger" aria-hidden="true" title="{{ server.status }}"></i>
                            {% endif %}
                        </td>
                        <td style="padding-left: 0;">
                            <a href="{{ path('admin_settings_server_server', {
                                'id': server.id
                            }) }}">{{ server.name }}</a></td>
                        <td>
                            {% if attribute(server.addresses, "net-public") is defined %}
                                {{ attribute(server.addresses, "net-public")[0].addr }}
                            {% endif %}
                        </td>
                        <td>{{ server.availabilityZone }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock servers %}

{% block body %}
    <a href="{{ path('admin_settings_server_add') }}">
        <button class="btn btn-sm btn-primary"><i class="fa fa-server" aria-hidden="true"></i> Server toevoegen</button>
    </a> <br />
    <br />

    <div class="row">
        <div class="col-sm-4">
            {% set title = 'Web servers' %}
            {% set group = 'web' %}
            {{ block('servers') }}
        </div>
        <div class="col-sm-4">
            {% set title = 'Database servers' %}
            {% set group = 'database' %}
            {{ block('servers') }}
        </div>
        <div class="col-sm-4">
            {% set title = 'Overige servers' %}
            {% set group = 'other' %}
            {{ block('servers') }}
        </div>
    </div>

    {#{% for server in servers %}#}
    {#{{ server.name }} <br />#}
    {#{% endfor %}#}
{% endblock body %}
