/*
 * Style CollectionType in ContentWindow.
 */
.content-window .has-error select.select2 + span .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-color: #D84315;
}

.content-window .help-block.form-error {
    display: none;
}