.product-image-container {

}

.product-image-container .product-image-uploader {
    display: none;
}

.product-image-container .btn-upload-image {
    display: block;
}

.tabbable .product-image-container .btn-upload-image {
    position: absolute;

    top: -50px;
    right: 0px;
}

#product-foto {
    float: left;
    padding-bottom: 30px;
}

#product-foto .foto-groot {
    width: 90%;
    height: auto;
    float: left;
}

#product-foto .foto-groot img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#product-foto .foto-thumbs {
    width: 90%;
    height: auto;
    float: left;
}

#product-foto .foto-thumbs .thumb {
    width: 33.33%;
    float: left;
}

#product-foto .foto-thumbs .thumb span {
    position: relative;
    top: 13px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 40px;
    line-height: 10px;
    color: #fff;
}

#product-foto .foto-thumbs .thumb span.active {
    color: #dbd9d9;
}

#product-foto .foto-thumbs .thumb img {
    width: 100%;
    float: left;
    border: 1px solid #e1e1e1;
}

#product-foto .foto-thumbs .thumb:hover {
    cursor: pointer;
}

.product-description tr td:first-child {
    white-space: nowrap;
}

.product-description td {
    vertical-align: top !important;
}