{% extends 'AppBundle::base.html.twig' %}

{% if page is not empty %}
    {% if page.translate().getMetaTitle() %}
        {% set page_title = page.translate().getMetaTitle() %}
    {% else %}
        {% set page_title = page.translate().getTitle() %}
    {% endif %}

    {% block meta_description %}
        {{ head_elements.meta_description(page.translate().getMetaDescription()) }}
    {% endblock %}

    {% block meta_robots %}
        {{ head_elements.meta_robots(page.translate().getMetaRobotsIndex(), page.translate().getMetaRobotsFollow()) }}
    {% endblock %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/reviews.css') }}" />
{% endblock %}


{% block body %}
    {% if page is not empty and page.getBanner() %}
        {% include 'AppBundle:blocks:header-image.html.twig' with {'banner': page.getBanner()} %}
    {% endif %}

    {% include('AppBundle:blocks:usp-header.html.twig') %}

    <div class="container" id="content-home">
        <div class="container-fluid">
            <div class="row">{{ "reviews"|trans }}</div>
        </div>
    </div>
{% endblock body %}
