{% form_theme form 'AdminBundle:Base:collection_list.html.twig' %}

<div class="panel panel-default data-set-filter-settings">
    <div class="panel-heading">
        {{ entityName }} filter instellingen
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>