{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-addressbook.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/customer-addressbook.js') }}"></script>
{% endblock %}

{% set page_title = "account.addressbook.page_title"|trans %}

{% block body %}
    <div class="address-book">
        {{ include('AppBundle:Customer/Account:header.html.twig') }}

        <h1>{{ page_title }}</h1>

        <p>{{ 'account.company.addressbook.text'|trans }}</p>

        {% if app.getUser().getCompany().getMainAddress() is empty %}
            <p>{{ 'account.addressbook.business_addresses.none_available'|trans }}</p><br />
        {% else %}
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4>{{ 'account.addressbook.business_address'|trans }}</h4>

                    <div class="address-block">
                        {% set main_address = app.getUser().getCompany().getMainAddress() %}

                        {% if main_address.getCompanyName() is not empty %}
                            {{ main_address.getCompanyName() }}<br />
                        {% endif %}

                        {% if main_address.getStreet() is not empty %}
                            {{ main_address.getStreet() }} {{ main_address.getNumber() }} {{ main_address.getNumberAddition() }}
                            <br />
                        {% endif %}

                        {% if main_address.getPostcode() is not empty %}
                            {{ main_address.getPostcode() }} {{ main_address.getCity() }}
                        {% endif %}

                        {% if main_address.getCountry() is not empty %}
                            , {{ main_address.getCountry().getCode()|country }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4>{{ 'account.addressbook.invoice_address'|trans }}</h4>

                    <div class="address-block">
                        {% set invoice_address = app.getUser().getCompany().getInvoiceAddress() %}

                        {% if invoice_address is not null %}
                            {% if invoice_address.getCompanyName() %}
                                {{ invoice_address.getCompanyName() }}<br />
                            {% endif %}

                            {% if invoice_address.getAttn() %}
                                {{ invoice_address.getAttn() }}<br />
                            {% endif %}

                            {% if invoice_address.getStreet() is not empty %}
                                {{ invoice_address.getStreet() }} {{ invoice_address.getNumber() }} {{ invoice_address.getNumberAddition() }}
                                <br />
                            {% endif %}

                            {% if invoice_address.getPostcode() is not empty %}
                                {{ invoice_address.getPostcode() }} {{ invoice_address.getCity() }}
                            {% endif %}

                            {% if invoice_address.getCountry() is not empty %}
                                , {{ invoice_address.getCountry().getCode()|country }}
                            {% endif %}

                            {% if invoice_address.getEmail() is not empty %}
                                {{ invoice_address.getEmail() }}<br />
                            {% endif %}

                            {% if edit is defined and edit %}
                                <br />
                                <a href="{{ path('app_customer_account_addressbook_edit', {id: invoice_address.getId()}) }}">
                                    <i class="fa fa-pencil"></i> {{ 'label.edit'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <h4>{{ 'account.addressbook.delivery_addresses'|trans }}</h4>

        <div class="other-addresses-block">
            {% if app.getUser().getCompany().getDeliveryAddresses() is empty %}
                <p>{{ 'account.addressbook.delivery_addresses.none_available'|trans }}</p>
            {% else %}
                <table id="account-address-book-table">
                    <thead></thead>
                    <tbody>
                    {% for address in app.getUser().getCompany().getDeliveryAddresses() %}
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="column-left col-xs-12 col-md-8">
                                                {% if address.getCompanyName() %}
                                                    {{ address.getCompanyName() }}<br />
                                                {% endif %}

                                                {% if address.getAttn() %}
                                                    {{ address.getAttn() }}<br />
                                                {% endif %}

                                                {{ address.getStreet() }} {{ address.getNumber() }} {{ address.getNumberAddition() }}
                                                <br />
                                                {{ address.getPostcode() }} {{ address.getCity() }}<br />
                                                {{ address.getCountry().getCode()|country }}
                                            </div>
                                            <div class="column-right col-xs-12 col-md-4 text-md-right">
                                                <div class="labels">
                                                    {% if address.isDefaultDeliveryAddress() %}
                                                        <span class="label label-default">{{ 'label.default_delivery_address'|trans }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="actions">
                                                    <a href="{{ path('app_customer_account_addressbook_edit', {'id': address.getId()}) }}">{{ 'label.edit'|trans }}</a>
                                                    <br />
                                                    <a href="{{ path('app_customer_account_addressbook_delete', {'id': address.getId()}) }}">{{ 'label.delete'|trans }}</a>
                                                    <br />

                                                    {% if not address.isDefaultDeliveryAddress() %}
                                                        <a href="{{ path('app_customer_account_addressbook_default', {'id': address.getId(), 'type': 'bezorging'}) }}">{{ 'label.set_as_default_delivery_address'|trans }}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <a href="{{ path('app_customer_account_addressbook_new') }}"
           class="btn btn-theme">{{ 'account.addressbook.delivery_address.add'|trans }}</a>

        {{ include('AppBundle:Customer/Account:footer.html.twig') }}
    </div>
{% endblock %}
