{% if app.request.get('quantity') is not empty %}
    {% set quantity_select_id = app.request.get('quantity') %}
{% endif %}

{% if form.quantity is defined %}
    <div class="aantal">
        <p class="bold">{{ "product.quantity"|trans }}</p>
        <span class="form-select-wrapper">
        {{ form_widget(form.quantity) }}
    </span>
    </div>
{% endif %}