<div class="row">
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Bestellingen</h6>
            </div>

            <div class="panel-body">
                <div class="orderSummary row">
                    <div class="col-md-6">
                        <ul class="list-inline text-center">
                            <li>
                                <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                                    <i class="icon-coins"></i>
                                </span>
                            </li>
                            <li class="text-left">
                                <div class="text-semibold">
                                    Totaal alle bestellingen
                                </div>
                                <h2 class="mt-5 mb-5">
                                    &euro; {{ totalRevenue | number_format }}
                                </h2>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-inline text-center">
                            <li>
                                <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                                    <i class="icon-store"></i>
                                </span>
                            </li>
                            <li class="text-left">
                                <div class="text-semibold">
                                    Totaal aantal bestellingen
                                </div>
                                <h2 class="mt-5 mb-5">
                                    {{ company.getTotalOrders }}
                                </h2>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-xxs">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Bezorgdatum</th>
                            <th>Website</th>
                            <th>Besteller</th>
                            <th>Bedrag</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for recentOrder in company.getRecentOrders %}
                            <tr>
                                <td>
                                    {{ recentOrder.getOrderNumber }}
                                </td>
                                <td>
                                    {{ recentOrder.getDeliveryDate ? recentOrder.getDeliveryDate.format('d-m-Y') : ''}}
                                </td>
                                <td>
                                    {{ recentOrder.getOrder.getSite.getPrimaryDomain }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_customer_customer_view', {
                                        id: recentOrder.GetOrder.getCustomer.getId
                                    }) }}" target="_blank" data-popup="tooltip" data-placement="left"
                                       data-original-title="Openen">{{ recentOrder.GetOrder.getCustomer.getFullname }}</a>
                                </td>
                                <td>
                                    &euro; {{ recentOrder.getOrder.getTotalPriceIncl | number_format }}
                                </td>
                                <td>
                                    <ul class="icons-list">
                                        <li>
                                            <a href="#" class="btn-icon"
                                               data-href="{{ path('admin_sales_order_order', {orderCollection: recentOrder.getOrderCollection.getId}) }}#{{ recentOrder.getNumber }}"
                                               data-action="view-order" data-popup="tooltip" data-placement="left"
                                               data-original-title="Openen">
                                                <i class="icon-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="button-wrapper pull-right">
                    <a href="#tab_panel_orders" data-action="open-tab" data-tab="orders" class="btn btn-xs btn-default">
                        Bekijk alle bestellingen
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Gebruikers</h6>
            </div>

            {% set mostRecentUser = company.getRecentCustomers()|first %}

            <div class="panel-body">
                <div class="userSummary row">
                    <!--<div class="col-md-6">
                        <ul class="list-inline text-center">
                            <li>
                                <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                                    <i class="icon-stats-growth2"></i>
                                </span>
                            </li>
                            <li class="text-left">
                                <div class="text-semibold">
                                    Meest bestellende gebruiker
                                </div>
                                <h2 class="mt-5 mb-5">
                                    @todo
                                </h2>
                            </li>
                        </ul>
                    </div>-->
                    <div class="col-md-6">
                        <ul class="list-inline text-center">
                            <li>
                                <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                                    <i class="icon-calendar"></i>
                                </span>
                            </li>
                            <li class="text-left">
                                <div class="text-semibold">
                                    Meest recente gebruiker
                                </div>
                                <h2 class="mt-5 mb-5">
                                    {% if mostRecentUser is not same as (false) %}
                                        {{ mostRecentUser.getFullName() }}
                                    {% endif %}
                                </h2>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-xxs">
                        <thead>
                        <tr>
                            <th>Naam</th>
                            <th>E-mailadres</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recentCustomer in company.getRecentCustomers %}
                            <tr>
                                <td>
                                    {{ recentCustomer.getFullname }}
                                </td>
                                <td>
                                    {{ recentCustomer.getEmail }}
                                </td>
                                <td>
                                    {% set activeStatusLabel = recentCustomer.getEnabled ? 'Actief' : 'Inactief' %}
                                    {% set activeStatusClass = recentCustomer.getEnabled ? 'success' : 'danger' %}

                                    <span class="label label-flat border-{{ activeStatusClass }} text-{{ activeStatusClass }}-600">
                                        {{ activeStatusLabel }}
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ path('admin_customer_customer_view', {id: recentCustomer.getId }) }}" data-popup="tooltip"
                                       data-placement="left" data-original-title="Openen">
                                        <i class="icon-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="button-wrapper pull-right">
                    <a href="#tab_panel_users" data-action="open-tab" data-tab="orders" class="btn btn-xs btn-default">
                        Bekijk alle gebruikers
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Financieel</h6>
            </div>

            <div class="panel-body">
                @todo: Later in te vullen
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Leveranciersinformatie</h6>
            </div>

            <div class="panel-body">
                @todo: Later in te vullen
            </div>
        </div>
    </div>
</div>-->
