<style>
    .table-borderless td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }
</style>
<div class="row information-panel"
     data-company-site-url="{{ path('admin_company_companysite_index', {company: company.getId}) }}">
    <div class="col-md-6">
        <h6 class="panel-subtitle">Bedrijfsgegevens</h6>
        <table class="table-borderless">
            <tr>
                <td>Bedrijfsnaam</td>
                <td>
                    {{ company.getName }}
                    {%- if company.getTrustStatus() is constant('AppBundle\\DBAL\\Types\\CompanyTrustStatusType::TRUST_STATUS_WHITELIST') -%}
                        &nbsp;&nbsp;<i style="color: #388E3C;" class="icon-shield-check"></i>
                    {%- endif -%}
                </td>
            </tr>
            <tr>
                <td>Bovenliggend account</td>
                <td>{{ company.getParent is not null ? company.getParent.getName : '' }}</td>
            </tr>
            <tr>
                <td>Algemeen telefoonnummer</td>
                <td>{{ company.getPhoneNumber }}</td>
            </tr>
            <tr>
                <td>Algemeen e-mailadres</td>
                <td>{{ company.getEmail }}</td>
            </tr>
            <tr>
                <td>KVK nummer</td>
                <td>{{ company.getCompanyRegistration is not null ? company.getCompanyRegistration.getRegistrationNumber : '' }}</td>
            </tr>
            <tr>
                <td>BTW nummer</td>
                <td>{{ company.getCompanyRegistration is not null ? company.getCompanyRegistration.getVatNumber : '' }}</td>
            </tr>
            <tr>
                <td>Debiteur nummer</td>
                <td>{{ company.twinfieldRelationNumber }}</td>
            </tr>
            {% if showConnector is defined and showConnector %}
                <tr>
                    <td>Connector</td>
                    <td>{{ company.getSupplierConnector }}</td>
                </tr>
            {% endif %}
        </table>

        {% set company_supplier_scripts = [
            {
                src: asset('bundles/admin/js/company/company-supplier.js'),
                callback: 'initCompanySupplier'
            }
        ] %}

        {% if company.getSupplierConnector and company.getSupplierConnector|lower == 'bakker' %}
            <a class="btn btn-default pull-right" style="margin-left: 10px;" target="_blank" href="{{ path('admin_customer_company_login', {id : company.getId}) }}">
            <i class="icon-power-cord"></i>
            Inloggen in Bakkersysteem
        </a>
        {% endif %}

        {% if company.getIsSupplier %}
            <button class="btn btn-default pull-right"
                    data-url="{{ path('admin_customer_company_supplierdetails', {company : company.getId}) }}"
                    data-scripts="{{ company_supplier_scripts|json_encode }}"
                    data-action="open-content" style="margin-left: 10px;">
                <i class="icon-truck"></i>
                Leveranciers instellingen
            </button>
        {% endif %}


        {% set company_edit_scripts = [
            {
                src: asset('bundles/admin/js/company/company-edit.js'),
                callback: 'companyEditTrigger'
            }
        ] %}

        <button class="btn btn-default pull-right"
                data-url="{{ path('admin_customer_company_edit', {id: company.getId}) }}"
                data-action="open-content"
                data-refresh-panel="information_panel"
                data-scripts="{{ company_edit_scripts|json_encode }}">
            <i class="icon-pencil5"></i>
            Bewerken
        </button>

    </div>
    <div class="col-md-6">
        <h6 class="panel-subtitle">Interne opmerking</h6>
        <div class="internal-remarks">
            {% for internalRemark in company.getCompanyInternalRemarks if company.getCompanyInternalRemarks is not empty %}
                <div class="internal-remark">
                    <b>
                        {% if internalRemark.getUser is not null %}
                            {{ internalRemark.getUser.getFirstname }} {{ internalRemark.getUser.getLastname }}
                        {% else %}
                            Systeem
                        {% endif %}
                    </b>
                    - {{ internalRemark.getCreatedAt.format('d-m-Y H:i') }}
                    <button
                            data-href="{{ path('admin_customer_company_deleteinternalremark', {companyInternalRemark: internalRemark.getId}) }}"
                            class="delete-remark btn btn-xs btn-default pull-right">
                        <i class="icon-trash"></i>
                    </button>
                    <br />
                    {{ internalRemark.getRemark }}
                </div>
            {% else %}
                <em style="padding-left: 10px;">Er zijn geen interne opmerkingen geplaatst.</em>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-default" style="position: absolute; right: 20px; bottom: 20px;"
            data-url="{{ path('admin_customer_company_addinternalremark', {company: company.getId}) }}"
            data-action="open-content"
            data-refresh-panel="information_panel">
        <i class="icon-plus2"></i>
        Opmerking toevoegen
    </button>
</div>
