<div class="panel panel-default select-product-panel"
    data-get-combinations="{{ path('admin_catalog_productcombination_getavailablecombinationproducts') }}"
    data-extend-combination="{{ path('admin_catalog_productcombination_extendcombination') }}"
>
    <div class="panel-heading">
        Zoeken binnen de Product Combinatie mogelijkheden
    </div>
    <div class="panel-body">
        <div class="form-group has-feedback has-feedback-left search-bar">
            <input type="text" class="form-control" name="query" id="searchQuery" placeholder="Product naam">
            <div class="form-control-feedback">
                <i class="icon-search4 text-size-base"></i>
            </div>
        </div>
        <div class="products">

        </div>
    </div>
</div>
