<div id="select_design_panel" class="panel panel-default">
    <div class="panel-heading">
        Design selecteren
    </div>
    <div class="panel-body">
        <div class="form-group has-feedback has-feedback-left search-bar">
            <input type="text" class="form-control" name="query" id="searchQuery" placeholder="Design naam" value="{{ searchKey }}">
            <div class="form-control-feedback">
                <i class="icon-search4 text-size-base"></i>
            </div>
        </div>

        {% if designs|length > 0 %}
            <form id="select_design_form" action="{{ path('admin_catalog_product_selectcombinationdesign', {
                product: product.getId,
                personalization: personalization.getId
            }) }}" method="post">
                <div class="tiles designs">
                    {% for design in designs %}
                    <div class="tile design selectable">
                        <label for="design_{{ design.getId }}"></label>
                        <input type="radio" id="design_{{ design.getId }}" name="design" value="{{ design.getUuid }}">
                        <div class="tile-content">
                            {% if design.company is not null %}
                                <div class="company-design">Bedrijfspersonalisatie</div>
                            {% endif %}
                            {% if design.getUuid() is defined %}
                                {{ app_designer_preview(design.getUuid(), 200, true) }}
                            {% else %}
                                <i class="mdi mdi-image-area"></i>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <input type="hidden" id="image_url" name="image-url" value="" />
                <input type="hidden" name="product" value="{{ product.getId }}" />
                <input type="hidden" name="personalization" value="{{ personalization.getId }}" />
            </form>
        {% else %}
            <p>Geen designs gevonden voor dit product.</p>
        {% endif %}
    </div>
</div>
